[2017-09-26 03:38] mclow opened #2 "Enhancement: libc++ provides string_view for all C++ language levels"
https://github.com/abseil/abseil-cpp/blob/2a62fbdedf64673f7c858bc6487bd15bcd2ca180/absl/base/config.h#L363

Yes, even C++03. :-)

You can test this thus:

    #ifdef __has_include
    # if __has_include(<string_view>)
    #  include <string_view>
    #  if __cplusplus >= 201703L || defined(_LIBCPP_STRING_VIEW)
    #   define ABSL_HAVE_STD_STRING_VIEW 1
    #  endif
    # endif
    #endif

[2017-09-26 15:37] vsrinivas opened #3 "absl/time/duration_test.cc uses isnan/isinf from std namespace w/o qualifier, fails to build w/ gcc 5.4.0"
On Ubuntu 16.04, g++ 5.4.0, libstdc++6 5.4.0, //absl/time:time_test fails to build; duration_test.cc uses isnan and isinf from the std namespace (from cmath) without std:: qualification.

[2017-09-26 22:56] chandlerc opened #4 "Github project doesn't have https://abseil.io/ listed as website or a short description"
These are just github metadata entries that likely need to be filled out.

[2017-09-26 23:08] katzdm commented on #4
Added a short description and website to "abseil-cpp", and set the website for the "Abseil" organization. Thanks!

[2017-09-26 23:08] #4 closed, assigned to nobody

[2017-09-27 01:24] rjammala opened #5 "Any libraries similar to Go routines?"
Any chance you can also include concurrency libraries which are similar to Go routines/channels? I heard that Google developed similar things for C++ internally.

[2017-09-27 03:05] mmp opened #6 "inconsistent licenses() directives in bazel files"
meta/BUILD.bazel, numeric/BUILD.bazel, and utility/BUILD.bazel all have

``
licenses(["unencumbered"])  # Owned by Google
``

while I assume they are intended to have

``
licenses(["notice"])  # Apache 2.0
``

like the other BUILD files.

[2017-09-27 03:07] mmp opened #7 "Excess source files included in release"
Two files are included in the release that don't seem to fit. (Neither is referenced from the shipped BUILD.bazel files):

1. synchronization/internal/mutex_nonprod.cc doesn't build (unable to include "base/init_google.h")

2. strings/strip.cpp doesn't build since `StripBrackets()` is used (by `StripCurlyBraces()`) before it's defined and there's no forward declaration for it.

[2017-09-27 03:19] derekmauro commented on #5
It's true that we have an implementation of lightweight threads, also known as Fibers, internal to Google.  In fact, if you look at the code, you'll see things like "absl/base/internal/scheduling_mode.h" that are only in our code because the internal version has Fiber support.  However, shipping a version of Abseil with Fiber support isn't on our road map today because they are Linux only and also

[2017-09-27 03:19] #5 closed, assigned to nobody

[2017-09-27 04:49] thissophie opened #10 "bazel test fails on ubuntu 16.04"
I'm probably doing something wrong, but following [the tutorial](https://abseil.io/docs/cpp/quickstart), I'm stuck at the `bazel test absl/...:all` step failing.

<details>
  <summary>terminal output</summary>
<pre>
~/S/abseil-cpp (master) $ bazel test absl/...:all
INFO: Analysed 94 targets (0 packages loaded).
INFO: Found 40 targets and 54 test targets...
ERROR: /home/pqg/Source/abseil-cpp/absl/t

[2017-09-27 04:55] koth commented on #10
same issue as you, also on ubuntu16.0+bazel 0.5.4, and use std::isinf & std::isnan will pass the test.

[2017-09-27 12:34] derekmauro commented on #10
This is a duplicate of https://github.com/abseil/abseil-cpp/issues/3.

[2017-09-27 12:34] #10 closed, assigned to nobody

[2017-09-27 12:56] ericLemanissier opened #12 "MinGW support"
Is MinGW support planned ?

[2017-09-27 14:31] derekmauro commented on #7
It seems like you are probably trying to build this without Bazel, which is fine.

1. You're right that synchronization/internal/mutex_nonprod.cc isn't referenced, but I think the error you are seeing is actually from strings/fastmem_test.cc, which was not supposed to be in the release.  I'll be removing fastmem_test.cc this shortly.  mutex_nonprod.cc is a mostly API compatible implementation of M

[2017-09-27 14:36] derekmauro commented on #12
Our platform support documentation is here: https://abseil.io/docs/cpp/platforms/platforms

We aren't using MinGW ourselves and don't know what it would take to support it.

[2017-09-27 14:37] #12 closed, assigned to nobody

[2017-09-27 15:06] MatthewScholefield opened #13 "Wrong indices in string split header comments for examples"
In places like [here](https://github.com/abseil/abseil-cpp/blob/master/absl/strings/str_split.h#L32) and below, it is marked as `v[0] = "a", v[1] = "b", v[3] = "c"`. Should probably be `v[2]`.

[2017-09-27 15:16] mmp commented on #7
Sounds good. (Indeed, these were discovered when hacking together a cmake file for abseil, which started out by trying to compile all provided source files.)

[2017-09-27 15:33] tituswinters commented on #5
Putting out some form of good concurrency APIs is high on our priority list, but the constraints (platforms + aligning with or changing internal APIs) make it ... hard.  I could imagine it taking a year before we have anything significant in this space, but I hope its sooner.

[2017-09-27 15:42] rjammala commented on #5
Yeah, anything that you could include will really help. Thanks for considering the request.

[2017-09-27 20:34] derekmauro commented on #3
This should be fixed at HEAD.

[2017-09-27 20:34] #3 closed, assigned to derekmauro

[2017-09-27 20:34] derekmauro commented on #6
This should be fixed at HEAD.

[2017-09-27 20:34] #6 closed, assigned to derekmauro

[2017-09-27 20:34] #7 closed, assigned to derekmauro

[2017-09-27 20:34] derekmauro commented on #13
This should be fixed at HEAD.

[2017-09-27 20:34] #13 closed, assigned to derekmauro

[2017-09-28 04:04] jorgbrown opened #14 "absl::InlinedVector doesn't support move constructors which throw"
std::vector, when resizing, will only use move if it is declared nothrow.

absl's InlinedVector uses move operations for resizing, regardless.

This means that if a resize operation calls the move constructor and it throws, we end up with a situation where the vector is only partially moved to its new location.  Moving the data back might also throw, and we end up with an inconsistent InlinedVecto

[2017-09-28 04:10] jorgbrown commented on #14
User reported test case at http://codepad.org/YbVsjMy5 but it seems to be inaccessible now.

[2017-09-28 16:22] atkawa7 commented on #2
@mclow @derekmauro @rogeeff  Should be careful about `__has_include`
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=79433
https://bugs.chromium.org/p/chromium/issues/detail?id=759349&desc=2

[2017-09-28 17:16] zhangxy988 commented on #2
@atkawa7 IIRC, the bug is about using libstdc++ with -std=<version older than c++17>. Since we are also checking __cplusplus >= 201703L, the bug should NOT be a concern.

[2017-09-28 17:43] atkawa7 commented on #2
@zhangxy988 See  https://github.com/google/crc32c/commit/d0f929a5db87cb34d03afb0d8e8bfc95b8f786e3

[2017-09-28 17:58] zhangxy988 commented on #2
@atkawa7 The commit seems strange to me: the bug in the original code is in `#if !defined(_MSC_VER) || __cplusplus >= 201703L` which is ignoring the `__cplusplus >= 201703L` check on any non MSVC compiler (GCC,  Clang), and this should be fixed as `#if !defined(_MSC_VER) && __cpluscplus >= 201703L` (or simply `#if __cplusplus >= 201703L` since _MSC_VER set __cpluscplus to 199711).
So, I don't thin

[2017-09-28 18:12] atkawa7 commented on #2
@zhangxy988 They are two different bugs but similar.  So should be careful

[2017-09-28 21:39] JonathanDCohen commented on #14
On a slightly pedantic note, an InlinedVector of objects in maybe-moved-from states is still in a valid state, so this *technically* satisfies basic exception safety -- but I agree it's not a nice thing to do.

I think this is a two step solution -- we declare that InlinedVector only supports T with nothrow move operators in the short term.

In the long term, Abseil's stance on throwing moves cons

[2017-09-28 23:06] lamarqua opened #15 "Failure to compile on Windows/MSVC"
[code]
This is using Visual Studio Community 2017.

It seems that the error ["invalid numeric argument /Wextra"](https://encrypted.google.com/search?num=50&safe=off&hl=en&q=invalid+numeric+argument+%2FWextra) comes from the fact that it's a gcc / clang exclusive that's being applied to `cl.exe`.

[2017-09-28 23:32] zhangxy988 commented on #15
Please try `bazel.exe test --action_env=TMP=C:\Windows\Temp --cpu=x64_windows_msvc absl/...:all`. This worked when I last tried.
The `--cpu` option is to fix your particular error.
The `--action_env` is for any death_test which requires creating file in temporary directory and bazel doesn't inherit environment variables.

[2017-09-29 01:37] fcharlie commented on #15
Why not use vcpkg install abseil, see vcpkg commit:
https://github.com/Microsoft/vcpkg/commit/c9573312516172f095046e2fe7e9a1ae3a2631b8
https://github.com/Microsoft/vcpkg/commit/9f9b4bc5c85755af8eb5c2f74bec1d3b840eb781

[2017-09-30 17:40] BrianEdmonds opened #17 "SimpleDtoaTest.ExhaustiveDoubleToSixDigits timeout"
This test times out consistently on my system (a 1.8GHz Atom with 4GB RAM, so not super tiny); increasing the size to medium lets it complete.

[2017-09-30 19:55] BrianEdmonds opened #18 "synchronization:mutex_test timeout"
This test reliably times out on my platform (1.8GHz Atom with 4GB RAM, so not tiny). Removing the timeout override allows it to pass.

[2017-09-30 20:05] derekmauro commented on #18
Yup, I've noticed this too. Except the timeout to change next week.

[2017-10-01 23:48] jorgbrown commented on #17
What's the spread between how long it takes, and when the timeout occurs?

Does the test pass if you turn on higher optimization levels?

[2017-10-02 20:00] derekmauro commented on #18
Timeout increased in 9c4178d13e84acf3f0d1b8aeee1f67862aeeadc9.

[2017-10-02 20:00] #18 closed, assigned to derekmauro

[2017-10-02 20:08] mdrost opened #21 "`operator<<` vs `Do not depend on ADL`"
Abseil provides bunch of `operator<<(std::ostream& o, ...)` for various types. Am I not supposed to use them to conform to Abseil Compatibility Guidelines?

[2017-10-02 21:13] zhangxy988 commented on #21
For steam operators, you have to depend on ADL or they are useless.
We will update the Compatibility Guidelines to make it more clear, i.e. "Do not depend on ADL if you don't have to".

[2017-10-03 12:26] tituswinters commented on #21
Maybe something like:

Some APIs are designed to work via ADL - operator<< for iostreams, unqualified swap in generic code, etc.  For the majority of APIs, ADL isn't really part of the design. Calling functions from namespace absl via ADL when they do not intend that must be avoided.  This is especially true for any function that accepts a pre-adopted type like absl::string_view: when the type cha

[2017-10-03 18:33] JonathanDCohen commented on #2
This is really about libc++, yes?  So really we just want to check for libc++, and handle the msvc and libstdc++ cases separately.

According to [this stackoverflow](https://stackoverflow.com/questions/31657499/how-to-detect-stdlib-libc-in-the-preprocessor) we can do this by something like

    #include <ciso646>
    // ...
    #ifdef _LIBCPP_VERSION
    #define ABSL_HAVE_STD_STRING_VIEW 1
    #el

[2017-10-03 18:41] mclow commented on #2
Almost - you still have to check for the existence of the <string_view> header. Old versions of libc++ didn't have this. but if the header is there, then you have `string_view`

[2017-10-04 15:47] zhangxy988 commented on #21
Updated in https://github.com/abseil/abseil.github.io/pull/59.

[2017-10-04 15:47] #21 closed, assigned to nobody

[2017-10-05 18:33] derekmauro commented on #15
@zhangxy988 this is fixed by cc4bed2d74f7c8717e31f9579214ab52a9c9c610, correct?

[2017-10-05 18:56] zhangxy988 commented on #15
Yes, the `--cpu` option should no longer be needed.
The `--action_env` option is probably still needed for death_test to pass, but that's really a bazel-related issue.

[2017-10-05 18:56] #15 closed, assigned to nobody

[2017-10-09 13:11] cdyson37 opened #29 "iterator_tag is a type not a value"
I haven't tested (sorry!) but it looks like the iterator_tag should have ()s of {}s after it? It's a type not a value. If I'm right this also suggests this function isn't being exercised. Sorry if I've misread!

https://github.com/abseil/abseil-cpp/blob/962e9931d546cd6f062894e15283cea02c7d3220/absl/strings/internal/str_join_internal.h#L245

[2017-10-09 18:22] EricWF commented on #2
@mclow @JonathanDCohen Alternatively (if you don't have `__has_include`, but you should), you could probably check that `_LIBCPP_VERSION >= 4000`.

[2017-10-09 18:23] mclow commented on #2
Maybe if you don't have `__has_include` maybe you should just fail (and say "no `std::string_view`)

[2017-10-09 20:30] tituswinters commented on #29
iterator_tag is a value of type std::iterator_traits<Iterator>::iterator_category (the typename on the previous line is to disambiguate the nested type references, not to identify that iterator_tag is a type).

[2017-10-09 20:52] cdyson37 commented on #29
Ugh I misread typename for typedef! Never mind me.

[2017-10-09 20:52] #29 closed, assigned to nobody

[2017-10-09 20:55] tituswinters commented on #29
No worries. Generics aren't particularly reader-friendly anyway. :)

[2017-10-12 23:23] stephan-tolksdorf opened #32 "InlinedVector is not exception-safe"
The insert and emplace methods of InlinedVector don't seem to protect at all against the construction of a new element throwing after existing elements have been moved. If this happens, the vector may be left with uninitialized gaps in the middle of a vector, which will lead to undefined behaviour when e.g. the vector's destructor runs.

[2017-10-12 23:33] stephan-tolksdorf opened #33 "InlinedVector doesn't protect against method arguments aliasing the vector"
It seems that the append, insert, emplace and assign methods of `InlinedVector` don't protect against arguments being invalidated when the capacity of the vector has to be increased or existing values have to be moved. For example, `vector.insert(vector.begin(), vector[0])` is currently never safe, and `vector.push_back(vector[0])` is not safe if `vector.size() == vector.capacity()`.  If this is t

[2017-10-13 18:50] JonathanDCohen commented on #33
I'll take a look at the aliasing issues.

For exception safety, the short story is that we know InlinedVector isn't exception safe.  I'm currently writing tooling for us to thoroughly test our classes for exception safety.  Once we have that, we will start updating all of our types which need to worry about exceptions accordingly.

I would guess that InlinedVector will have slightly weaker guarant

[2017-10-15 22:58] Remotion opened #34 "Don't #include <windows.h>"
Currently it appears to be impossible to compile Abseil using VS 2017 without errors.

Adding something like this resolve this problem with windows.h includes.

    # ifndef WIN32_LEAN_AND_MEAN
    #   define WIN32_LEAN_AND_MEAN
    # endif
    # ifndef VC_EXTRALEAN
    #   define VC_EXTRALEAN
    # endif
    # ifndef NOMINMAX
    #   define NOMINMAX
    # endif
    #include <windows.h>

[2017-10-16 14:23] mlimber opened #35 "Would locking_ptr be a useful addition?"
Something like [Loki/Alexandrescu's LockingPtr.h](http://loki-lib.cvs.sourceforge.net/loki-lib/loki/include/loki/LockingPtr.h?view=markup) (sans the `volatile` bits) with additional helpers like a `mutexed` class that wraps a value with a mutex and a `Lock()` function that returns a `locking_ptr` so you get functionality like:
[code]
Advantages of this approach are a more RAII-style that is harder

[2017-10-16 15:56] zhangxy988 commented on #34
@Remotion "Currently it appears to be impossible to compile Abseil using VS 2017 without errors." Could you please provide details on what specific compiling errors you are getting and how to reproduce the errors?
I just tried running all unit tests with VS 2017 15.3 and it worked fine (except for something related to expression SFINAE with container_test which I don't think is related to windows.

[2017-10-16 16:28] derekmauro commented on #35
As you mentioned, we already support annotations that can be checked at compile time for missing synchronization:

https://github.com/abseil/abseil-cpp/blob/master/absl/base/thread_annotations.h
https://clang.llvm.org/docs/ThreadSafetyAnalysis.html

In addition, the bar to getting something new included in Abseil is very high. If you read [our philosophy](https://abseil.io/about/philosophy), every

[2017-10-16 16:28] #35 closed, assigned to derekmauro

[2017-10-16 21:09] JonathanDCohen commented on #33
I took a look at this today.  Insert() indeed has a bug, and it is fixed in an internal change which will be upstreamed once accepted.  Similarly with operator=.

I don't see the issue with push_back.  push_back calls emplace_back, which if we need to grow, calls GrowAndEmplaceBack.  GrowAndEmplaceBack first allocates a new buffer, then constructs the new object into it, then moves everything else

[2017-10-16 21:15] JonathanDCohen opened #37 "Abseil types are untested for exception-safety"
Google internally doesn't use exceptions in our C++ code.  Thus, our claim that Abseil types are battle-tested comes with an asterisk that they haven't been so thoroughly tested in the face of exceptions.

We are working internally on a framework to thoroughly test the exception-safety of our types which care about it, and as it is finished we will begin rolling out exception-safety bugfixes.  We

[2017-10-16 21:16] JonathanDCohen commented on #32
Please see my comments in #33 and #37

[2017-10-16 21:16] #32 closed, assigned to nobody

[2017-10-16 21:17] JonathanDCohen commented on #17
Ping on this!  @BrianEdmonds are you still experiencing timeouts?

[2017-10-17 10:44] stephan-tolksdorf commented on #33
You're right, I was mistaken about `push_back`, sorry.

The `insert(const_iterator position, size_type n, const value_type& v)` and `insert(const_iterator position, InputIterator first, InputIterator last)` (for forward iterators) overloads also suffer from this issue, but you've probably seen that too. Making the latter completely safe would hurt performance, but maybe an assert that checks e.g.

[2017-10-17 15:29] JonathanDCohen commented on #33
The two-iterator insert, we won't support aliasing, just like in std::vector (#4 in http://en.cppreference.com/w/cpp/container/vector/insert).

The iterator-count overload is also being fixed, yes :)

[2017-10-17 18:41] JonathanDCohen commented on #14
Closing as a duplicate of #37

[2017-10-17 18:41] #14 closed, assigned to JonathanDCohen

[2017-10-17 22:06] Remotion commented on #34
I did not use Bazel to build, instate I more or less simple dropped files into existing VS2017.4 project and just tried to compile it.

There ware a lot of compiler errors, for example with
    #define min
that collided with
    std::min

I see now here [WIN32_LEAN_AND_MEAN](https://github.com/abseil/abseil-cpp/blob/master/absl/copts.bzl#L105) so this probably why there is no problems if build usi

[2017-10-18 15:38] zhangxy988 commented on #34
So let me rephrase the issue:
Abseil #includes <windows.h> from some files (e.g. clock.cc, waiter.h) where it's conflicting with usage of `std::min` because <windows.h> #defines `min` as a macro.
I think the general approach for this kind of issue is to configure the build to predefine `WIN32_LEAN_AND_MEAN`, just like what we did in our bazel buid file.
Defining `WIN32_LEAN_AND_MEAN` in code (befo

[2017-10-18 17:31] tituswinters commented on #35
Additionally - I fundamentally mistrust the synchronized/locking_ptr/mutexed design.  It makes it very easy to write that code, but also hides away the synchronization in (innocuous looking) calls.  I have a suspicion (based on nothing concrete) that use of a type like that will make code harder to read and review (and harder to identify potential deadlocks in more complex cases).

[2017-10-23 14:51] JonathanDCohen commented on #2
Sorry for the silence here.  I've had this sitting around internally for a bit, and there's some concern that libc++ backporting string_view is technically non-conforming, and could be surprising w.r.t. ADL.  We also have to take a look at our FDO profiles before landing this as this would potentially change the mangled symbol names for anything taking a string_view

[2017-10-23 15:28] mclow commented on #2
I think that "non-conforming" is a bit harsh.  It's an extension, like marking the default constructor of `vector` as `noexcept`.

[2017-10-23 15:58] adevress opened #38 "to be or not to be: CMake install()"
Issue following the discussions on #8 : should we support install() in the cmake build:

Pro:
- required by people who do not use cmake in their project.
- make the usage of package manager possible

Cons:
- make easy for to rely on ABI and have problems

[2017-10-23 18:27] rogeeff commented on #38
Another con:
  bazel BUILD files will not have install rules. And we want the two build files to be almost identical. In fact I think we'll end up auto generating CMakefile(s) out of corresponding bazel files once dust is settled.

We can consider separate CMakefile, which is going to be provided as a courtesy and only present some install rules. This CMakefile will not be generated and can get ou

[2017-10-23 19:05] lilianmoraru commented on #38
Without the install step you can't use it in SDKs and Linux Distros.
It will be just a bunch of projects, everybody using their own version of Abseil(most probably, locked at one commit for the rest of the project's life)...

[2017-10-23 19:25] adevress commented on #38
@rogeeff  Bazel has a very specific workflow where everything is built inside a single workspace without any installation. This is not the case for almost every other built system and packaging system existing in this world that follow a configure / make / make install pattern.
I do not think it is a reasonable option to not be compatible with them, just to simplify Bazel build file maintainabilit

[2017-10-23 20:03] Sarcasm commented on #38
Another pro:

"workspace build system", based on CMake or not (often not), often rely on the install output.
They offer way to copy files manually, but this is useful mostly when a project lacks an install  target. The dependency between project is *based on* the install step.

Some tools I know of:
- [bitbake](https://www.yoctoproject.org/docs/1.6/bitbake-user-manual/bitbake-user-manual.html)
- C

[2017-10-23 20:03] JonathanDCohen commented on #33
This is fixed in https://github.com/abseil/abseil-cpp/commit/5fcbe86e7ba65b6457d98764aa511c4f05c9435b

[2017-10-23 20:03] #33 closed, assigned to JonathanDCohen

[2017-10-23 20:23] adevress commented on #38
@Sarcasm  :+1:  Yep, and you can add spack to the list for HPC environments

[2017-10-23 20:42] lilianmoraru commented on #38
@Sarcasm Add to that Distros package managers(RPM for example, where it has a "buildroot" and takes the files from there after you run "make install" into it).

[2017-10-24 07:02] a4z commented on #38
I would like to follow the advice to live on head, have only workspaces and source builds, but in reality I have projects where I need go back in time.
When I need to fix a 5 year old version of a software, I am not allowed to change any part that is not directly affected from the problem.
The way to ensure this is, for every component the system is build with:
`make install DESTDIR=/where/ever`
p

[2017-10-24 07:08] lilianmoraru commented on #38
From the previous issue, it seems that people assume that make install means precompiled binaries by default.
It doesn’t need to be that way, you can install the source if you want and find_package can even do weird things like adding the project as a subdirectory(would not recommend)...

[2017-10-24 19:50] gennadiycivil commented on #38
In the spirit of [the documentation](https://abseil.io/about/compatibility) - it clearly says "Do not depend on a compiled representation of Abseil. We do not promise any ABI compatibility — we intend for Abseil to be built from source, hopefully from head"
So.. if people would like to include install() that is fine of course , however it clearly goes against the spirit here and therefore should n

[2017-10-24 21:55] Sarcasm commented on #38
Please, consider one moment that most persons in this issue understand that.

It's not so black and white:

- `install()` does not mean binary distribution
- people who build from source, often do so by using the install targets

The build tools I mentioned earlier, https://github.com/abseil/abseil-cpp/issues/38#issuecomment-338779633, and [spack](https://github.com/LLNL/spack) mentioned by @adevr

[2017-10-24 22:42] gennadiycivil commented on #38
Interesting argument @Sarcasm, thank you.

I tend to think about install() as a binary distribution, copy the build artifacts within the file systems accessible from where this build is running.

It would perhaps be useful to consider this from a different point of view, could you please elaborate, how you see what install() does?

Thank you again.
G

[2017-10-25 07:45] a4z commented on #38
Interesting quote from tituswinters, @Sarcasm , and true what you write
For some, they way to ensure that there is only one copy of a component is that developers have only access to one version distributed via a package manager -or as part of the SDK- used for the current product development.
The package hast to be generated via `make install DESTDIR`, of course.

In terms of ABI compatibility ,

[2017-10-25 09:20] adevress commented on #38
@gennadiycivil That's the source of the mis-understanding I think.

For many package manager and build system, install() is just an intermediate step in the build pipeline what can be understood as "please, put the public interface of component X of revision Y under path Z for reuse by the next component in the build".

For package manager like Nix or Spack, install() of a intermediate component (

[2017-10-25 13:00] lilianmoraru commented on #38
@adevress It's not an issue with RPM/DPKG per se but more with how Linux distros traditionally work.
We have at work projects that use BitBake but also RPM for dependency management(so we don't have to reinvent a build-system and port everything to it).
Example of RPM-based project that lives at HEAD:
[code]

After each merged commit, the SDK is updated in Git(LFS) and when somebody does `repo syn

[2017-10-25 15:07] adevress commented on #38
@lilianmoraru  I totally agree. The problem is not so much RPM / DEB itself, more how it is traditionally used.

[2017-10-25 15:51] lshamis opened #39 "Cannot use //absl/synchronization"
I'm using `http_archive` to add abseil-cpp to my WORKSPACE.
When trying to use `//absl/synchronization`, I get the following error:

    .../external/com_google_absl/absl/time/BUILD.bazel:27:1: no such package '@com_googlesource_code_cctz//': The repository could not be resolved and referenced by '@com_google_absl//absl/time:time'

Until https://github.com/bazelbuild/bazel/issues/1943 is resolved,

[2017-10-25 16:12] derekmauro commented on #39
This is working as intended. I haven't followed the Bazel recursive WORKSPACE discussion, but naively I would think it is going to run into the diamond dependency problem. What happens when (sub-)projects depend on different versions of the same library? There is a long discussion of this concept in the CppCon introduction to Abseil: https://youtu.be/tISy7EJQPzI?t=902

Anyway, the solution to this

[2017-10-25 16:12] #39 closed, assigned to nobody

[2017-10-25 20:50] Sarcasm commented on #38
@gennadiycivil

I have tried to produce a "simple" CMake file that ressemble what some of the mentioned tools do.
I picked a method that uses CMake external projects, not because this is the best tool, but because the example is self contained and hopefully most people have CMake installed somewhere.

The examples build cctz and its dependencies, Google Mock and Google/benchmark.
All of the source

[2017-10-26 09:49] Orphis commented on #38
@Sarcasm This is potentially using different ABIs. If your top level project uses -std=c++14 and wants to propagate it, you will have to pass it manually to each dependency. This version of ExternalProject is broken in that regard, and you should have a look at the GoogleTest documentation for a better usage.

Abseil internally changes depending on what is available in the standard library. If you

[2017-10-26 22:42] Sarcasm commented on #38
It's true that this toy example is not perfect.
I did not mean to have a "top level" project here, I assumed the CMakeLists.txt was the whole, final workspace.

To be more correct, a toolchain file may be needed, e.g.:

[code]

the projects may need to be patched when they don't honor the toolchain, ...
All of these, the tools can do it, and often do.
Maybe not so often for the reasons of the Abse

[2017-10-27 17:46] ghost commented on #38
Just dropping in here (I don't have a stake in this library, but some experience with CMake).. The typical workflow with CMake is to build everything from source. Especially on windows, you need to download all of your dependencies and then build them. Everything uses the same compiler. On OSX, you have homebrew, which uses an ABI-compatible method of building (everything is build with the same co

[2017-10-27 20:33] JonathanDCohen commented on #17
Final ping here.  I'll close this as wontfix next week without a response

[2017-10-27 20:33] JonathanDCohen commented on #34
Friendly ping here :)  @Remotion are you still having trouble compiling on Windows?

[2017-10-31 17:53] JonathanDCohen commented on #37
An update: in today's daily release there was the addition of absl/base/internal/exception_safety_testing.{h,cc}

This is an exception-safety test framework loosely based off of Dave Abraham's article _[Exception-Safety in Generic Components](http://www.boost.org/community/exception_safety.html)_

The framework will evolve slightly as we test-drive it with our own types.  The first up to test will

[2017-11-02 14:05] junyer commented on #38
In order for RE2 to depend on Abseil without abandoning or alienating our external users, I believe that it will be necessary for Abseil to accommodate traditional use cases in some way. Perhaps the "long-term support" branches could serve as a basis for packaging? And then Debian could handle Abseil much like they handle Boost, I imagine, and likewise for other distributions.

[2017-11-02 16:00] ghost commented on #38
This is exactly what the maintainers are afraid of: people conflating `install` with long-term support for an outdated version. I completely understand this and I personally have little sympathy for users of outdated software.

The problem is that linux distributions have a completely different packaging model than OSX or windows. In the latter two, you just use the latest version of the library,

[2017-11-02 22:32] lilianmoraru commented on #38
@xoviat Now you've made it very clear why the `install` target is not desired...

I thought initially that the main argument against the `install` target was because of the ABI issues when compiling/linking libraries with different flags for example(I was trying to explain that it does not have to be precompiled, but it does not address the "love for old, buggy, slow code" issue).

I understand th

[2017-11-03 00:30] jfroy opened #40 "Abseil is not -Wsign-conversion clean"
https://github.com/abseil/abseil-cpp/blob/master/absl/types/span.h#L282

[2017-11-03 13:03] junyer commented on #38
https://abseil.io/about/philosophy states:

I understand that Abseil folks don't wish to endorse or even encourage packaging, but considering their promise to maintain such branches, I don't understand why they would obstruct packaging.

There will be users of RE2, for example, who won't know or care about Abseil and its philosophy. In many cases, they will be using language bindings, so they won'

[2017-11-03 14:52] JonathanDCohen commented on #38
@xoviat can you please go on about the linux packaging model?  I thought apt-get largely worked similarly to homebrew et al.

[2017-11-03 15:16] JonathanDCohen commented on #40
This poses a bigger question of whether Abseil should be -Wsign-conversion clean.  I can easily write a static_cast here, but there are still a bunch of other warnings

and so on for a while.  I think this is the reason that we don't use this option internally -- by the time we started compiling with -Werror there were way too many of these to fix.

[2017-11-03 15:33] JonathanDCohen commented on #40
As a simple experiment to look at the size of the problem, which is large:

[code]

[2017-11-03 15:36] tituswinters commented on #40
Like I said internally - I could *swear* we did some of the sign conversion cleanup before release, so I'm surprised that this is busted.  But at the same time, with those counts, it's gonna be a big silly/messy cleanup to resolve it all.  I'm sorta torn.

[2017-11-03 15:43] a4z commented on #38
some difference between Windows and Linux packaging:
(sorry for dropping in to this topic, but I feel it could not harm to add some info)

on Windows MSVC break ABI from version to version and even between debug and release build.

This is why in Windows project often are huge monoliths, with external dependency in a subdirectory, 3rdParty or so.
The software, if it is source code, becomes old ove

[2017-11-03 16:11] jfroy commented on #40
We have a -Weverything -Werror -Wno-... codebase, so we're used to dealing with these sorts of issues. Our blanket hammer is to flag a subtree as system headers. In some cases we'll add push/pop diagnostics. tl;dr; we can work around this for sure and it's not blocking us. Perhaps making the headers clean may be worth considering, if not too big an effort.

I am not an expert, but I assume this co

[2017-11-03 16:21] tituswinters commented on #40
@jfroy - As a library that expects to be at/near the bottom of the dependency stack, I think we *ought* to be as warning free as possible.  So I'd like to say we should just clean it up ... but bleh.

Wraparound on unsigned ints is defined, so the single item that motivated this is "fine".  Largely my hesitation is that the vast majority of the hits on this warning are false-positives.  (No good a

[2017-11-03 16:29] brenoguim commented on #40
Perhaps this should be marked as low hanging fruit for the community to help out while you guys can spend time on more impactful matters.

[2017-11-03 16:36] JonathanDCohen commented on #40
@brenoguim to clarify Titus' statement, we probably don't want to litter Abseil with static_casts everywhere if most of them are to clear up false positives from the compiler.  Automatically compiling Abseil TUs with +Wsign-conversion or -Wnosign-conversion (can't remember off the top of my head how to disable a warning) seems wrong too, however.

[2017-11-03 16:42] brenoguim commented on #40
Oh yes, of course. I just figured there might be ways to rework the code so these conversions do not happen or happen in such way the compiler doesn't complain.
But I haven't looked into the scenarios, so I wouldn't know. Also it's not always possible or would require worse code juggling than simply adding the static_cast.

[2017-11-03 16:56] brenoguim commented on #40
This one already has a static_cast on the following line (escaping.cc:68), so it could be possible to rework the code a bit and reuse that static_cast.

These other three could use a function to avoid repeating `*p - '0'`.

But anyway, I'm certain it's not possible to rework all of them, but some can, and may even lead to slightly more readable code.

[2017-11-03 17:26] ghost commented on #38
No, it doesn't. Because `apt-get` is integrated into the operating system, the software available is restricted to a curated subset that was present at the time of the OS release (for example, gcc 6 is not present by default in the Ubuntu repository). This is especially painful for something like RHEL, where the software is years old.

In contrast, homebrew usually stays a few months behind HEAD a

[2017-11-03 17:32] ghost commented on #38
I cannot emphasize this enough. On windows, everything is built from source using a single compiler.

[2017-11-03 19:12] JonathanDCohen commented on #38
Is there a way for us to constantly update the different databases these distros use with our daily release, or a weekly cut, or something of the sort, such that they incrementally keep absl up-to-date?

[2017-11-03 19:35] ghost commented on #38
For OSX, the homebrew PR process can be automated (you can just submit a PR bumping the version number every week). Windows is going to use vcpkg, which can be automated as well.

For Ubuntu, you could create your own ppa (https://askubuntu.com/questions/71510/how-do-i-create-a-ppa), so that it's not bundled with the OS packages, but that's significantly more work.

[2017-11-03 19:38] ghost commented on #38
Example for homebrew: https://github.com/Homebrew/homebrew-core/pull/20116

[2017-11-04 10:02] a4z commented on #38
even if gcc is not present per default, there is the ubuntu compiler ppa
https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test?field.series_filter=xenial

RHEL has a 'old' base system, but ships newer software and compiles via software collections and compilers come official via devtoolset
https://access.redhat.com/documentation/en/red-hat-developer-toolset

openSUSE has one compiler inst

[2017-11-06 09:22] r4nt commented on #40
Some of these will be super noisy to clean up, given that some large code bases use -funsigned-char (cough cough), and depending on that these warnings will trigger one way or the other.

[2017-11-06 15:45] brenoguim commented on #40
This can't be the only library to suffer from this. I wonder what other people are doing. Boost seems to have a "numeric_cast" which is a static_cast with bound checking.
But I'm not sure if they use internally on their own code.

Despite being a silly issue and potentially with many false positives, it sparked my interest. I don't want to believe it's not possible to write readable and warning fr

[2017-11-06 15:53] r4nt commented on #40
It is generally impossible to write readable warning free C++ for an arbitrary definition of warning.
Usually compilers do not warn on system headers that are included via -isystem. That way, people can switch on whatever warnings they think make sense in their own projects without hurting downstream users from switching on their warnings.

[2017-11-07 07:36] junyer commented on #38
I have finally figured out why Abseil can't be distributed: ABI instability not just over time, but due to compiler flags! Bridging `absl::string_view` to `std::string_view`, for example, depends on whether you build with `-std=c++17`. This will trivially break static libraries as well as shared libraries regardless of whether they are in lockstep with the headers. `pkg-config(1)` kind of solves t

[2017-11-07 15:25] brenoguim commented on #40
Yeah, we use the -isystem for the boost library as well. I agree it's not possible to do a completely warning free code. On the other hand, I believe it's possible to do better. Just "giving up" on these warnings could also lead to less readable code and hide bugs.

Anyway, I'll stop guessing and try to come up with a PR that shows my point. :)

[2017-11-08 16:39] JonathanDCohen commented on #38
@junyer yes, among other reasons.  You can watch Titus' keynote from cppcon for the broader picture.

So let's get back to the bug picture.  We want to work with major build tools, and we don't want to be distributed as a binary.  It seems we can accomplish this with install() as a source copier.  Here are my next questions:

1) What does the implementation of this look like? It seems to be pretty

[2017-11-08 18:46] katzdm commented on #17
Following up on previous comment; closing this as "wontfix". Please re-open with additional details (as requested by jorgbrown), if you're still experiencing this issue.

[2017-11-08 18:46] #17 closed, assigned to nobody

[2017-11-08 19:17] JonathanDCohen commented on #2
Sorry for the silence on this.  I'm slightly wary about this because a couple reasons

First, some of the people working on migrating google3 to c++17 have expressed some slight misgivings about it.  Second, because, even though we don't really support it, this is potentially a break for use of abseil functions with ADL for a change which is, ideally otherwise invisible to the user and adds a corn

[2017-11-08 21:40] zivsha commented on #34
FYI, just cloned abseil to my `cmake` project (with `googletest` and `cctz` with Sarcasm's PR for CMake support) and only issue I'm having is with the usual `std::max`:
https://github.com/abseil/abseil-cpp/blob/9850abf25d8efcdc1ff752f1eeef13b640c4ead4/absl/base/internal/low_level_alloc.cc#L290-L291

I did not wish to `#define NOMINMAX` so I just wrapped it with parentheses like so, and my project

[2017-11-08 22:15] Sarcasm commented on #38
The way I see it, you want to give CMake users a guideline in the line of this:

A "CMake toolchain", is a file that describes the compiler and compile options to use.
- https://cmake.org/cmake/help/v3.9/manual/cmake-toolchains.7.html#variables-and-properties

This makes me realize that using `add_subdirectory()` does not guarantee ABI compatiblitity.
It just guarantees that the user is using the

[2017-11-09 15:46] JonathanDCohen commented on #34
I'm curious about what happens if you try to use, for example, absl/memory/memory.h, which has a numeric_limits<...>::max() call.

We aim to be portable without users modifying code like this, so if the issue is MSVC min and max macros then this seems like an easily solvable problem

[2017-11-09 16:08] JonathanDCohen commented on #37
Another update: working on `any` has exposed that our framework needs to gracefully be able to deal with the Strong guarantee for types which do't have operator== and the need to deal with post-conditions on constructors, including lack of resource leaks.

So upcoming will be an update that will let us test constructors and an enhancement which removes the need for any T to be copy-constructible o

[2017-11-09 16:16] JonathanDCohen commented on #40
@tituswinters I propose that we follow @brenoguim's idea and mark this as "help wanted" and "good first issue" and expand the scope of the issue to just in general being about when Abseil code emits compiler warnings.  Most of these are easy to fix and the only decider is whether or not the fix is something we want to accept.  Furthermore a lot of these are hard to test for internally where we hav

[2017-11-09 22:49] Remotion commented on #34
I am tried abseil from vcpkg and it work in most cases.
But there are still problems with some header files like <time.h>.
It directly includes <winsock2.h>.

Of course the solution for the users  is pretty simple ether define NOMINMAX and WIN32_LEAN_AND_MEAN  for the whole project or define this just before including <time.h>.

[2017-11-10 16:07] ras0219-msft commented on #34
I've applied the workaround suggested by @zivsha in vcpkg as a post-build "patch":
https://github.com/Microsoft/vcpkg/blob/3ae740cef8e34ebb447752b3e0c628dc39553315/ports/abseil/portfile.cmake#L30-L36.

@Remotion does that solve the issue for you?

Edit: this only solves the problem for some files; others have calls to `Some::Type::max()` which also need to be addressed.

Edit: Perhaps a solution b

[2017-11-13 01:19] tjb1216 opened #42 "Abseil is conflict with tcmalloc"
If I link abseil and tcmalloc together in my program,  It will shutdown and say "Check failed: MallocHook::RemoveNewHook(&InitialNewHook):". But if I use abseil only or tcmalloc only, It will run OK， so I think abseil is conflicted with tcmalloc.

[2017-11-13 02:26] tjb1216 commented on #42
I put absl after tcmalloc, and it works, I don't know if there are any hiddlen problem.

[2017-11-13 22:10] ahedberg commented on #42
Didn't have a chance to take a look at this today, but I'll investigate tomorrow. Thanks for your patience!

[2017-11-14 02:08] eigenbom opened #45 "License is missing copyright."
https://github.com/abseil/abseil-cpp/blob/95ddf85f8075d5645a754bac5742b72ec9c81f2a/LICENSE#L190

[2017-11-14 09:05] wtagg opened #46 "CMake Line Continuation Requires Version 3"
In the following location a line continuation mechanism is employed that is only supported by CMake versions > 3.
https://github.com/abseil/abseil-cpp/blob/95ddf85f8075d5645a754bac5742b72ec9c81f2a/CMake/AbseilHelpers.cmake#L77

However the CMakeLists only requires:

https://github.com/abseil/abseil-cpp/blob/95ddf85f8075d5645a754bac5742b72ec9c81f2a/CMakeLists.txt#L16

[2017-11-14 14:18] ahedberg commented on #42
@tjb1216 - are you using Bazel to build your project? gperftools doesn't provide a Bazel BUILD file, so if you have one that works, I'd like to borrow it rather than spend time reinventing the wheel.

[2017-11-14 14:52] derekmauro commented on #45
This is in a section that says "APPENDIX: How to apply the Apache License to your work."  I confirmed with an open source lawyer that this section should not be altered.

[2017-11-14 14:52] #45 closed, assigned to nobody

[2017-11-14 14:57] derekmauro commented on #42
@ahedberg - You shouldn't need a BUILD file to reproduce this.  You can compile gperftools separately and then link against it.  Ping me if you need more details.

[2017-11-14 20:10] ahedberg commented on #42
Thanks @derekmauro - finally figured out where my built-from-source libtcmalloc.so was hiding.

Current theory (assuming use of LD_PRELOAD to use tcmalloc instead of the system malloc):
* Calls to `MallocHook::InitialNewHook` are using the Abseil implementation.
* The failing call to `MallocHook::RemoveNewHook(&InitialNewHook)` is using the tcmalloc/gperftools implementation.
* This means means th

[2017-11-15 12:13] navidR opened #47 "File system library"
Since abseil trys hard to be a general purpose C++ library and there is no (at least I am not aware of) a good, robust and multiplatform file system C++ library with “sane” (thank you for adding CMake) build system, what is your stance on adding file system to abseil?

Is it on the future list? Or you are not going to have file system operation in abseil at all.

I need to port our company’s  ndk

[2017-11-15 19:47] Orphis commented on #38
It guarantees that it is using the same flags as the parent directory, which we hope are global (either through a toolchain file or good options put at the top level CMakeLists.txt of the top-level project). We can't enforce anything more.

The difference between `add_subdirectory()` and `find_package()` is that we have a chance at least to propagate the current flags that are hopefully global wit

[2017-11-15 20:24] ahedberg commented on #42
@derekmauro and I figured out that the extern "C" parts of MallocHook and MallocExtension are in conflict between tcmalloc and absl, as they have the same names. I'm working on a fix.

[2017-11-21 19:50] JonathanDCohen commented on #46
Sorry for the long response time, real life things have been happening (I got married this past weekend <3)

Looks like the solution is just to put a newline in the string, which is what this is trying to do anyways.  I'll make the change internally and close the issue when we upstream.

[2017-11-21 19:59] JonathanDCohen commented on #47
There are plans in the future to add Google's internal file libraries to Abseil, but they are blocked on, among other things, the release of a unified absl::Status similar to the Status type in Tensorflow, gRPC, etc.  It doesn't currently follow the std::filesystem API.

[2017-11-22 00:14] Sarcasm opened #49 "identifiers non-prefixed with absl"
Looking at the code, I can see some identifiers aren't using the absl namespace.
I'm mostly thinking about some defines/macros, not C++ classes/functions.

For example, there is:
- LOCKABLE
- ANNOTATE_CONTIGUOUS_CONTAINER
- DYNAMIC_ANNOTATIONS_ENABLED

Is it a bug or a feature?

Personally, I would expect ABSL_LOCKABLE instead of LOCKABLE.

[2017-11-22 16:23] zhangxy988 commented on #49
They are not prefixed with ABSL_ intentionally. Respectively:
- LOCKABLE: We use the naming in https://clang.llvm.org/docs/ThreadSafetyAnalysis.html. We don't expect this macro to have any definition conflict with other macros. Let me guess, are you having problem with a enum named LOCKABLE?
- ANNOTATE_CONTIGUOUS_CONTAINER: These are widely-adopted ASAN macros that we don't want to rename.
- DYNAM

[2017-11-22 21:18] Sarcasm commented on #49
No :),
I just assumed it was an accepted convention that libraries should not use generic names.
This kind of things works only if one library do it.

Also I don't see any downside to ABSL_LOCKABLE.

Anyway, if it is on purpose, I will close this ticket, I assumed it was there by accident.

Thanks for you answer.

[2017-11-22 21:18] #49 closed, assigned to zhangxy988

[2017-11-27 11:15] Mythra opened #52 "Failure to build on freebsd"
👋 First off, Thanks for this library.

However after setting up a fairly simple test project using Mutex's from abseil I seem to be getting a build failure on my FreeBSD test boxes. Messing around I haven't been able to figure out what's happening yet, but it's also two in the morning on a test project.

The build failure is:

[code]

Clang Version Info:

[code]

Bazel WORKSPACE Inclusion of Absei

[2017-11-27 18:21] derekmauro commented on #52
I'm sorry to be the bearer of bad news, but the current policy is that FreeBSD if unsupported and our policy says that patches for unsupported platforms will not be accepted: https://abseil.io/docs/cpp/platforms/platforms

For what it's worth, I didn't make this policy and I don't happen to personally agree with it.  It is also possible that this might change in the future.

Now I don't have a Fre

[2017-11-27 18:29] Mythra commented on #52
@derekmauro I see on that page linux 64 bit is supported? I Ctrl-F'd for "BSD", and didn't see anything on that page. I understand not wanting to support it (just curious what I missed)?

I'll take a look into fixing this issue with the hints you gave me. Thanks for that!

[2017-11-27 20:24] vsrinivas opened #54 "absl/strings:string_view_test Split.WorksWithLargeStrings may fail with std::bad_alloc constructing test string"
[ RUN      ] Split.WorksWithLargeStrings
unknown file: Failure
C++ exception with description "std::bad_alloc" thrown in the test body.
[  FAILED  ] Split.WorksWithLargeStrings (1397 ms)

Split.WorksWithLargeStrings attempts to create a 2**31 character std::string; this may throw an exception at construction time if the allocation is too large for the platform. (An Ubuntu 16.04 host with 3.75 GiB

[2017-11-27 22:02] ahedberg commented on #42
Apologies for the silence here. We're still discussing how best to fix this internally. Rest assured we haven't forgotten about this.

[2017-11-28 06:20] rongjiecomputer commented on #34
I created PR #55 with some other fixes for MSVC (tested with VS 2017 15.3).

Ideally, `windows.h` should not be used in header files because `windows.h` is well-known for its namespace/macro polluting issue. Most C++ libraries like libstdc++, libc++ and Boost avoid including `windows.h` in header file at all cost. Abseil should follow this best practice too.

[2017-11-28 16:03] JonathanDCohen commented on #46
This has now been fixed, closing this Issue.  Please re-open if it continues to be a problem

[2017-11-28 16:03] #46 closed, assigned to JonathanDCohen

[2017-11-28 22:36] mbxx commented on #54
Thanks for bringing this up.  I'm not sure what to do about this since I don't think there's a number that's big enough to make the test useful and small enough that it won't cause an exception on some system.  The right answer may just be to disable the test.  Let me think about this for a bit.

[2017-11-29 00:22] jorgbrown commented on #54
Is it the string constructor crashing:
   string s(1ULL << 31, 'x');

Or is it the push_back call:
    s.push_back('-');

[2017-11-30 03:56] vsrinivas commented on #54
String constructor.

[2017-11-30 13:21] photex opened #56 "Unable to build abseil-cpp. Windows 10 MSVC 2017 64-bit. CMake"
Configuration the build in `${project root}/.build/Debug` and attempted to build with `ninja -C .build/Debug absl_base`

[code]

[2017-11-30 13:23] photex commented on #56
Fix was simple:

[code]

[2017-11-30 13:28] photex commented on #56
Oops, did not realize all of this was already under discussion in #55 and #34

[2017-11-30 13:28] #56 closed, assigned to nobody

[2017-12-01 01:21] jorgbrown commented on #54
What is the output of "ulimit -a" ?
What compiler version are you using?

[2017-12-02 22:30] Mythra commented on #52
To note on this for others that are curious adding FreeBSD to that config list did fix that part of compiling, however I also had to include: `-lm` to the linkopts to actually allow abseil synchronization (and a few others) to compile too.

I haven't looked into the other compile issues at all yet, but I'm planning on doing that sometime later.

[2017-12-03 19:43] BrianEdmonds commented on #17
Sorry about losing track of this; GitHub mail delivery seems to be extremely flaky for me. I just synced to the latest commit (8b727aa), and Bazel still times out this test in dbg. If I rerun strings:numbers_test alone, it still times out. If I run all the tests in opt it still times out in the same place. Running the test alone, in opt, manages to pass in 51.6s (out of 60s). So, I'd say it's runn

[2017-12-04 16:19] JonathanDCohen commented on #2
After some more discussions on this, I'm going to close this issue. It's tempting but there are other internal migration factors which this seems to complicate, and the payoff for it is fairly low.  Thank you for the idea, though :)  Please feel free to re-open if you feel this is a poor decision.

[2017-12-04 16:19] #2 closed, assigned to JonathanDCohen, zhangxy988

[2017-12-04 16:27] mclow commented on #2
Those are pretty hard for me to comment on (not being internal).

I'm not going to contest.

[2017-12-04 21:11] derekmauro commented on #52
Good news! We talked about this and decided we can accept PRs for this!

https://github.com/abseil/abseil-cpp/pull/57 is in review.

[2017-12-06 01:10] zhangxy988 commented on #34
@rongjiecomputer Thanks for the PR. We will look into removing "#include <windows.h>" from header files.

[2017-12-06 17:29] nelhage-stripe opened #58 "What is glibcxx_debug_traits.h?"
[str_split_internal](https://github.com/abseil/abseil-cpp/blob/1b8dacca622ad547b08bccf523529ef09e2d581f/absl/strings/internal/str_split_internal.h#L33) has an `#include <glibcxx_debug_traits.h>` if `_GLIBCXX_DEBUG` is enabled.

My system has no `glibcxx_debug_traits.h`, and the only references I can find on Google are includes from this project and `google/sensei`. Is this a Google-internal file o

[2017-12-07 16:50] astrelni commented on #58
Thanks for bringing this up. It is something that slipped past, I will work on resolving it.

[2017-12-10 15:48] hongnod opened #59 "Difference between abseil-cpp and mini_chromium"
Both of abseil-cpp and mini_chromium are from Google, the question is what is the difference and why create another wheel?

[2017-12-11 18:29] tituswinters commented on #59
The vast majority of code that has been authored at Google is written in an internal codebase against the APIs that are now released as Abseil.  Many years ago, when Chromium first left that codebase, some of those things were forked.  They have diverged.

Abseil has more developers on it than the equivalent assignment for common libraries in Chromium, far more code depending on it, and far more d

[2017-12-12 16:44] astrelni commented on #58
Status update:

The issue here is that when compiled with _GLIBCXX_DEBUG, STL containers are aliases of special debug container types. Each of these containers inherits from a corresponding non-debug version and enables implicit construction from that version. When doing direct initialization, this extra constructor causes ambiguity. So the following would fail to compile:

[code]

while the follo

[2017-12-12 22:24] hongnod commented on #59
thanks for such detail comments.

[2017-12-12 22:25] #59 closed, assigned to tituswinters

[2017-12-13 20:09] derekmauro commented on #52
I just merged #57. On FreeBSD you should be able to build with `bazel build --linkopt=-lm --linkopt=-pthread //path/to:target` now. We are discussing the best way to get rid of the need to specify --linkopt as part of the build command.

[2017-12-13 20:09] #52 closed, assigned to derekmauro

[2017-12-16 08:37] qzmfranklin opened #63 "Cannot compile string_view_test.cc due to constexpr errors"
Hi,

Got a compilation issue here. Any help is much appreciated! Thanks in advance.

I will provide as much information as I can. Let me know if more is needed for people to debug.

OS: Ubuntu 16.04
CPU: x86_64
Compiler: clang-5.0.0 (the clang-based toolchain is fully installed under `/opt/clang/5.0.0` on the OS)
branch: master (720c017e30339fd1786ce4aac68bc8559736e53f)
Build using Bazel.

Tweaked

[2017-12-16 08:44] qzmfranklin opened #64 "absl::Substitute relies on the undefined behavior of absl::string_view(nullptr)"
OS: Ubuntu 16.04
CPU: x86_64
Compiler: clang-5.0.0 (the clang-based toolchain is fully installed under /opt/clang/5.0.0 on the OS)
branch: master (720c017)
Build using Bazel.

I tweaked the BUILD files to build when `abseil-cpp` is included as a submodule.

Here is the error message for the `absl/strings:substitute_test`:
[code]

Is this the correct way of reporting such issues?

[2017-12-16 09:07] qzmfranklin opened #65 "Consolidate BUILD.bazel files into a single BUILD file"
Consolidate into a single BUILD file.

Rationale for moving to a single-BUILD-file approach:

    1.  Easier to reference from other Bazel BUILD files.

        As a user of the abseil library, I would like to be able to use the
        library by refrencing its modules, i.e., `base`, `strings`, etc. without
        being aware of abseil-cpp's internal directory structures.

        For example, i

[2017-12-18 13:58] tituswinters commented on #65
I strongly suspect this would be a breaking change for existing users - even if we found a way to make things still link properly, it'd be an accumulation of technical debt / disorder.  Do you have a proposed migration strategy to get all exsiting users from here to your proposed end state, safely and non-atomically?

[2017-12-18 14:03] tituswinters commented on #64
If you run the test against a vanilla pull (without your local changes), does it still segfault?
Do you have process limits enabled?
This doesn't obviously reproduce for me, and I don't see anything particularly suspect in the test you've identified.

[2017-12-18 14:10] tituswinters commented on #63
That's ... odd.  The char* c'tor for string_view should be constexpr, as should the underlying call to char_traits::length.
http://eel.is/c++draft/string.view.cons
http://eel.is/c++draft/char.traits.specializations.char

Seems likely to be a stdlib bug?  But still perhaps something that we need to work around.

Assigning to @zhangxy988 to investigate.

[2017-12-18 17:06] zhangxy988 commented on #63
First, note that `absl::string_view` is just an alias to `std::string_view` in your setting.
Second, the issue here is: `char_traits<char>::length(nullptr)` is currently undefined by the standard. libstdc++ considers it to be 0, but libc++ thinks it is invalid (out of range) and forbids nullptr in constexpr context. See https://godbolt.org/g/CUnpGe for a minimal reproduction of the issue.
Regardle

[2017-12-19 03:24] qzmfranklin commented on #64
Hi @tituswinters ,

I ran these tests with a vanilla pull plus my own BUILD file. And that BUILD file is constructed by consolidating all the existing BUILD.bazel files together - literally. All options, compiling flags, dependencies, and names are preserved. I would like to think that it is because I used a clang-based toolchain?

[2017-12-19 03:33] qzmfranklin commented on #65
Hi @tituswinters ,

Thanks for the input and the stance that this is being considered.
I totally agree that this would be a breaking change for existing users.
I do have a migration plan that is safe, though atomic. That is actually explained, in part, by the renaming scheme below:
[code]

For the end users, they need to rename accordingly - and I believe this renaming can be automated.

For examp

[2017-12-19 04:30] derekmauro commented on #64
We use clang extensively and aren't aware of any issues.

We need all details to reproduce this.  Where did the compiler come from?  How did you configure it to work with bazel?  Exact state of your workspace?  Exact commands run?  Without knowing exactly what you did, it's hard look into this.

[2017-12-19 13:27] tituswinters commented on #65
Sure, but how do we do this non-atomically?  I guess the constraints on the question aren't clear, lemme expand.

Every .cc file should appear in exactly 1 cc_* target - doing otherwise is an ODR risk.
All of the following have to be true:

- There is a period of time where both new and old target names exist (existing code needs to still build)
- No .cc file can appear in multiple targets (potent

[2017-12-20 06:24] qzmfranklin commented on #63
Hi @zhangxy988 ,

Thanks!
Ah, I believe you are correct! I am using `libc++` instead of `libstdc++` and the issue you linked is exactly what the error was about. Thanks for replying so promptly!

Please feel free to let me know if any more information and testing is needed on me.

Best,

Zhongming

[2017-12-20 06:35] qzmfranklin commented on #65
Hi @tituswinters ,

I got your points now. Thanks so much for the explanation.

Wow, that is a lot of code depending on this library. Got to automate the transition.

I believe, with some work, all but one constraint can be met:
[code]

The reason is that if both the existing BUILD.bazel files and the new BUILD file co-exist, they overlap in the .cc and .h files they contain. And bazel will treat

[2017-12-20 18:49] astrelni commented on #58
Fix is in review internally.

Considering peoples' end of year schedules it may not be part of a release until early January.

[2017-12-20 22:13] zhangxy988 commented on #65
At this moment the question seems to be whether we want this change in a separate branch, and if yes where we put it. Deferring this to @tituswinters .

[2017-12-20 22:16] zhangxy988 commented on #64
@qzmfranklin : Could you please provide more details about the setup you use? Maybe some stack traces?
I'll try running this test when I have a Clang/libc++ 5.0 environment set up. Will keep this thread posted on the result.

[2017-12-20 22:16] zhangxy988 commented on #54
@mbxx: Any update on this issue?

[2017-12-21 07:48] qzmfranklin commented on #65
@zhangxy988

Yes. Thanks for ACKing.

[2017-12-21 08:31] qzmfranklin commented on #64
Hi @zhangxy988 @derekmauro @tituswinters,

Thanks for all your interest and support. Here is the exact steps to reproduce this issue:

1. Get an x86_64 machine (Sandybridge or later) with the vanilla Ubuntu 16.04 LTS installed.
I never tried doing all of these inside the `xenial` docker container. It may or may not work. I believe it should. But again, I never did it myself.

2. Inside the freshly

[2017-12-21 15:22] mbxx commented on #54
@jorgbrown submitted a change that is now in the public release to cut the overall amount of memory used by the test by a factor of 3.  The trouble is, it eliminates the extra memory allocation done by the aforementioned push_back call, not the memory allocation cone by the constructor.  So I suspect this won't fix the problem for @vsrinivas.

@vsrinivas, by any chance would you mind grabbing the

[2017-12-21 16:03] scottnice opened #66 "VS 2017 Data Truncation Warning/Error"
I understand there is another issue/PR relating to VS 2017 flags and Cmake builds because VS 2017 doesn't recognize the -std=c++11 compiler flag.

- abseil-cpp\absl\synchronization\internal\graphcycles.cc(282): error C2220: warning treated as error - no 'object' file generated
- abseil-cpp\absl\synchronization\internal\graphcycles.cc(282): warning C4309: 'static_cast': truncation of constant value

[2017-12-21 16:08] scottnice opened #67 "VS 2017 Checked Iterators Error"
I understand there is another issue/PR relating to VS 2017 flags and Cmake builds because VS 2017 doesn't recognize the -std=c++11 compiler flag.

The flag ```/D_SCL_SECURE_NO_WARNINGS``` needs to be added to the abseil-cpp\CMakeLists.txt file in order for compilation with VS 2017 to succeed.
``` add_definitions(/DNOMINMAX /DWIN32_LEAN_AND_MEAN=1 /D_CRT_SECURE_NO_WARNINGS /D_SCL_SECURE_NO_WARNINGS

[2017-12-21 16:10] ghost opened #68 "Will there be a hash map implementation?"
As we all know `std::map` and friend are slow, is there any plan to release a hashmap with abseil?

[2017-12-21 16:18] tituswinters commented on #68
Yep, sometime (early?) next year.
https://www.youtube.com/watch?v=ncHmEUmJZf4

[2017-12-21 16:21] ghost commented on #68
That's very very good news.

[2017-12-21 16:27] tituswinters commented on #68
:)

[2017-12-21 16:38] derekmauro commented on #64
Thanks, that was enough information to reproduce the issue and diagnose the problem.

This is the test that is triggering the problem:
https://github.com/abseil/abseil-cpp/blob/4972c72c5cf2f27e2a0846ce9ff5d377d3f2b7af/absl/strings/substitute_test.cc#L67-L70

And specifically, the problem is that the Abseil implementation of string_view accepts string_view(nullptr), while std::string_view does not.

[2017-12-21 17:06] tituswinters commented on #65
I think I could be more sold on this if you could explain your "needs" in more detail: they seem pretty cosmetic and more like "wants."  Is there a deeper technical issue that I'm not seeing that makes this more necessary (rather than just a stylistic choice?)

I completely agree that we need to have more detailed and explicit best-practices for how to operate inter-repo (both for Bazel builds and

[2017-12-22 02:20] qzmfranklin commented on #64
@derekmauro Thanks for the follow up. Much appreciated!

[2017-12-22 02:38] qzmfranklin commented on #65
Hi @tituswinters ,

Thanks for the prompt communication. Indeed, I should explain my needs in more details.

So, to begin with, this is not a pull request. I am very well aware that there is probably already a lot of dependencies and ongoing work to make abseil-cpp cater to broader use cases. All I wanted with this issue tracker is to raise the awareness that there are people like me who want to b

[2017-12-22 15:17] katzdm commented on #65
One of Bazel's primary goals is to offer "fully hermetic" and reproducible builds. Have you considered the option of referencing Abseil via a WORKSPACE repository-rule, without explicitly cloning the code into your own source tree? This would make it easier to update the version referenced by your team as well.

"""
http_archive(
    name = "com_google_absl",
    urls = [
        "http://github.co

[2017-12-22 20:21] zhangxy988 commented on #66
I wonder why building with bazel + VS2017 doesn't trigger this warning.
Are you compiling for 32-bit system?

[2017-12-23 02:22] scottnice commented on #66
Yes, I'm targeting x86 (win32).

[2017-12-26 18:42] wjywbs opened #70 "Need copy constructor for absl::FixedArray"
I'm trying to use absl::FixedArray as a function's return value and value in hash map, instead of std::vector. The size of the array is not known at compile time, while InlinedVector needs a predefined capacity. The burden of using InlinedVector is that passing InlinedVector<int, 5> to a function expecting InlinedVector<int, 10> is not compatible.

The comment in the fixed array code is "Copy and

[2017-12-27 15:24] ahedberg commented on #70
Many of us are out until after the new year, so you may not receive an in-depth response until then. @JonathanDCohen probably has the most knowledge here.

[2017-12-27 15:42] zhangxy988 commented on #64
@qzmfranklin please check whether the bug is fixed in the last commit. Thanks!

[2017-12-27 15:55] vertix opened #71 "Add StringPrintf and friends to strings library"
By some reason it's not here. You even refer this function in docs, see [here](https://github.com/abseil/abseil-cpp/blob/17cde19a0f8c939524295d27c3774186ac9a1d29/absl/strings/substitute.h#L48) for example

[2017-12-27 16:04] ahedberg commented on #71
We're not planning to release StringPrintf; we'll be releasing a much better string formatting API in the next few quarters. Thanks for catching the error in documentation; I'll see if I can get that fixed.

[2017-12-27 18:29] JonathanDCohen commented on #70
This has been on the todo list for a while and just hasn't been done yet.  I can write this up this week although I'm not sure if it will get upstreamed until after the new year.

[2017-12-27 18:53] wjywbs commented on #70
Thanks @JonathanDCohen and happy holidays!

[2017-12-29 13:23] ahedberg commented on #42
This has been fixed. Please let us know if you're experiencing additional issues using tcmalloc with Abseil.

[2017-12-29 13:23] #42 closed, assigned to ahedberg

[2018-01-02 17:44] zhangxy988 commented on #64
Verified that substitute_test passes with clang/libc++ 6.0.
@qzmfranklin Feel free to reopen if there is still problem on your side.

[2018-01-02 17:44] #64 closed, assigned to nobody

[2018-01-03 02:28] ahedberg commented on #71
Documentation will be fixed with the next release. Thanks again for reporting!

[2018-01-03 02:28] #71 closed, assigned to ahedberg

[2018-01-04 01:30] astrelni commented on #58
This should be fixed now with https://github.com/abseil/abseil-cpp/commit/0271cd3

[2018-01-04 18:58] astrelni commented on #58
The fix has had to be rolled back due to an internal brake that was not detected until after this got released. The rollback will likely hit github tomorrow. I will hopefully have a slightly modified version of the fix no later than early next week.

[2018-01-04 20:08] mbxx commented on #54
Closing this issue since the overall memory consumption was dramatically reduced.

@vsrinivas, please feel free to reopen this if you're still having a problem.  The next step would be disabling the test

[2018-01-04 20:08] #54 closed, assigned to mbxx

[2018-01-05 14:22] Sarcasm opened #73 "absl::string_view constructed from nullptr"
It looks like the implementation of `string_view` gladly accepts `nullptr` in its constructor, but I don't think the string_view from the STL does.
Meaning, when upgrading STL to C++17 for example, the code can start to break because `std::string_view` constructor will crash on `nullptr`.
Is it the expected behavior?

The documentation recommends to use `absl::NullSafeStringView`, suggesting `null

[2018-01-05 17:54] tituswinters commented on #73
It's an known wart - and complex.

Strictly speaking, it's undefined what any given implementation will do on sv(nullptr).  IIUC, libstdc++ does what we do, libc++ throws or crashes, and I think MSVC accepts it.

I'm working on papers for the next standards meeting to specify the behavior once and for all - there's mixed support at the committee level, but I think it has reasonable odds of going t

[2018-01-05 20:02] JonathanDCohen commented on #70
FixedArray now has both copy and move constructors.

[2018-01-05 20:02] #70 closed, assigned to JonathanDCohen

[2018-01-05 20:03] JonathanDCohen commented on #67
Sorry this got overlooked.  There have been some changes to malloc_hook recently I think, is this still an issue?

[2018-01-05 20:11] JonathanDCohen commented on #65
This has gone a little stale, but if we decide to do this, Bazel does have target aliases: https://docs.bazel.build/versions/master/be/general.html#alias

I think these create a pretty clear path where the first step moves all of our targets to the top level BUILD file and changes all targets in other BUILD files to deprecated aliases.

That doesn't answer whether this is a change we want to do, t

[2018-01-05 20:39] JonathanDCohen commented on #37
Turns out `any` is much harder than it seems!  After finding a bug in the standard (http://cplusplus.github.io/LWG/lwg-defects.html#2162) and a bug in libstdc++ std::any (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=83658) we've gotten through the exception safety test for absl::any.  See absl/types/any_exception_safety_test.cc

The good news is finding an exception-safety bug in a library like li

[2018-01-06 05:36] scottnice commented on #67
Still getting the unchecked iterators error. It's now at line 505 in malloc_hook.cc. The call to std::copy.

[2018-01-08 10:08] OlafvdSpek commented on #73
Supporting string_view(nullptr) is the only sane option IMO.
What are the arguments against? Performance? strlen() not supporting nullptr?

[2018-01-08 17:48] prateekr opened #74 "CMake absl::base target missing gtest dependency"
Unlike the bazel build file, CMakeLists doesn't have a build dependency on gtests when building the absl::base library.  This dependency is required to compile the source of https://github.com/abseil/abseil-cpp/blob/master/absl/base/internal/exception_safety_testing.h#L28.

I think the CMakeLists file in absl/base should also pull in gtest as an external project similar to what bazel does below:

[2018-01-08 18:28] tituswinters commented on #73
@OlafvdSpek - strlen() doesn't, and without more substantive change neither does std::string(char*).  I think it's pretty doable to argue that string_view can be more permissive than std::string (or even const string&), but there's some convincing that needs to be done.

[2018-01-08 19:01] astrelni commented on #58
Looks like the rollback and new fix came out in the same release this morning https://github.com/abseil/abseil-cpp/commit/4132ce2

[2018-01-08 19:01] #58 closed, assigned to astrelni

[2018-01-08 19:08] Sarcasm commented on #73
That is my fear with having this by default in Abseil.
If it's in Abseil, more people will start depending on it, and then when C++17 is more available, people will have the dilemma to use it or not because it may break their code, which would be a shame IMHO.

However, I didn't know the public Abseil version was already used at scale at Google.

If the proposal makes, great, but I fear it's a lon

[2018-01-09 16:34] zhangxy988 commented on #63
This issue should be fixed by the latest commit 4132ce25956a91e1224e0f205b7f8c326304a995.

[2018-01-09 16:34] #63 closed, assigned to zhangxy988

[2018-01-10 08:15] bmusin opened #76 "tests don't pass"
## What I did
Was going through [quickstart](https://abseil.io/docs/cpp/quickstart).

I checked out source.
`git clone https://github.com/abseil/abseil-cpp.git`
Created directory.
`mkdir Source`
Entered it.
`cd Source`
Run tests.
`bazel test absl/...:all`

## What happened
They didn't pass:
[code]
(df3af0d03c0d790aa784235e9913f3d8cb9cdb16)

### My bazel
Build label: 0.9.0- (@non-git)
Build target:

[2018-01-10 15:39] derekmauro commented on #76
I think you are missing some steps in your "What I did" section, but from the error message you are getting `java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty`, I suspect Java doesn't have TLS configured correctly.  Do you have the `ca-certificates-java` package installed?

[2018-01-10 15:50] bmusin commented on #76
Yes, I have it installed. "20170930" version - in terms of Ubuntu's apt.

[2018-01-10 15:51] derekmauro commented on #76
What does your WORKSPACE file look like?

[2018-01-10 16:17] bmusin commented on #76
[code]

[2018-01-10 16:32] derekmauro commented on #76
This looks like the Abseil WORKSPACE file (from the `workspace(name = "com_google_absl")` line).  It doesn't look like you've created a WORKSPACE file for your personal project.

In the [Quickstart](https://abseil.io/docs/cpp/quickstart) see the section "Linking Your Code to the Abseil Repository".  I don't think you've completely followed it.

If you want more help you'll need to post the exact c

[2018-01-10 16:40] bmusin commented on #76
@derekmauro, I just followed tutorial literally and run commands as was said in quickstart(just in /opt/bmusin, not ~ directory.) and stuck on bazel test absl/...:all line.

"Linking Your Code to the Abseil Repository" section is lower than the line where I encountered
problem.

[2018-01-10 17:29] derekmauro commented on #76
Does it work if you try it in the ~ directory?

[2018-01-10 18:37] bmusin commented on #76
Yes, it gives:
[code]

[2018-01-10 18:55] derekmauro commented on #76
I'm pretty confident this isn't an Abseil issue.  It sounds like something is wrong with the Java/TLS configuration on your system.  You might want to try some of the suggestions in https://stackoverflow.com/questions/6784463/error-trustanchors-parameter-must-be-non-empty, but I don't think we are going to be able to help you.

[2018-01-11 19:23] bmusin commented on #76
@derekmauro, tested today without updating the repo - tests passed.

[2018-01-11 19:37] derekmauro commented on #76
Great to hear that!

[2018-01-11 19:37] #76 closed, assigned to nobody

[2018-01-12 19:12] adembo opened #79 "absl::CondVar: FIFO or LIFO wake ordering?"
It isn't clear from the documentation in mutex.h whether `absl::CondVar::Signal` wakes up waiters in FIFO or LIFO order. [This comment](https://github.com/abseil/abseil-cpp/blob/master/absl/synchronization/mutex.h#L716) says FIFO, while [this one](https://github.com/abseil/abseil-cpp/blob/master/absl/synchronization/mutex.h#L749) suggests LIFO.

The underlying implementation looks like it uses a s

[2018-01-15 14:22] nolange opened #80 "Support using Abseil via CMake find_package"
Hello,

I have a bit of trouble using a local Abseil installation, as I dont want to depend on external packages with some fixes URL nor some fixed filesystem paths.
Cmake already HAS the necessary infrastructure to allow building dependend modules.

For using Abseil in your Project, just this would be necessary:
[code]

And, given the worst-case that abseil and cctz are in no directory that can b

[2018-01-16 01:23] derekmauro commented on #79
Thank you for bringing this to our attention. I'll get the documentation fixed.

I was a bit surprised that the documentation makes any claims at all about about this. The practical answer is that you should never assume anything about the order in which threads will run. Since you have no way of knowing exactly when a thread was blocked, the order in which threads are woken must not matter to the

[2018-01-16 14:54] stayprivates opened #81 "absl::inline_string in the pipe ?"
Hi,

Is there an absl::inline_string object, much like absl::inline_vector in development?  I'm asking because if it is, in the not so distance future or currently in progress, I'll wait, don't want to waiste time doing stuff that already exists.. If not, I would give a try at creating one.

The end goal would also be to add support for all string related functions, StrCat and alike.

Regards,

Ma

[2018-01-17 01:19] danburkert commented on #79
I work with @adembo, so I have some context about the motivation behind the question.

We're looking at using the abseil condvar in order to get LIFO wakeup ordering amongst sleeping threads in a threadpool.  This ends up being important in our use-case because it makes it easier to clean up more threads faster with a simple timeout on the condvar, and because it means less costly context switches

[2018-01-17 02:15] derekmauro commented on #79
I've already submitted the change that removes the claims about the order in which threads are woken (as I mentioned, I was very surprised to see that claim in the first place) and it should be propagated to GitHub shortly.

I'd also urge you not to depend on this implementation detail. See also: [Hyrum's Law](http://www.hyrumslaw.com/).

For the threadpool use case, LIFO wakeup ordering isn't cra

[2018-01-18 00:27] mbxx commented on #81
No, that's not something we're working on because the implementations of std::string provided by GCC, LLVM, and MSVC all include the small string optimization.  (Please forgive me if you're already aware of this, but that's where small strings are stored inline and larger strings are allocated on the heap.)  The only limitation I'm aware of is unlike absl::InlinedVector, you can't specify how many

[2018-01-18 00:31] derekmauro commented on #79
Documentation change is in 5a8de8a37e3e282d22f69ca67b4aba8e4cca63ae. Let us know if you have questions.

[2018-01-18 00:31] #79 closed, assigned to derekmauro

[2018-01-18 14:49] stayprivates commented on #81
Stuck using 4.8.3, it does not have small string optimisation.  Further more most of our string are too big for sso.

Been playing with llvm SmallString, getting good performance boost but I'd rather we use abseil than go tho the trouble of incorporating llvm stuff in our code base. Abseil is way friendlier as a lib.

[2018-01-19 15:30] mbxx commented on #81
Ah, got it, that makes a lot of sense.

Thanks for thinking of us and I'm really glad to hear that you find Abseil friendly to work with.  Unfortunately we don't have an inlined string type coming out, so I don't think we can help.

[2018-01-19 15:30] #81 closed, assigned to mbxx

[2018-01-22 20:26] JonathanDCohen commented on #80
Hey there!  This looks reasonable at first glance -- rght now our CMake support is still very much experimental, but it should stabilize hopefulyy in the next couple of quarters as the team gains more cmake knowledge and experience.

My understanding is that we should also provide a FindAbseil.cmake file to go with this, yes?

[2018-01-22 20:27] JonathanDCohen commented on #74
This is a test only library.  I think the correct solution is to turn this library off when we turn off test builds as we currently recommend for using Abseil with CMake.  Sound good?

[2018-01-22 20:37] prateekr commented on #74
Yep, makes sense.

[2018-01-23 10:01] nolange commented on #80
`FindAbseil.cmake` would be necessary if Abseil does not provide CMake support itself. This is then typically used in the packages using Abseil or provided with CMake itself.

There might be exceptions to the rule, but generally you provide the `AbseilConfig.cmake` file to be able to build it as submodule (illustrated above). Then you add support to installing some CMake helpers via the `install(E

[2018-01-24 02:09] stayprivates opened #82 "Increase usefulness of InlinedVector"
Hello,

Apologies if this has been discussed internally and design choice made for reason, I'm not aware of.

While trying to switch our code from using llvm::SmallVector to absl::InlinedVector  I hit a snag.  LLVM uses a proxy template class SmallVectorImpl<Type>.

With this object one can create something like this:

void foo( SmallVectorImpl<int> &obj);
void oof()
{
  SmallVector<int,,100> hund

[2018-01-24 02:47] derekmauro commented on #82
I don't think we've ever hit upon that specific use case.

Have you looked at [`absl::Span`](https://github.com/abseil/abseil-cpp/blob/master/absl/types/span.h)? It isn't exactly what you are looking for, but you can use it as a function parameter to accept a view into generic array data. It isn't specific to vector (so there is no `push_back()` method, for instance), but it might work depending o

[2018-01-24 07:01] stayprivate commented on #82
That would only work if the objet is read only. In my example, foo() could grow the vector to size beyond the initial capacity, moving data from the stack to the heap.A span would definitely not apply here.

[2018-01-24 16:39] derekmauro commented on #82
I feared that was the case.  Sounds like something @JonathanDCohen could consider as an enhancement to InlinedVector.

[2018-01-24 16:52] tituswinters commented on #82
The contents of Span are mutable - if you need to grow beyond the input Span into a vector (moving data from stack to heap) that's doable, no?

Or is the point that you want to actually resize the underlying vector/InlineVector?

[2018-01-24 17:12] stayprivates commented on #82
The content is mutable ok, but all the capability of InlinedVector, like resizing are lost.  I don't see how the function using the Span is able to grow it safely, given that if it goes over the threshold that data is moved around.  And all while keeping the InlinedVector object valid?

[2018-01-24 18:11] JonathanDCohen commented on #82
You can't grow the vector through a Span.  However, I'll pint out that even if we used a proxy template Impl class, we make no guarantees about the stability of internal APIs and wouldn't support clients making functions with the kind of signature you suggest.

Typically for this I'll do something like

[code]

if you need push_back, emplace_back, etc, or just

`void foo(Span<int> v) {}` if you ju

[2018-01-24 19:09] stayprivates commented on #82
Johathan,

You seems to suggest that because I refered to an "Impl" class,  that is it part of the internal API, but that does not have to be the case.  I should have you a different name ;-)  Check what llvm has to say about SmallVectorImpl:

As for:

[code]
I fail to see how the implementation of foo can compile without knowing about Vector, which would be "impossible" if foo is provided as an A

[2018-01-24 20:51] JonathanDCohen commented on #82
Let me make sure we're on the same page -- you're worried about if foo() was provided as an interface in a precompiled library.  Then there's no way the compiler could generate foo<InlinedVector<MyType, N>>.

That's a case we don't really hit at Google because we compile everything from source and use static linking for most of our binaries.

[2018-01-24 23:50] JonathanDCohen commented on #67
An internal change is out for review, and should be upstreamed in the next few days.  Thanks for the report

[2018-01-25 01:04] stayprivates commented on #82
There is that, yet but most importantly for me, don't want to force anyone using InlineVector in their API to force usage of template on their user.

Also, unfortunately we don't have access to a compiler farm to build stuff quickly, so cutting down on recompile, dependancies and stuff is of importance.

Thanks.

[2018-01-25 01:04] #82 closed, assigned to JonathanDCohen

[2018-01-25 02:57] rongjiecomputer commented on #34
@zhangxy988 I am willing to help on this one.

My plan is to create a new internal header file (`absl/base/internal/windows_types.h`?).

In this header file, we will define some of the Windows type like `DWORD`, `SHORT` needed by Abseil in internal namespace (`absl::base_internal`, `absl::base_internal::win32`?). Access them as `absl::base_internal::win32::DWORD` etc..

For `SRWLOCK` and `CONDITIO

[2018-01-25 03:04] rongjiecomputer commented on #34
@zhangxy988 If that sounds too confusing, I can prepare a PR first and continue the discussion there.

[2018-01-25 16:42] JonathanDCohen commented on #80
Okay, getting back around to this.  Just to make sure I'm understanding your proposal correctly, since I'm still learning CMake -- this would, via install mechanism, compile abseil from source into a system libabseil library, which then could be found automatically via find_package?

Would this library get rebuilt on each compile?  A main concern of ours whenever install() rules come up is that we

[2018-01-28 14:57] gavxin opened #85 "VS2017 build warning C4819 on non-english code page."
Hello, I'm trying to build abseil-cpp on Windows with installed VS 2017. My default code page is 936 (Simplified Chinese) and when build abseil will occur following error.

[code]

Here is one solution. Add `/utf-8` option to `MSVC_FLAGS` in file `absl/copts.bzl`

[code]

[2018-01-29 18:17] JonathanDCohen commented on #85
Which character was the compiler complaining about?

[2018-01-30 07:53] gavxin commented on #85
I found two position.

`unaligned_access.h` the two double quotes are unicode chars.

https://github.com/abseil/abseil-cpp/blob/46ed9d96d1412223d22430ca2aed4411894c2d63/absl/base/internal/unaligned_access.h#L145

`absl/strings/str_split_test.cc` the test case `TEST(Split, UTF8)` is testing utf-8 string splitting. It's just test case so maybe no need to change.

https://github.com/abseil/abseil-cpp

[2018-01-30 22:34] JonathanDCohen commented on #85
Since Abseil is fairly low-level, instead of forcing utf-8 in msvc builds, I think the correct move is to make our source files all ascii.  So I'll write up a patch to change that test to use unicode escape characters, which should make it agnostic to file encoding.

That being said, Abseil files are utf8 internally, so I'm not sure what other monsters there may be lurking if someone tries to use

[2018-01-31 02:05] gavxin commented on #85
It make sense, it's better make source file as ascii than forcing utf-8 for msvc.

Thanks

[2018-01-31 18:17] manshreck commented on #85
Note that the test is actually testing utf8 characters. I don't see how we can have a test for utf8 in ASCII ...

We should definitely prefer ASCII for source files, IMO, but I'm not sure requiring them to be ASCII is the best option.

[2018-01-31 18:30] mbxx commented on #85
Jon and I chatted about this yesterday, and I came to the conclusion that Abseil files should be ASCII.  Abseil strives to be as broadly usable as possible.  Usually this takes the form of writing code that works on a wide variety of platforms, dodging bugs in those platforms if necessary.  Here it means avoiding UTF-8 because some toolchains we want to support can't handle it.

The alternative is

[2018-02-01 01:22] jorgbrown commented on #85
The MSVC error message says "Save the file in Unicode format to prevent data loss"

Just curious: What does it mean to save the file in Unicode format?  Does it just add a UTF-8 BOM to the beginning of the file?  Or is there additional metadata in the filesystem to tell MSVC that the file is Unicode?

[2018-02-01 01:32] aurelienrb opened #87 "Add a version number to the library + git tag"
Hello,

I can't see any version number / scheme in the library. Does it exist?
It would be nice to have such version numbers reflected via git tags (and probably the cmake file) in order to:
- clone the repository on a specific tag in order to ensure repeatable builds & environment setup
- know if a new version has been released and compare what's new regarding the version we are currently using

[2018-02-01 01:54] aurelienrb commented on #87
Note that there's a similar issue with the abseil dependency `cctz` : the last tag is `v2.1` but it does not contain the CMakeLists.txt file that exists in master.

[2018-02-01 18:13] ahedberg commented on #87
Hi Aurelien,

Abseil is not using semantic versioning. We're recommending that users choose to [live at head](https://abseil.io/about/philosophy#we-recommend-that-you-choose-to-live-at-head). If specifying a specific commit is important for repeatable builds, we encourage folks to update their Abseil dependency regularly.

Titus Winters' [CppCon talk](https://www.youtube.com/watch?v=tISy7EJQPzI) d

[2018-02-01 18:24] JonathanDCohen commented on #85
"Unicode format" seems ambiguous.  Anyways it looks like my internal patch to remove non-ascii characters has been upstreamed, and ASCII fits in all flavors of Unicode.  Is this problem still persisting?

[2018-02-01 22:18] aurelienrb commented on #87
Hello,

I think 2 things should be distinguished:
- dependency management through semantic versioning
- traceability management through any kind of versioning (release date...) + changelog

I understand the issues with the first point, but I am dealing with the second one. For example, I can be forced for legal reasons to be able to list the complete and exact code that has been compiled and shipp

[2018-02-01 22:28] zhangxy988 commented on #34
@rongjiecomputer : Sorry for the late reply! I lost track of this issue recently.
Thanks for your concrete suggestion. TBH, I don't think I have the technical expertise to make a decision here. I will run this by in our team and will let you know soon. For now, please hold on making a PR (I don't want to waste your time).

[2018-02-02 16:06] gavxin commented on #85
Try to build 0ec11bad6fc18822e851b25344f027491cc85746 , `str_split_test.cc` still cause following warnings.

[code]

It just test, maybe I should ignore it.

[2018-02-02 18:32] ahedberg commented on #87
Our commit messages contain a log of everything that changed in that commit, e.g. [this one](https://github.com/abseil/abseil-cpp/commit/0ec11bad6fc18822e851b25344f027491cc85746) from 2 days ago. We push a new version roughly every US business day. We're concerned that having a changelog beyond what we provide in commit messages will affect whether users update their versions or not--and we really

[2018-02-03 05:58] rongjiecomputer commented on #34
@zhangxy988 I made an edit to my suggestion (see strikethrough and EDIT), in case you already forwarded the old suggestion to your team. I made the mistake because I thought `.inc` file is the same as `.h` (header) file.

[2018-02-03 14:05] nolange commented on #80
**My proposal** is making CMake support better.

- The patch from my first post adds support for compiling with your project (some compiler-flags and everything)
- The `install` portion would be an additional step, common to CMake project are helpers who do what you apparently don't want: install a static or dynamic library for building dependent projects. I haven't used this much, but there can b

[2018-02-04 02:19] aurelienrb commented on #87
Indeed, but that's considered bad practice:
http://keepachangelog.com/en/1.0.0/#bad-practices

I started to use abseil a few months ago, and I have no idea of what has been added since then. Glancing the code base or a noisy git log is painful. As a result, I'm less likely to use more features and benefit from frequent updates.
By *frequently*, what do you mean exactly? Is it once a day/week/month

[2018-02-06 16:19] ahedberg commented on #87
It sounds like we're coming at this from different premises. We know live-at-head is a big jump, and we'd like to hear more about where you're coming from. If you're interested in a more real-time method of communication, feel free to send me an email (append "@google.com" to my username), and we'll coordinate from there.

[2018-02-08 00:48] nico opened #90 "ABSL_FALLTHROUGH_INTENDED should be in a dedicated header"
When clang suggests adding [[clang::fallthrough]], it checks if it knows of a macro expanding to that and if so, suggests inserting that. Chrome has its own FALLTHROUGH macro, but chrome's deps might soon depend on absl, so if ABSL_FALLTHROUGH_INTENDED gets pulled in globally, clang will suggest that instead of the FALLTHROUGH specific to chrome.

The dedicated header should advise to not include

[2018-02-09 13:42] Mizux commented on #80
please look at #38
TLDR you should depends on abseil as `add_subdirectory()` than trying to install it first.
That's why abseil team don't want to provide install rules AFAIK.

you can look at this example if you want: https://github.com/Mizux/cmake-abseil
Please note the windows/alpine issues spotted (^v^);

[2018-02-09 16:30] zhangxy988 commented on #90
ABSL_FALLTHROUGH_INTENDED is already a public interface of Abseil, not an internal implementation detail. And it would be hard to move a public interface to internal.
I'd like to understand this issue better too. If chrome depends on absl, chrome no longer need FALLTHROUGH because it already has ABSL_FALLTHROUGH_INTENDED. So what is the problem of "clang suggesting ABSL_FALLTHROUGH_INTENDED" if ch

[2018-02-14 14:36] ahedberg commented on #85
I'm looking into fixing the `str_split_test.cc` failures.

[2018-02-16 04:29] mayah opened #92 "clang-cl.exe (on 64bit Windows 10) fails to compile debugging/internal/stack_consumption.h"
debugging/internal/stack_consumption.h contains a feature check like

[code]

With cl.exe, this feature check is resolved to false, so it's OK.
However, with clang-cl.exe, `__x86_64__` is defined, so this feature check is resolved to true. Then stack_consumtion.cc compile fails.

I think we should have `!defined(_WIN32)` if this is not intended to work on Windows.

[2018-02-16 15:35] ahedberg commented on #85
This has been fixed internally; just waiting for the change to be propagated to GitHub.

[2018-02-16 16:15] mbxx commented on #85
I just pushed the change to GitHub.

[2018-02-16 16:15] #85 closed, assigned to ahedberg

[2018-02-16 20:10] JonathanDCohen commented on #80
[code]

The part marked with arrows is what we don't want to support.  Because as soon as one of your dependencies has a different libabseil, you're swimming in an ocean of ODR violations.  We don't provide ABI stability -- if you want to use a compiled version of ABseil, that's your business, but we don't want to support it.

Being able to specify some other abseil directory, on the other hand, i

[2018-02-16 21:57] nolange commented on #80
You got that **completely wrong**, that's the directory libabseil.a will be **built in**, the directory where the Abseil sources are is given at commandline with `-DAbseil_DIR=<local path>`.
I would want to use Abseil with a cross-compiled project, so you don' t need to preach about the downsides of pre-compiled libraries in my direction =)

This already works with the patch in the very first post

[2018-02-17 09:44] Mizux commented on #80
Hi,
So first we are all agreed to have a single abseil (not prebuilt !) in your super-super-cmake build project.
So my current workflow currently for incorporating a dependencies in my project is:
1) Check if the cmake target (with cmake namespace if possible) is present
2) if not, use ExternalProject to retrieve the source and incorporate it in my CMake build.

note: 1 is needed if several deps (

[2018-02-20 15:08] derekmauro commented on #92
Should be fixed in 03c1513538584f4a04d666be5eb469e3979febba.

[2018-02-20 15:08] #92 closed, assigned to derekmauro

[2018-02-21 19:21] solvingj opened #93 "381 instances of "C2719" (MSVC-only errors) with CMake"
Here is an example of the errors:

`C2719: 'other': formal parameter with requested alignment of 16 won't be aligned [C:\Users\appveyor\.conan\data\abseil\20180208\bincrafters\stable\build\349406f0066fed73a99d8a5bff4fcdfd4b07107f\source_subfolder\absl\numeric\absl_int128.vcxproj]`

CI Log:
https://ci.appveyor.com/project/BinCrafters/conan-abseil/build/1.0.68/job/auprrao9nr9phetm#L1682

It seems re

[2018-02-21 20:43] astrelni commented on #93
Is this a 32-bit build? My working hypothesis is that this is a 32-bit build which means alignof(max_align_t) is 8, and the request for 16 byte alignment is not supported. I will get to work on a fix.

[2018-02-21 21:25] solvingj commented on #93
Indeed it is, thanks so much!
[code]

[2018-02-22 14:16] nico commented on #90
It's possible that Chrome might not want to use absl but one of chrome's deps starts using it for example. And even if Chrome does start using some of absl, going from FALLTHROUGH to ABSL_FALLTHROUGH_INTENDED looks like a step back.

[2018-02-23 01:19] wjywbs commented on #68
Hello, is there any progress on this? Is the flat map about the same as the one in tensorflow? I didn't find the sse instructions mentioned in the video though. Thanks.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/lib/gtl/flatmap.h

[2018-02-23 15:45] solvingj commented on #93
@astrelni can you confirm that is likely the cause?

[2018-02-23 16:17] astrelni commented on #93
@solvingj Yes, to the best of my knowledge that is the issue. A fix went in yesterday that will come out with the daily release either today or Monday that removes the alignment specifier on platforms that do not have __int128. This incidentally should also solve the issue here since MSVC does not have an __int128.

[2018-02-23 16:20] solvingj commented on #93
Wow, that's really awesome and fast turnaround.  This project is great :) Thanks for the feedback.

[2018-02-23 17:01] tituswinters commented on #68
AFAIK, the tensorflow utility APIs tend to be simple re-implementations of the things that we're shipping, at a glance that's the case for that one.

I don't have an ETA for releasing the maps that Matt was talking about.  @JonathanDCohen is poking at it, but has mostly been focusing on better cmake support and double checking exception safety.

[2018-02-23 17:21] derekmauro commented on #93
The fix is in 0d40cb771eec8741f44e5979cfccf1eeeedb012a. Let us know if you are still having problems.

[2018-02-23 17:21] #93 closed, assigned to astrelni

[2018-02-23 18:23] solvingj commented on #93
looks good, all green

[2018-02-27 23:26] mbxx commented on #90
Let me go a little further than @zhangxy988: ABSL_FALLTHROUGH_INTENDED is intentionally part of Abseil's public API.  The purpose of it is to give code that exists both as open source and as Google-internal code a single macro that works in both situations.

@nico, you said that "going from FALLTHROUGH to ABSL_FALLTHROUGH_INTENDED looks like a step back".  Why is that?  Do you object to the spelli

[2018-02-28 03:15] coryan opened #94 "absl::numbers_internal assumes CHAR_BIT == 8"
The code assumes extensively that CHAR_BIT == 8 for example:

https://github.com/abseil/abseil-cpp/blob/master/absl/strings/numbers.h#L138

reads:

[code]

This is only true on platforms where `CHAR_BIT == 8`.  There are platforms out there where `CHAR_BIT == 16` (I have actually ported code to platforms where `CHAR_BIT == 64`, but I digress),  and therefore a 32-bit integer would have `sizeof(..)

[2018-03-01 21:38] mbxx commented on #94
We don't specifically intend to restrict Abseil to platforms where `CHAR_BIT == 8`, but that is the case for all of the platforms that we have ready access to.  You're right that this assumption should at least be documented.  We're also open to the idea of relaxing it.

Are you looking to use Abseil on a platform where `CHAR_BIT != 8`?  If so, we'd love more information about what you'd like to d

[2018-03-01 22:07] coryan commented on #94
I have no specific plans to use Abseil on strange platforms.  The `static_assert` proposal LGTM.

[2018-03-05 14:36] LebedevRI commented on #87
I'd like to re-surface this issue. I'm analyzing the possibility of using abseil in https://github.com/darktable-org/rawspeed/issues/122

https://abseil.io/about/philosophy#if-you-choose-to-not-live-at-head states:
[code]

(As of right now, there are no tags, and no versioned branches in the repo.)
Two questions:
* Is that still true?
* If yes, when is the first tag planned?

[2018-03-05 17:32] ahedberg commented on #87
I expect that the Abseil team will discuss versioned branches and tags this week. We don't have an answer for you yet, but should in a couple of days.

[2018-03-06 02:29] isaachier commented on #38
I realize this is an old post, but I plan on adding Abseil to the [Hunter](https://github.com/ruslo/hunter) package manager. I think Hunter really aims to do what Bazel does, but builds the functionality on top of CMake as opposed to reinventing the build system. Hunter is the best when you don't need to worry about compatibility with existing deb packages and the like.

[2018-03-06 14:22] JonathanDCohen commented on #38
We're having a team summit this week, and CMake support will come up.  We will be discussing source installation, and also solidifying our plans for periodic stable releases.  So stay tuned!

[2018-03-09 01:05] isaachier commented on #87
@ahedberg any news yet?

[2018-03-09 20:36] ahedberg commented on #87
Some more internal discussions need to happen first, but:

- Yes, we still plan to periodically mark a tag as “supported” and branch it.
- We plan to make the first one soon, hopefully within the next few weeks.

[2018-03-09 20:40] isaachier commented on #87
You could do what [folly](github.com/facebook/folly/releases) does and use the current date. Just need a marker to download the same copy from github.

[2018-03-09 20:42] LebedevRI commented on #87
@ahedberg has there been talks with the actual distro people (packagers), who know how linux packaging actually works?
As highlighted in https://github.com/darktable-org/rawspeed/issues/122#issuecomment-370947396, there **may** be some rather noticeable flaws with the current design. It might be best to at least talk about it.

[2018-03-09 21:46] aurelienrb commented on #87
May be you should also talk with the folks developing Go. Basically they followed a "live at head" strategy for many years with the `go get` command that can only fetch the latest version available on the master branch of a given dependency. And now we know this is problematic.

That's why they introduced support for source code vendoring and are working hard today on fixing this "live at head" is

[2018-03-09 22:22] isaachier commented on #87
Too bad C++ doesn't allow for multiple definitions of the same symbol (one definition rule). Go can take advantage of the fact that packages are more or less equivalent to the basename of the directory containing the source. Namespaces in C++ have no relationship to the directory so symbols cannot be adjusted accordingly.

[2018-03-09 23:30] aurelienrb commented on #87
Actually C++ allows for multiple definitions across different translation units for inline / template code. The constraint is they must be consistent. I wonder how a language could not follow that principle, but in C/C++ it's easy to link modules built with different compiler / preprocessor flags, thus the deception.

Go has its own package versioning strategy by playing on the folder names : mypa

[2018-03-09 23:38] LebedevRI commented on #87
Actually, it's even worse than that.
And from what is known so far, i'm not too sure the actual problem has been considered.

[2018-03-13 11:11] isaachier commented on #87
@aurelienrb sorry for the late reply. I think C++ gets away with it with templates because of name mangling. And by inline, at least in theory, there shouldn't be a symbol emitted anyway. But consistently defining symbols that are redefined based on the location of the object is not part of the C/C++ repertoire. Thus, we are forced to use only one version of any given library.

[2018-03-13 22:51] aurelienrb commented on #87
@isaachier *Thus, we are forced to use only one version of any given library.* Ah ok, I get your point now, thanks for the clarification! Regarding the possibility to have multiple definitions of a symbol, there's a good clarification [here](https://stackoverflow.com/a/4193698).

[2018-03-14 08:44] LebedevRI commented on #87
@JonathanDCohen, @ahedberg
The question that needs to be answered along with deciding on tagging is:
* If only the program uses abseil, then it can use one version of it.
* If the program also uses a library that uses abseil, then it needs to use the same version of abseil as that library. Cool.
* But if the program uses two or more libraries that use abseil, then the clusterfuck begins.

There ar

[2018-03-14 09:54] nolange commented on #80
I am still trying to get my head around this, but your approach seems rather sensible, thanks @Mizux . There aren't much indepth guides discussion the option of managing depend projects with CMake.

ie. those 3 options should be transparent to the rest of your project (configured via CMake defintions on the cmdline):

1. use dependency from source from a path (potentially subdirectory / git submod

[2018-03-14 13:54] Mizux commented on #80
Yes, I guess Yocto community will be happy to have an abseil-cpp recipe (they already have CMake plugin provided the CMakeLists.txt contains install rules)

@nolang I guess 1) "dependency from source" could be split in two topics:
1a. use dependencies from source given an "env_DIR" variable
1b. automatically retrieve dependencies sources and incorporate it using ExternalModule (pro:
user just run

[2018-03-14 14:43] isaachier commented on #87
@LebedevRI very good summary of the problem! I don't think Google cares to package any library that depends on Abseil. The reasoning: why else use Bazel to clone everything from the web if you already have packages installed? Implication is that Google internally has no use for the distros so they aren't relying on them at all.

[2018-03-14 15:24] nolange commented on #80
I have troubles with 1b, namely that this will either need to download during configuring, or you will have to hardcode correct paths/dependencies as you cant use a `CMakeLists.txt` that ain't there yet.

Usually I would want to always write CMakefiles that use the installed targets (eg. Hugo::Hugo instead of hugo). Which means to install all dependencies (that aren't already available).

The idea

[2018-03-14 15:44] Mizux commented on #80
Sorry if I miss something but with target alias (if provided -_-) you can use Hugo::Hugo even when add_subdirectory() deps.

separate CMakeLists.txt did you means something like https://github.com/google/or-tools/blob/master/cmake/external/CMakeLists.txt (cf directory for deps) ?
TLDR: you use ExternalProject/cmake command to download **only** deps then you integrate CMakeLists.txt deps on the fly

[2018-03-14 17:46] nolange commented on #80
yeah, I already used the ALIAS trick, still that's extra code that someone has to maintain. In a perfect world a helper like ExternalProject could just use the install statements to create such shims.
Its actually what I expected of CMake before I started doing some more complicated setups.

libs would be used across multiple projects ideally, not distro (might be a different cpu architecture or O

[2018-03-14 18:02] aurelienrb commented on #87
AFAIK, the position of Google / Titus is that every change is potentially a breaking change. Therefore semver is a fallacy (looking at how many npm packages fail to respect the contract with a language much simpler than C++ seems to prove him right).

My position is that source code versioning is not just about managing breaking changes, it's also about managing features.

[2018-03-14 20:12] JonathanDCohen commented on #87
Yes, this is the position of Abseil.  We will never use semantic versioning.

As for releases, we discussed this a good amount at the summit last week.  Here is a dump of thoughts --

We will begin our Long Term Support tags once two things happen -- source installation with CMake, which I'm currently writing, and a story for an internal issue which should resolve in the next couple of weeks.  A L

[2018-03-14 20:16] isaachier commented on #87
No offense, but cmake installation is something almost every project does wrong. I blame the CMake docs for hiding this essential step deep in their site. Here is an excellent sample I base all of my CMake installations on: https://github.com/forexample/package-example/blob/master/Foo/CMakeLists.txt.

[2018-03-14 21:16] JonathanDCohen commented on #87
Can you be more specific?

[2018-03-14 21:24] isaachier commented on #87
A few things. First and foremost they don't install a package config. Not to be confused with pkg-config, CMake package configs export the targets for other CMake projects. Then, if they do somehow install a config, they will hand write ugly variables such as ABSEIL_LIBRARIES and ABSEIL_INCLUDE_DIRECTORIES. this pattern is no longer helpful to users. If you use the install(export) mechanism and yo

[2018-03-14 21:35] JonathanDCohen commented on #87
Yes, the plan is to do an install(export) to install abseil CMake targets in the absl:: CMake namespace

[2018-03-14 21:35] LebedevRI commented on #87
Ok, now i'm fully lost the though. Why install sources?
I guess there will be **zero** reaction to the points in https://github.com/abseil/abseil-cpp/issues/87#issuecomment-372945260. Sad.

[2018-03-14 21:59] JonathanDCohen commented on #87
I hear your frustration, and we're trying to come up with solutions which work for everyone.  Our plan is to do tagged releases every 6 months, and possibly also tag our daily releases.  This sounds more or less like your "sane-ish" plan.  Is there something else you're looking for?

[2018-03-14 22:09] LebedevRI commented on #87
Yes, adding a warning page to the website that
1. Will warn distros about The Issue (`But if the program uses two or more libraries that use abseil, then the clusterfuck begins.`),
2. And _suggest_ the way forward (see `.. to package one and only one abseil version - that last tag.` + `.. that one and only way the packaged programs can use abseil is by using that distro-provided abseil.`)

I have

[2018-03-16 16:35] JonathanDCohen commented on #80
Hey @Mizux

So your idea is basically what we want to go for.  Looking at other projects (folly, really) it looks like what we need to do from our end is an install EXPORT rule so you can reference abseil targets, and then an install(DIRECTORY) to copy abseil's files over into your source directory.

One unfortunate thing is that our headers and .cc files are in teh same folders because that's jus

[2018-03-16 16:51] JonathanDCohen commented on #38
Okay everyone.  So a couple things --

We will be tagging long-term-support branches around every 6 months.  There are a few wrinkles internally but this will start soon, and we'll have a more complete announcement when that happens.

As for CMake we're definitely down with source installation -- I left https://github.com/abseil/abseil-cpp/issues/80#issuecomment-373770822 on another issue but I'll

[2018-03-16 19:31] Sarcasm commented on #38
To me, it feels like you want the compiler to do its job correctly, that what it compiles and what it uses is not just compatible, but really the same.
But you don't seem to care about using the CMake build system correctly.

Another funny thing, is to promote "live at head", but require ancient time CMake (2.8.12).

You want to force people to have a coherent/correct workspace built with CMake, b

[2018-03-16 19:40] isaachier commented on #38
@sarcasm the only part I disagree with is the way end. CMake does have inherent support for building external projects. That is the basis of one of my favorite projects Hunter (https://github.com/ruslo/hunter). I really believe Hunter is exactly what this project wants, but for some reason or another the motive to keep using classic CMake is too powerful. For the record, Hunter uses backwards comp

[2018-03-16 20:17] gennadiycivil commented on #38
@Sarcasm , re: CMake 2.8.12 - good probability that Abseil will require much newer CMake soon.

[2018-03-16 20:28] nolange commented on #80
yes everything will explode if you use different incompatible versions. you are missing out that it is completely unrelated whether `find_package` was involved, you will get the same mess with any other mechanism if you don't specify the same package version.

`find_package` to me, is the canonical way to reuse software modules in CMake, so this would be the first attempt to get it working. You ca

[2018-03-21 14:58] bfierz opened #96 "Make commit short-message of staging PR more readable"
Currently, merges that originate from the staging branch don't contain any useful information without opening the pull-request. All read:
"Changes imported from Abseil "staging" branch".
Do you see any possibility in changing it such that it is more descriptive about the changes it makes?

Thanks
Basil

[2018-03-21 16:33] JonathanDCohen commented on #38
@Sarcasm I'm a little confused at your response.  I'm basically proposing doing https://github.com/google/googletest/blob/master/googletest/CMakeLists.txt#L114 for Abseil, allowing it to be used in the same way as googletest.  I'm not sure what I'm missing.

[2018-03-21 16:49] isaachier commented on #38
I hate to use reddit as a source, but this is a pretty good summary of the issue:

"I've used both pretty extensively at work, and use Bazel for my hobby projects. They're great to work with, so long as you buy into the monorepo pitch. Hermetic, reproducible builds...
The big problem is that they're a little bit all or nothing -- whatever third party project you want to depend on probably assumes

[2018-03-21 17:10] Sarcasm commented on #38
@JonathanDCohen

The GoogleTest CMake snippet you linked to, installs the binary targets:

[code]

https://github.com/google/googletest/blob/dccc2d67547a5a3a97e4f211f39df931c6fbd5d5/googletest/CMakeLists.txt#L114

If that's what you propose, then I'm all for it, and I'm sorry for the misunderstanding.

Sadly, I don't think that's what you proposed by rereading this (emphasis mine):

-- https://git

[2018-03-22 20:44] JonathanDCohen commented on #38
I'm wondering if there isn't a miscommunication here, after talking with some other people internally.

Is the concern that you'd like to do something like `apt-get install abseil` and then find_package(Abseil)?

[2018-03-22 21:20] coryan commented on #38
While I do not expect the Abseil developers to provide packages for every platform out there (`apt-get install abseil`, and `vcpkg install abseil`, and `brew install abseil`, and `dnf install abseil`, etc. etc.) I would like them to make it easy for package maintainers to create such packages.  Part of making that easy is that `make install` should work and install the necessary headers, libraries

[2018-03-22 21:22] Sarcasm commented on #38
I firmly believe the clean way to use packages with CMake is to use `find_package`.
I'm not interested in system-wide installation of Abseil, I install locally and use `-DCMAKE_PREFIX_PATH=<path/to/local/abseil/install>`.
I don't want my project to rely on `add_subdirectory`, and to break at any unexpected change from the Abseil CMakeLists.txt after an upgrade.

I'd like the `install` rule because

[2018-03-22 22:03] JonathanDCohen commented on #38
Okay great, I think I understand the issues here.  Let me make my goals clear from my end, and hopefully we can move forward with this:

What I'm aiming to do *right now* is support live-at-head use of Abseil with CMake.  This necessarily involves the configuration-time dance that googletest does, or else users have a superbuild and use ExternalPRoject

In the near future, abseil will start to cut

[2018-03-22 22:18] isaachier commented on #38
Thank you @JonathanDCohen for your dedication here. First, I'm not sure how `absl/base/config.h` does anything like a CMake config. I think you might be confusing a compiler config with a CMake config. So let me give a brief explanation.

A CMake config (and pkg-config for that matter) solve a pretty basic problem. If I have library B that depends on library A, how do I determine the necessary hea

[2018-03-23 10:07] Bu11etmagnet opened #97 "CMake example does not build tests"
I created a CMake project by copy-pasting the example CMakeLists.txt
I cloned abseil-cpp, cctz and googletest into subdirectories, created a build directory and ran `cmake ..` there.
[code]

Abseil seems to be unable to find googletest.
benchmark is not mentioned at all in the readme.

[2018-03-23 12:54] coryan commented on #38
Thank you for clarifying the short-term goals.  You may want to open a separate bug or something called "Partial improvements to CMake support" or show folks a roadmap (without dates) where you explain how this fits into the plan to have releases with versioned namespaces and so forth.

Agree, `/usr/include/absl/*.h` (and deeper subdirectories as needed), is what I clumsily trying to say.  Or more

[2018-03-23 22:15] deeglaze opened #98 "absl::Mutex has multiple "no member named '...'" errors when !ABSL_HAVE_MMAP."
There are some declarations in mutex.h that are in the "else" branch of #ifdef ABSL_INTERNAL_USE_NONPROD_MUTEX that mutex.cc has no similar #ifdef protection around the definitions. This leads to many compiler errors.

[2018-03-23 22:30] derekmauro commented on #98
Can post the compile errors and give us details about the platform you are building this on?

[2018-03-23 22:31] deeglaze commented on #98
I just determined this is due to some BUILD select expressions that should be added for our platform. I'll have to work from a patched archive in the meantime.

[2018-03-23 22:31] #98 closed, assigned to derekmauro

[2018-03-27 15:45] JonathanDCohen commented on #97
Please try with -DBUILD_TESTING=OFF

[2018-03-27 20:41] nolange commented on #38
In a way - thats the whole point why we nag about an install target. Normally you would do this:

[code]

it should not matter whether you use a package manager or build from source, atleast for your project files. I don't know how the part before can be solved easily in an automated foolproof flexible configuration (I am leaning toward an extra CMakeList.txt thats independent from the my_project

[2018-03-28 09:00] Mizux commented on #40
or you can/should just test it on [kokoro](https://github.com/google/protobuf/tree/master/kokoro) once the export from Google code base is done ;)

[2018-03-28 09:29] Bu11etmagnet commented on #97
It works with `-DBUILD_TESTING=OFF`, but then what's the point of unit tests?

[2018-03-28 10:06] Mizux commented on #80
Sorry fall sick last week...
@JonathanDCohen I guess this topic could be close as now more or less a duplicate of #38.
(i.e. you need **install** rules with Config.cmake to be able to use  `find_package` (note: yes you can `export(EXPORT)` build tree to use `find_package` without install rules but I want to keep it simple...))

also vcpkg (Microsoft backed library package manager more/less based o

[2018-03-28 14:48] zhangxy988 commented on #97
AFAIK, our CMake currently does not, but will soon support building and running the unit tests.
We are under a overhaul of our CMake files. We will update this thread once that is done.

[2018-03-28 14:49] zhangxy988 commented on #96
@katzdm : I think this is related to how our internal tool generate the commit log message. Could you please check to see if we can customize the format to make it more friendly for one-line display?

[2018-03-28 14:51] zhangxy988 commented on #94
@mbxx: Is there any update on adding the static_assert?

[2018-03-28 15:07] zhangxy988 commented on #90
I don't think this issue can be addressed on the Abseil side: The problem is that Abseil wants ABSL_FALLTHROUGH_INTENDED to be a public API. If Chrome (transitively) depends on Abseil and has its own FALLTHROUGH macro, Clang has two macros to choose from for its diagnostic message. This will happen to any project (not just Chrome) with any deps (not just Abseil) as long as there are more than one

[2018-03-28 15:07] #90 closed, assigned to nobody

[2018-03-28 15:13] JonathanDCohen commented on #97
Yes, currently our tests only run on Bazel.  My goal is to have this remedied by the end of Q2.

[2018-03-28 15:28] JonathanDCohen commented on #40
@Mizux I'm not sure what you're suggesting.  We can't have a kokoro test for every possible compiler configuration.  Could you clarify?

[2018-03-28 20:23] mbxx commented on #94
Sorry, this has been on my todo list but it got buried under a series of fires.  I just mailed out an internal pull request adding two static_asserts to absl/strings/numbers.h.  Those looks like the most critical places.  If you see others, please feel free to point them out and I'll cover them, too.

[2018-03-28 21:23] JonathanDCohen commented on #80
Yeah, pretty much this is where I stand too

This is also where I stand.  Especially because absiel is about to drop our cctz dependency and so become self-contained in non-test builds, I don't really see an advantage of build/install/consume libabseil.a or whatever when you can just build straight from source without issues.

[2018-03-28 22:21] Sarcasm commented on #38
If I want to try a new library, like Abseil, I proceed as follow:

First, I have an existing workspace with just my app:

[code]

I will first get the Abseil cctz dependency:

[code]

Then Abseil (notice how this could be the same steps as cctz,
that's the advantage of using conventional CMake):

[code]

(1), (2) and (3) are all the reasons why departing from standard CMake is really painful,
none

[2018-03-29 18:11] mbxx commented on #96
I suspect this is a duplicate of the request for a changelog in https://github.com/abseil/abseil-cpp/issues/87.

@bfierz : I'd like to make sure I understand what you're asking for.  It sounds to me like you want a listing of any new features that are released.  Is that correct?

We're planning to put up blog posts when we release new APIs.  Does that give you what you're looking for?

[2018-03-29 19:04] bfierz commented on #96
The answer is yes and no. I would very much appreciate to have changelog/feature change list. This would then indeed correspond to #87.
However, when working with the master directly and going through the log (e.g. on github) all you see at first is a list with entries looks like this:
"Changes imported from Abseil "staging" branch:".
In the detailed message you'll then find:
"Bump version of baze

[2018-03-29 20:08] zhangxy988 commented on #96
FYI, we are looking into removing the boiler template "Changes imported Abseil "staging" branch". For example, currently the commit message is:

Changes imported from Abseil "staging" branch:".  <== removing this line
- <commit_hash> <description of 1st change>
- <commit_hash> <description of 2nd change>
- ...

[2018-03-29 20:10] bfierz commented on #96
Perfect, that is exactly the scope of my inquery.
I'm looking forward to this change.

[2018-04-01 06:17] Quincunx271 commented on #38
Could the FindFoo.cmake or foo-config.cmake be used to do a `git pull` then build/test if necessary? That would allow for the nice `find_package(absl)` syntax, while also keeping abseil up to date. Seems like abuse of those files, though.

[2018-04-02 02:52] isaachier commented on #38
@Quincunx271 I do not believe so. Those files are always used to find *precompiled* content, not source files.

[2018-04-02 12:56] nolange commented on #38
downloading anything during the configure stage is a anti-pattern to me, but no one forces the libraries that are found with `find_package` to be precompiled.

There are object libraries in CMake which could be used for that.
[code]

[2018-04-02 13:01] isaachier commented on #38
Well as I've said before, if that is what you are looking for, use ExternalProject or Hunter (https://github.com/ruslo/hunter).

[2018-04-03 15:55] katzdm commented on #96
As of yesterday, our commit messages should be a bit more meaningful - Let me know if this matches what you were hoping to see.

[2018-04-04 16:39] bfierz commented on #96
Looks a lot better, thanks. It's not ideal, but make the messages more helpful. Any change getting rid of the hash or using the short-hash at least instead of the long hash?

[2018-04-04 22:40] mattklein123 opened #100 "Compilation issue for absl::optional and GCC 7.2"
Please see the related Envoy issue here for an explicit example: https://github.com/envoyproxy/envoy/issues/2987

We are looking for guidance on how best to handle this in our code base. Is there any fix we can do in the library? Or should we globally disable this warning?

cc @htuch @jmarantz

[2018-04-05 04:41] bobby-stripe commented on #100
This GCC bug is related, but has seen little discussion since last summer: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=80635

[2018-04-11 19:12] mbxx commented on #94
A policy check for this has been added to absl/base/policy_checks.h.

[2018-04-11 19:12] #94 closed, assigned to mbxx

[2018-04-12 16:28] zhangxy988 commented on #100
I looked briefly at this issue and there doesn't seem to be anything we can do in absl::optional to suppress this false positive "-Wmaybe-uninitialized". I'd say just disable the warning globally for your build, or add `#pragma GCC diagnostic disable "-Wmaybe-uninitialized"` to the affected code if there aren't many.

[2018-04-14 18:16] StephanDollberg commented on #68
Hi @tituswinters, can we reopen this for tracking reasons?

[2018-04-16 12:27] tituswinters commented on #68
@shaindelschwartz is the new point person for this, I leave it up to her.

[2018-04-23 12:07] shaindelschwartz commented on #68
Sure.

Current generous estimate is that we should be able to release the API by early Q3.

[2018-04-24 09:58] pjachowi opened #102 "Compilation issue for absl::optional and clang++ 4.0.0"
The minimal invocation showing the error is:
[code]

Here is my clang version:
[code]

[2018-04-24 10:52] atetubou commented on #102
Can you compile following code on your clang++ with -std=c++14?

[code]

[2018-04-24 11:22] pjachowi commented on #102
Sure. Result below:
[code]

[2018-04-24 12:53] atetubou commented on #102
I think that this is not the issue related to this repository.
Your clang looks not configured correctly.
Related to this?
https://stackoverflow.com/questions/46214239/no-member-named-make-unique-in-namespace-std?rq=1&utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-24 13:03] pjachowi commented on #102
@atetubou Seems relevant. I'll check this. Thanks!

[2018-04-24 13:03] #102 closed, assigned to nobody

[2018-04-24 17:41] sabbakumov opened #103 "Chromium base::NoDestructor<T>"
What do you think of Chromium's base::NoDestructor<T> for local static variables (https://cs.chromium.org/chromium/src/base/no_destructor.h?q=base/no_d&sq=package:chromium&l=1)
So, instead of
[code]

one can write:
[code]

There's no malloc and pointer indirection.
What do you think of adopting NoDestructor to Abseil?

[2018-04-24 17:57] derekmauro commented on #103
Everything in Abseil is widely used in Google's production codebase. While Chromium is a Google project, it isn't the same codebase as our production codebase, and our production codebase doesn't have `base::NoDestructor`. We aren't considering anything that we have no experience with in our production codebase at this time.

[2018-04-24 17:57] #103 closed, assigned to nobody

[2018-04-24 18:08] derekmauro commented on #67
`malloc_hook.cc` is no longer part of the release. @scottnice is your issue fixed?

[2018-04-24 18:12] derekmauro commented on #65
I'm going to close this. It doesn't seem likely that we are going to do this.

[2018-04-24 18:12] #65 closed, assigned to tituswinters

[2018-04-24 23:54] scottnice commented on #67
Yes that fixed the issue. Thank you.

[2018-04-24 23:54] #67 closed, assigned to JonathanDCohen

[2018-04-25 07:25] willmafh opened #104 "anyway to build abseil as a whole"
I use opencensus-cpp in my project, but it depends abseil, therefore I use bazel to build abseil then copy many .so libs into the project's structure and then I have to use many -lXXX, I am wondering whether there is a way to build each parts of abseil into a whole one like libabseil.so and then I can link it directly with option -labseil...Another part that confuse me is CMake support...I read th

[2018-04-25 14:13] derekmauro commented on #104
I don't think we are going to provide a way to build Abseil as a whole, we'd rather you pick the parts you care about. However, you can probably create your own rule to build everything you care about into one .so, see https://github.com/bazelbuild/bazel/issues/1920#issue-182071880.

@JonathanDCohen, please see the question on CMake.

[2018-04-25 16:37] JonathanDCohen commented on #104
I'm confused.  opencensus-cpp builds with Bazel and has Abseil in their WORKSPACE file, so you should just be able to build that with Bazel and Bazel should take care of the dependency.

[2018-04-25 16:42] tituswinters commented on #103
We may want to revisit this - there is a very similar class in light use internally and some discussion about changing some style guide / TotW recommendations to rely upon it more heavily.  I think it wouldn't be shocking if we chose to ship one, it's just not on the roadmap.

[2018-04-25 22:18] Quincunx271 opened #105 "undefined reference to `absl::variant_internal::ThrowBadVariantAccess()'"
Abseil recently added `absl::variant`. Unfortunately, it appears that the source file that defines `absl::variant_internal::ThrowBadVariantAccess()` wasn't added to the github project.

I get this linker error:

[code]

[2018-04-25 22:29] derekmauro commented on #105
I haven't tried this myself, @zhangxy988 knows most about this, but I do see https://github.com/abseil/abseil-cpp/blob/faf0a1b90374eab44e8956973b0e13febdcf3377/absl/types/bad_variant_access.cc#L37. How are you building this?

[2018-04-25 22:30] Quincunx271 commented on #105
Ehh, I just forgot to link with `absl::variant` (CMake). Strangely enough, there is no `absl::bad_variant_access` like there is `absl::bad_optional_access` and `absl::bad_any_cast`

[2018-04-25 22:30] #105 closed, assigned to zhangxy988

[2018-05-01 21:50] #74 closed, assigned to JonathanDCohen

[2018-05-01 21:51] JonathanDCohen opened #106 "Tracking Issue: Abseil CMake Support"
There's been a lot of scattered discussion with respect to Abseil's CMake support.  We are now prepared to offer a sequence of milestones for Abseil's CMake support.  This tracking issue is meant to be a place of discussion on this sequence and a message board for when we are going to make potentially-breaking changes to our CMake files.  Individual milestones will be tracked in the [Abseil CMake

[2018-05-01 21:53] JonathanDCohen commented on #97
Our tests should be running in CMake within the next few days, as I have the change ready to go internally.  After review and upstreaming, our tests should run, at least on Linux.  At that point I'll close the issue.

[2018-05-02 01:12] rongjiecomputer commented on #96
@bfierz Perhaps the commit messages can be generated by `git log --date=short --no-merges --format="%ad %ae %s" start_hash..end_hash` instead? (Chromium uses the exact same command to generate commit messages when [rolling dependencies](https://chromium-review.googlesource.com/c/chromium/src/+/1038822)).

The output of the command will look something like this (from Bazel):

[code]

[2018-05-02 15:51] JonathanDCohen opened #107 "Step 2: Run Abseil Tests in Linux"
This is the prerequisite for any upgrades or refactorings we hope to accomplish -- can't be sure of anything without tests!  As of this writing there is an internal change out which accomplishes this, so we should be able to keep moving forward soon.

[2018-05-02 15:52] JonathanDCohen commented on #107
https://github.com/abseil/abseil-cpp/issues/106

[2018-05-02 15:55] JonathanDCohen opened #108 "Step 3: Update Minimum Required Version"
Abseil currently requires an ancient version of CMake.  We need to support at least CMake 3.0.0 as the first "modern" release of CMake.  We be slightly stricter if there are some critical bugfixes after 3.0.0, but as a low-level library we need to be very careful about bumping this number upwards.

This is sequenced right after tests as about the smallest change we could make to give a run to our

[2018-05-02 16:00] JonathanDCohen commented on #108
#106

[2018-05-02 16:12] JonathanDCohen opened #109 "Step 4: Run Tests With CMake On All Supported Platforms"
See https://abseil.io/docs/cpp/platforms/platforms for more information.  Practically speaking, this means that for every presubmit run with Bazel, we will also run the same tests but configuring and building with `cmake` and running tests with `ctest`.

[2018-05-02 16:12] JonathanDCohen commented on #109
#106

[2018-05-02 16:22] JonathanDCohen opened #110 "Step 5: Make CMake Targets Have a 1:1 Correspondence with Bazel Targets"
Our story with what targets we have for CMake is a bit of a mess right now -- some directories have only package level targets, some are more fine grained, and often the targets are different or have different scope from our Bazel targets.  In order to make life easier for us and our users, we need to be consistent across build systems with respect to the granularity and naming of our targets.  As

[2018-05-02 16:39] JonathanDCohen opened #111 "Step 6: Allow Abseil to be installed and used with find_package()"
This has been a contentious one, but yes, Abseil is going to support the `git clone; make; make install` workflow.

This will come at the same time as Abseil cuts our first Long Term Support Branch -- basically cuts of our source code stuck in versioned inline namespaces which we will maintain for a length of time with emergency security bugfixes and the like, and which will also be tagged for use

[2018-05-02 16:45] JonathanDCohen commented on #111
#106

[2018-05-02 16:47] JonathanDCohen opened #112 "CMake Refactor: Remove extra _test suffix"
All of our test binaries currently look like absl_foo_test_test because absl_test adds _test at the end, but we already have a convention of suffixing our test names with _test.  This isn't the worst thing in the world, but it's annoying and easy to fix.

[2018-05-02 16:49] JonathanDCohen opened #113 "CMake Refactor: Remove Global Variables"
Our CMakeLists.txt files have many global variables in the form of default sources, default library dependencies, or just lists of sources and libraries.  These are verbose and unneeded at best, or antipatterns where we could instead use INTERFACE targets at worst.  These should be cleaned up so we have a minimal amount of global variables polluting the CMake namespace. Any globals we can't get ri

[2018-05-02 16:51] JonathanDCohen opened #114 "CMake Refactor: Update interface of absl_library()"
A long term goal for us is to be able to generate our CMakeLists.txt files from our Bazel BUILD files so as to relieve engineering overhead.  The first step for this is to make the corresponding cc_library and absl_library invocations in Bazel and CMake respectively have the same set of arguments, allowing us to easily generate one from the other.

[2018-05-02 16:53] JonathanDCohen opened #115 "CMake Upgrade: Add Static / Dynamic Analysis and Linting to CMake Builds"
CMake provides hooks for static analysis such as ClangTidy and the Google linter, both of which are used internally at Google.  We can provide many useful chacks related to good C++ coding patterns as well as Abseil-specific checks related to the [Abseil Compatibility Guidelines](https://abseil.io/about/compatibility) in order to make it easier to use Abseil correctly and effectively.

[2018-05-02 16:56] JonathanDCohen commented on #80
This is now tracked in #111. I'll keep this open until that issue is resolved, since there is a lot of good discussion here.

[2018-05-02 16:57] JonathanDCohen commented on #38
This is now tracked in #111

[2018-05-02 16:58] JonathanDCohen commented on #97
This is now tracked in #109

[2018-05-02 16:59] JonathanDCohen commented on #110
#106

[2018-05-02 17:15] JonathanDCohen commented on #107
This change is coming soon and will add a new cmake option: ABSL_USE_GOOGLETEST_HEAD.  This currently defaults to OFF, but when ON we will download Googletest source at config time and use that to run our tests -- this will default to ON some time in the future, after announcement and discussion so everyone can change their build scripts if necessary.  Our CI builds use this option.

[2018-05-02 19:08] bfierz commented on #96
@rongjiecomputer Sure locally that does the trick. I was conceirned about readability of the message in the github web interface. But it's now good enough for a fast browsing.

[2018-05-02 19:08] #96 closed, assigned to katzdm

[2018-05-02 19:55] JonathanDCohen commented on #104
Hey there.  Is this issue still causing you trouble?

[2018-05-02 19:56] JonathanDCohen commented on #100
Hey there!  Is this still an issue, or did Xiaoyi's `pragma` solve the problem?

[2018-05-02 21:25] JonathanDCohen opened #116 "CMake Upgrade: Create "Hello Abseil" CMake project"
The README should link to it.

[2018-05-06 07:05] PetterS opened #118 "Crash on startup with Clang 6 and UndefinedBehaviorSanitizer"
I am using CMake and am linking to `absl_failure_signal_handler` `absl_symbolize`. I am adding the following flags whe building in debug mode:

	set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -fsanitize=undefined,address -fno-sanitize-recover=undefined -fno-sanitize=float-divide-by-zero,unsigned-integer-overflow -fno-omit-frame-pointer -fsanitize-coverage=edge,trace-pc-guard,indirect-calls,trace-cmp,trac

[2018-05-07 04:24] jmarantz opened #119 "absl::MutexLock needs an Unlock method."
Background

Proposed API Change (s)

[2018-05-07 17:22] derekmauro commented on #119
We already have `absl::ReleasableMutexLock`, which I think solves your problem:
https://github.com/abseil/abseil-cpp/blob/26b789f9a53d086c8b8c9c2668efb251e37861cd/absl/synchronization/mutex.h#L857-L879

We've talked about making `absl::MutexLock` movable as well, but we haven't come up with a compelling argument for doing so yet. Google's codebase (somewhat famously) doesn't use exceptions, but we

[2018-05-07 18:38] jmarantz commented on #119
Yes this looks great.  Thanks!

[2018-05-07 18:38] #119 closed, assigned to derekmauro

[2018-05-08 04:14] mayah opened #120 "debugging/failure_signal_handler.cc does not build on Mac"
From our build log:
[code]

Like `base/internal/low_level_alloc.cc`, we need to use `MAP_ANON` instead of `MAP_ANONYMOUS` in debugging/failure_signal_handler.cc, too.

e.g. https://github.com/abseil/abseil-cpp/blob/5b535401665cc6aa96d54a5c9b0901153d97210f/absl/base/internal/low_level_alloc.cc#L56-L63

[2018-05-08 18:14] JonathanDCohen commented on #107
We now run our tests in Linux.  Please see absl/CMakeLists.txt and the CMake README for more info.

[2018-05-08 18:14] #107 closed, assigned to nobody

[2018-05-09 13:46] derekmauro commented on #120
Fixed with f88b4e9cd876905ee694cee1720095330e0bd20f.

[2018-05-09 13:46] #120 closed, assigned to derekmauro

[2018-05-09 15:32] JonathanDCohen commented on #115
https://github.com/abseil/abseil-cpp/issues/118 as an example of what could potentially be caught with this

[2018-05-09 18:05] ggreenway commented on #118
I'm also seeing this, but on clang 5.0.2:
[code]

[2018-05-09 18:17] derekmauro commented on #118
@ggreenway is this also under WSL, as reported in https://github.com/abseil/abseil-cpp/issues/118#issue-320568630?

@PetterS @ggreenway, just to verify, are you calling `absl::InstallFailureSignalHandler()`?

The fact that the downgrade https://github.com/envoyproxy/envoy/pull/3333 fixes the problem suggests the problem is not in `absl::InstallFailureSignalHandler()`, which is what I thought the o

[2018-05-09 18:24] ggreenway commented on #118
@derekmauro I was running in docker, which was running in a linux VM.  The crashing code is from a static initializer, I think. I don't know what WSL is, so my guess is that I am not running under WSL.

[code]

[2018-05-09 18:40] JonathanDCohen commented on #104
I'm going to close this due to lack of answer.  As a note for future readers, Bazel provides absl/... and cmake provides an `all` target.  I'm not sure if these create a single library or not, but it's worth a look.

[2018-05-09 18:40] #104 closed, assigned to nobody

[2018-05-09 18:40] JonathanDCohen commented on #100
Closed due to lack of response

[2018-05-09 18:40] #100 closed, assigned to nobody

[2018-05-09 18:43] PetterS commented on #118
I was not calling anything explicitly. The crash was because this code was running automatically before main(): https://github.com/abseil/abseil-cpp/blob/f88b4e9cd876905ee694cee1720095330e0bd20f/absl/debugging/internal/vdso_support.cc#L186

[2018-05-10 15:09] mlknz opened #121 "glibc version check problem"
Fails on `#if !__GLIBC_PREREQ(2, 12)` with newest android ndk.
Location of check: `abseil/absl/base/policy_checks.h:91`

Changing `#ifdef __GLIBC_PREREQ` for `#if defined(__GLIBC__) && defined(__GLIBC_PREREQ)` fixes problem.

Looked up solution there: ( https://github.com/openembedded/openembedded-core/blob/master/meta/recipes-extended/ltp/ltp/0008-Check-if-__GLIBC_PREREQ-is-defined-before-using-i

[2018-05-10 15:10] JonathanDCohen commented on #97
This should now be fixed on Linux.  Please re-open if this problem persists

[2018-05-10 15:10] #97 closed, assigned to JonathanDCohen

[2018-05-10 15:11] JonathanDCohen commented on #108
The current thought is to set our minimum_required_version to cmake 3.1.2 to allow us to use CMAKE_CXX_STANDARD directly as opposed to our kludgey ABSL_STD_CXX_FLAG.  We are very curious who and how this may break people and would like to hear thoughts on the matter

[2018-05-10 16:10] EmployedRussian commented on #118
@ggreenway

The error you are getting implies that your VDSO is relocated to kernel space, or is corrupt in some other way.

Could you please run `readelf -Ws vdso.elf` (and show the output) after dumping it to disk?
Here is how to do that:

[code]
The output from `readelf -Ws vdso.elf` on my system looks like this:

[code]

[2018-05-10 17:58] derekmauro commented on #121
Can you post the exact error you are seeing? It looks like `__GLIBC_PREREQ` is defined but `__GLIBC__` isn't? That seems strange.

[2018-05-10 19:08] ggreenway commented on #118
Here it is:
[code]

This is from centos 7.4, kernel 3.10.0-693.21.1.el7, running in virtualbox. The build that failed was on this host, but in docker, with an ubuntu docker image.

[2018-05-10 19:16] EmployedRussian commented on #118
@ggreenway That's as I suspected.
What was the value of `AT_SYSINFO_EHDR` when you dumped it?

I expect it was `0xffffffffff700000` ...

[2018-05-10 19:27] ggreenway commented on #118
`0x7ffff7ffa000`

[2018-05-10 23:15] EmployedRussian commented on #118
@ggreenway could you attach the dumped vdso.elf so I can test the fix against it.
@PetterS  likewise.

Thanks,

[2018-05-10 23:58] ggreenway commented on #118
Here it is:
[vdso.tar.gz](https://github.com/abseil/abseil-cpp/files/1993568/vdso.tar.gz)

[2018-05-11 09:33] Bu11etmagnet commented on #97
CMake now successful, thanks!

[2018-05-11 11:59] mlknz commented on #121
[code]

Also important info: error wasn't happening with ndk version r15b.

[2018-05-11 16:49] derekmauro commented on #121
I just checked the latest version of NDK and found this in `sources/cxx-stl/llvm-libc++/include/__config`

[code]
so it looks like the change you suggested is necessary. I'll make this change for you. Thanks.

[2018-05-11 17:37] derekmauro commented on #121
For anyone that finds this bug, it looks like LLVM decided that providing their own definition of `__GLIBC_PREREQ` was a bad idea and reverted it: https://github.com/llvm-mirror/libcxx/commit/fa614b847ac2f26a0ac5cdf83a558f52f88f054f

[2018-05-14 07:26] MirkoBonadei opened #122 "dynamic_annotations symbols in the global namespace"
Abseil dynamic_annotations (https://github.com/abseil/abseil-cpp/blob/master/absl/base/dynamic_annotations.h, https://github.com/abseil/abseil-cpp/blob/master/absl/base/dynamic_annotations.cc) define macros and functions without ABSL_ or Absl prefix (this is C code, so we cannot use namespaces).

This behavior can cause ODR violations and macros clashing. A possible solution would be to prefix all

[2018-05-14 17:37] JonathanDCohen opened #123 "Match CMake compilation flags to Bazel compilation flags."
Our Bazel compilation flags are in https://github.com/abseil/abseil-cpp/blob/master/absl/copts.bzl.  We need these to be the same when building with CMake

[2018-05-14 20:45] derekmauro commented on #121
Fixed by add89fd0e4bfd7d874bb55b67f4e13bf8beca762.

[2018-05-14 20:45] #121 closed, assigned to derekmauro

[2018-05-14 20:46] derekmauro commented on #118
@PetterS @ggreenway Can you give the latest commit (add89fd0e4bfd7d874bb55b67f4e13bf8beca762) a try and see if it fixes your issue?

[2018-05-14 23:49] ggreenway commented on #118
This appears to fix the issue for me.

[2018-05-15 14:03] derekmauro commented on #118
I'm going to close this issue. Re-open if you encounter problems.

[2018-05-15 14:03] #118 closed, assigned to derekmauro

[2018-05-16 13:33] darix commented on #111
+1

[2018-05-16 21:33] PetterS commented on #118
Thanks for looking into this!

[2018-05-17 01:43] rongjiecomputer opened #124 "Feature request: absl::wstring_view"
As a Windows user, I use `std::wstring` to manipulate Windows file path. I do like to use `{std,absl}::wstring_view` for efficiency.

`absl/strings/string_view` currently implements `absl::string_view` class directly rather than implementing `absl::basic_string_view<CharT>` then `using string_view = basic_string_view<char>`.

The addition of `absl::u16string_view` and `absl::u32string_view` would

[2018-05-17 02:20] rongjiecomputer commented on #124
Also: https://groups.google.com/a/chromium.org/d/msg/cxx/pxn9Iu1iMX0/-c1KmL6vCAAJ

[2018-05-17 12:36] pjachowi opened #125 "Using Abseil and shared libraries causes ODR violation"
I have a project consisting of main binary and some number of shared libraries dynamically linked to it. When both main and shared library use absl::string, the clang's address sanitizer indicate that there is an ODR on the absl::ascii_internal::kPropertyBits:
[code]

[2018-05-18 21:34] mbxx commented on #124
Thank you for the feature request!  This seems like a completely understandable thing to want, but I'm worried that this may prove difficult for us to implement and that even if we did, it wouldn't be as production-tested as the rest of Abseil.

Abseil has 250M lines of code that depends on it inside of Google.  Part of refactoring absl::string_view into an alias for absl::basic_string_view<char>

[2018-05-18 21:48] mbxx commented on #125
Unfortunately, Abseil has not been designed with use in dynamic libraries in mind (https://abseil.io/about/compatibility) and I don't know of a way to fix this issue in a way that's portable across all of the platforms that Abseil supports.

May I ask how you're using Abseil in your dynamic library?  In particular, are you using it as an implementation detail, or do Abseil types show up in the int

[2018-05-19 00:36] rongjiecomputer commented on #124
This feature request is not preventing me from using Abseil. I am much more excited about hash table and some other stuffs I see in `base/gtl` folders of other Google projects. Just filing this so that the team can re-visit this in the (hopefully not too distant) future.

Fair enough, though passing unit tests is quite enough for me.

Just curious, was Abseil ever used in Windows project internall

[2018-05-20 21:37] abdes commented on #109
On Visual Studio 2017 Win64:

[code]

Build fails when building tests at absl::strings::span_test.cpp

[2018-05-20 22:37] abdes opened #126 "Visual Studio Win32 build fails, although platforms page says 32/64 supported"
Build fails due to mishandling of int types in two library files, and dozens of the test files.

[code]

Many test files fail to build as well...

[2018-05-21 07:29] rongjiecomputer commented on #126
Works for me. Building with Visual Studio 2017 15.7 targeting x64, either with CMake + Ninja or Bazel on Windows. I don't have 32-bit compiler to test though.

Tests don't work with CMake yet. Abseil currently only supports running tests with Bazel (and tests do pass there).

[2018-05-21 08:44] abdes commented on #126
As I said, 64bit works, 32bit build fails exactly at mutex.cc and it's a real fail. Can be easily fixed though by checking for 32bit vs 64 bit enviornment. Visual Studio can compile code both in 64 and 32. You just need to use the proper generator with cmake -G:

[code]

The failure in 32bit compilation comes from the following cast in mutex.cc: **static_cast<uintptr_t>(0xF03A5F7BF03A5F7BLL);**

[

[2018-05-21 11:02] rongjiecomputer commented on #126
@abdes Sorry, I didn't realize your "Win32" literally mean Windows 32-bit. I normally see "Win32" as "traditional Windows API" (think "Win32" vs "UWP").

[2018-05-21 15:02] derekmauro commented on #66
Closing as duplicate of #126.

[2018-05-21 15:02] #66 closed, assigned to nobody

[2018-05-21 19:33] phoad commented on #97
For future reference, I used
-DBENCHMARK_ENABLE_TESTING=OFF
instead of the proposed flag.

[2018-05-21 22:22] mbxx commented on #124
Of course, we're happy to take the feature request.

Yes, it was :)

Thanks for the links, it's all very interesting reading.

I think I made that sound a little more official than it actually is.  There are other folks on our team who are a lot more involved in outreach than I am, and I'm sure they've talked to Chromium.  I'm just out of the loop because I've been keeping my head down and focusin

[2018-05-22 12:52] pjachowi commented on #125
Sorry for the late response. We use abseil::string_view as an interface. As a workaround we've added abseil to asan suppression list. I'll take a look into version script.
I assume that putting absl::ascii_internal::kPropertyBits into an anonymous namespace is not option because it will cause binary code duplication?

[2018-05-22 21:41] mbxx commented on #125
Cool, sounds good to me.

Code duplication is definitely something we worry about, but the trouble with putting `absl::ascii_internal::kPropertyBits` into an anonymous namespace is it's being referenced by the inline functions in `absl/strings/ascii.h`.  Ideally, we'd like to declare the array as an `inline` variable in the header file, but `inline` variables are a C++17 feature and we're still su

[2018-05-23 17:55] derekmauro commented on #126
The compile error above should be fixed by 014f02a3eca93ef88163c3b408c86998ecf6572c, but I only tested the fixed section of code on godbolt.org with the "x86 MSVC 19 2017 RTW" compiler. I'm not sure what flags you need to pass to cl.exe to force 32-bit mode. There may be other errors.

I'm going to close this bug. Re-open if there is another 32-bit error. Patches are also welcome.

[2018-05-23 17:55] #126 closed, assigned to derekmauro

[2018-05-23 19:33] mbxx opened #127 "thread_safety_analysis::ts_unchecked_read should be in the absl:: namespace"
All of the symbols in Abseil were intended to be in the `absl::` namespace, but `thread_safety_analysis::ts_unchecked_read` was accidentally released outside of it.  It ought to be moved into `absl::base_internal::`.

[2018-05-23 23:03] abdes commented on #126
I reviewed your changes and they look good. Thanks for the quick turnaround.

[2018-05-30 10:53] odygrd opened #128 "Question: HashTable container"
During cppcon 2017 Matt Kulukundis mentioned that a new hashtable implementation might be opened sourced as part of abseil at some point during Q1 or Q2 of 2018.

I'm wondering if you still have plans open sourcing that ?

[2018-05-30 12:44] shaindelschwartz commented on #128
Yes, we do. We're currently targeting Q3 for release.

We've got #68 open to track it.

[2018-05-30 12:44] #128 closed, assigned to nobody

[2018-06-06 00:58] cstanfill opened #129 "Memory corruption with absl::variant on MSVC"
I've been using absl::variant in a cross-platform cmake-based project and I've noticed random seeming stack corruption popping up around the code that's using absl::variant when I try to run it on MSVC. Valgrind and AddressSanitizer don't see anything amiss when I build on Linux. I have not tried MemorySanitizer yet.

I've reduced it to the following case:
https://github.com/cstanfill/absl-bug
Imp

[2018-06-06 15:32] derekmauro commented on #129
I built your code using Bazel and MSVC in a Windows VM, but I couldn't reproduce the bug. Maybe there is some CMake difference that hopefully @zhangxy988 can take a look at soon.

[2018-06-07 19:34] zhangxy988 commented on #129
I was able to reproduce the bug. Confirmed the following:
 * the bug shows up in Release build, not Debug build
 * the bug is with `absl::variant`, not `std::variant` (it works fine with `/std:c++latest` which enables `std::variant`)
Still investigating the root cause, feels like a compiler bug to me.

[2018-06-07 21:03] zhangxy988 commented on #129
OK, so the root cause seems to be this function
[code]
The `reinterpret_cast` seems to be returning a *wrong* value. I already have a fix that gets the value in a different way (via recursive calls). I'll double check with my team and will put in the fix asap.

[2018-06-07 21:10] cstanfill commented on #129
Great, glad to hear it. Until I can sync to head, `/std:c++latest` is a good workaround.

[2018-06-08 19:17] tkoeppe commented on #125
@mbxx: Are you sure inline variables would help? Inline variables have external linkage, just like now. If you link two separate binaries (the executable and a DSO), each may still expose a public symbol for its own copy of these entities. That doesn't really seem to solve the problem.

To paper over it quickly, one could use some (non-standard) linker settings to make the linker not emit symbols

[2018-06-08 19:25] zhangxy988 commented on #129
Found a MSVC bug with the same root cause: https://developercommunity.visualstudio.com/content/problem/203664/wrong-assebly-code-is-generated-for-return-reinter.html
It seems adding `inline` to the function also fixes the bug. We will need to make a decision on which approach to use.

[2018-06-08 20:03] mbxx commented on #125
@tkoeppe: Thanks, you're right.  I was thinking about static libraries, where inline variables would help.

My vote would definitely be to have one copy of the lookup table per binary.  That's what I was suggesting when I mentioned setting up a linker version script.  It's a straight-forward solution, and Abseil just isn't in a position to provide good support for dynamic loading and unloading.

[2018-06-08 20:17] tkoeppe commented on #125
Yes, that sounds reasonable.

On a tangent, perhaps you could silence ASAN by giving the array itself internal linkage and only exporting accessor functions for it. Even though the *functions* would still be multiply defined, the *data* would now have a unique name (and maybe ASAN only cares about the latter).

[2018-06-15 15:15] zhangxy988 commented on #129
This should be fixed by eb686c069f8a6aa87bd6f1ac344a330f361fe9ec.

[2018-06-15 15:15] #129 closed, assigned to zhangxy988

[2018-06-18 22:45] ilyapopov opened #132 "Branch mentioned in LTS.md does not exist in Github repository"

[2018-06-20 01:08] rongjiecomputer commented on #132
@ilyapopov It can be found at https://github.com/abseil/abseil-cpp/blob/master/absl/LTS.md

[2018-06-20 01:37] ilyapopov commented on #132
@rongjiecomputer Yes, I know where LTS.md is located. Are you able to access the branch mentioned in it?

If I click on any links in that document, both [the link to the branch](https://github.com/abseil/abseil-cpp/tree/lts_2018_06_18/) and the [link to the "release management guide"](https://abseil.io/about/releases), I get 404 error. Neither branch not the Guide currently exist.

[2018-06-20 01:59] mbxx commented on #132
It's not up yet because we ran into some issues while making the cut.  We're working on it.

[2018-06-20 16:05] ilyapopov commented on #132
I see the branch is up now. This issue can be closed.

[2018-06-20 16:05] #132 closed, assigned to nobody

[2018-06-21 07:34] Sarcasm opened #133 "How do you automate the LTS version inline namespaces?"
Sorry if this question is out of place, but looking at the LTS branch and your LTS documentation, I can see the addition of the `inline namespace lts_2018_06_20 {` and `}  // inline namespace lts_2018_06_20` lines.

I was wondering how you performed this change?
Is it a sed-based tool (which I imagine could work somewhat reliably, seeing how the `absl` namesping is opened and closed in a consisten

[2018-06-21 08:24] Bu11etmagnet commented on #132
$ curl -v https://github.com/abseil/abseil-cpp/blob/master/absl/LTS.md
< HTTP/1.1 404 Not Found
< Server: GitHub.com
< Date: Thu, 21 Jun 2018 08:23:23 GMT
< Content-Type: text/html; charset=utf-8
< Transfer-Encoding: chunked
< Status: 404 Not Found

[2018-06-21 08:34] rongjiecomputer commented on #132
@Bu11etmagnet It was moved to top-level now. https://github.com/abseil/abseil-cpp/blob/master/LTS.md

[2018-06-21 14:31] derekmauro commented on #133
The tool we used is actually opensource: https://github.com/google/copybara

In this particular case, we do use a very simple rule that relies on the `absl` namespace being opened and closed in a consistent style.

[2018-06-21 14:31] #133 closed, assigned to nobody

[2018-06-21 14:36] mbxx commented on #133
Had we done this with a clang-based tool, we certainly would have tried to push it upstream to LLVM.

Interestingly, a clang-based refactoring tool wouldn't have quite worked for us out-of-the-box because of preprocessor directives like the one at https://github.com/abseil/abseil-cpp/blob/lts_2018_06_20/absl/types/variant.h#L48.  They only consider the abstract syntax tree, but because `namespace

[2018-06-21 14:52] Sarcasm commented on #133
Thank your for your answer.
I actually looked if "copybara" was a thing, seeing the commit message was "Project import generated by Copybara.", but somehow I missed the project on Github.

[2018-06-24 18:37] 9182850804 commented on #133
ศักดิ์ชัย

[2018-06-26 07:16] Faisalsalipada commented on #80
Ok

[2018-06-26 08:50] Faisalsalipada commented on #123
Ok

[2018-06-28 14:03] ajaygtm71 opened #135 "Build failure on s390x"
I'm trying to use Abseil-cpp which is dependency of Istio-proxy on big endian by following https://abseil.io/docs/cpp/quickstart but its failing with the following error:

[code]

I also tried build the source using `cmake . && make`  but got same error. Is it not supported on big endian. What could be the issue here?

[2018-06-28 14:44] derekmauro commented on #135
I think `uint32_t` should actually be `unsigned long` in that function, but I don't have a way of testing on s390x. I can make the change, but if you could try testing it first that would be very helpful.

[2018-06-28 19:26] astrelni commented on #135
Changes uploaded with https://github.com/abseil/abseil-cpp/commit/ba8d6cf07766263723e86736f20a51c1c9c67b19. Please test these out and let us know.

[2018-06-29 07:04] ajaygtm71 commented on #135
Now getting below error:
[code]

[2018-06-29 16:47] derekmauro commented on #135
A fix should be submitted early next week.

[2018-07-05 10:24] OlafvdSpek commented on #125
Isn't the real problem linking your DSO to Abseil statically?

[2018-07-07 17:27] OlafvdSpek opened #141 "HexStringToBytes vs invalid input?"
The HexStringToBytes 'doc' doesn't define what happens on invalid input.

[code]

[2018-07-07 17:28] OlafvdSpek opened #142 "Broken link @ guides/string"
It links to https://abseil.io/docs/cpp/guides/numbers.h which returns 404.

https://abseil.io/docs/cpp/guides/strings

[2018-07-12 05:46] rongjiecomputer commented on #34
@zhangxy988 For the current open-sourced version of Abseil, very few headers that are transitively included in public headers actually need `<windows.h>`. My suggestion in https://github.com/abseil/abseil-cpp/issues/34#issuecomment-360345648 isn't needed for now.

After #143 and #144 are merged, `<absl/time/time.h>` will be the only header that includes `<windows.h>` (from `<winsock2.h>`).

I file

[2018-07-12 19:07] zhangxy988 commented on #141
As far as I can tell, the function doesn't validate the input, so the behavior is undefined.
I think we might want to update the documentation to state that the precondition should be "valid input".

[2018-07-12 19:09] zhangxy988 commented on #135
0268795 should fix this. Please confirm.

[2018-07-13 06:23] ajaygtm71 commented on #135
Here is the error from make:
[code]

[2018-07-13 16:19] fcooper8472 opened #145 "undefined reference to str_format_internal (CMake, linux)"
Attempting the most basic use of `StrFormat`:
[code]
yields the following error:
[code]
`absl::strings` is supplied to `target_link_libraries`:
[code]
What am I doing wrong?

[2018-07-13 16:26] derekmauro commented on #145
`absl::str_format` is a separate library from `absl::strings` that you also need to link.

https://github.com/abseil/abseil-cpp/blob/02687955b7ca8fc02ada9b14bc247deeb108d341/absl/strings/CMakeLists.txt#L84-L92

[2018-07-13 16:39] fcooper8472 commented on #145
Got it - thanks.

[2018-07-13 16:39] #145 closed, assigned to nobody

[2018-07-13 19:22] derekmauro commented on #135
Another patch is coming. In the mean time, can you post the output with `bazel build -k`? The `-k` means bazel will keep going after an error so that we can see if anything else also needs to be fixed. I wish I had a machine I could just test this on myself.

[2018-07-13 19:43] derekmauro commented on #135
Actually, can you give my s390x branch a try before I commit it here? https://github.com/derekmauro/abseil-cpp/tree/s390x

[2018-07-14 06:45] ajaygtm71 commented on #135
output of `bazel build -k` on both master and derek's s390x branch:
[code]
output of  `make -k` on both master and derek's s390x branch:
[code]

[2018-07-15 15:22] derekmauro commented on #135
Sorry, I should have been more explicit. I wanted the output of `bazel build -k absl/...`

It also doesn't look like this is the output my s390x branch, it looks like the output of my master branch. Be sure to switch to the s390x branch (`git checkout s390x`).

[2018-07-15 19:03] ajaygtm71 commented on #135
output of `bazel build -k absl/...` on master:
[code]
output on derek's s390x branch:
[code]

[2018-07-16 13:23] derekmauro commented on #135
Thanks. I pushed another commit to my s390x branch to address the error in `endian_test.cc`. Can you sync that branch and post the output of `bazel test -k absl/...`? Hopefully this is the last time I'll need you to do this.

[2018-07-16 13:45] ajaygtm71 commented on #135
Build was successful on recent s390x branch, output of  `bazel test -k absl/...` :
[code]

[2018-07-16 14:25] derekmauro commented on #135
Glad the it builds, I'll get these fixes committed to the main repository soon.

We should try to deal with the test failures though. Since all but one of the test failures is a benchmark, there is probably a single cause to all of those failures. Can you post the test log file for one of the benchmark failures?

Also, `//absl/base:sysinfo_test` is the only non-benchmark test that is failing. Can

[2018-07-17 05:27] ajaygtm71 commented on #135
`sysinfo_test/test.log`
[code]
`thread_identity_benchmark/test.log`
[code]
`algorithm_benchmark/test.log`
[code]
`numbers_benchmark/test.log`
[code]

[2018-07-17 22:20] derekmauro commented on #135
Thanks. This should build now on s390x at e0def7473e52336f58759e11db4cd9467e5e0356.

The tests don't look like something I'm going to be able to fix without either a machine to test on, or a lot of back and forth, but I think it should still be safe to use Abseil.

I'm going to close this now that the build is fixed. We will don't officially support s390x, but let us know if something breaks and I

[2018-07-17 22:20] #135 closed, assigned to derekmauro

[2018-07-19 13:09] ajaygtm71 commented on #135
Thanks @derekmauro and Abseil Team for your efforts and patience into making the build pass on s390x even without having and actual machine to test on.

[2018-07-22 03:32] siedentop opened #147 "synchronization/mutex_benchmark fails on macOS"
I am trying to build and run tests on macOS. The test `//absl/synchronization:mutex_benchmark` fails with the log below.

Changing `kMaxConditionWaiters = 8192;` in `mutex_benchmark.cc` to `2048` makes the test pass.

* Log:
[code]

* macOS version:
[code]

* Abseil version: 44aa275286baf97fc13529aca547a88b180beb08
* Compiler version: Could not figure out how to query bazel to show me this.

[2018-07-24 20:43] derekmauro commented on #147
I lowered the thread limit on some platforms in 9e060686d1c325f34f9806b45fe77bafeed00aee. Note that this is really a benchmark and not a test, and benchmarks may depend on OS details and hardware specs. The benchmark targets should arguably be `cc_binary` instead of `cc_test`, but we went with `cc_test` for ease of testing. You could also pass `--test_tag_filters=-benchmark` to `bazel test` if you

[2018-07-24 20:43] #147 closed, assigned to derekmauro

[2018-07-25 06:48] siedentop commented on #147
Thanks for the quick turnaround!

[2018-07-30 13:41] OlafvdSpek opened #149 "Naming: Base64Escape vs BytesToHexString"
I think base64 is more commonly called encoding, not escaping.

A more consistent name for `BytesToHexString` would be HexEncode. Note that besides the name the parameter passing also differs.

[2018-07-30 14:03] OlafvdSpek opened #151 "StripSuffix doc"
The input is absl::string_view, not std::string.. same for the other functions in the file.

[code]

[2018-07-30 18:20] #108 closed, assigned to JonathanDCohen

[2018-07-30 18:21] JonathanDCohen commented on #108
That plan was taken.  We now use standard env and Cmake variables where we can.  This includes $CC and $CXX to set the compiler, and the use of CMAKE_CXX_STANDARD.  We don't use the CXX_STANDARD flag anywhere else so abseil should adapt language level to whatever project it is compiled as a part of.

[2018-08-01 13:28] perfinion commented on #87
I just want to chime in too and ask for version numbers. I have been trying to package all the dependencies of TensorFlow on Gentoo Linux and this is one of the few that I cant do because there is no release.

I understand google internally just uses HEAD but distros don't work like that. the package manager needs to compare numbers, v1.2 is older than v2.5 is easy to figure out. Is 9acad869d2 old

[2018-08-01 13:39] tituswinters commented on #87
On Wed, Aug 1, 2018 at 9:29 AM Jason Zaman <notifications@github.com> wrote:

We're planning / supporting LTS branches for this purpose:
https://abseil.io/blog/20180618-lts-branches

Does that suffice?

[2018-08-01 17:03] perfinion commented on #87
Cool, thats helpful.
How do I number the packages then?
For example: https://packages.gentoo.org/packages/dev-python/absl-py
I have packaged absl-py-0.2.2 (i just saw 0.3.0 is out, i'll bump that soon)
I can package abseil-cpp-20180620, are there going to be tags too?
What about when new commits are pushed to the branch? what should the version be then?

The package called "absil-cpp-20180620" mus

[2018-08-01 18:16] mbxx commented on #87
I'd recommend numbering the LTS branches YYYYMMPP (Year,Month,Patch), which in this case would be 20180600.  That's the format we've talked about using internally.  This seems reasonable to us because the LTS branches will be cut somewhat infrequently (every 6 months or so) and while branches may receive some commits, we expect those to be very rare.  The only commits will be critical bug fixes (t

[2018-08-02 17:29] mbxx commented on #149
I largely agree with the points raised, but I don't think this change is currently practical to make.

I definitely agree that "base64 encoding" is more standard parlance than "base64 escaping".  The RFC uses "encoding", after all.  "base64 escaping" just happens to be what it's usually called inside of Google, for whatever reason.  `Base64Escape` also probably should return a string instead of us

[2018-08-02 17:29] #149 closed, assigned to nobody

[2018-08-02 17:39] mbxx commented on #151
Thanks for pointing this out, I'll make a pass over the file.

[2018-08-02 17:40] OlafvdSpek commented on #141
I don't think that's reasonable.

[2018-08-02 17:43] OlafvdSpek commented on #149
Introducing new names and deprecating (doc-only maybe) the old ones is not an option? ;)

I'm not sure, you'd no longer be able to re-use pre-existing string storage.

[2018-08-02 17:45] tituswinters commented on #141
That does seem ... awkward.  I suspect we could get away with something more concrete and actionable - even returning an empty string would be a better signal.

[2018-08-02 17:48] OlafvdSpek commented on #141
Interface consistency with Base64Unescape might be nice.

[2018-08-02 22:29] mbxx commented on #149
It's really not.  (I'm not sure how to interpret the winking emoticon, so apologies in advance if I take this too literally.)  I elided some assumptions in my earlier response, let me try to fill those in.  Some of this is likely to seem a bit alien and some of this I haven't been asked to unpack before, so please ask questions about anything that's weird or surprising.

As background, the code th

[2018-08-03 09:14] OlafvdSpek commented on #151
absl/strings/escaping.h is affected too.

[2018-08-03 10:20] perfinion commented on #87
That sounds reasonable. Maybe with dots between the parts? Either way can I ask you guys to push some git tags explicitly on those commits? Having the tags makes github generate tarballs with names that are easier to fetch and would take the guess work out of coordinating between distros and people consuming it. I don't want one distro's "201806.01" to be the same as another distros "201806.02" ju

[2018-08-03 10:22] LebedevRI commented on #87
Does "LTS branch" here mean API/ABI-stable?

[2018-08-06 10:31] tituswinters commented on #87
@LebedevRI - As stable as we can make it. Practically speaking, the LTS branches are going to be tags in every case we've really imagined.  However, there is always the possibility that there are security issues that arise (I'm not entirely sure what those would look like at this low a level in the stack). If something interesting / important comes up, we'll backport fixes to extant LTS branches g

[2018-08-06 16:55] zhangxy988 commented on #141
@mbxx: It seems changing the interface of `HexStringToBytes` would be a breaking change. Maybe we could consider providing a "Safe" version of `HexStringToBytes` or return empty string upon invalid input?

[2018-08-06 23:08] kkiningh opened #154 "Failed test on OSX"
Running `bazel test //absl/numeric:int128_test` on OSX 10.13.6 fails with the following output.

[code]

I have git commit bea85b52733022294eef108a2e42d77b616ddca2.

[2018-08-07 08:32] MikeGitb commented on #108
@JonathanDCohen: AFAIK, ABSL_STD_CXX_FLAG is still used:

https://github.com/abseil/abseil-cpp/blob/bea85b52733022294eef108a2e42d77b616ddca2/CMakeLists.txt#L57-L58

Are you refering to some internal branch of abseil?

[2018-08-07 11:01] pifon2a commented on #111
Are there any updates? [Google Cartographer](https://github.com/googlecartographer/cartographer) project now depends on Abseil. Unfortunately, since we are using ROS and catkin, we have to maintain the CMake build as well. We ended up using `ExternalProject_Add` in [FindAbseil.cmake](https://github.com/googlecartographer/cartographer/blob/master/cmake/modules/FindAbseil.cmake), but it is not optim

[2018-08-07 22:05] mbxx commented on #87
@perfinion: Adding git tags to the LTS branches sounds reasonable.  We've gone ahead and tagged the first LTS.

I think that covers what's been requested, so I'm going to close this issue out.  Please let us know if this doesn't meet your needs for any reason.

[2018-08-07 22:05] #87 closed, assigned to ahedberg

[2018-08-07 22:14] darix opened #155 "no items defined to be installed"
which ends a build for my rpm package with:

     make: *** No rule to make target 'install'.  Stop.

Please advice which targets should be installed where. Thank you in advance

[2018-08-07 22:15] darix commented on #155
as a small addition:

definition so versions for all the shared libraries that are being build would be awesome

[2018-08-08 08:23] 2power10 opened #156 "Build with MSVC get warning C4018 (signed/unsigned mismatch)"
I generate the abseil-cpp using CMake in Windows, and I got some warnings C4018 which block the building.

I used following command to generate VS solution:

[code]

The warnings I got:

[code]

[2018-08-08 13:48] derekmauro commented on #155
This is probably a duplicate of https://github.com/abseil/abseil-cpp/issues/111, but I'll let @JonathanDCohen, who is working on cmake support, and @mbxx who is working on the LTS release comment. It seems like solving this should have been a prerequisite for the LTS release.

[2018-08-08 14:01] derekmauro commented on #156
Duplicate of https://github.com/abseil/abseil-cpp/pull/153 (and possibly https://github.com/abseil/abseil-cpp/issues/40 as well).

[2018-08-08 14:01] #156 closed, assigned to nobody

[2018-08-10 14:47] mbxx commented on #155
I'm afraid I don't understand what being requested here, probably because I haven't worked on cmake which I'm inferring this has something to do with, but I'm happy to comment on the LTS branch.

Abseil is looking into adding support for shared libraries, but that's not something our code was designed for, so we don't officially support it yet.  The most likely outcome is we'll support building sh

[2018-08-10 16:13] JonathanDCohen commented on #155
It seems like the initial comment was cut off at the beginning.  Installation support hasn't been added yet, but it will come soon.

[2018-08-10 16:58] darix commented on #155
Even if you dont have shared libraries yet: things that could be installed

headers and needed source files to /usr/include/abseil-cpp

maybe a cmake finder installed into /usr/share/cmake.

pkgconfig files might also be good. for support finding with non cmake build systems.

[2018-08-11 08:45] ojura opened #157 "int128.h warnings with -Wpedantic"
When building Google Cartographer (which defines `-Wpedantic`) I get warnings like these if Abseil header directories are specified using `-I` instead of `-isystem`:

<details><summary>int128.h warnings</summary>
<p>

[code]
</p>
</details>

This is on Ubuntu 18.04.

[2018-08-11 15:08] derekmauro commented on #157
This is working as intended. We don't support `-Wpedantic` because it is counter-productive.

`-Wpedantic` warns about anything that doesn't strictly conform to ISO C++. Our implementation of `uint128` uses non-standard compiler intrinsics on platforms that support them. We also have an implementation of `uint128` that doesn't rely compiler intrinsics for platforms that don't have compiler support

[2018-08-11 15:08] #157 closed, assigned to nobody

[2018-08-11 15:58] ojura commented on #157
In that case, it would be nice if we could have Abseil library targets export the interface headers in the [`INTERFACE_SYSTEM_INCLUDE_DIRECTORIES`](https://cmake.org/cmake/help/latest/prop_tgt/INTERFACE_SYSTEM_INCLUDE_DIRECTORIES.html) property instead of [`INTERFACE_INCLUDE_DIRECTORIES`](https://cmake.org/cmake/help/latest/prop_tgt/INTERFACE_INCLUDE_DIRECTORIES.html), so they get included with `-

[2018-08-13 14:16] OlafvdSpek opened #158 "URLEncode / Decode"
URLEncode / Decode functions would be nice to have.

[2018-08-13 14:53] tituswinters commented on #158
(Without making any promises)
Can you provide more detail for what you're looking for? I'm pretty sure we won't be publishing a URL type (at least not soon).

[2018-08-13 15:31] OlafvdSpek commented on #158
Functionality like http://php.net/urlencode and http://php.net/urldecode.
No URL type required / requested.

[2018-08-13 15:34] tituswinters commented on #158
Oh, you just want encoding / decoding for query-string params?

[2018-08-14 13:19] OlafvdSpek commented on #158
I'm afraid so. ;)

[2018-08-14 20:11] derekmauro commented on #142
This is now fixed.

[2018-08-14 20:11] #142 closed, assigned to manshreck

[2018-08-15 04:54] wjywbs opened #159 "Debug build failure: gtest_label_1081 used but not defined"
ubuntu 16.04, default gcc 5.4

[code]

[code]

git bisect shows 99477fa9f1e89a7d8253c8aeee331864710d080c is the first bad commit.

This is a quick fix:

[code]

[2018-08-15 06:24] jcageman commented on #68
Any update on the estimate? Thanks!

[2018-08-15 14:05] shaindelschwartz commented on #68
We're tidying up some loose ends at this point. We're fairly confident that we will be able to release in September.

[2018-08-16 12:45] ojura commented on #157
@derekmauro WDYT?

[2018-08-16 18:42] derekmauro commented on #157
I don't know much about that. Would that disable all warnings when we are building Abseil on its own, or only when Abseil is used as a subproject?

[2018-08-16 19:44] ojura commented on #157
Probably would silence them in both cases. How about `option(ABSEIL_SYSTEM_HEADERS “Declare Abseil headers as system headers.” false)`?

[2018-08-17 14:52] derekmauro commented on #159
Thanks for the report. I've managed to reproduce this in a VM. I have no idea why it doesn't reproduce on any of the compilers I normally use.

I have a different fix in mind though:
`#define ABSL_EXPECT_DEATH_IF_SUPPORTED EXPECT_DEATH_IF_SUPPORTED`
becomes
`#define ABSL_EXPECT_DEATH_IF_SUPPORTED(s, r) EXPECT_DEATH_IF_SUPPORTED(s, r)`

[2018-08-17 19:16] derekmauro commented on #157
It would be an extra feature that would have a small but non-zero cost to maintain, and I don't think any of the Abseil maintainers are going to think much about it or care to maintain it. @JonathanDCohen is also be re-working CMake support soon. I don't know if there is a standard solution to this problem, but if there is, I think we'd rather figure out what that is than add another option.

[2018-08-20 20:20] derekmauro commented on #159
Fixed by d8cfe9f2a77fbee02c09642491e62a3f3677e0f6.

[2018-08-20 20:20] #159 closed, assigned to derekmauro

[2018-08-21 10:04] ojura commented on #157
Okay, my proposal is in #160. I am not aware that there is a standard way of handling this.

[2018-08-22 17:34] denchat opened #161 "absl::string_view issues on "clang-target-msvc""
It seems clang-target-msvc has issues on `absl::string_view` (even with abseil own implementation)

While MSVC works on abseil own implementation :
[code]
[godbolt.org/z/3dXOdg](https://godbolt.org/z/3dXOdg)

clang-target-msvc doesn't work and errors as:
[code]

This is related to [stackoverflow.com/q/51966426](https://stackoverflow.com/questions/51966426) .

[2018-08-22 18:39] denchat commented on #161
The previous title is wrong because `__cplusplus >= 201703L` can filter out clang-target-msvc already. I misunderstood in the 1st place.

It turns out MSVC compile abseil string_view implementation but clang-target-msvc doesn't.

Moreover, in both MSVC and clang-target-msvc, StrCat error when takes `std::string_view` parameters. If this could be fixed also, it would be nice.

[godbolt.org/z/xn2sa7

[2018-08-22 20:01] zhangxy988 commented on #161
Thanks for the report.
This is definitely an issue because we don't want `std::string_view` and `absl::string_view` to both exist as two distinct types (which will cause a lot of trouble/confusion for users). I'll look into removing the commented `ABSL_HAVE_STD_STRING_VIEW` from the MSVC section.

[2018-08-22 20:49] denchat commented on #161
Thank for response.  So this mean on MSVC now there are two distinct types of std;:string_view and absl::string_view but they are supposed to be one type std::string_view. However std::string_view of MSVC (and only MSVC) plays naughty to abseil string library. Am I correct?

I just found out that clang-target-msvc somehow successfully keeps aliasing std::string_view even if `ABSL_HAVE_STD_STRING_V

[2018-08-23 19:09] zhangxy988 commented on #161
So there seems to be two issues here:
1. On MSVC, since `ABSL_HAVE_STD_STRING_VIEW` is not properly defined when `std::string_view` is available, both `absl::string_view` and `std::string_view` exist as distinct types. This causes `absl::StrCat()` to choke on `std::string_view` because it only accepts with `absl::string_view`. This can be fixed by correctly define `ABSL_HAVE_STD_STRING_VIEW`.

2.

[2018-08-23 20:45] denchat commented on #161
After some testing, enabling `ABSL_HAVE_STD_STRING_VIEW` and change pointer type into `&*it` and `&*str.begin()` seems to fix the complication. Thank you.

[2018-08-23 21:21] mbxx commented on #151
The problem turned out to be quite widespread, as it was introduced by some sed transformations.  I think this should be fixed across the entire Abseil codebase now.  Thank you for pointing this out.  If you notice any more trouble spots, please let us know and we'll fix those, too.

[2018-08-23 21:21] #151 closed, assigned to mbxx

[2018-08-24 21:51] zhangxy988 commented on #161
I have the change ready and it's under review. It should land here some time next week.

[2018-08-27 15:19] wesleygriffin opened #162 "CMake ABSL_RUN_TESTS not honored"
Repro: https://github.com/wesleygriffin/absl-cmake-case

The main issue I'm reporting here is that using the setup outlined in the above repo, ABSL_RUN_TESTS=OFF seems to have no effect. I'm using the FetchContent module to populate absl so that I can then use add_subdirectory from my project.

third_party/Abseil.cmake forces ABSL_RUN_TESTS to OFF in the cache, but that's not being picked up. Perh

[2018-08-28 10:38] rongjiecomputer commented on #162
The fix should be simple enough: just change `BUILD_TESTING` to `ABSL_RUN_TESTS` in https://github.com/abseil/abseil-cpp/blob/30de20488bb88dc22d23521c5c222ec6d924e289/CMake/AbseilHelpers.cmake#L138-L141
@JonathanDCohen Should I take this issue?

[2018-08-30 16:15] zhangxy988 commented on #161
This should be fixed now. We are still working on adding MSVC 2017 coverage in our CI though.

[2018-08-30 16:15] #161 closed, assigned to zhangxy988

[2018-08-30 17:58] mbxx commented on #141
I definitely agree that `HexStringToBytes` is particularly awkward when it comes to handling invalid inputs.  I'd like to see if there's something we can do about that.

I think my ideal would be to change the signature of `HexStringToBytes` so that it can report errors.  I've started a conversation with the other (internal) owners of this code to see what they think.

It's worth pointing out that

[2018-08-30 18:18] mbxx commented on #158
The internal versions of these functions look broadly used enough that we'll probably want to release them at some point, but they're currently part of the URL class where they live alongside a bunch of closely-related but very rarely used functions.  There's some design work to be done to figure out how best to cleanly separate this.  I think that would most likely happen as a part of a larger pr

[2018-09-03 17:53] pitrou opened #164 "Unclear how to use and expose in libraries"
I'm willing to use Abseil in [a library](https://github.com/apache/arrow/) I work on. However, it's not clear to me what to do when a Abseil type such as `string_view` is exposed in one of our public headers. Should we install the Abseil header files along our one header files? That doesn't seem compatible with the recommendation to "live at head" (what if different libraries try to install differ

[2018-09-04 12:04] abolz opened #165 "Missing charconv_algorithm.md"
A [comment](https://github.com/abseil/abseil-cpp/blob/master/absl/strings/charconv.cc#L553) in charconv.cc indicates that algorithm details can be found in charconv_algorithm.md. This document currently is missing in the abseil-cpp repository.

[2018-09-04 15:24] ahedberg commented on #164
We have some documentation on this here: https://abseil.io/about/releases. How do users typically build and/or depend on your library? We might be able to provide more specific guidance with a little more information.

[2018-09-04 15:44] pitrou commented on #164
We support several ways:
- use pre-built binaries (for various platforms and package managers)
- build their own copy from source

We use CMake as a build system. My current hunch is to build tag 20180600 as part of building Arrow, and install the Abseil headers alongside our own.

[2018-09-04 16:54] navidR commented on #47
Can we keep this open to follow this issue? Any news or any updates regarding the addition of file system support to Abseil would be posted here.

[2018-09-04 18:26] JonathanDCohen commented on #162
Just coming around to this.  Yeah, this seems like the problem, and youc an totally take the issue if you'd like :)

[2018-09-05 13:37] ahedberg commented on #164
For pre-built binaries, Arrow will want to use an LTS branch, and users will need to compile their code with the same LTS branch. Pre-built binaries are not really compatible with living at head.

@JonathanDCohen knows more about our CMake setup and might have more suggestions.

[2018-09-05 13:42] pitrou commented on #164
Yes, basically my current approach is to have a git submodule of the LTS branch:
https://github.com/apache/arrow/pull/2501/files#diff-9eeadb2bd9c56925f04c1885511d6a85

and then this piece of CMake code to integrate it in our build chain:
https://github.com/apache/arrow/pull/2501/files#diff-2420b0c5b6bdad921f1d538f92d64b59R276

[2018-09-05 18:44] mbxx commented on #47
That's fair, we can keep this open.

[2018-09-10 13:00] zyfjeff opened #167 "absl::string_view bug"
The latest code on the master

[code]

This test will fail
[code]

Change the following is right
[code]

[2018-09-10 13:18] derekmauro commented on #167
I don't think so. `prefix + expect_string` returns a temporary that doesn't live beyond that line, so on the following line `data[0]` references data that no longer exists.

[2018-09-10 13:22] zyfjeff commented on #167
@derekmauro  I'm sorry, didn't pay attention to this situation, I close this issue

[2018-09-10 13:22] #167 closed, assigned to nobody

[2018-09-11 03:36] yy7897897 opened #169 "Title can't be blank."
Title can't be blank.

[2018-09-11 18:23] #162 closed, assigned to JonathanDCohen

[2018-09-23 12:34] wjywbs opened #171 "Expose CaseEqual as a public function?"
Would you consider to expose the CaseEqual function in match.cc? It's useful to use it standalone.

https://github.com/abseil/abseil-cpp/blob/master/absl/strings/match.cc#L22

[2018-09-24 13:28] derekmauro commented on #171
I think @mbxx is already working on this, but some cleanup is required first though.

[2018-09-24 16:18] mbxx commented on #171
@derekmauro is correct, we're actively working on this and we'll be adding the function to the public API soon as "absl::EqualsIgnoreCase".  There's just a little more internal cleanup to finish up first.

[2018-09-25 14:07] weidonglian opened #172 "absl::Time and absl::Duration"
Hi,

We start using the absl::Time and absl::Duration in our code base to handle time, duration, date, timezone formatting.
1. Is the absl::Time is monotonic? Can we use it to schedule the task or job running?
I know you have ClockTime which is internal API ( I guess it is not encouraged to be used outside of abseil).
2. How you handle it if the user changes the local system time or Daylight time

[2018-09-25 17:32] derekmauro commented on #172
`absl::Time` represents an absolute point in time, so "monotonic" in meaningless in reference to `absl::Time`. I think you mean to ask if `absl::Now()` is monotonic, and the answer is no, it isn't.

Changes to the system clock do not change stored `absl::Time` values. Values returned by `absl::Now()` will jump around if the user changes the system clock. Time changes will be reflected by `absl::No

[2018-09-26 13:36] #172 closed, assigned to nobody

[2018-09-27 21:10] derekmauro commented on #68
I just pushed 48cd2c3f351ff188bc85684b84a91b6e6d17d896 which contains the hash containers. Documentation should be published today as well. Please report any issues you find.

[2018-09-27 21:10] #68 closed, assigned to shaindelschwartz

[2018-09-27 23:01] shaindelschwartz commented on #68
https://abseil.io/blog/20180927-swisstables

[2018-09-28 05:31] vslashg opened #176 "Figure out why time is exporting symbols"
At cppcon, talking to MS, we realized the time library is exporting non-function symbols.  Figure out why, and see if we can fix it.

[2018-09-28 12:32] matthewgingell opened #177 "cmake: Undefined symbol absl::container_internal::ShouldInsertBackwards"
How should applications built with CMake depend on absl::flat_hash_map? I'm seeing a the following link error:

t.cc:

#include "absl/container/flat_hash_map.h"

int main() {
  absl::flat_hash_map<int, int> flat_map;
  flat_map.insert({1, 2});
}

CMakeLists.txt:

cmake_minimum_required(VERSION 3.12)
add_subdirectory(abseil-cpp)
set(CMAKE_CXX_STANDARD 17)

add_executable(t t.cc)
target_link_librari

[2018-09-28 13:55] derekmauro commented on #177
This will be fixed once #173 gets merged.

[2018-09-28 13:55] #177 closed, assigned to nobody

[2018-09-28 13:56] #169 closed, assigned to nobody

[2018-09-28 17:28] alexweej commented on #111
Is there any "work in progress" branch for this? I'm having a little stab myself in order to integrate with our organization's packaging system.

[2018-09-28 18:26] wjywbs opened #178 "How to enable sse in the new hash tables?"
Since the public hash table headers include the internal raw_hash_set.h, how should the sse instructions in raw_hash_set.h be enabled? All cc targets using the new hash tables will need a copt like `-mssse3`.

Or is the speed difference insignificant between the sse and non sse versions?

https://github.com/abseil/abseil-cpp/blob/master/absl/container/internal/raw_hash_set.h#L94
https://github.com

[2018-09-28 18:43] derekmauro commented on #178
We can't put something like `-msse3` in `ABSL_DEFAULT_COPTS` because we don't know if you are building for a CPU that supports SSE3. You either have to add it to your `CROSSTOOL` file or specify it on the command line. I think `--copt=-march=native` will set it correctly for the machine you are compiling on, but keep in mind the architecture of the machine you are compiling on may not be the same

[2018-09-29 10:21] weidonglian opened #179 "Exception safety guarantee"
I know that Google internally does not allow exceptions as error handling in the whole code base.
How about abseil? It is exception safe?
In our code base, we also have a sophisticated return value handling system instead of throwing an exception.

Out of curiosity, how Google internally guarantee the operator new or operator new[] never throw bad_alloc? Do you normally handle this globally in std

[2018-10-01 11:09] alexweej opened #180 "C++ Guide does not actually document backported C++ library features"
e.g. variant and optional. This is the main reason I'm interested in promoting this within my org, and people are asking what is supported.

https://abseil.io/docs/cpp

Not sure if I'm missing something though?

Thanks!

[2018-10-01 14:31] mbxx commented on #180
We rely pretty heavily on our header files for documentation.  Everything
we've released is supported and covered by our compatibility guidelines (
https://abseil.io/about/compatibility), even if it doesn't have a specific
programming guide written for it.

Are there specific questions about support that our documentation doesn't
cover?

On Mon, Oct 1, 2018 at 7:10 AM Alexander “weej” Jones <
noti

[2018-10-01 14:35] #178 closed, assigned to nobody

[2018-10-01 15:44] mbxx commented on #179
Abseil promises the basic exception safety guarantee on all of our types (https://abseil.io/about/compatibility).  It's true that Google doesn't use exceptions internally, so our exception safety isn't as thoroughly tested as the rest of our library, but we do unit test for exception safety directly (https://github.com/abseil/abseil-cpp/blob/master/absl/base/internal/exception_safety_testing.h).

[2018-10-01 15:44] #179 closed, assigned to nobody

[2018-10-01 16:41] alexweej commented on #180
Just that the homepage has this blurb

But then actually finding out which C++17 library features have been backported seems to be hard. How exactly should one browse the source to discover what Abseil offers?

Thanks

[2018-10-01 16:56] mbxx commented on #180
Ah, okay, now I understand what you're asking for.  The problem is discoverability.

@manshreck , what do you think?

[2018-10-02 20:29] nunojpg opened #181 "absl::optional operator= throws SIGBUS when operand is a misaligned value"
I have a protocol structure packed (#pragma pack(1))m as so data members can be misaligned.

Under armhf when I use operator= with a specific field:

[code]

I get a SIGBUS:

[code]

My workaround was to create a temporary:

[code]

I believe this is a bug.

[2018-10-04 07:36] zach2good commented on #112
Has this been completed? test binaries are now in the form `absl_foo_test_bin`

[2018-10-05 19:20] ilyapopov opened #183 "[CMAKE] absl::container target should depend on absl::hash"
If I just do

    target_link_library(my_app PRIVATE absl::container)

I get linker errors like

    undefined reference to `absl::hash_internal::CityHashState::kSeed'

To fix this, I have to add `absl::hash` to my `target_link_libraries` call.

It would be nice if `absl::container` declared a `PUBLIC` dependency on `absl::hash` in its `CMakeLists.txt`, so the user would not need to figure out it

[2018-10-08 13:55] OlafvdSpek opened #184 "StrReadUntil(string_view&, string_view sep)"
Request for a function like `string_view StrReadUntil(string_view&, string_view sep)`

Returns the part until (not including) the separator and removes that part (including separator) from the input (in-place).
Returns the entire input and clears it if separator isn't found.

Examples:
StrReadUntil(is, "\n"); // reads next line
StrReadUntil(is, ";"); reads next value from 1;2;3

It's a bit like `g

[2018-10-10 08:15] OlafvdSpek opened #185 "#include "" vs <>"
What's the rationale for using ""?

[code]

I don't think such includes should be resolved relative to the location of the file they're in..

[2018-10-10 14:12] OlafvdSpek opened #186 "max() macro collision"
Gotta love macros. MSVC project without NOMINMAX defined.

[code]

[2018-10-11 00:26] tituswinters commented on #185
With our build systems, there is an assumption that the compiler is only
invoked from the project root.

Doing so allows us to avoid polluting include-dirs, and provide a visual
identifier for "part of this project" vs. "included from elsewhere."

It's Google-style (see the public C++ style guide), but it's also a thing
that I think makes sense and should be done consistently elsewhere.  I'm
argui

[2018-10-11 07:21] OlafvdSpek commented on #185
I don't understand how this follows from the above. AFAIK the include search path isn't affected by the current working directory at time of compiler invocation.
Even if it was, this wouldn't affect "" vs <> would it?

What's the definition of project here? If I include Abseil, it sounds like the latter. But https://abseil.io/docs/cpp/quickstart uses #include "absl/..."

I read that part of the gu

[2018-10-11 11:56] uilianries opened #187 "Conan Package Support"
Hello,

Do you know about [Conan](https://github.com/conan-io)?

Conan is modern dependency and package manager for C/C++. And will be great if your library will be available via package manager for other developers.

Now we have famous C++ projects, including Google Flatbuffers. We could support you writing a recipe and publishing your packages on Bintray.

If you have any questions, just ask :-)

[2018-10-11 14:47] shaindelschwartz commented on #172
For additional documentation, the [Time programming guide](https://abseil.io/docs/cpp/guides/time) is now available.

[2018-10-11 21:38] tituswinters commented on #185
+Tom Manshreck <shreck@google.com> - Can you look into the quickstart
example?

On Thu, Oct 11, 2018 at 6:22 PM Olaf van der Spek <notifications@github.com>
wrote:

[2018-10-12 07:17] weidonglian commented on #172
Great, thanks for the documentation!!

[2018-10-12 15:32] ahedberg commented on #187
If I understand correctly, Conan distributes precompiled binary packages. Abseil does not promise ABI compatibility and recommends that its users compile from source at head. https://abseil.io/about/releases has more details.

[2018-10-12 17:54] uilianries commented on #187
Conan distributes both source and precompiled binary packages, but is not mandatory. However mostly of author distribute some per-defined packages, including different compiler versions and platforms.

[2018-10-12 21:20] Alfus opened #188 "Expose custom Base64 encoding/decoding functions."
It would be great to have support for custom base64 functions (similar to Base64UnescapeInternal and Base64EscapeInternal functions in absl/strings/escaping.cc), so that custom Base64 alphabets can be supported.

I have a use case where I need to convert binary (leveldb) keys to something that works well with Google Cloud Datastore/Firestore and GCS. where the resulting string meets the following