[2019-10-26 03:06] decitrig opened #396 "absl::Uniform produces poor distribution when built with -c opt"
I'm using absl::Uniform to generate an array of random doubles in the range [0,1), and I've found that the output is very different between `bazel run` and `bazel run -c opt`.

Without `-c opt`, I get fairly well-distributed values:
[code]

With `-c opt` I get a very non-uniform distribution:
[code]

With `-c opt`, it's mostly 0s and pairs of specific values like
[code]
repeat a lot.

I'm running

[2019-10-26 05:34] EricWF commented on #396
would you be able to provide a stand-alone reproducer?

[2019-10-27 00:05] decitrig commented on #396
Yes, here's a simple program that demonstrates the behavior. I included `std::uniform_real_distribution` for comparison (though obviously I don't expect the numbers to be identical).

[code]

[code]

[code]

I haven't tried this on other platforms yet.

[2019-10-27 03:38] EricWF commented on #396
thank you for the reproducer. I think we have enough information to act.

[2019-10-27 12:34] lilianmoraru commented on #365
Looking at the changes, I think in my case it will throw the warning `Value of CMAKE_SYSTEM_PROCESSOR (${CMAKE_SYSTEM_PROCESSOR}) is unknown and cannot be used to set ABSL_RANDOM_RANDEN_COPTS` and not set any flags, which is fine with me.
I might set manually `CMAKE_SYSTEM_PROCESSOR` to `arm`, for the optimizations.
I will try to test it today and see if it compiles.

[2019-10-27 14:17] lilianmoraru commented on #365
Yes, I saw the warning message, but it works.
Closing this since it is fixed in the `master` branch.
Thank you!

[2019-10-27 14:17] #365 closed, assigned to asoffer

[2019-10-27 14:52] lilianmoraru commented on #394
@zh794390558 It would help if you added info about your compiler type, compiler version, the target(target triple) it is being compiled for(pasting the compiler flags used could help here) and CPU type(example: the output of `sudo lshw -C cpu`).

[2019-10-27 14:59] lilianmoraru commented on #365
I observed that the check on `CMAKE_SYSTEM_PROCESSOR` is a bit "flaky".
People usually set it like this: `set(CMAKE_SYSTEM_PROCESSOR ARM)`, which this check `elseif("${CMAKE_SYSTEM_PROCESSOR}" STREQUAL "arm")` would fail, because it is case sensitive and it would expect `STREQUAL "ARM"`.
This is usually fixed with [`string(TOUPPER`](https://cmake.org/cmake/help/v3.16/command/string.html#toupper) o

[2019-10-28 01:42] zh794390558 commented on #394
[code]

[code]

[code]

[2019-10-28 15:16] faceprint commented on #394
Looks like GCC didn't implement _mm_loadu_si64 until version 9.
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=78782

[2019-10-29 02:24] zh794390558 commented on #394
So how to fix this? I does not want to upgrade gcc version.

[2019-10-29 14:50] vslashg commented on #394
We acknowledge this issue, and we're looking into the best way to resolve it.  A path forward here might be to disable the optimized path for older gcc versions, but I'm asking around to see if we can come up with something better.

[2019-10-29 16:30] alkis commented on #394
Can you verify that it works if you replace `_mm_loadu_si64` with `_mm_loadl_epi64`. They should generate the same assembly.

[2019-10-30 19:07] #394 closed, assigned to nobody

[2019-11-01 18:02] trybka commented on #395
I believe you need to set `--cpu` as well.

Bazel defaults to building for Darwin (macOS) on a Mac, and changing `--apple_platform_type` is not always sufficient to target iOS.

Something like:
[code]
oughta do it.

[2019-11-01 20:18] lilianmoraru commented on #367
This would encourage bad practice. Making it easier to go the inefficient way.

[2019-11-01 23:14] mpalczew commented on #395
Thanks for the info, I did just try this.

[code]

[2019-11-04 03:39] iam5j opened #398 "It crashes when build with -static link flag"
I tried to instantiate flat_hash_map in my example.cc, following https://abseil.io/docs/cpp/tools/cmake-installs#generate-the-abseil-static-binaries, it crashes while `-static` link flag is set in CMakeLists.txt as below:
`target_link_libraries(example absl::strings absl::flat_hash_map -static)`
But it goes well without `-static` flag:
`target_link_libraries(example absl::strings absl::flat_hash_m

[2019-11-04 14:58] derekmauro commented on #398
Can you please provide a complete example with sources and CMake files?

[2019-11-05 02:35] iam5j commented on #398
- source:

`#include <string>`
`#include <iostream>`
`//#include "absl/strings/str_split.h"`
`//#include "absl/strings/str_replace.h"`
`//#include "absl/strings/ascii.h"`
`//#include "absl/strings/str_cat.h"`
`#include "absl/container/flat_hash_map.h"`

`class AbslHashMap {`
` private:`
`  const absl::flat_hash_map<std::string, std::string> map_ = {`
`    {"time", "today"}, {"place", "where"}`
`

[2019-11-06 14:04] t-soliduslink opened #399 "//abs/container:inlined_vector_benchmark times out on HEAD (commit e96ae2203b)"
[code]

The relevant log file of that test:

[code]

This is on a Quad-Core 4.2Ghz laptop.

[2019-11-07 23:20] asoffer commented on #396
We think we've found the issue (an incorrect __restrict that was optimizing away necessary stores while doing the mixing). Hoping to get this pushed to github very soon. Thanks for your patience!

[2019-11-08 01:59] jorgbrown commented on #363
StrCat doesn't support uint128 currently because it does everything using AlphaNum buffers, and those buffers aren't large enough to support all the digits of a uint128.

uint128 does know how to stream itself, however, and StrJoin support streamable things, so you can do this:

`std::string str = absl::StrJoin(std::make_tuple(ui), "", absl::StreamFormatter());
`

It generates reasonable code, too

[2019-11-09 19:10] aostrowski opened #401 "Add building Conan package as part of CI"
When trying to build Abseil's Conan package I discovered that the script was broken. That's why I filed #400.

In order not to have such regressions in the future I'd like to propose building the Conan package as part of the CI process.

[2019-11-11 18:32] derekmauro commented on #399
This is safe to ignore. We normally run our tests with `bazel test --test_tag_filters=-benchmark ...`.

We need to clean this up so that benchmarks that are currently `cc_test` are changed to `cc_binary`, since they aren't really tests.

By the way, for anyone who may be reading this, please don't sent us a pull request to fix this. From our point of view, this isn't as straightforward as it sound

[2019-11-12 18:09] suertreus commented on #398
Looks like there's a known issue with pthread (used by Abseil) and static linking:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=52590

The workaround is to turn `--whole-archive` on before passing `-lpthread` (and, optionally, turn it off after).  You can add that to `target_link_libraries` where you pass `-static`, but I think it might be better to set `CMAKE_EXE_LINKER_FLAGS=-static -Wl,--whole-

[2019-11-12 18:09] #398 closed, assigned to nobody

[2019-11-12 18:19] suertreus commented on #395
I'm not able to repro this problem.

I think this is your problem.  The error message "null" is unhelpful, but maybe double-check whether your filesystem is full?  In any case, I think this is more of a Bazel problem than an Abseil problem, so you might have more luck there: https://github.com/bazelbuild/bazel/issues.

[2019-11-12 18:19] #395 closed, assigned to nobody

[2019-11-13 03:47] cloudhan commented on #248
@derekmauro almost a year passed...

[2019-11-13 07:48] sammi opened #402 "tests failed for inlined_vector_benchmark, fixed_array_benchmark, notification_test, and time_zone_format_test"
Windows10

MSVC: 14.23.28105
Windows SDK: 10.0.18362.0

[code]

[code]

//absl/container:inlined_vector_benchmark                               TIMEOUT in 300.0s
  C:/users/songy/_bazel_songy/gbzrkxa5/execroot/com_google_absl/bazel-out/x64_windows-fastbuild/testlogs/absl/container/inlined_vector_benchmark/test.log
//absl/container:fixed_array_benchmark                                   FAILED in 1

[2019-11-13 14:46] derekmauro commented on #248
It's still very actively being worked on. Time estimates are hard.

[2019-11-13 15:25] derekmauro commented on #402
You need to run something like `bazel test --test_tag_filters=-benchmark --test_env=TZDIR="%CD%\absl\time\internal\cctz\testdata\zoneinfo" ...`. Hopefully soon you won't need the `--test_tag_filters=-benchmark` part.

[2019-11-13 15:25] #402 closed, assigned to nobody

[2019-11-14 18:44] #396 closed, assigned to asoffer

[2019-11-16 10:48] Shikugawa opened #403 "string_view: not working correctly with string_view::data()"
In string_view, when we use `string_view::substr()` and `string_view::data()`, we can't retrieve correct result. does it work fine?

For example, we called under function

[code]

it should be retrieved as under result

[code]

but, retrieve under result currently

[code]

This is because of `string_view::data()` returns `const char*` without validating with `length_` flag
If it is invalid, I can

[2019-11-16 11:16] #403 closed, assigned to nobody

[2019-11-22 08:25] assassin5615 opened #563 "btree is slower than std::map for finding operation"
this is not so much an issue as a question.

I did a very simple comparison between std::map and btree using google benchmark. code is as below
[code]
the benchmark result is as below, btree is only half fast as std::map

I also tried with random numbers and the result is similar.

just wonder if  I am using btree incorrectly or the theory that makes btree faster than std::map does not always stan

[2019-11-24 17:16] asoffer commented on #401
Thanks for bringing this to our attention Adrian. Abseil doesn't officially support Conan (even at the best-effort level). We welcome pull requests to fix issues. We also welcome pull requests to set up external CI for this with the caveat that members of the Abseil team are unlikely to pay attention to the results of the CI. If this is something the community wants to support we encourage that, b

[2019-11-24 17:16] #401 closed, assigned to asoffer

[2019-11-24 23:25] ApacheWang opened #566 "I'm having trouble compiling with qnx"
I modified the compiler in the CMakeList file to point to q++ and qcc, but got the following error during compilation.

`/home/user/abseil-cpp/absl/synchronization/mutex.cc:545:66: error: no 'void absl::Mutex::IncrementSynchSem(absl::Mutex*, absl::base_internal::PerThreadSynch*)' member function declared in class 'absl::Mutex'
 inline void Mutex::IncrementSynchSem(Mutex *mu, PerThreadSynch *w) {

[2019-11-25 14:53] derekmauro commented on #563
I noticed your benchmark does not give the value you used for `loop_cnt`. I tried your benchmark with a few values and found that for smaller values, `std::map` is indeed faster, but as you increase the value of `loop_cnt`, `absl::btree_map` starts to outperform `std::map`.

On modern CPUs benchmarking code tends to be tricky, particularly when the code depends on the CPU cache. Simplistic benchma

[2019-11-25 15:21] derekmauro commented on #566
We don't support the compiler you are using. We might accept a patch if it is simple enough.

[2019-11-25 15:21] #566 closed, assigned to nobody

[2019-11-25 19:12] EvilPotat0 opened #567 "MSVC: btree EmptyNode() allocates an EmptyNodeType and never deletes it"
Noticed this was triggering our memory tracking on shutdown. Not really a clean way for a client to clean this up themselves either.

[2019-11-25 19:55] derekmauro commented on #567
Someone asked about this on our mailing list recently. See my response here: https://groups.google.com/forum/#!topic/abseil-io/zyYZOu8x7Yg

[2019-11-25 19:55] #567 closed, assigned to nobody

[2019-11-26 04:42] assassin5615 commented on #563
what you explained is very helpful to me, thanks for looking into the issue.

[2019-11-26 04:42] #563 closed, assigned to nobody

[2019-11-27 14:47] terrisgit commented on #566
Same issue. Seems weird for Google to not support the automotive market.

[2019-11-27 15:43] derekmauro commented on #566
I don't have the compiler or a machine to run it on. The compile error above is in `absl::Mutex`. I would strongly caution anyone against using `absl::Mutex` on a real-time operating system. `absl::Mutex` was not designed with real-time operating systems in mind and hasn't been tested on one. Other pieces of Abseil probably work.

[2019-11-29 18:35] terrisgit commented on #566
Interesting. Well, I guess we are willing to test it for you - otherwise we will have to abandon abseil's awesome conditional critical sections. I noticed that dragonflybsd is having the same problem using gcc 8.0 with -std=gnu++11  http://muscles.dragonflybsd.org/synth/logs/devel___abseil.log

[2019-11-30 14:56] derekmauro commented on #566
Try adding a condition for your platform to `ABSL_HAVE_MMAP` and let us know how it goes: https://github.com/abseil/abseil-cpp/blob/0514227d2547793b23e209809276375e41c76617/absl/base/config.h#L296-L303

This might be all you need.

[2019-12-10 12:31] lilianmoraru opened #568 "Can I pass a precomputed value to AbslHashValue?"
I could not find a chat, so I leave the question here:
I have a big collection of strings that I've calculated the hash for, at compile-time(using XXH3) - I've already checked(at compile-time) all of these for hash collisions.
Is there a way to avoid paying the cost of another hash(the internal CityHash) over my numbers?

[2019-12-10 13:12] tituswinters commented on #568
Nope. The design intent of the Abseil hashing framework is to make it easy
to identify the values/bytes that go into a hash, without exposing users to
the details of calculating a hash (which they often get wrong or make
choices based on inaccurate information about how hash probing works).

If you've got compile-time constants for all of your hash values, I'm not
sure that Abseil hashes / hash co

[2019-12-10 13:44] lilianmoraru commented on #568
I know that collection of strings at compile-time but there are a few more that are added/generated at run-time, which I cannot predict the hash for.

I use my custom type as a `flat_hash_map` Key, but I see that like any other map, I can pass a custom Hash(I was hoping I can avoid that, to make the life of the user easy), so I think will do that.
I was going the wrong route, thanks!

[2019-12-10 13:44] #568 closed, assigned to nobody

[2019-12-10 14:43] tituswinters commented on #568
The concern is that the Abseil hash containers require a very particular
(very uniform, highly mixed) bit distribution for hashing. Replacing with
an arbitrary hash, especially one that is based on different assumptions
(prime table sizes, for instance) will result in extraordinarily bad
performance. So you certainly can replace the Hash, but you should do so
carefully and have good benchmarks.

O

[2019-12-13 08:08] NancyLi1013 opened #570 "link failure for StrCat with >4 arguments"
Using function `absl::StrCat()`, if we `set(CMAKE_CXX_STANDARD 17)` in `CMakeLists.txt`, there are two different results.
1. if we put less than four arguments, such as absl::StrCat(1,2,3,4), it will compile successfully.
2. if we put five arguments, such as absl::StrCat(1,2,3,4,5), it will post the failures:
[code]
Please refer to the info in vcpkg [here](https://github.com/microsoft/vcpkg/issues

[2019-12-16 18:35] mbxx commented on #570
It's entirely possible that this is absl::string_view/std::string_view ABI incompatibility issues.  I'll comment on the vcpkg issue.

[2019-12-17 10:25] pompon0 opened #571 "statically linked binary (by bazel) with abseil dependency segfaults on initialization"
I'm trying to create a statically linked c++ binary which uses absl/flags.
I'm using bazel for build automation.
Building goes fine, but when executing the binary I get a segfault (it works fine with dynamic linking). I've determined that I can remove all of my code, except for the ParseCommandLine statement, and I still get the segfault.

Minimal example:
https://github.com/pompon0/abseil-segfaul

[2019-12-17 15:47] mbxx commented on #570
This does indeed appear to be caused by Abseil and the code calling Abseil being built with different C++ versions, which caused `absl::string_view` and `std::string_view` to be different types and therefore ABI incompatible.  I suggested setting `ABSL_OPTION_USE_STD_STRING_VIEW` to 0 if this is something vcpkg would like to support.

[2019-12-17 15:47] #570 closed, assigned to mbxx

[2019-12-18 05:45] NancyLi1013 commented on #570
Thanks for your description and suggestion.

[2019-12-18 15:12] BotellaA opened #572 "error while loading shared libraries"
I am using Abseil with the CMake integration and would like to use the `absl::flat_hash_map`.
My CMake can find the `absl` package and compile/link perfectly by adding the `absl::flat_hash_map` cmake target. However, I got surprising error only at execution:
[code]
Here is some additional info:
[code]
My executable has a `RUNPATH` pointing to `XXX/build/third_party/abseil/install/lib` and all the

[2019-12-18 15:29] derekmauro commented on #572
Please provide full instructions to reproduce the problem.

[2019-12-18 15:53] BotellaA commented on #572
Here is a complete example: https://github.com/BotellaA/TestAbseil

[2019-12-18 16:45] BotellaA commented on #572
I did another test by exporting `LD_LIBRARY_PATH` to `XXX/build/third_party/abseil/install/lib` and then it works.

My interpretation is that the direct abseil dependencies are correctly found but the indirect dependencies are not. One way to solve this could be to configure the RPATH of the installed libraries instead of adding the `LD_LIBRARY_PATH` which is not handy.

Currently, RPATH is remove

[2019-12-18 17:27] derekmauro commented on #572
I did the same thing with `LD_LIBRARY_PATH` and came to the same conclusion. We will have to research what the proper solution is. Thanks for the report.

[2019-12-18 18:18] BotellaA commented on #572
I had the same issue with my larger project. I fixed it with the code showed in my previous post. Curious about what solution you will chose.

[2019-12-20 12:40] BotellaA opened #573 "Failed to compile on Windows"
I tried to compile on Windows and it failed. Here is what I did:

1. configure abseil using CMake and Visual Studio 2019 with additionnal variable `BUILD_SHARED_LIBS=ON`

1. compile it on Debug

Here is the log:
[code]

Any idea?

[2019-12-23 19:10] asoffer commented on #571
This sounds a lot like an ABI compatibility issue. Is the statically linked standard library built with the same flags as your target and the Abseil build?

[2019-12-23 19:28] pompon0 commented on #571
The standard library I link statically comes with the operating system, I have no idea what flags it has been compiled with. I doubt however that this is an ABI issue, because when I add more abseil libraries to the binary, it stops segfaulting. Have you tried to reproduce the issue with the example I've provided?

[2019-12-24 09:07] MikeGitb commented on #378
I think that might be a bad idea regardless of the issue at hand,  because the result will be that some abseil libs get compiled in c++11 mode (or rather 14 on most compilers) and others in c++17 mode in the same project.

[2019-12-24 09:17] MikeGitb commented on #378
Doesn't that conflict with the 5 year support guarantee?

EDIT: Ah sorry,  I guess you are talking about new targets.

[2019-12-25 19:57] pps83 commented on #357
Same here, basic use of `absl::flat_hash_map` in [VS 2019](https://visualstudio.microsoft.com/vs/) results in compilation errors:

The problem was introduced by c6c3c1b49.

Removing `/permissive-` makes VS2019 compile the code, but it doesn't link because apparently abseil containers aren't header-only (unlike boost::container::flat_map, flat_hash::hash_map and other libs from the web).
**Edit:**

[2019-12-26 21:02] asoffer commented on #573
Abseil does not support building shared libraries today. This is something we're actively working on and hope to have an answer for soon.

[2019-12-26 21:02] #573 closed, assigned to asoffer

[2019-12-26 21:15] BotellaA commented on #573
@asoffer Thanks for the info. Any approximative time line? Just to know if I should wait for it or not.

[2019-12-28 05:34] lanctot opened #575 "Build error with CMake using g++-7 from homebrew"
Hi all,

I am trying to build abseil using g++ on MacOS Catalina (10.15.2). I upgraded to XCode 11.3 and re-installed gcc/g++ from homebrew. Then when trying to build abseil from CMake using:

[code]

I get the following error:

[code]

It builds perfectly fine on my machine with the defaults, i.e. without the `-DCMAKE_CXX_COMPILER` CMake flag. However, our project currently depends on abseil usin

[2019-12-28 05:56] lanctot commented on #575
Might be a problem with homebrew's gcc. Found a similar issue here: https://github.com/microsoft/vcpkg/issues/7585

[2019-12-28 06:38] lanctot commented on #575
Quick update: I just tried compiling our project with clang and it all seems to work fine. So, we will likely switch to using clang.

I'm leaving the issue open in case anybody wants to comment or if there is a fix that someone might suggest.

[2019-12-28 06:48] lanctot commented on #575
Actually, closing since it seems to not be an issue with abseil but rather homebrew gcc.

[2019-12-28 06:48] #575 closed, assigned to nobody

[2019-12-30 18:02] asoffer commented on #571
Yes, I can reproduce your issue. Do you have another library that, when added stops the segfaulting?

[2019-12-31 09:33] KutengF opened #577 "Error while using bazel build"
When I try to use `bazel build //...` in gRPC, it shows:
`
ERROR: error loading package 'bazel-grpc/third_party/abseil-cpp/absl/algorithm': Label '//absl:copts/configure_copts.bzl' is invalid because 'absl' is not a package; perhaps you meant to put the colon here: '//:absl/copts/configure_copts.bzl'?
INFO: Elapsed time: 108.443s
INFO: 0 processes.
FAILED: Build did NOT complete successfully (110

[2019-12-31 20:37] derekmauro commented on #577
We don't know anything about the gRPC build. Please ask your question on a gRPC forum.

[2019-12-31 20:37] #577 closed, assigned to nobody

[2020-01-03 09:31] pompon0 commented on #571
I've submitted another example, this one doesn't segfault (on a branch called "ok"):
https://github.com/pompon0/abseil-segfault/tree/ok
Whether it segfaults seems to depend on which features of the library I use (perhaps linker is removing some stuff when it is "unused"). You can try to delete some code and see when it stops working.

[2020-01-03 15:10] giles45 opened #582 "Conversion warning in bits.h with Visual C++ (2019)"
Since upgrading to the latest version of abseil provided by vcpkg, we have many new compiler warnings of this variety:

`D:\jenkins\workspace\vcpkg\installed\x86-windows-utc-default\include\absl\base\internal\bits.h(89,32): warning C4244: 'argument': conversion from 'uint64_t' to 'unsigned long', possible loss of data`

It looks like that all is required is an addition of a static_cast.

The code

[2020-01-03 17:54] Alfus opened #583 "Add `constexpr` to absl::NullSafeStringView"
Both constructors used by [`NullSafeStringView`](https://github.com/abseil/abseil-cpp/blob/ad904b6cd3906ddf79878003d92b7bc08d7786ae/absl/strings/string_view.h#L608) are `constexpr`, but the function itself is missing `constexpr`. This makes it impossible to use in the context of static constexpr values.

[2020-01-04 08:01] ghost opened #584 "Compile tensorflow 1.50 I met a question, could you tell me what version of the library is referenced in the graph below abseil"
![image](https://user-images.githubusercontent.com/14295852/71762547-5676e680-2f0b-11ea-8420-5558ef064296.png)

[2020-01-04 15:00] derekmauro commented on #584
Sorry, I don't understand the question. What do you mean by "version"?

[2020-01-04 17:28] ghost commented on #584
I found the master of abseil-cpp had remove internal .  it case some question at older tensorflow. I hava sovle it. thank your reply.

[2020-01-04 17:29] #584 closed, assigned to nobody

[2020-01-05 17:03] SchrodingerZhu opened #585 "StrCat redefined error on windows"
[code]

[2020-01-06 00:48] derekmauro commented on #585
Please see https://github.com/abseil/abseil-cpp/issues/377.

[2020-01-06 00:48] #585 closed, assigned to nobody

[2020-01-06 12:13] phwissmann opened #587 "Swiss tables missing constructor with allocator as argument"
Hi

As far as I can see, `flat_hash_set` and `flat_hash_map` could support a constructor like
`explicit flat_hash_set(const Allocator& alloc) : Base(alloc) {}` similarly as `std::unordered_set/map` do. The base class does have this constructor.

This would allow to use polymorphic allocators added to the STL with the Swiss tables like
[code]

Is there any reason abseil does not support polymorphic

[2020-01-06 16:36] tituswinters commented on #378
I don't think so. We aren't saying future code works with everything, just
that anything we publish will keep working for 5 years after a replacement
is available.

On Tue, Dec 24, 2019 at 4:17 AM MikeGitb <notifications@github.com> wrote:

[2020-01-06 18:21] versatran01 commented on #573
But it works fine on linux right? I found no problem building it as shared libs.

[2020-01-06 18:32] versatran01 opened #588 "What is the target name for the random module?"
Background

I compiled abseil outside of my project and installed it.
I wanted to use the random library, so I tried the following
[code]
but it says target absl::random was not found.

This is very confusing as all other targets worked, like `absl::time`, `absl::container`.

[2020-01-06 18:40] derekmauro commented on #588
See https://github.com/abseil/abseil-cpp/blob/master/absl/random/CMakeLists.txt

It appears to be `absl::random_random`.

[2020-01-06 18:41] versatran01 commented on #588
@derekmauro Yeah, I just found out that. Don't understand why it is not just called `absl::random`. And also don't understand why this is not clearly listed in the README.

[2020-01-06 18:43] #588 closed, assigned to nobody

[2020-01-06 19:46] derekmauro commented on #587
https://godbolt.org/z/9x33pw - Your allocator argument needs to be a reference, not a pointer.

[2020-01-06 19:50] BotellaA commented on #573
Yes indeed. Here is my fork to make it works on windows using cmake https://github.com/Geode-solutions/abseil-cpp with variables BUILD_SHARED_LIBS and CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS.

Even if buildling on Linux works, there is still a rpath issue #572

[2020-01-06 20:40] phwissmann commented on #587
Not sure how I missed that... thanks!

[2020-01-06 20:40] #587 closed, assigned to nobody

[2020-01-06 21:47] asoffer commented on #573
Weeks? A month perhaps? We're not entirely sure yet.

[2020-01-07 16:15] derekmauro commented on #583
It sounds like it is possible to make this change, I'll look into it.

[2020-01-07 19:32] Alfus commented on #583
Thanks!

[2020-01-09 04:01] samuellees opened #589 "Enable cmake install rules of abseil when added as a subproject"
Hello,

Is there a way to export and install abseil as a subproject?

I use abseil as a cmake subproject by `add_subdirectory(abseil)`, some abls targets are used in my project, and it works well in the build tree. But when I make install, abseil's libs and headers would not be exported and installed along with mine. **That means if I want to use my lib in another project, I have to build and link

[2020-01-09 17:46] derekmauro commented on #589
We aren't CMake experts, but we recommend using an LTS release if you want to install Abseil. That has install rules enabled. See https://abseil.io/about/releases. In that case I think you need to use `find_package` instead of using `add_subdirectory`.

[2020-01-09 20:19] #583 closed, assigned to derekmauro

[2020-01-10 02:51] samuellees commented on #589
I see, Abseil encourages users to “live at head”, which I agree on.  And `find_package` is a nice way for users to use installed abseil (Abseil should be installed independently before `find_package`).

But, my library uses some interface of abseil(meets Apache-2.0 ‘s requirement). In the `find_package` case, if my user want to use my library, they have to build and install abseil first, and then

[2020-01-12 20:56] pieter3d opened #591 "Several clang compile warnings."
I get the following warnings when compiling with clang6:
[code]

[2020-01-13 07:18] linuxaged opened #592 "Error: LNK2019 unresolved external symbol"
Got two link error when building:
[code]

my test code:
[code]

my cmake:
[code]
PS. abseil was installed with vcpkg `vcpkg install abseil`

[2020-01-13 07:55] linuxaged commented on #592
it's `-std=c++17` related i think, after switching to `c++11` errors disappear.

[2020-01-13 14:14] derekmauro commented on #592
Are you building Abseil from source in C++17 mode? Mixed-mode compiles (Abseil in C++11, your code in C++17) don't work due to ABI issues. Any compiles flags that affect ABI need to be consistent.

[2020-01-13 14:43] linuxaged commented on #592
abseil was built with vcpkg automatically. How to build abseil in c++17 with vcpkg?

[2020-01-13 17:47] derekmauro commented on #592
You can't. This is why we tell people not to depend on a compiled representation of Abseil (which is what you are getting from vcpkg). See https://abseil.io/about/compatibility.

In the future we are planning on letting users to something that would let `std::string_view` and `absl::string_view` be unique types, which would side-step this problem. However, this will mean you will have two differen

[2020-01-13 17:47] #592 closed, assigned to nobody

[2020-01-13 20:52] LoadLibrary opened #593 "BuildBreak: sysinfo.cc uses unsupported APIs on UWP apps"
UWP doesn't allow reading regkeys. Unfortunatelly, UWP also doesn't offer an API for returning nominal processor frequency at this moment. Other options would require apps depending on abseil-cpp to be packaged with extra manifest data or libraries for bridging platforms.

[2020-01-13 23:36] LoadLibrary opened #595 "BuildBreak: UWP apps can't call GetModuleHandle"
It is not possible to load RtlCaptureStackBackTrace at static init time in UWP.
CaptureStackBackTrace is the public version of RtlCaptureStackBackTrace.

[2020-01-14 00:15] mai247596 commented on #595
PHACHARA ARYUWANNA

ในวันที่ อ. 14 ม.ค. 2020 06:36 Augusto Righetto <notifications@github.com>
เขียนว่า:

[2020-01-14 00:50] linuxaged commented on #592
ref https://github.com/microsoft/vcpkg/issues/8181

[2020-01-16 16:52] asoffer commented on #571
I've looked into this a bit more but have been unable to find any leads within Abseil's code or build setup. https://github.com/bazelbuild/bazel/issues/1920 may provide some insight, but I think this is something that Bazel does not yet support.

[2020-01-17 09:09] Mizux commented on #224
Seems it won't happen...

_Originally posted by @JonathanDCohen in https://github.com/abseil/abseil-cpp/pull/197#issuecomment-477268607_

note: @JonathanDCohen is not part of abseil team anymore...

[2020-01-17 22:08] andre-nguyen opened #603 "AbseilConfigureCopts.cmake does not handle architecture aarch64"
On an nvidia Xavier the cmake variable `CMAKE_SYSTEM_PROCCESSOR` returns `aarch64`. This makes ARM platform detection fail here
https://github.com/abseil/abseil-cpp/blob/29235139149790f5afc430c11cec8f1eb1677607/absl/copts/AbseilConfigureCopts.cmake#L14-L22

which in turn causes compilation failures with absl::random. I can get around the problem by doing
[code]

but I am not entirely sure if it's

[2020-01-17 22:32] nicolasnoble opened #604 "BuildBreak: libtool on MacOS doesn't allow duplicated filenames"
When building the absl_strings static library, libtool emits a warning, which is in fact something that breaks later eventually: `/Library/Developer/CommandLineTools/usr/bin/libtool: warning same member name (escaping.o) in output file used for input files`

The gist is that you can't have two files in a MacOS static library with the same base filename, as one will override the other. Basically, A

[2020-01-18 22:11] joprice opened #606 "Error building in bazel using c++17"
I get the error below when building with `-std=c++17`. c++14 works find. Is there a way to pass that to the abseil build, or some other workaround enabling use of c++17?

`dyld: lazy symbol binding failed: Symbol not found: __ZN4absl8ByStringC1ENSt3__117basic_string_viewIcNS1_11char_traitsIcEEEE`

[2020-01-19 19:43] derekmauro commented on #606
Please tell us exactly what you did when you are reporting a problem, otherwise we have to guess. How are you specifying C++17 mode in your build?

This is almost certainly an ABI issue. You can't mix compile modes. If you compile one library in C++14 mode and another in C++17 mode, you are going to get errors like the one you are seeing.

[2020-01-20 15:51] joprice commented on #606
I can try to reproduce in a separate repo if you'd like. My usage is this:

Add repo in WORKSPACE

[code]

I am only setting the flag on that one binary. I thought a bit about it and made a guess that I need to set this repo-wide in order for workspace rules to use it (or provide a manual BUILD file to the http_archive). I put `build --cxxopt -std=c++17` in my .bazelrc and that fixes it.

[2020-01-20 15:51] #606 closed, assigned to nobody

[2020-01-21 16:07] zhangxy988 commented on #604
This seems a rather weird warning to me and it would be better to just disable this warning rather than trying to rename source files to work around this.
I think we use this convention almost everywhere in our code base, i.e. xxx.cc and internal/xxx.cc. Adding suffix to file names only to make libtool happy won't scale unless we rename all such "duplicates" and set up a way to prevent this from h

[2020-01-21 16:18] zhangxy988 commented on #603
Thanks for reporting the issue. Let's figure out the details in the PR.

[2020-01-21 16:22] zhangxy988 commented on #591
It seems that the warnings come from cctz code. So I think the most effective thing to resolve this issue is to open a pull request against cctz (https://github.com/google/cctz). Also, please make sure to include the information about your toolchain (compiler, standard library, operating system, etc.) and the command you run to reproduce this issue. Thanks!

[2020-01-21 20:29] mbxx commented on #604
This issue with libtool is disappointing, but it seems like something we should work around.  I responded in the internal change.

[2020-01-23 07:23] pieter3d commented on #591
Will do!

[2020-01-23 07:23] #591 closed, assigned to nobody

[2020-01-23 16:09] zhangxy988 commented on #604
Thanks @mbxx . Once the internal change lands and gets upstreamed here, we can resolve this issue.

[2020-01-23 23:36] cruisercoder opened #610 "Flags from module formatting"
Is there any control over how the module name is displayed?  My GN based build runs from a subdirectory so the module name comes out like this:

Flags from ../../demo/flags/CommonFlags.cc:
    --x (common x flag); default: false;
    --y (common y option); default: "";

[2020-01-24 02:16] derekmauro commented on #610
Yes, you can set a callback to modify the filename.

https://github.com/abseil/abseil-cpp/blob/159bf2bf6d1cc8087e02468d071e94d1177d1bae/absl/flags/usage_config.h#L97-L106.

[2020-01-24 20:27] #603 closed, assigned to nobody

[2020-01-26 12:18] kgopal6 commented on #329
Could you like appropriat.

[2020-01-28 00:27] rogeeff commented on #610
Please let us know if you have any problems with proposed resolution.

[2020-01-28 00:27] #610 closed, assigned to nobody

[2020-01-28 13:18] Sil3ntStorm commented on #604
A seemingly similar issue happens with MSVC's linker: `abseil\usage.obj : warning LNK4042: object specified more than once; extras ignored`
`absl/flags/usage.cc` and `absl/flags/internal/usage.cc`

[2020-01-28 18:01] CJ-Johnson commented on #127
Closing as the PR is closed

[2020-01-28 18:01] #127 closed, assigned to mbxx

[2020-01-28 18:02] #176 closed, assigned to nobody

[2020-01-28 18:03] #224 closed, assigned to JonathanDCohen

[2020-01-28 18:04] #235 closed, assigned to nobody

[2020-01-28 18:05] #246 closed, assigned to nobody

[2020-01-28 18:05] #247 closed, assigned to EricWF

[2020-01-28 18:06] #289 closed, assigned to nobody

[2020-01-28 18:06] #295 closed, assigned to nobody

[2020-01-28 18:08] #297 closed, assigned to nobody

[2020-01-28 18:17] CJ-Johnson commented on #357
@sbenzaquen Have you been able to take a look at this?

[2020-01-28 18:20] #399 closed, assigned to nobody

[2020-01-28 21:24] cruisercoder commented on #610
Works - Thank you.

[2020-01-28 21:28] cruisercoder opened #611 "ForEachFlag & introspection"
The ForEachFlag function is in flags_internal, which suggests that it's not intended to be used as part of the public API.  Are there plans to expose this or is there another way that is public to introspect on the defined flags?

[2020-01-28 22:16] #604 closed, assigned to asoffer

[2020-01-28 22:23] mbxx commented on #604
@Sil3ntStorm: This issue was resolved by moving the two escaping.cc files into separate build targets, but absl/flags/usage.cc and absl/flags/internal/usage.cc are already in separate build targets.  The problem you're describing seems different, and would at least require a different solution.

Our MSVC test coverage isn't showing a problem, so would you mind opening a separate issue that details

[2020-01-28 22:48] rogeeff commented on #611
Yes. The official public API is approved and should be released in this quarter. It will be different from the ForEachFlag API.

[2020-01-28 22:48] #611 closed, assigned to nobody

[2020-01-29 11:58] bvarbanov opened #612 "Cross platform armv6 invalid instruction"
Cross-platform builds for armv6 (Raspberry pi zero) - are causing Segmentation Fault in WebRTC and Tensorflow

[2020-01-29 18:15] derekmauro commented on #612
ARMv6 isn't platform we support. If you can provide more information about the problem you are seeing we might be able to assist, but we don't know anything about using WebRTC or Tensorflow, especially on a Raspberry Pi Zero.

[2020-01-29 18:35] bvarbanov commented on #612
TensorFlowLite and WebRTC are using abseil-cpp.
Older version of WebRTC v72 was working fine using Abseil on Armv6.

The simplest possible way to reproduce it is to follow the build steps for TensorFlowLite on RaspberryPi 3B (https://www.tensorflow.org/lite/guide/build_rpi), but for armv6 are needed some extra parameters.

OR you can use these steps to build armv6 and armv7 version ot TensroFlowLi

[2020-01-30 00:12] asoffer commented on #367
Thanks for raising this issue. This is something we do not intend to support as it encourages what we believe not to be best practices. If at all possible, we encourage using a modern build system (we support Bazel and CMake) and building with smaller modular components.

[2020-01-30 00:12] #367 closed, assigned to asoffer

[2020-01-30 00:19] asoffer commented on #378
This is not something we intend to support. As Titus points out, we would have to provide snapshots of this target that work with specific language versions as we add 17-only or 20-only features. Which code gets put into which target would be confusing. While I would not encourage it, you could maintain your own target.

[2020-01-30 00:19] #378 closed, assigned to asoffer

[2020-01-30 04:18] bruxisma commented on #378
I would just like to briefly state that while I understand the concern regarding "which targets would be linked against" in the event of a `absl::absl` target, it *would* simply be an `INTERFACE` library with a generator expression for minimum versions:

[code]

(If there's a mismatch and `MyTarget` happens to be set to `cxx_std_11` instead of `cxx_std_14`, CMake would error explaining the reason)

[2020-01-31 00:06] derekmauro commented on #612
Thanks for the directions, but what I was really looking for was something like a stacktrace that might help us figure out what is going on. We don't support this platform and don't have a device. I'm going to close this, but feel free to re-open if you have more information.

[2020-01-31 00:06] #612 closed, assigned to nobody

[2020-01-31 19:19] Sil3ntStorm opened #613 "Unreachable code"
[absl/strings/charconv.cc:676](https://github.com/abseil/abseil-cpp/blob/master/absl/strings/charconv.cc#L676) is never reached, causing an unreachable code warning.

[2020-02-03 18:44] bvarbanov commented on #612
I did some quick investigation - found that cross compiler has a bug (I guess)
it crashes with SIGILL on code similar like this (abeil-cpp has many similar code statements):

long long a = 1;
auto b = static_cast<double>(a);

This code fails when cross compiled with clang++-9 for Raspberry PI Zero

CMake file for RPI_Zero
# target specific for armv6 / raspberry pi zero W
add_compile_options(-targe

[2020-02-04 11:36] bsarden commented on #297
Now that this issue is closed, is there somewhere else where we can track the progress of logging support in abseil-cpp? I’m also curious about what the plans are for the CHECK macros that are currently part of glog. Would those macros still be part of the logging library going forward, or would they become something like an `//absl/check:check` Bazel target?

[2020-02-04 19:58] suertreus commented on #297
I plan to ship `CHECK` in the same header and Bazel target as `LOG`, which I expect to be `absl/logging/logging.h` and `//absl/logging:logging`.

[2020-02-05 04:48] bsarden commented on #297
Awesome thanks for the update! Is there any timeline for when we can expect the `//absl/logging:logging` target to be available?

[2020-02-05 09:55] bvarbanov commented on #612
Fix: auto b = (double)a;
`auto b=static_cast<dobule>(a);`

[2020-02-06 17:16] ElliottBrossard commented on #248
Is it possible to leave this open until `absl::Status` is released? It would be nice to have an issue to track that support.

[2020-02-06 18:46] derekmauro commented on #248
Sure, I've re-opened the issue for tracking purposes.

[2020-02-10 05:13] dayfine commented on #248
looking forward to this. So itched to use Status without having to import another repo...
Or I will have to `Result` in Rust 🤪🤪🤪

[2020-02-10 13:57] JustusSchwan opened #617 "Strict aliasing violation in raw_hash_set.h"
When compiling a file which included `raw_hash_set.h` with `-fstrict-aliasing`, I get a strict aliasing warning:

[code]

We are currently on version "lts 2018-08-09", but as far as I can tell, this specific piece of code has not changed since.

The offending statement is the `reinterpret_cast` below:

[code]

From [this article about mozilla's AlignedStorage](https://whereswalden.com/2017/02/27/a

[2020-02-10 18:50] mbxx commented on #613
Thanks for the report!  We pushed a fix last week, everything should be good now.

[2020-02-10 18:50] #613 closed, assigned to vslashg

[2020-02-12 17:05] ckennelly commented on #381
This is now done!  Our announcement is on the [Abseil blog](https://abseil.io/blog/20200212-tcmalloc).  The code can be found at https://github.com/google/tcmalloc.

[2020-02-12 17:23] #381 closed, assigned to EricWF

[2020-02-13 18:11] bcsgh opened #619 "Path/URL/URI manipulation utilities?"
Feature request:
Manipulating file paths, URIs and URLs (parsing, un-parsing, etc.) seem like the kind of "small but fiddly to do right" operation that shows up in a lot of places and which ABSL is seeking to cover.

I don't know where this would fit in the priorities, but I personally would find use for it, so I'd like to track when/if it gets done.

[2020-02-15 05:37] benjaminp commented on #333
I see 3c814105108680997d0821077694f663693b5382 did this. Thanks!

[2020-02-20 17:36] derekmauro commented on #619
File may happen, but it is probably very far away. I've never used it myself, but if you can use C++17, filesystem is part of the standard library: https://en.cppreference.com/w/cpp/filesystem

I don't think URLs is anywhere on our roadmap.

[2020-02-20 17:36] #619 closed, assigned to nobody

[2020-02-21 17:26] ElliottBrossard commented on #248
Oh hey, it looks like `absl::Status` is here! 😄https://github.com/abseil/abseil-cpp/blob/master/absl/status/status.h

[2020-02-21 20:20] zhangxy988 commented on #248
Yep, this is a "soft" release. We are not going to publicly announce it until we finish updating the documentation. But feel free to start using it in your projects.

[2020-02-21 21:58] CJ-Johnson commented on #617
Hello @JustusSchwan

Thank you for the bug report! We really appreciate it. As of [b69c7d880caddfc25bf348dbcfe9d45fdd8bc6e6](https://github.com/abseil/abseil-cpp/commit/b69c7d880caddfc25bf348dbcfe9d45fdd8bc6e6), all use of `aligned_storage` in Abseil is gone, meaning this problem should not be present in the next LTS (slated for release next week).

Happy Abseiling! - CJ

[2020-02-21 21:58] #617 closed, assigned to CJ-Johnson

[2020-02-22 06:21] dayfine commented on #248
Will there also be `StatusOr`, `status_macros.h` and `StatusBuilder`?

[2020-02-22 18:02] asoffer commented on #573
Btw, Abseil has a DLL now. It's certainly in the experimental phase but we'd strongly welcome your input. Google primarily does not focus on shared libraries so we expect there to be corner cases we have not thoroughly considered. But if you open issues, we'll try our best to address them.

[2020-02-23 14:30] BotellaA commented on #573
Thanks, I will try it. What is the best way to use it (both Linux and Windows) ? I saw a new variable `ABSL_BUILD_DLL` that I should set to ON. What about `BUILD_SHARED_LIBS`, is it still relevant ?

[2020-02-23 19:59] BotellaA opened #623 "ABSL_BUILD_DLL for Linux"
New issue related to #573 with @asoffer.

New `ABSL_BUILD_DLL` is very interesting for windows but we cannot generate shared libraries for linux anymore. The same behavior on Linux would be awesome! Only one library to generate and link is a good idea.

Could we indirectly set its value using the CMake `BUILD_SHARED_LIBS` variable?
Maybe by editing this [block](https://github.com/abseil/abseil-cpp

[2020-02-24 15:57] asoffer commented on #623
Thanks for bringing this to our attention. I think we'd prefer for ABSL_BUILD_DLL to only mean a DLL on windows, so I'm going to fix this in the absl_cc_library function instead

[2020-02-25 19:00] #623 closed, assigned to asoffer

[2020-02-25 21:32] BotellaA opened #624 "Undefined symbol on macOS in dylib"
I got this error while compiling `libabsl_cord.dylib`

[code]
Any idea?

[2020-02-26 10:26] BotellaA opened #625 "unresolved external symbol using absl::abseil_dll"
I am using the new CMake tagret `abseil_dll` (made by @asoffer).
I have the correct linking command line with the `abseil_dll.lib` but I still got some linking errors:
[code]

Is there something missing from the `abseil_dll.lib`? Maybe something that is not exported by the `CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS`? Because I have no error for `string_view` for example.

[2020-02-26 16:44] julianoes opened #626 "Compile error with Clang 5 for Android"
As part of gRPC C++ we currently get a build error when building [gRPC v1.27.2](https://github.com/grpc/grpc/releases/tag/v1.27.2) using Clang 5 for Android arm (using [dockcross](https://github.com/dockcross/dockcross/)).

[code]

https://github.com/mavlink/MAVSDK/pull/982/checks?check_run_id=470191975#step:4:5120

[2020-02-26 20:11] hzeller opened #627 "Compatibility: c++17 std::string_view::substr() is constexpr while absl::string_view::substr() is not"
The C++17 `std::string_view` has a `constexpr substr()` : https://en.cppreference.com/w/cpp/string/basic_string_view/substr

While the absl version of `substr()` can not be used in a constexpr https://github.com/abseil/abseil-cpp/blob/0033c9ea91a52ade7c6b725aa2ef3cbe15463421/absl/strings/string_view.h#L385

This makes `absl::string_view` slightly less convenient in initializing more complex string

[2020-02-27 11:03] TBK commented on #623
@asoffer Would it be possible to provide an option to build static & shared at the same time?

[2020-02-27 15:25] asoffer commented on #623
I'm not sure what you mean by this. Are you looking for a way for shared+static to interact, or you want one command instead of two to do the build. Either way, open up a new issue for this and specify?

[2020-02-27 15:32] samolisov opened #630 "Error while compiling an example from absl::Hash tutorial: std::string vs absl::Cord comparison"
Reading through the absl::Hash [tutorial](https://abseil.io/docs/cpp/guides/hash#testing-hashable-types), I've found the following piece of code:

[code]

I've included `absl/strings/cord.h` and `absl/hash/hash_testing.h`:

[code]
(also I've tested the inverse order but it doesn't matter).

On Window with the MSVC provided STL, I get the following compilation error:

[code]

I use MSVC 2019 as wel

[2020-02-28 21:12] asoffer commented on #624
Can you provide reproduction instructions? macOS version, Cmake/Bazel invocation, etc?

[2020-02-28 21:41] #627 closed, assigned to derekmauro

[2020-02-28 21:58] asoffer commented on #625
I'm a bit confused how global_next_sample is showing up. Looking at https://github.com/abseil/abseil-cpp/blob/master/absl/container/internal/hashtablez_sampler.h#L187-L195, `global_next_sample` should not be declared at all in the DLL build. Can you provide reproducing build commands for this issue?

[2020-02-29 06:40] BotellaA commented on #625
We configure abseil like [this](https://github.com/Geode-solutions/OpenGeode/blob/Absl-dll/cmake/ConfigureAbseil.cmake) and you can find the log [here](https://github.com/Geode-solutions/OpenGeode/runs/469470263?check_suite_focus=true#step:11:3750).

[2020-02-29 06:48] BotellaA commented on #624
I am using macOS 10.15 with CMake [configuration](https://github.com/Geode-solutions/OpenGeode/blob/Absl-dll/cmake/ConfigureAbseil.cmake) and [here](https://github.com/Geode-solutions/OpenGeode/runs/469470175?check_suite_focus=true#step:11:3381) is the log.

[2020-03-03 15:27] #595 closed, assigned to derekmauro

[2020-03-03 21:32] yzhao1012 commented on #122
@philsc Could you share the patch you did for gperftools? I ran into this same problem. :)

[2020-03-04 00:51] ankane opened #631 "brew install abseil"
Hi, thanks for this library! Just wanted to let you know that it's now available on Homebrew, so Mac users can do:

[code]

Homebrew precompiles libraries, making installation pretty much instant 🎉

Ref: https://github.com/Homebrew/homebrew-core/pull/50130

[2020-03-04 13:16] tituswinters commented on #631
Thanks for letting us know!

Be mindful that Abseil is not entirely well-suited to pre-compiled
libraries. The same code results in different types depending on what
version of the standard you are using. We regularly make changes that will
break if linking against an earlier binary release (ABI). The use cases
we've designed for are much more aggressively focused on being able to
optimize and cha

[2020-03-04 16:25] philsc commented on #122
Here's what I did:
[code]

[2020-03-04 21:21] ankane commented on #631
Thanks for the context @tituswinters. Homebrew only provides the latest release for projects, so it'll use the same versioning as the tagged releases on GitHub.

[2020-03-04 21:21] #631 closed, assigned to nobody

[2020-03-09 12:06] MarcinZukowski opened #634 "Linking fails with cmake when not using a pre-installed abseil AND using C++17"
I'm having issues linking with abseil when using a pre-installed abseil:
[code]

It only happens if I use "preinstalled" abseil **AND** if I usee C++17.
If I do `add_subdirectory` it works, or if I change to C++14 it also works.

Here's `CMakeLists.txt`
[code]

and here's `main.cpp`

[code]

and the `Makefile` that drives it all
[code]

[2020-03-09 12:55] #593 closed, assigned to derekmauro

[2020-03-09 13:07] derekmauro commented on #634
https://github.com/abseil/abseil-cpp/blob/master/FAQ.md#what-is-abi-and-why-dont-you-recommend-using-a-pre-compiled-version-of-abseil

[2020-03-09 13:07] #634 closed, assigned to nobody

[2020-03-10 05:40] avalon1610 opened #635 "Error when cross compile grpc with abseil-cpp"
when I try to cross compile grpc use arm-linux-gnueabihf-5.2.1-g++, it failed with
[code]
/use/lib/librt.so is a host platform lib obviously.
I investigated dependencies for grpc, found this line
[code]
in `absl/base/CMakeLists.txt`.

delete this line, everything will be fine.

so maybe cmake find_library got wrong librt path when cross compile. or something compile arguments went wrong.
(BTW, I s

[2020-03-11 13:26] derekmauro commented on #635
Can you provide full reproduction instructions?

[2020-03-12 07:32] avalon1610 commented on #635
I followed the guide in [https://github.com/grpc/grpc/blob/master/test/distrib/cpp/run_distrib_test_raspberry_pi.sh](https://github.com/grpc/grpc/blob/master/test/distrib/cpp/run_distrib_test_raspberry_pi.sh).
only replaced the compiler with arm-linux-gnueabihf-5.2.1-g++, which from linaro.

[2020-03-12 14:41] #357 closed, assigned to nobody

[2020-03-12 17:30] #626 closed, assigned to derekmauro

[2020-03-12 21:30] derekmauro commented on #635
I haven't tried this myself, but I inspected the repo and librt appears to exist on the target platform: https://github.com/raspberrypi/tools/tree/master/arm-bcm2708/arm-rpi-4.9.3-linux-gnueabihf/arm-linux-gnueabihf/sysroot/lib

I would suggest filing an issue with gRPC and asking the author of that script to look into the problem. I think most of us that work on Abseil are unfamiliar with CMake c

[2020-03-13 21:33] lanctot opened #640 "undefined reference errors (absl::strings_internal::CatPieces and absl::ByChar::Find)"
Hi all,

Thanks for the great project! We are using it in [OpenSpiel](https://github.com/deepmind/open_spiel/) and this week, we encountered a few undefined reference errors (building via CMake both using clang++ and g++) cause by a commit between today and Monday March 8th, so we've had to fix our dependency to a March 6th commit.

Maybe we have to link to a new target, or we're using `StrCat` in

[2020-03-14 00:36] derekmauro commented on #640
Thanks for the report. I think I've found the problem. I think the setting of `ABSL_CXX_STANDARD` was accidentally removed in the last commit. Look out for a fix on Monday.

[2020-03-14 03:42] asoffer commented on #571
Closing, as this seems to be an ongoing Bazel issue. Please reopen if this turns out to be Abseil specific.

[2020-03-14 03:42] #571 closed, assigned to asoffer

[2020-03-14 05:18] lanctot commented on #640
Thanks for the quick response!

Confirmed on my end: if I add back what was removed from `AbseilConfigureCopts.make` in commit https://github.com/abseil/abseil-cpp/commit/c6954897f7ece5011f0126db9117361dc1a6ff36 then it works.

[2020-03-15 04:19] BotellaA commented on #625
Why is there no PUBLIC compile option like `ABSL_CONSUME_DLL` int he `abseil_dll` target? https://github.com/abseil/abseil-cpp/blob/master/CMake/AbseilDll.cmake#L494

[2020-03-15 20:01] lanctot commented on #640
Hi @derekmauro ,

Can you think of any reasons that similar errors would occur when building Tensorflow via bazel? (See https://github.com/deepmind/open_spiel/issues/172 if you're curious.)

I know this one is on our end but it's a bit of a mystery to us, so thought you might have an idea or could point us in the right direction.

[2020-03-15 21:58] moubctez commented on #624
**libabsl_cord.dylib** must be linked against **libabsl_strings.dylib** (not only **libabsl_strings_internal.dylib**)
This patch should fix the problem:
[code]

[2020-03-15 22:19] moubctez opened #641 "Add support for NetBSD"
NetBSD supports **mmap()** and **pthread_getschedparam()**:
[code]

Also `_XOPEN_SOURCE` must not be defined, so either apply the following, or exclude defining it only for NetBSD (by the way, Darwin/macOS does not need either).
[code]

[2020-03-15 22:45] derekmauro commented on #640
Sure, I responded on that issue.

[2020-03-16 14:31] asoffer commented on #589
This leads to diamond dependency problems. If multiple projects require an installed Abseil but have different version requirements, problems manifest higher up the dependency graph. For intsallation, Abseil strongly encourages installing an LTS and does not aim to support installation of non-LTS builds.

[2020-03-16 14:31] #589 closed, assigned to asoffer

[2020-03-16 20:32] #640 closed, assigned to derekmauro

[2020-03-18 18:45] jprider63 opened #643 "Build fails on CentOS 7.6"
I receive the following error when attempting to build on CentOS 7.6 via [differential-privacy](https://github.com/google/differential-privacy) (`bazel build differential_privacy/...`):
[code]

[code]

From `/proc/cpuinfo`:
[code]

This may be related to #137, but the error is different. Do you have any suggestions?

[2020-03-20 13:52] panquez opened #644 "Error with absl::Span< const bool >"
Hi all,

I am trying to use absl::Span with bool as parameter of a function following the example in span.h:

[code]

But I get a compilation issue (gcc 5.4.0 on Ubuntu 16.04):

[code]

Is there something special with bool ? Or am I wrong somewhere ?

Thank you!

cc @BotellaA

[2020-03-20 14:29] derekmauro commented on #644
You've discovered the C++ horror known as [`std::vector<bool>`](https://en.cppreference.com/w/cpp/container/vector_bool).

`std::vector<bool>` may be implemented as a specialization that behaves similarly to `std::vector<T>`, but is more space efficient. As a result, on some implementations, it is not implemented as a continuous array, and therefore won't work with `absl::Span`. This is the case f

[2020-03-20 14:29] #644 closed, assigned to nobody

[2020-03-21 11:59] samuellees commented on #589
Got.

Thanks!

[2020-03-23 14:48] derekmauro commented on #643
I took a look at this today. It looks like hardware acceleration is completely broken on Linux x86_64 under Bazel, although I don't know why the build only fails on CentOS 7.

The problem appears to be that on x86_64, the build requires the `-maes` compiler arg to emit native AES instructions. Not all x86_64 CPUs have this capability, but we generate it anyway and use runtime dispatch to decide if

[2020-03-23 21:44] #643 closed, assigned to nobody

[2020-03-23 21:59] zhangxy988 commented on #641
Thank you for the suggestion. Since we don't actively try to support every platform, we take a passive approach to adopt any "harmless" patches. I think this patch seems fit in the category.
However, please note that we don't have any test coverage for NetBSD and don't intend to add the coverage. That said, it would be ideal for you to test the patch on your platform to make sure it works and send

[2020-03-23 22:15] jprider63 commented on #643
Thanks @derekmauro! I'll give this a try.

[2020-03-26 22:44] cruisercoder opened #648 "presence of parameter detection"
Is there a way to detect whether an option was present or not independent of it's value?

[2020-03-27 00:58] 7ofNine opened #649 "type_traits.h uses std::result_of"
abseil is not compilable with C++20. std::result_of has been deprecated since C++17 and is/will be removed for compliant std implementations. This creates compilation failures with the latest MSVC 16.6.0 preview 2. See std draft [diff.cpp17.depr] 7

[2020-03-27 08:24] Flamefire opened #650 "from_chars fails to compile in C++20 (and maybe some stdlibs)"
In short: the issue is in this line: https://github.com/abseil/abseil-cpp/blob/79e0dc11514df035a8d07a356f9ee1800fb2160c/absl/strings/charconv.cc#L301

It does a `std::copy_n(input.subrange_begin, nan_size, n_char_sequence);` where the first param is `const char*` and the last is `volatile char*`. This runs into a call chain where it tries to call `template<class _Tp> static constexpr _Tp* std::__c

[2020-03-27 09:07] Flamefire commented on #650
This seems to be a bug in GCC 10.x(?) which is fixed by https://gcc.gnu.org/git/?p=gcc.git;a=commit;h=462f6c2041fad058abcdd5122e99a024f69a39d5. Closing

[2020-03-27 09:07] #650 closed, assigned to nobody

[2020-03-27 12:36] Flamefire opened #651 "Remove use of deprecated/removed allocator typedefs"
There are some uses of removed typedefs inside allocators. Example: https://github.com/abseil/abseil-cpp/blob/79e0dc11514df035a8d07a356f9ee1800fb2160c/absl/container/fixed_array.h#L110 uses `std::allocator<...>::pointer` which is deprecated since C++17 and removed in C++20. This makes abseil fail to compile in C++20 mode

See e.g. https://en.cppreference.com/w/cpp/memory/allocator

Available typed

[2020-03-27 15:37] derekmauro commented on #648
I assume you are talking about whether a flag was provided on the command line? This currently isn't supported, but we are considering adding a method to do this. It may not happen for a while though. I'd encourage you to write code that doesn't need to know whether or not a flag was set on the command line.

[2020-03-27 17:34] espindola opened #652 "Please include a pkg-config file"
pkg-config (https://www.freedesktop.org/wiki/Software/pkg-config/) is a tool for making it easy to use an installed library, regardless of the build system.

Example usage with a library that includes one:

$ pkg-config --libs protobuf
-lprotobuf -lpthread
$ pkg-config --libs protobuf --static
-lprotobuf -lpthread -lz

The --static case in particular would super useful with abseil since it is comp

[2020-03-27 18:47] zhangxy988 commented on #651
Thanks for reporting this. It seems we need to migrate to use `allocator_traits` to replace these.

[2020-03-27 18:49] zhangxy988 commented on #649
Thanks for reporting this. It seems that for C++17 onward we need to use `invoke_result_t`.

[2020-03-28 19:32] cruisercoder commented on #648
Understood.   I hope introspection is still on-track for delivery soon.

[2020-03-31 08:09] zhuangAnjun opened #654 "Error while compiling strings library"
absl/strings/internal/charconv_parse.cc:419:36: error: comparison of integer expressions of different signedness: ‘std::size_t’ {aka ‘long unsigned int’} and ‘int’ [-Werror=sign-compare]

[code]

I found that `digits_left` type is int but `post_decimal_digits` is unsigned long int.

[2020-03-31 12:10] lszolnoki opened #655 "AbslHashValue for std::filesystem::path"
There are AbslHashValue function templates for many std types, but not for std::filesystem::path.

[2020-04-02 01:17] bruno-viva opened #656 "Building libraries using CMake with optimized mode"
Hi,

The quickstart guide doesn't mention how to compile abseil with an optimized mode (e.g. -O2 with gcc): https://abseil.io/docs/cpp/quickstart-cmake.html

Are there any options to turn on optimizations?

Thanks in advance

[2020-04-02 13:32] derekmauro commented on #656
It's the same way you do it to any other CMake project. Pass `-DCMAKE_BUILD_TYPE=Release` to the `cmake` command.

You can also take a look at our test script which tests CMake in a variety of configurations: https://github.com/abseil/abseil-cpp/blob/master/ci/linux_gcc-latest_libstdcxx_cmake.sh

[2020-04-02 13:32] #656 closed, assigned to nobody

[2020-04-02 14:40] bruno-viva commented on #656
Thanks, for some reason I thought the build type wasn't working, but I had a typo in it :(

[2020-04-03 13:31] gjasny opened #657 "LTS releases leak symbols into the root namespace"
Hello,

If I understand correctly the [LTS](LTS.md) branches are supposed to be isolated and used side-by-side in different components within the same binary:

This is implemented by putting everything into an unique namespace like `absl::lts_2020_02_25::`. However there are some libraries like `absl_dynamic_annotations` which put their symbols into the root namespace:

[code]

I guess this is rel

[2020-04-04 20:39] davidzchen opened #658 "Logging library and unification with google/glog"
While the non-public [`ABSL_RAW_LOG`](https://github.com/abseil/abseil-cpp/blob/b69c7d880caddfc25bf348dbcfe9d45fdd8bc6e6/absl/base/internal/raw_logging.h) API and the [`log_severity`](https://github.com/abseil/abseil-cpp/blob/b69c7d880caddfc25bf348dbcfe9d45fdd8bc6e6/absl/base/log_severity.h) interface exists, Abseil currently does not provide a logging library.

However, the [google/glog](https://

[2020-04-06 18:44] rogeeff commented on #648
Reflection interfaces should be released soon, but this API specifically is still under consideration.

[2020-04-06 19:36] suertreus commented on #658
Yep, it's coming soon =).

The API will remind you of glog's.

[2020-04-06 19:46] rogeeff commented on #658
Please keep refreshing the Abseil release page ;) I'll close this for now, since there is no action item for us here.

[2020-04-06 19:51] #658 closed, assigned to suertreus

[2020-04-06 20:06] rogeeff commented on #635
Please advise us if there is anything  we should be doing in Abseil after you have a discussion with grpc. I'll close this for now, since there is no action item for us at the moment.

[2020-04-06 20:06] #635 closed, assigned to nobody

[2020-04-06 20:29] rogeeff commented on #657
I'll look into this and report back.

[2020-04-06 21:17] vslashg commented on #654
While we could change this, Abseil is not `-Wsign-compare` clean.  If we fixed this, other parts of Abseil would break under `-Werror=sign-compare`.

[2020-04-06 21:19] #654 closed, assigned to vslashg

[2020-04-06 21:20] vslashg commented on #654
(As an aside, the cmake and bazel build files under absl/copts both disable this warning.  How are you building Abseil to be seeing it?)

[2020-04-07 01:15] zhuangAnjun commented on #654
Because I use other tools to build it called blade

[2020-04-08 10:01] samolisov opened #659 "status_payload_printer.cc is not compiled with Clang 10 on Windows"
The following code in the `absl/status/status_payload_printer.cc` raises a compilation error on Windows when Clang 10 (via clang-cl.exe) is used to compile Abseil:

[code]

The error:

[code]

I see the following solution: to add a check the compiler is not MSVC (since clang-cl mimics MSVC) into the `ABSL_CONST_INIT` macro but it won't protect from the error if `clang++` is used instead of `clang-

[2020-04-08 20:15] zhangxy988 commented on #659
The root cause isn't `ABSL_CONST_INIT` but MSVC's `std::atomic` implementation. So I think it's probably OK to just remove `ABSL_CONST_INIT` when compiled with MSVC:
[code]
Could you please try that? We currently don't have an environment with clang10+msvc.

[2020-04-08 21:41] derekmauro commented on #659
https://github.com/abseil/abseil-cpp/blob/master/absl/base/internal/atomic_hook.h exists specifically to work around this issue.

[2020-04-09 07:21] sbyma opened #660 "Switching build to C++17 causes link error"
Ubuntu 18.04, GCC 8.4.0, Bazel 1.0.0

I am compiling a cc_binary that depends on Abseil (20200225 release, using the strings library) which works fine when compiling my binary with -std=c++14, however, when I switch to -std=c++17 I get undefined symbol link errors such as

`error: undefined reference to 'absl::lts_2020_02_25::ByString::Find(std::basic_string_view<char, std::char_traits<char> >, un

[2020-04-09 07:23] sbyma commented on #660
Now I find some documentation that explains this I think, so never mind.

[2020-04-09 07:23] #660 closed, assigned to nobody

[2020-04-09 07:46] samolisov commented on #659
@derekmauro I've seen into `atomic_hook.h` and see the proposed `ABSL_HAVE_WORKING_CONSTEXPR_STATIC_INIT` is defined as the following:

[code]

But `clang-cl` defines both `_MSC_VER` and `__clang__` and the macro expanded to 1:

[code]

I would propose just to remove the `!defined(__clang__)` condition, the same way as `ABSL_HAVE_WORKING_ATOMIC_POINTER` defined but as I see, `__clang__` check was

[2020-04-09 14:05] derekmauro commented on #659
@samolisov I think you are misinterpreting my suggestion. I'm suggesting that the variable that holds `StatusPayloadPrinter` be `absl::base_internal::AtomicHook<StatusPayloadPrinter>` instead of `std::atomic<StatusPayloadPrinter>`.

[2020-04-09 15:48] zhangxy988 commented on #659
@samolisov Could you please try the above approach suggested by @derekmauro and send us a pull request, i.e. replace `std::atomic<StatusPayloadPrinter>` with `absl::base_internal::AtomicHook<StatusPayloadPrinter>`? Thanks!

[2020-04-10 06:37] samolisov commented on #659
@derekmauro I'm sorry, yes it looks I misinterpreted your answer. Thank you for your suggestion about `AtomicHook`.

@zhangxy988 I've updated `status_payload_printer.cc` to use `AtomicHook` instead of plain `std::atomic`. See #661. One difference: before the functions `SetStatusPayloadPrinter` and `GetStatusPayloadPrinter` used `load(..., std::memory_order_relaxed)` and `store(..., std::memory_ord

[2020-04-11 04:59] iceboy233 opened #662 "randen_hwaes compilation error on aarch64"
The error message is:

[code]

Looks like when crypto is not supported, the compiler cannot generate some instructions. Adding `-march=armv8-a+crypto` resolves the problem but forces hardware crypto.

[2020-04-11 21:33] iceboy233 commented on #662
I also have one idea here - randen currently uses software AES when hardware AES is not supported, according to my benchmark, this is 10x slower on x64. What about using chacha (or speck if block cipher is desired) as the polyfill when hardware AES is not supported?

[2020-04-13 16:23] NathanSWard opened #663 "btree_multimap with move-only key fails to compile."
Given the following:
[code]
The attempt to emplace the `pair<move_only, int>` results in a compilation error.

[code]

It appears that `absl::btree_multimap` is attempting to use the deleted copy constructor of the `move_only` class. I also tested this with `std::multimap` and it compiles successfully.

Any help would be greatly appreciated!

Edit: I provided a copy constructor for the move only c

[2020-04-14 21:27] #659 closed, assigned to zhangxy988

[2020-04-15 02:31] rizsotto commented on #635
I also have an issue with this CMake line. :smile:

My case is documented in this ticket on the grpc project. grpc/grpc#22646

It looks like that `find_library(LIBRT rt)` will always add `/usr/lib/librt.so` to the linker flags. The `-lrt` would more desirable and would solve the static linking and the cross compilation problem. What do you guys think?

[2020-04-16 15:25] derekmauro commented on #662
It looks like the problem here is that https://github.com/abseil/abseil-cpp/blob/master/absl/copts/configure_copts.bzl has the symbol `ABSL_RANDOM_HWAES_ARM64_FLAGS` but never uses it. Our internal version of this file does use it, but it gets stripped out before it reaches GitHub, for reasons that are complicated. It should be fixable.

I think using ChaCha when hardware acceleration isn't availa

[2020-04-16 16:25] #651 closed, assigned to derekmauro

[2020-04-17 07:46] davidzchen commented on #658
Awesome! Looking forward to it!

[2020-04-17 10:13] pr8x opened #666 "Natvis"
Hey, any plans to ship [natvis](https://docs.microsoft.com/en-us/visualstudio/debugger/create-custom-views-of-native-objects?view=vs-2019) files for the absl container (like `flat_hash_map`)?

[2020-04-17 15:14] derekmauro commented on #666
No, sorry.

[2020-04-17 15:15] pr8x commented on #666
I might look into creating some then. This could take a while since natvis format is horrible.

[2020-04-17 17:24] pr8x commented on #666
Okay, it was easier than thought (still kinda terrible though). If you want I can make a PR, otherwise I am just leaving the code here for future readers.

https://github.com/pr8x/abseil-cpp/blob/patch-1/abseil.natvis

![image](https://user-images.githubusercontent.com/4670166/79596592-1cf47080-80e1-11ea-8f40-36940535014d.png)

[2020-04-19 11:53] abolz opened #667 "from_chars: BigUnsigned::ReadDigits discards significant digits"
This is certainly an edge case, but the `ReadDigits` method may discard significant digits if the number is of the form `0.000[...]0ddd...` with lots of leading zeros in the fractional part and lots of significant digits `ddd...`.

The problem is that currently the leading 0's in the fractional part are counted as significant digits. A case where that happens is, e.g., the number 2^-1075 in fixed-

[2020-04-20 14:24] derekmauro commented on #666
The only issue I have with accepting the patch is that since we don't use it ourselves, if someone changes in the implementation of `flat_hash_*`, no one is going to bother updating this. If we get more requests for this, I'll consider accepting it.

I'll paste your natvis file below to preserve it in case you ever delete your branch:

[code]

[2020-04-20 14:24] #666 closed, assigned to nobody

[2020-04-20 18:20] derekmauro commented on #663
This is working as intended. The implementation of btree requires const-qualified keys for implementation reasons. These containers are meant to be almost-drop-in replacements, but have slight differences for performance reasons. This is one of those differences.

[2020-04-20 18:20] #663 closed, assigned to nobody

[2020-04-20 18:23] NathanSWard commented on #663
Thank you for the explanation!
Best,

[2020-04-21 18:22] K-ballo opened #668 "Incorrect use of FindThreads in cmake package config file"
The generated cmake package config file does a direct inclusion of the `FindThread` module:

https://github.com/abseil/abseil-cpp/blob/1a02b7a2054c24f900dab796edb812f9260b51a6/CMake/abslConfig.cmake.in#L3

This results in the following cmake developer warning:

[code]

The proper way to consume find modules is via `find_package(<NAME>)`, which interacts with the module by setting and reading vario

[2020-04-21 22:24] grantwwu opened #669 "Documentation error for absl::ParseTime"
https://github.com/abseil/abseil-cpp/blob/cb52b05ea20e8d196f17b45a420c2d323e401324/absl/time/time.h#L1319 says

but I think this should refer to the **input** string.

[2020-04-21 22:26] grantwwu commented on #669
Actually, it's possibly correct. Is the intended meaning that if you provide a format string with a UTC offset specification (`%z/%Ez/%E*z`) that the provided `TimeZone` parameter is ignored?

[2020-04-22 07:53] KokutoSan commented on #624
I have the same problem as @BotellaA regarding the **libabsl_cord.dylib**:
[code]

I've patched the **absl/stringsCMakeLists.txt** file as described by @moubctez and my compilation of abseil-cpp works as expected:
[code]

I wonder if it is possible to add this change in the master branch and provide it in the next release.
I can make the PR but as the idea comes from @moubctez I prefer to know if

[2020-04-22 08:30] moubctez commented on #624
@KokutoSan Please, do the PR. :)

[2020-04-22 10:02] KokutoSan commented on #624
@moubctez I've made a PR #670 for this and the problem is on its_2020_02_25 branch. So my PR was against lts_2020_02_25 branch but maybe it can be good to have this on the master branch too.

[2020-04-22 14:10] derekmauro commented on #669
It looks correct to me. The format string format needs to match the input string anyway, so in a way it refers to both. If the format string you are providing includes an offset specification, for clarity you should use the version of the function that doesn't take a time zone parameter.

[2020-04-22 14:25] derekmauro commented on #624
Hi, sorry this issue was ignored. The patch in #670 looks correct to me. I will also apply the fix to the master branch.

[2020-04-22 19:21] KokutoSan commented on #624
@derekmauro No problem, I can easily understand the fact that it is not possible to process or to keep an eye on all issues. I've the same problem at work ;-)

Maybe we are not a lot of people to build abseil-cpp as shared library on MacOS.

[2020-04-22 19:50] derekmauro commented on #624
This should be fixed.

[2020-04-22 19:50] #624 closed, assigned to asoffer

[2020-04-22 21:15] #669 closed, assigned to nobody

[2020-04-22 22:29] #668 closed, assigned to nobody

[2020-04-23 21:15] derekmauro commented on #630
This appears to be fixed.

[2020-04-23 21:15] #630 closed, assigned to vslashg

[2020-04-24 14:29] maximilianriemensberger opened #672 "Build/link error with android ndk r19 due to librt"
We face a build error with the current LTS branch during the linking stage because abseil tries to link librt which doesn't really exist for android.

[code]

It is fixed by replacing https://github.com/abseil/abseil-cpp/blob/68494aae959dfbbf781cdf03a988d2f5fc7e4802/absl/base/CMakeLists.txt#L17 by
[code]

[2020-04-24 14:30] maximilianriemensberger commented on #672
Probably related to #665. But #665 does not fix it for us.

[2020-04-24 14:45] derekmauro commented on #672
I don't know what the correct answer is here. It looks like you are trying to do a cross-compile but the build is finding a host library.

[2020-04-24 15:06] maximilianriemensberger commented on #672
The issue appears to be that the android toolchain has no librt and doesn't need one since all of it is included in libc.  Apparently find_library fails to find the library in the cross toolchain and falls back onto the host.

In my opinion the correct solution would be to account for the different libc variants when linking to particular pieces of libc (libm, librt, ...) . But I'm open for other

[2020-04-25 08:02] maximilianriemensberger commented on #672
Reference to Android documentation: https://developer.android.com/ndk/guides/stable_apis#c_library

[2020-04-27 19:01] mtklein opened #674 "DYNAMIC_ANNOTATIONS_EXTERNAL_IMPL not set?"
In dynamic_annotations.cc, there's a comment

  /* Compiler-based ThreadSanitizer defines
     DYNAMIC_ANNOTATIONS_EXTERNAL_IMPL = 1
     and provides its own definitions of the functions. */

and then no-op versions of the various hooks if DYNAMIC_ANNOTATIONS_EXTERNAL_IMPL is 0 or undefined.

I can't seem to find that DYNAMIC_ANNOTATIONS_EXTERNAL_IMPL really is defined by compiler-based ThreadSan

[2020-04-27 20:50] derekmauro commented on #674
You are correct, it is something assumed to be set by the build system, not the compiler. The comment is imprecise. Unfortunately `dynamic_annotations.cc` wasn't given the attention it needed before we released it, but @rogeeff has an effort underway to clean it up, including getting rid of `DYNAMIC_ANNOTATIONS_EXTERNAL_IMPL`.

What problem are you actually trying to solve? I suspect you are tryin

[2020-04-28 13:03] mtklein commented on #674
Yep, that's right.  This came up while investigating why some existing TSAN annotations stopped working once I started linking Abseil.  Turns out those annotations had stopped linking against the real TSAN hooks and started linking against those DYNAMIC_ANNOTATIONS_EXTERNAL_IMPL-is-not-defined empty stubs.

[2020-04-29 04:19] StilesCrisis commented on #674
@derekmauro : reading through that bazel file, the part that immediately stands out would be:
          --copt="-DDYNAMIC_ANNOTATIONS_ENABLED=1" \
          --copt="-DTHREAD_SANITIZER" \

Are other parts relevant as well, or are those the missing defines?
When you say @rogeeff is working on this, is this something that is expected to land right away? Or is this a long-term effort?

[2020-04-29 13:36] derekmauro commented on #674
Those are the defines you need. You may also need `--test_env="TSAN_OPTIONS=report_atomic_races=0"` if you are using some of Abseil's synchronization code.

Completely fixing all the issues in the file will take some time, but I think it is possible to fix the defines issue in the short term.

[2020-04-29 15:13] mtklein commented on #674
I don't think there's any rush on our part.  We can work around this stuff... it was just surprising behavior having not carefully read through the Abseil code.

[2020-04-30 21:40] BijanVan opened #676 "Test app aborts when std::string_view is used as the key for absl::flat_hash_map"
Test app aborts when std::string_view is used as the key  for absl::flat_hash_map.
The message is:

...
`abseil-cpp/absl/container/internal/raw_hash_set.h:1730: void absl::container_internal::raw_hash_set<absl::container_internal::FlatHashMapPolicy<std::__1::basic_string_view<char, std::__1::char_traits<char> >, int>, absl::container_internal::StringHash, absl::container_internal::StringHashEq::Eq

[2020-04-30 22:34] derekmauro commented on #676
I didn't try your code, but can your random string have a `\0` in it? If so, the a `string_view` constructed from a `std::string` won't match a `string_view` constructed from `std::string::c_str()`.

[2020-04-30 22:44] BijanVan commented on #676
it crashes without that c_str() too.

[2020-05-01 02:09] derekmauro commented on #676
It looks like you may have a few issues with dangling references. For example, in the MapBenchmark constructor, `keys_` may reallocate and move your strings in memory. `auto value = map_[key]` may also be a dangling reference when you delete the key.

Either way, I doubt there is any issue with `absl::flat_hash_map`.

[2020-05-01 02:09] #676 closed, assigned to nobody

[2020-05-01 05:47] BijanVan commented on #676
That was correct, resizing the vector was the root of the issue.
I changed the constructor to
`MapBenchmark() : rand_{}, keys_{INIT_SIZE}, map_{INIT_SIZE} {`

and that resolved the issue. Still, it is interesting that std::unordered_map or tsl::robin_map did not crash but absl::flat_hash_map did which is a good thing to fail fast.

[2020-05-02 13:55] 0x8000-0000 opened #677 "Does Conan package need to provide the library with 'absl' name?"
https://github.com/abseil/abseil-cpp/blob/a1d6689907864974118e592ef2ac7d716c576aad/conanfile.py#L46

I am embarking on the perilous road of packaging gRPC with Conan. gRPC depends on Abseil and
looks for it as
[code]

The bincrafters abseil/20200205 package contains the following lines at https://github.com/conan-io/conan-center-index/blob/da4c194576212941e63c8de3a81fa07eb02855e1/recipes/abseil/al

[2020-05-05 11:18] 0x8000-0000 opened #679 "Document the intent and policy around "LTS" branches"
First of all thank you for the nice library. I have watched with great interest Titus' "Live at Head" talk a few years ago - it makes sense to keep pushing forward to make progress. So we'll keep updating HEAD as fast as we can.

However, there is the question of the past. And sometimes we need to be able to recreate a build from some time ago for bugfix, regression, or any other business reason.

[2020-05-05 13:39] tower120 opened #680 "FixedArray has no clear() member"
FixedArray has no clear() member.
Thus - it is not vector-compatible.
`boost::static_vector` has it.

[2020-05-05 13:47] derekmauro commented on #679
The concept of live-at-head has been so widely misinterpreted that I wrote an FAQ about it: https://github.com/abseil/abseil-cpp/blob/master/FAQ.md#what-is-live-at-head-and-how-do-i-do-it

There is no reason live-at-head is incompatible with build reproducibility.

Your other questions are probably answered by
https://abseil.io/about/compatibility
https://abseil.io/about/releases

[2020-05-05 13:58] derekmauro commented on #679
I also read a bit of the Conan issue you linked to. I'm not sure where some of the ideas in that thread are coming from. We will not be force-pushing anything to GitHub, we will not be deleting any old LTS branches, and we will not be removing old tags.

[2020-05-05 14:08] derekmauro commented on #680
`absl::FixedArray` is not meant to be `std::vector`-compatible. Adding a `clear()` member would not make any sense. `absl::InlinedVector` might be closer to what you are looking for.

[2020-05-05 14:08] #680 closed, assigned to nobody

[2020-05-05 14:17] tower120 commented on #680
Why it would not make sence?
I know max capacity beforehand. I want to use it like vector, but without heap allocations.
If I would not need vector-like interface, I would rather choose std::array instead .

[2020-05-05 14:26] derekmauro commented on #680
As I said, you are looking for [`absl::InlinedVector`](https://github.com/abseil/abseil-cpp/blob/master/absl/container/inlined_vector.h). `absl::FixedArray` is closer to an analog of `std::array`.

[2020-05-05 14:27] tower120 commented on #680
They're not the same - InlinedVector has bigger space overhead.

[2020-05-05 15:27] tituswinters commented on #680
Objects in an array are always alive: there is no clear() on std::array
because every element is alive/active/etc. FixedArray is the same.

It isn't about implementation or storage, it's about object model and
lifetime.

On Tue, May 5, 2020 at 10:28 AM tower120 <notifications@github.com> wrote:

--
*If you get an email from me outside of the 9-5 it is *not* because I'm
always on or expect an immed

[2020-05-05 15:28] tower120 commented on #680
Now I see, thanks.

[2020-05-05 16:43] Minimonium commented on #679
@derekmauro Hi, Derek! Thank you for looking into it. That's good to hear.

[2020-05-05 19:57] 0x8000-0000 commented on #679
@derekmauro Thank you for clarifying this policy specifically. I see that @Minimonium carried your message over to the other review so I'll close this ticket. We will keep packaging new LTS snapshots using the proper Git tags, and strive to use them before the "best by" date lapses :)

[2020-05-05 19:57] #679 closed, assigned to nobody

[2020-05-06 06:32] julianoes commented on #626
@derekmauro would it be possible to backport this fix to the abseil LTS release?
This was suggested by @veblush in https://github.com/grpc/grpc/issues/22338#issuecomment-624235182. Thanks.

[2020-05-06 13:07] derekmauro commented on #626
It looks like there is already a workaround available. Try building with `-DABSL_NO_XRAY_ATTRIBUTES`.

[2020-05-06 18:12] julianoes commented on #626
@derekmauro thanks! That worked (see https://github.com/mavlink/MAVSDK/pull/982/commits/32bea3f726856846cba41cacfca267cb31c36848).

[2020-05-07 07:27] oathdruid opened #681 "control bytes field in absl::flat_hash_map do not aligned to 16 bytes"
in absl/container/internal/raw_hash_set.h
`  using Layout = absl::container_internal::Layout<ctrl_t, slot_type>;`
Layout do not align ctrl_t field to 16 bytes like this
`  using Layout = absl::container_internal::Layout<Aligned<ctrl_t, 16>, slot_type>;`

it is generally fine with default allocator, which aligned to 16 bytes for a large memory region by default. but when using custom allocator (may

[2020-05-09 22:37] codergs opened #683 "[Question] Abesil compiled with clang 10/C++20 shows warnings"
Issue encountered:

Getting warnings on deprecated usage under abseil repo.
[code]

Compiler:
Build System: Bazel

[code]
toolchain:
https://github.com/grailbio/bazel-toolchain - 10.0.0

flags:
[code]
Platform tried:
[code]

Abesil Used:
[code]

[2020-05-09 23:03] codergs commented on #683
Can a setup like below will work here
[code]
I don't know the codebase well, but I think the above should do it. if yes, then can add a PR with similar changes in other parts too. Let me know!

[2020-05-09 23:05] codergs commented on #683
I just checked the latest master, and seems the above code has already moved to constexpr. I think I can wait for the next stable release and tackle it there. thanks!

https://github.com/abseil/abseil-cpp/blob/ca9856cabc23d771bcce634677650eb6fc4363ae/absl/base/internal/spinlock.h#L156

[2020-05-11 13:00] derekmauro commented on #683
As you mentioned, this is fixed at head, and the warnings are safe to ignore.

[2020-05-11 13:00] #683 closed, assigned to nobody

[2020-05-17 16:30] vnghia commented on #47
I saw that Status was released, are there plans in the future to support multiplatform file system C++ library ? If you need help, please tell me where to start. Thank you

[2020-05-18 12:49] tituswinters commented on #47
Tentative plans, yes. As always, there's a lot of work to be done checking
the design, putting things into Abseil, resolving old issues before making
them public. If we release this, I suspect it'll still be quite some time.

On Sun, May 17, 2020 at 12:30 PM Vo Van Nghia <notifications@github.com>
wrote:

--
*If you get an email from me outside of the 9-5 it is *not* because I'm
always on or expec

[2020-05-21 04:02] cruisercoder opened #688 "address sanitizer not working"
when including abseil flags and dependent libraries in a target build, I no longer get address sanitizer output from normal code that otherwise generates asan output.  Any ideas on what is causing this?

[2020-05-21 13:18] derekmauro commented on #688
Can you please tell us exactly how to reproduce this issue (sample program and build instructions)?

[2020-05-22 02:34] luxe opened #689 "bazel: dependency must be zip instead of tar.gz?"
Another bazel project can use abseil as a dependency in the following way:
[code]

However, changing `.zip` to `.tar.gz` does not work:
[code]

Bazel says:
[code]

I have 100s of other dependencies that are all github repos referenced with `tar.gz`, but abseil is forcing me to use .zip

The file exists as tar.gz:
[code]

looks right:
[code]

Hm, I wonder what's special about abseil.  I'll use zip

[2020-05-23 16:21] derekmauro commented on #689
I didn't try to reproduce this, but you didn't change the sha256. The zip and tar.gz are going to have different hashes. I bet Bazel is using the sha256 as a cache key, finding the zip file, and then trying to interpret it as gzip data since it now has a tar.gz extension. Try putting the correct sha256 to match the tar.gz file.

[2020-05-23 17:03] luxe commented on #689
haha,  exactly!  THANK YOU!

[2020-05-23 17:03] #689 closed, assigned to nobody

[2020-05-24 01:40] haberman opened #690 "CMake: build requires googletest even if ABSL_RUN_TESTS is not enabled"
I am using ABSL as a dependency in https://github.com/google/bloaty, but I'm not yet using ABSL's CMake files.

When I tried using ABSL's CMakeLists.txt, I get this error:

[code]

I didn't enable `ABSL_RUN_TESTS`. So it is surprising that ABSL is attempting to download googletest to `/usr/src`. There should be no reason to fail just because googletest is not present.

This should be as simple as

[2020-05-26 22:29] bianpengyuan opened #693 "Cannot link absl with Standalone Wasm module"
When using bazel compile Stand alone Wasm module with absl, emscripten compiles `shared:ERROR: STANDALONE_WASM does not support pthreads yet`. We have to apply the following patch to work around this:
[code]

Can absl bazel build add another platform to support Standalone Wasm?

[2020-05-26 22:43] bianpengyuan commented on #693
Effort to add wasm as a cpu option to bazel: https://github.com/bazelbuild/platforms/pull/12

[2020-05-27 05:39] suhao opened #694 "[ERROR] Build failed using vcpkg+cmake for arm-uwp platform"
**Host Environment**

- OS: windows10 desktop
- Compiler: arm-uwp

**To Reproduce**

Steps to reproduce the behavior:
`./vcpkg install --recurse abseil:arm-uwp`

**Failure logs**
|item|message|
|-|-|
|file| [absl/time/internal/cctz/src/zone_info_source.cc](https://github.com/abseil/abseil-cpp/blob/master/absl/time/internal/cctz/src/zone_info_source.cc)
|error| fatal error C1189: #error:  Unsupport

[2020-05-27 18:10] devjgm opened #696 "Abseil should install w/ the correct base/options.h"
We're using Abseil with our https://github.com/googleapis/google-cloud-cpp project. In order to support our CMake build, we compile and install Abseil in our docker images, so that our CMake builds can simply find and use the installed Abseil libraries. Here's how we compile and install Abseil in our docker images.

https://github.com/googleapis/google-cloud-cpp/blob/19d4a7eaf73eeca16278f6ad4852a9

[2020-05-27 19:51] derekmauro commented on #694
This is fixed.

[2020-05-27 19:51] #694 closed, assigned to derekmauro

[2020-05-28 20:50] #690 closed, assigned to nobody

[2020-05-29 13:23] devjgm commented on #696
I just found https://abseil.io/docs/cpp/guides/options, which suggests that users are supposed to patch the `absl/base/options.h` file to set the options they want for the their project. From the guide

That's a bit difficult to use. It makes the following (typical) workflow do the wrong thing.
1. Fetch Abseil tarball; extract
2. `cmake ...` configure
2. `cmake --target install ...`

This is basic

[2020-05-29 13:54] coryan commented on #696
A suggestion: generate (or modify, but that might be harder) `absl/base/options.h` in the `configure` step.

You can even compile a small C++ program, detect if `std::optional<>`, `std::variant<>`, etc. are supported and turn the flags appropriately:

https://cmake.org/cmake/help/v3.5/module/CheckCXXSourceCompiles.html

[2020-05-31 23:55] Hariwan111 opened #699 "HARI"

[2020-05-31 23:56] Hariwan111 opened #700 "Hariwan111"

[2020-06-01 03:47] #700 closed, assigned to nobody

[2020-06-01 03:47] #699 closed, assigned to nobody

[2020-06-01 11:11] hevrard commented on #326
This issue is preventing AGI (https://github.com/google/agi) to update to a newer version of gRPC. See https://github.com/google/agi/pull/310#issuecomment-636790512

[2020-06-01 16:07] derekmauro commented on #696
This is the single most often reported issue on our issue tracker, so in light of that, we should take it as a signal that we might either be getting this wrong.

According to our current position, it is fine to install Abseil, but you must build your program with the exact same set of ABI affecting compile options that were used to build the installed Abseil. Since GCC defaults to C++14 (and you

[2020-06-01 21:20] devjgm commented on #696
Thanks for the detailed and thoughtful reply, @derekmauro. As a library maintainer for many years myself, I'm completely on board with Abseil's principles. I certainly wouldn't want or expect Abseil to make any ABI guarantees -- we do not make any ABI guarantees in our project either.

But that said, practically speaking, most things don't cause ABI breaks. Even changing `-std=` rarely breaks ABI.

[2020-06-01 23:17] mtahmed opened #701 "ARM + musl breaks stacktrack.cc"
When cross-compiling for ARM, `stacktrace.cc` includes `absl/debugging/internal/stacktrace_config.h`, which includes `absl/debugging/internal/stacktrace_generic-inl.inc`, which tries to include `execinfo.h` which is not available on musl. That implementation should be included with a `defined(__GLIBC__)` guard since it requires glibc.

[code]

[2020-06-04 11:22] IanMichaelAsh opened #702 "Error linking as a library under Windows"
(Great project all, thank you!)

I have built a set of abseil-cpp libraries using Visual Studio / CMake under Windows, however when trying to link the library into a new project I am getting the following link error:

[code]

Is there something in the make configuration which needs to be changed to build as a library?

I'm a neophyte, so any insights on what I am missing would be greatly appreciat

[2020-06-04 13:41] derekmauro commented on #702
Please provide instructions on how to reproduce your problem. Thanks.

[2020-06-05 03:28] JohelEGP opened #703 "Can't export nor install CMake project depending on absl"
Depending on absl's through its CMake buildsystem means that one cannot export a depending project's local buildsystem nor install it because abseil doesn't do either. This prevents further downstream projects from, for example, using `find_package(mylib)` by setting `mylib_DIR` to a build directory of mylib, or from installing mylib (and thus its dependencies) to some local path and using that.

[2020-06-05 04:37] #701 closed, assigned to nobody

[2020-06-05 07:13] IanMichaelAsh commented on #702
After doing a fresh clone of the abseil repo to generate a minimal example, the issue went away when I built a library from that fresh clone.

It looks like the build process has changed since my original clone as the .lib file set is different (e.g. absl_atomic_hook_test_helper.lib doesn't exist) in the new clone vs my original.

Must have somehow ended up with an inconsistent build set after I t

[2020-06-05 07:13] #702 closed, assigned to nobody

[2020-06-05 09:22] libaineu2004 opened #704 "I suggest that the abseil-cpp library add the following functions"
I suggest that the abseil-cpp library add the following functions:
1. Multithreading and thread pool
2. Classes of singleton pattern
3. Promises

[2020-06-05 14:43] devjgm commented on #703
You may need to provide more details (simplified if possible) about how you're using Abseil in your project.

As one example, a project that I work on, https://github.com/googleapis/google-cloud-cpp, has a dependency on Abseil, and it uses CMake and supports installs. The way we do it is to first cmake build and install Abseil. Then Abseil is installed. Then our CMake build uses `find_package(absl

[2020-06-05 17:48] JohelEGP commented on #703
Thank you. To clarify, when you make Abseil available as a non-imported dependency (in other words, not first through `find_package`, but perhaps through a git submodule or `FetchContent`), you can't export/install you project depending on Abseil because Abseil doesn't do either, and attempting to do so for your project recursively does it for its non-imported dependencies.

[2020-06-06 07:54] patlecat opened #706 "DeepCode found several possible problems"
Running deepcode it found 3 possible leaks/problems and 2 recommendations ([DeepCode](https://www.deepcode.ai/)):

Link to report: https://www.deepcode.ai/app/gh/abseil/abseil-cpp/a8b03d90e0afe03fefa16d4a871ece344a5d52ad/_/dashboard

[2020-06-07 05:53] asoffer commented on #109
This has been completed.

[2020-06-07 05:53] #109 closed, assigned to asoffer

[2020-06-07 05:53] asoffer commented on #106
All issues have been completed.

[2020-06-07 05:53] #106 closed, assigned to asoffer

[2020-06-07 05:54] asoffer commented on #123
This has been completed.

[2020-06-07 05:54] #123 closed, assigned to asoffer

[2020-06-08 13:46] #706 closed, assigned to nobody

[2020-06-09 17:40] 1z2x3c4v5b6n7m8 commented on #688
#632
Android

[2020-06-09 17:40] 1z2x3c4v5b6n7m8 opened #708 "#632"
#632
Android

_Originally posted by @1z2x3c4v5b6n7m8 in https://github.com/abseil/abseil-cpp/issues/688#issuecomment-641468713_

[2020-06-09 18:45] Fingolfin1196 opened #709 "Cannot find GTest::gmock_main in CMake"
After installing Abseil from the Arch User Repository (https://aur.archlinux.org/packages/abseil-cpp/), which adds no significant options beyond what is stated on https://abseil.io/docs/cpp/tools/cmake-installs, I get the following error from CMake:
[code]
The part of my `CMakeLists.txt` that concerns Abseil is:
[code]
I got the same error when installing Abseil manually, but have, in fact, instal

[2020-06-09 19:08] kabeer27 opened #710 "Build Issues for fuzzing"
Hello,
I have joined as an oss-fuzz intern this summer, so i was working on setting up the initial build for a fuzzer just to check if my build is working fine, but i keep running into the following error:

[This is on linux]
[code]

My build.sh file looks like:
[code]
https://github.com/kabeer27/abseil-cpp
https://github.com/kabeer27/oss-fuzz/tree/master/projects/abseil-cpp

Steps to reproduce:
C

[2020-06-10 04:08] #710 closed, assigned to nobody

[2020-06-10 14:53] #708 closed, assigned to nobody

[2020-06-10 14:55] derekmauro commented on #704
Multithreading and a thread pool will probably happen some day. As for the others, please realize that [Abseil is not a general C++ utility library](https://github.com/abseil/abseil-cpp/blob/master/FAQ.md#is-abseil-the-right-home-for-my-utility-library).

[2020-06-10 14:55] #704 closed, assigned to nobody

[2020-06-10 14:57] derekmauro commented on #688
Closing due to lack of response.

[2020-06-10 14:57] #688 closed, assigned to nobody

[2020-06-12 18:44] devjgm opened #711 "Consider changing the name of the default branch from 'master' -> 'default'"
... or 'main' or something else. FWIW, we're changing the `master` to `default` for the google-cloud-cpp repo https://github.com/googleapis/google-cloud-cpp/issues/4393

[2020-06-12 18:51] tituswinters commented on #711
+100, thanks for the reminder.

On Fri, Jun 12, 2020 at 2:44 PM Greg Miller <notifications@github.com>
wrote:

--
*If you get an email from me outside of the 9-5 it is *not* because I'm
always on or expect an immediate response from you; it is because of work
flexibility
<http://www.inc.com/john-boitnott/how-flexible-hours-can-create-a-better-work-life-balance.html>
.  Evening and weekend emails a

[2020-06-14 01:38] rockwotj commented on #248
FWIW the status stuff in mediapipe seems to be the closest to something that may be released in `absl`. For example, their status is just an alias to `absl::Status`.

https://github.com/google/mediapipe/blob/master/mediapipe/framework/deps/status.h
https://github.com/google/mediapipe/blob/master/mediapipe/framework/deps/statusor.h
https://github.com/google/mediapipe/blob/master/mediapipe/framework

[2020-06-15 07:48] kartikynwa opened #713 "Error while building for musl-x86_64"
Hi.

I am trying to package abseil for Void Linux. On other glibc it builds as expected but on musl it throws [this error](https://gist.githubusercontent.com/kartikynwa/d48c6936c1491db058a9efc101d58f75/raw/45b5b3e72189df5d1d54363269a2c16bf4160cae/output).

I don't have much experience with C++ so any advice would be appreciated it.

If you have any questions about this, please feel free to ask. Th

[2020-06-17 13:07] minqz2009 opened #715 "Undefined symbols for architecture x86_64 when compiling on macOs Catalina"
Compile with apple clang

`Undefined symbols for architecture x86_64:
  "absl::container_internal::UnsampleSlow(absl::container_internal::HashtablezInfo*)", referenced from:
      absl::container_internal::HashtablezInfoHandle::~HashtablezInfoHandle() in test-a0f084.o
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)`

C

[2020-06-17 13:07] BotellaA opened #716 "Error while compiling distribution_test_util on Centos7"
I got this compiling error on Centos7, with gcc 4.8.5 with CMake build system:
[code]
Are you still supporting Centos and RHEL 7?

[2020-06-17 13:13] BotellaA opened #717 "Linking error on macOS"
I got this linking error on macOS 10.15, with Xcode 11.5 in dynamic linking with CMake build system:
[code]
Thanks for the help

[2020-06-17 13:21] BotellaA commented on #625
@asoffer So sorry for the huge delay... I finaly got time to test again. With the latest Abseil commit, I do not have the error with the `global_next_sample` anymore, however I still got the error regarding the `kSeed`:
[code]
I do have time this month I you want me to test things.

[2020-06-17 20:45] devjgm opened #718 "absl::disjunction breaks in on gcc 4.8"
When trying to replace my project's custom `disjunction` type with `absl::disjunction` (https://github.com/googleapis/google-cloud-cpp/pull/4409) we came across a weird build break ([build log](https://source.cloud.google.com/results/invocations/4e3abc82-c6c7-48aa-b0ac-72d165fd4371/targets/cloud-cpp%2Fgithub%2Fgoogle-cloud-cpp%2Fmaster%2Fdocker%2Fgcc-4.8-presubmit/log)):

[code]

It's an internal

[2020-06-17 21:04] devjgm commented on #718
... obviously I can turn https://github.com/abseil/abseil-cpp/compare/master...devjgm:fix-disjunction-on-gcc-4-8 into a PR if that's at all helpful.

[2020-06-18 07:44] FranklinYu opened #719 "Any interest in implementing the math functions C++17?"
See https://en.cppreference.com/w/cpp/numeric. Things that come to mind are `std::gcd()` and `std::lcm()`. The only implementation that I know is [`boost::integer::gcd()` and `boost::integer::lcm()`](https://www.boost.org/doc/libs/1_73_0/libs/integer/doc/html/boost_integer/gcd_lcm.html).

[2020-06-18 13:36] derekmauro commented on #718
[GCC 4.8 has been unsupported since August 2019](https://abseil.io/docs/cpp/platforms/platforms), however, the proposed fix is simple enough and not a maintenance burden. Feel free to send a CL (Googlers should use the internal code review process).

[2020-06-18 13:43] derekmauro commented on #719
No. We generally only release APIs that have high Google-internal usage (1000s of callers). These don't appear to meet that bar.

[2020-06-18 13:43] #719 closed, assigned to nobody

[2020-06-18 13:47] derekmauro commented on #716
[GCC 4.8 has been unsupported since August 2019](https://abseil.io/docs/cpp/platforms/platforms). We would consider accepting a patch if the patch wasn't a maintenance burden.

[2020-06-18 13:47] #716 closed, assigned to nobody

[2020-06-18 13:50] derekmauro commented on #717
It looks like `~FlagStateInterface()` is missing a definition.

[2020-06-18 14:19] devjgm commented on #718
Thanks I'll send a CL. I was looking for the supported compilers page and couldn't find it. Thanks for the link, where it clearly says that gcc 4.8 is unsupported :smile:

[2020-06-18 16:31] bigerl opened #720 "fixable seeds for reproducible hashes"
## fixable seeds for reproducible hashes

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

## Background

Currently, abseil provides hashes on an non-deterministic hash stored at `const void* const absl::hash_internal::CityHashState::kSeed` which is populated by exploit Address space l

[2020-06-18 19:07] derekmauro commented on #720
This isn't something we will accept. You are missing an important point about why the seed is random. By making the hash non-deterministic between runs of the program, we are in effect reserving the right to change the hash function itself. If we discover a weakness in the hash function, or find a better, faster function, we can simply replace it and not worry about breaking anyone. For Abseil's u

[2020-06-18 19:07] #720 closed, assigned to nobody

[2020-06-22 19:24] #718 closed, assigned to nobody

[2020-06-24 15:53] micahcc commented on #248
Its here! Closing :) I guess I'll close. Of course StausOr would be nice too :p

[2020-06-24 15:53] #248 closed, assigned to zhangxy988

[2020-06-25 10:13] DmitryTsyganov opened #722 "Remove use of deprecated allocator members and types"
There are uses of allocator members and types that were deprecated in C++17 and removed in C++20. Examples:

Members:
https://github.com/abseil/abseil-cpp/blob/10cb35e459f5ecca5b2ff107635da0bfa41011b4/absl/memory/memory.h#L576
[https://en.cppreference.com/w/cpp/memory/allocator/construct](https://en.cppreference.com/w/cpp/memory/allocator/construct)

https://github.com/abseil/abseil-cpp/blob/10cb3

[2020-06-28 21:11] haberman opened #725 "error: redeclaration ‘absl::Cord::InlineRep::kMaxInline’ differs in ‘constexpr’"
I got this when trying to upgrade to the master branch of abseil-cpp:

[code]

[2020-06-29 00:00] gorakhargosh opened #726 "Could you please address these "enable_if is a clang extension" warnings?"
Hi!

Thank you for making abseil. Could you please address these warnings in the source code?
How does one clean them up in a bazel workspace:

I used the following .bazelrc configuration to build abseil:

[code]

Warnings list:
[code]

[2020-06-29 00:23] gorakhargosh opened #727 "Could you please address the "ISO C++ does not support ‘__int128’" warnings that GCC generates with -Wpedantic?"
The gcc compiler generates the following warnings with -Wpedantic enabled.
Could these be addressed because they result in a flurry of warnings in our projects?

I'm using the following version of GCC:

[code]

Thank you!

[code]

[2020-06-29 13:02] bduclaux commented on #696
Agreed.

We use Abseil too, and we also use several C++ CMake projects which are either C++11 or C++17.
The defaults in absl/base/options.h are not right for us: we have to patch them to use the zero version.
Would be nice to get a default value which just works when you have a mix of C++11/14/17 versions.

[2020-06-29 13:20] tituswinters commented on #727
-Wpedantic isn't in the set of warning flags we endorse / support (
https://abseil.io/docs/cpp/platforms/compilerflags) - there are too many
flags that are false positives. This one, for instance: while those lines
of code are indeed not portable (ISO standard C++ include __int128), that
entire implementation is branched on whether or not your compiler/target
platform supports it. If not, we've go

[2020-06-29 13:23] tituswinters commented on #726
Same answer as my previous email: that is an extension, but the extension
is only used if it is available. Your compiler flags are panicking about
something that is completely benign, I'm afraid.

On Sun, Jun 28, 2020 at 8:00 PM Yesudeep Mangalapilly <
notifications@github.com> wrote:

--
*If you get an email from me outside of the 9-5 it is *not* because I'm
always on or expect an immediate respo

[2020-06-30 00:28] gorakhargosh commented on #726
Hi @tituswinters Thank you for the clarification. I'll ignore these then.

[2020-06-30 00:28] #726 closed, assigned to nobody

[2020-06-30 00:28] gorakhargosh commented on #727
Hi @tituswinters Thank you for the clarification. I'll ignore these then.

[2020-06-30 00:28] #727 closed, assigned to nobody

[2020-06-30 21:03] #717 closed, assigned to derekmauro

[2020-06-30 21:03] #725 closed, assigned to derekmauro

[2020-07-01 11:22] thekiwicoder0 opened #729 "absl::btree_map: constexpr variable 'kFirst' must be initialized by a constant expression"
Hi I am receiving a compiler error use of aseil::btree_map running it through clang.

absl/container/internal/container_memory.h:259:27: error: constexpr variable 'kFirst' must be initialized by a constant expression [clang-diagnostic-error]
  static constexpr size_t kFirst = offsetof(Pair, first);

The offending code is:
`
template <class Pair>
struct OffsetOf<Pair, typename std::is_standard_layo

[2020-07-06 14:51] hcoona opened #731 "Failed to bazel build master branch with clang 8 & libstdc++ from gcc 4.9.2"
Hi Abseil team, I'm failing to build master branch with clang & libstdc++ from gcc 4.9.2 with details below.

## Environment

* clang: clang version 8.0.0 (tags/RELEASE_800/final)
* gcc: gcc (Debian 4.9.2-10+deb8u2) 4.9.2
* bazel: 3.3.1
* os-release: PRETTY_NAME="Debian GNU/Linux 8 (jessie)"  (I know it's pretty old, but the compiler chain matters more)
* abseil commit id: 38db52adb2eabc0969195b33

[2020-07-07 02:45] hcoona commented on #731
I can build abseil with gcc 4.9.2.

[2020-07-07 02:56] hcoona opened #732 "Bazel build failed to detect clang compiler"
## Environment

* gcc: 4.9.2
* clang: 8.0.0
* bazel: 3.3.1
* abseil commit id: 38db52adb2eabc0969195b33b30763e0a1285ef9

## Expected

The target `leak_check_api_enabled_for_testing` defined as following:

[code]

Building it, I expected `-DLEAK_SANITIZER` in clang command.

[code]

## Actual

[code]

[2020-07-07 02:58] hcoona commented on #731
[code]

Would print:

[code]

[2020-07-07 03:14] hcoona commented on #731
It's still failing after added "--cxxopts=-std=c++17":

[code]

[build_log.txt](https://github.com/abseil/abseil-cpp/files/4882235/build_log.txt)

[2020-07-07 05:32] hcoona commented on #731
Found following macros:

[code]

However, the `std::pair` bug is related to libstdc++ rather than gcc. We should detect the libstdc++ instead of gcc version.

How about this?

[code]

[2020-07-07 08:06] AvinashSinghNido commented on #709
Where you able to solve this probelm ?

[2020-07-07 08:59] Fingolfin1196 commented on #709
Kind of, I just installed the latest Abseil LTS manually without the testing flags. My configuration command (omitting `-DCMAKE_INSTALL_LIBDIR` and `-DCMAKE_INSTALL_PREFIX`) looks like this:
[code]
This differs from the command in the AUR package only by removing the testing options. Also, I had to add `-fPIC` as a compile option to be able to statically link Abseil with a shared library.

[2020-07-07 10:29] AvinashSinghNido commented on #709
@Fingolfin1196 , I have basically tried everything but I am still getting the error, I must be missing somthing. Can you guide me through this ?
I am trying to build cartographer but I am not able to solve this one. thanks..

[2020-07-07 12:34] EricWF commented on #731
You're right that we should detect the libstdc++ version instead of the compiler version.
Unfortunatly detecting the libstdc++ version isn't as simple as using `__GLIBCXX__`, because that macro notes the release date of the library., and, for example, libstdc++ 4.9.5 was released after libstdc++ 7.

But I think with a little more finess we can find the right incantation

[2020-07-07 15:50] rogeeff commented on #729
What is the standard library are you using?

[2020-07-07 16:26] rogeeff commented on #732
Is llvm the default compiler for the build? Does building with "--compiler=llvm" do anything different?

My best guess is whatever environment you are running into doesn't default to the llvm compiler, which is why it wouldn't choose the select() path that adds that define.

[2020-07-07 16:32] sbenzaquen commented on #722
All of those are guarded. They are only used if present, as it is specified in the contract for `allocator_traits`.
Is there a repro of this actually failing in C++20?
The traits should just fallback gracefully.

[2020-07-07 16:42] rogeeff commented on #715
Do you link against Abseil Library?

[2020-07-07 16:56] rogeeff commented on #713
What compiler/standard are you using?

[2020-07-07 17:12] #731 closed, assigned to nobody

[2020-07-07 17:32] thekiwicoder0 commented on #729
C++17, looks like it's pulling that definition from here:
C:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\ucrt\stddef.h

[2020-07-07 18:26] DmitryTsyganov commented on #722
It does work, my bad.
The problem is only with  C++17 if warnings are treated as errors.

[2020-07-08 03:59] rogeeff commented on #310
I believe this is addressed at HEAD. Feel free to reopen if you still observe this.

[2020-07-08 03:59] #310 closed, assigned to nobody

[2020-07-08 04:09] rogeeff commented on #125
I believe this might be addressed at HEAD. We are now able to build Abseil as a shared library. If this is still outstanding please feel free to reopen.

[2020-07-08 04:09] #125 closed, assigned to asoffer, mbxx

[2020-07-08 04:24] rogeeff commented on #625
THe symbol is defined in absl/hash/internal/hash.cc. Do you see this translation unit in DLL?

[2020-07-08 04:30] rogeeff commented on #648
The interfaces to query this are not going to be part of the library. Instead it is recommended to detect if flag changed from default value by choosing proper sentinel if possible (which can't be a valid flag's value). We are still considering if there is something we can do in the library to help with this use case.

[2020-07-08 04:32] rogeeff commented on #572
I believe we already have shared library build at HEAD including Windows. Is this issue still outstanding?

[2020-07-08 04:43] rogeeff commented on #368
I believe empty braces are addressed. If you still observe other warnings please file separate issue per occurrence.

[2020-07-08 04:43] #368 closed, assigned to vslashg

[2020-07-08 04:54] BotellaA commented on #572
No, it can be closed.

[2020-07-08 04:54] #572 closed, assigned to asoffer

[2020-07-08 05:29] kartikynwa commented on #713
Hello. Very sorry for that including that in the issue.

The compiler is C++ and standard is 17. This one:

[code]
edit: Using `cmake` because my distro doesn't provide Bazel.

[2020-07-08 07:19] BotellaA commented on #625
How can I test that?

[2020-07-08 09:35] kartikynwa commented on #701
Sorry for necrobumping but if you were able to build abseil-cpp on musl, can you let me know what compiler/standard you used?

Thanks and sorry again.

[2020-07-08 10:03] kartikynwa commented on #713
Actually, I was using `-DCMAKE_CXX_STANDARD=17` based on the AUR template (I don't know anything about c++) but I removed it and rebuilt and it succeeded on musl. Closing this. Thanks for pointing in the right direction.

[2020-07-08 10:03] #713 closed, assigned to nobody

[2020-07-08 14:22] hcoona opened #734 "[Feature Request] Need basic_string_view"
I want basic_string_view for other char types. On windows, wchar is quite useful talking with Windows API. It would be great to have absl::basic_string_view to support it.

[2020-07-08 14:29] hcoona commented on #732
The default compiler in my environment (aka. `/usr/bin/cc`) is not clang. However, I already exposed `CC=clang CXX=clang++` to the environment variables.

Here's the logs building with `--compiler=clang` (toolchains renamed from llvm to clang in higher version of bazel):

[code]

[code]

[2020-07-08 15:40] derekmauro commented on #732
Abseil relies on the compiler string being `llvm`. At one point Bazel simply set the compiler string to `compiler`, so for testing we set an environment variable `BAZEL_COMPILER=llvm`. From my experimentation, it looks like Bazel is now setting this string to `clang` when clang is used, and it is setting it to `compiler` when gcc is used. We may have to adjust this.

For now, try working around th

[2020-07-08 15:41] rogeeff commented on #734
Long story short, we do not have an incentive to support this. This is pretty massive effort, including all the other string interfaces Abseil supports and Google first party users did not request it. In a few years we'll all migrate to C++17's std::string_view, which does everything you want already. Can you use that?

[2020-07-08 15:41] #734 closed, assigned to nobody

[2020-07-09 02:16] hcoona commented on #732
@derekmauro Thanks for your explanation. Unfortunately, the workaround didn't work on Bazel 3.3.1.

[code]

[code]

[2020-07-09 11:54] Mizux commented on #703
Abseil-cpp does not support well FetchContent usage:
e.g.
https://github.com/abseil/abseil-cpp/blob/23f1f9cf6d02f834d55c0595566c0d607d4c5ed8/CMakeLists.txt#L41-L47
or missing CMP0077 policy (i.e. you can't change option using variable aka `set()` cmd)

For google/or-tools we are currently using this patch
https://github.com/google/or-tools/blob/master/patches/abseil-cpp-20200225.2.patch

then you

[2020-07-09 11:56] Mizux commented on #703
note: there is also an error here:
https://github.com/abseil/abseil-cpp/blob/23f1f9cf6d02f834d55c0595566c0d607d4c5ed8/absl/types/CMakeLists.txt#L242-L263

they forget the `TESTONLY` flag....

EDIT: should be fixed by: PR #737

[2020-07-09 15:11] Mizux commented on #709
my bet on conformance_testing !

see: https://github.com/abseil/abseil-cpp/issues/703#issuecomment-656083938

[2020-07-09 16:08] hcoona commented on #732
I got the point. I can patch `//absl/compiler_config_setting.bzl` in my environment to workaround it.

[code]

[2020-07-09 16:13] hcoona commented on #732
Is it possible to detect the Bazel version and make another else-if branch for this issue?

This could help to detect Bazel version: https://github.com/bazelbuild/bazel-skylib/blob/master/lib/versions.bzl

[2020-07-09 20:09] mtahmed commented on #701
I used gcc 6.3. I don't set the standard – I let CMake handle it so whatever is set in CMake is what I use.

No worries! Hope that helps.

[2020-07-10 02:34] hcoona commented on #734
For who still interested to this topic, please go #124 for a more detailed discussion.

[2020-07-10 16:56] rogeeff commented on #141
We still have this on out book. We have b/139340580 to track the progress.

[2020-07-10 17:19] rogeeff commented on #296
We are tracking progress of this in b/62646255, but there is no concrete plans to release these interfaces yet.

[2020-07-10 20:18] rogeeff commented on #180
The way things going we are likely to move into c++17 world before we address this. I think having this information in headers should be enough.

[2020-07-10 20:18] #180 closed, assigned to manshreck

[2020-07-12 15:07] rdaum commented on #177
This is still happening for me off of master of absl, with CMake linkage. Not sure if the same problem, or a regression.

Relevant CMake pieces:

add_subdirectory(abseil-cpp)
target_link_libraries(moo
        PUBLIC
        x
        glog::glog
        absl::base
        absl::flags
        absl::flags_parse
        absl::status
        absl::str_format
        absl::hash
        absl::container

[2020-07-12 21:40] derekmauro commented on #177
You are missing the dependency on the hash table that you are using. Have a look at https://github.com/abseil/abseil-cpp/blob/master/absl/container/CMakeLists.txt, see which headers you are including, and add the corresponding dependency.

[2020-07-13 22:26] coryan commented on #709
Did you compile Googletest from source or are you using a version installed with your distribution?  The `FindGTest` module included with CMake does not define a `GTest::gmock_main`:

https://cmake.org/cmake/help/v3.18/module/FindGTest.html

but the GTest config file created when you install googletest from source (with CMake!) does.  I think this is the relevant link for googletest, not positive

[2020-07-13 22:32] coryan opened #740 "Allow Bazel users to include Abseil headers with angle brackets."
Because we use Abseil with both CMake and Bazel, and we sometimes use Abseil from `/usr/include` (or `/usr/local/include` or some other $PREFIX) we need to always include Abseil headers with either quotes (`#include "absl/..."`) or angle brackets (`#include <absl/...>`).

We would prefer to include Abseil with angle brackets. In some platforms that allows us to treat warnings as errors (`-Werror -

[2020-07-15 18:49] derekmauro commented on #740
@EricWF are you still interested in working on this?

[2020-07-16 21:48] veblush opened #742 "CMake error due to "CMP0077""
From July 15, one of gRPC tests with the HEAD of Abseil started failing with the error message;

[code]

This policy is available from CMake 3.13 ([ref](https://cmake.org/cmake/help/git-stage/policy/CMP0077.html)) and we use CMake 3.6.2 which is higher than 3.5 which Abseil claims as the minimum version to support.

[2020-07-18 22:21] riking commented on #47
We're running into issues with attempting to provide a VFS due to inode tracking issues. Getting an abseil filesystem library released would massively unblock some of the https://cs.tvl.fyi/ efforts.

[2020-07-20 11:13] Mizux commented on #742
Sorry my bad, we need it for google/or-tools since we are using `FetchContent()`.

I just sent a patch which should fix it, sorry for the inconvenience...

[2020-07-20 13:17] Mizux opened #744 "compilation broken on FreeBSD"
Up to now using `20200225.2` we were able to build absl-cpp while it seems broken on today master

# Protocol
Using vagrant and virtualbox...
Vagrantfile
[code]
then simply run
[code]

# Expected
compile pass

# Observed
the following tail
[code]

[2020-07-20 13:24] Mizux commented on #744
Seems to comes from https://github.com/abseil/abseil-cpp/commit/55c04eb9203a93db1c0816adddf3182b45da5384
(this is were you would be happy if you configure copybara to generate one commit per CL than merging everything + you'll have a better commit message than an unhelpful "Export of internal Abseil changes" )

[2020-07-20 18:41] devjgm commented on #652
+1 to this issue.

Installing pkg-config files is really useful and not too difficult to do as part of your cmake install build. pkg-config is commonly used in Makefiles ([example from the google-cloud-cpp project](https://github.com/googleapis/google-cloud-cpp/blob/master/google/cloud/spanner/quickstart/Makefile)) to find the right libs that need to be linked with. Without pkg-config files for Ab

[2020-07-20 19:59] #742 closed, assigned to derekmauro

[2020-07-21 06:41] veblush commented on #742
Confirmed that it fixed our test. Thanks!

[2020-07-21 16:26] alwayswimmin opened #745 "FormatDuration Consistency"
Right now, `absl::Duration` increments in steps of 0.25ns, though documentation says not to depend on implementation details past 1ns. However, for an _integral_ duration of nanoseconds `d`, can I expect `FormatDuration(d)` to give me the same string each time, or is there no such guarantee as the library updates?

[2020-07-21 18:14] rogeeff commented on #657
This is addressed at HEAD and going to be released in upcoming LTS.

[2020-07-23 18:22] derekmauro commented on #652
@EricWF and @suertreus volunteered to look into both this and possibly making the build more friendly with linker scripts.

[2020-07-23 21:38] derekmauro commented on #715
You probably aren't linking against a dependency that you need. Can you give us the steps to reproduce this problem?

[2020-07-23 21:48] derekmauro commented on #745
Good question. I don't see a formal guarantee anywhere, but I don't expect we would ever change this. I'm not sure what your use case is, but I would also expect that any `absl::Duration` will always round trip (such as ` d == absl::ParseDuration(absl::FormatDuration(d))`) even after a library update, which definitely would limit our ability to change this.

[2020-07-24 21:27] #674 closed, assigned to rogeeff

[2020-07-24 21:27] #657 closed, assigned to rogeeff

[2020-07-28 13:26] derekmauro commented on #744
The specific warnings mentioned should be fixed.

[2020-07-28 13:26] #744 closed, assigned to derekmauro

[2020-07-29 08:21] Mizux commented on #744
I can confirm, build pass (with tests disable).

Thanks again @derekmauro !

[2020-07-31 04:40] pkasting opened #752 "Win32 symbolizer does not call SymCleanup()"
absl/debugging/symbolize_win32.inc implements the symbolizer code for win32.  However, while it calls SymInitialize() to init the symbolizer, it never calls SymCleanup() to tear it down correctly.

Per https://docs.microsoft.com/en-us/windows/win32/api/dbghelp/nf-dbghelp-symcleanup, "Failure to call this function causes memory and resource leaks in the calling application".

Probably the safest so

[2020-07-31 06:37] xjy198903 opened #753 "absl::Substitude can not work"
I download the master code ,and use cmake to make library, when I use the API 'absl::Substitute',it shows :

substitute.cc:47: undefined reference to `absl::CEscape[abi:cxx11](absl::string_view)'

#include <iostream>
#include "absl/strings/substitute.h"

using namespace std;

int main() {

//    std::cout << "Hello, World!" << std::endl;
    string s = absl::Substitute("Content-Length:$0",100);
//

[2020-08-03 13:39] derekmauro commented on #753
Please post full reproduction instructions. The problem is impossible to diagnose without knowing exactly what you did.

However, if I had to guess, it is probably https://github.com/abseil/abseil-cpp/blob/master/FAQ.md#how-to-i-set-the-c-dialect-used-to-build-abseil

[2020-08-03 18:59] devjgm commented on #711
FWIW, GitHub is working on some changes to make renaming the master branch easier with better support for redirects, etc. More details here: https://github.com/github/renaming/

From that page:

[2020-08-04 01:34] ddcc opened #755 "Behavior of node handles on b-trees"
1. Why does the key() method of node handles have a const return type? Is this an intentional design decision to differ from STL, and if so, it would be good to document this somewhere. Otherwise, a use case for key() with STL data structures is to extract an element, modify only the key (e.g. in a map), and then reinsert it.
2. I'm assuming this is true, but does extraction and/or insertion of no

[2020-08-04 02:39] xjy198903 commented on #753
@derekmauro I just use cmake to make library,and the example is wrote by myself to test the library,the CmakeLists.txt is below:
[CMakeLists.txt](https://github.com/abseil/abseil-cpp/files/5019776/CMakeLists.txt)

Tips:
The IDE is QtCreator

After the library is generated, I use a shell script to integrate all the libraries into one library,called libabsl.a,the shell script is below:
[1.txt](https

[2020-08-04 05:03] rigtorp opened #756 "Consider using SipHash instead of CityHash to protect against hash flooding attacks"
Since CityHash (used by `asbl::hash`) has been shown to be weak with respect to hash flooding attacks (https://131002.net/siphash/siphashdos_appsec12_slides.pdf) it's worth considering replacing it with SipHash (https://131002.net/siphash/). SipHash seems to have received more security analysis than CityHash.

[2020-08-04 20:58] derekmauro commented on #756
We are considering replacing CityHash, but not with SipHash, as the performance would suffer too much. We do randomize our hashes, which provides a good (but not perfect, as the slides show) default. I think if hash-flooding is a concern, you need to do a detailed threat analysis and decide if using a stronger hash function is good enough, or if you need to go further and use a different data stru

[2020-08-04 20:58] #756 closed, assigned to nobody

[2020-08-05 06:30] yesudeep commented on #649
I think the removal made its way into the Visual C++ standard library implementation already and starts breaking now when using `/std:c++latest` with Abseil:

[code]

[2020-08-05 13:56] pepsiman commented on #649
Define _HAS_DEPRECATED_RESULT_OF=1 to allow your Visual C++ build to continue.

[2020-08-06 19:00] ezbr commented on #755
1. We support C++11 in absl, and because value_type for maps is std::pair<const Key, T>, I think we can't correctly implement mutable access to the key - for that we need std::launder (C++17 feature). For standard layout value_types, I think we could potentially support mutable key access in node handles in C++11, but it would not be the case for all types - see https://github.com/abseil/abseil-cp

[2020-08-06 20:46] ddcc commented on #755
Would it be possible to support this via an ifdef when compiling with C++17? Node handles are a C++17 feature anyway. I don't know if there's a policy on this wrt maintenance.

I have a local commit that [makes it work for node handles](https://github.com/ddcc/abseil-cpp/commit/66b31a3087b71edf5b3bc835cd91034dcab7ef29), but looks like it also breaks key non-mutability for other accesses through a

[2020-08-07 08:06] fsx950223 opened #758 "[Feature] Add to lowercase and to uppercase string utils"
Example:
[code]

[2020-08-07 08:09] fsx950223 commented on #758
AsciiStrToLower

[2020-08-07 08:09] #758 closed, assigned to nobody

[2020-08-07 14:20] derekmauro commented on #753
Unfortunately we can't look into why every custom workflow doesn't work. I strongly recommend using one of the supported build systems to link everything together.

https://abseil.io/docs/cpp/quickstart
https://abseil.io/docs/cpp/quickstart-cmake

[2020-08-07 14:20] #753 closed, assigned to nobody

[2020-08-07 14:41] #745 closed, assigned to nobody

[2020-08-07 18:29] TrianglesPCT opened #759 "std::result_of is depreciated, code doesn't compile on MSVC"
This line in type_traits.h

[code]

Does not compile on MSVC because std::result_of was removed

I think you are supposed to use std::invoke_result, but switching to it just results in other compilation issues

[2020-08-07 19:23] devjgm commented on #582
Ping on this bug.
/cc @derekmauro

[2020-08-07 19:48] derekmauro commented on #582
Sending out a fix.

[2020-08-07 20:06] derekmauro commented on #759
This is a duplicate of #649, and the discussion includes a workaround. See also #705 as well.

[2020-08-07 20:06] #759 closed, assigned to nobody

[2020-08-07 22:56] #582 closed, assigned to derekmauro

[2020-08-08 22:43] mattklein123 opened #760 "TSAN error (__tsan_atomic32_fetch_add) with current main branch"
Hi I just updated https://github.com/envoyproxy/envoy with the following abseil diff: https://github.com/abseil/abseil-cpp/compare/302b250e1d917ede77b5ff00a6fd9f28430f1563...ce4bc927755fdf0ed03d679d9c7fa041175bb3cb

I'm now seeing the following TSAN error:
[code]

Ironically I pulled this to fix a different TSAN issue which I think was fixed with:
[code]

Or related. Not sure if this is part of th

[2020-08-09 02:31] mattklein123 commented on #760
Sorry I should have mentioned this is clang-10.

[2020-08-09 07:02] jeremyong opened #761 "Please add `NOMINMAX` to the default value of `ABSL_CC_LIB_DEFINES` on Windows by default"
It appears that the issue of macro collision with the `max` macro defined in `Windows.h` is a perennial issue, so it would be great if all libraries just added that compile definition when compiling on Windows. This is a problem in a number of places that rely on `std::numeric_limits<T>::max()` on the tip of the main branch currently,

`ABSL_CC_LIB_DEFINES` was the variable I found that convenient

[2020-08-09 16:41] derekmauro commented on #760
Are you running the tests with `TSAN_OPTIONS=report_atomic_races=0` in your environment? More on this issue: https://github.com/google/sanitizers/issues/953

Also see https://github.com/abseil/abseil-cpp/blob/master/ci/linux_clang-latest_libcxx_tsan_bazel.sh for the exact configuration we use with thread sanitizer.

[2020-08-09 17:37] mattklein123 commented on #760
We are not. Let me try this out. Thank you for the links. cc @lizan

[2020-08-09 18:05] mattklein123 commented on #760
Thanks that fixes it. It would obviously be nice to not have to apply that workaround, but I will leave it up to you if you want to leave this issue to track some type of fix or just close it. Thank you!

[2020-08-10 01:21] derekmauro commented on #761
Can you please let us know the exact issue you are seeing?

Our headers don't include `windows.h`. We also use parentheses like this
https://github.com/abseil/abseil-cpp/blob/ce4bc927755fdf0ed03d679d9c7fa041175bb3cb/absl/numeric/int128.h#L245
in our headers which should workaround the problem.

Finally, we also build with `/DNOMINMAX`:
https://github.com/abseil/abseil-cpp/blob/ce4bc927755fdf0ed03d

[2020-08-10 01:51] jeremyong commented on #761
They don't do that everywhere, I don't believe (based on a codebase wide search). I did see that that was the resolution for the previous issue though. The option doesn't seem to be kicking in for some reason. Just compiling on windows when the project is included transitively using `add_subdirectory` will result in a failure (using clang, aka /DNOMINMAX is not correct). You need the compile defin

[2020-08-10 02:29] jeremyong commented on #761
@derekmauro Thanks for pointing out the usage of `/DNOMINMAX`, I can confirm the issue is specifically when GCC or Clang is used on Windows (as opposed to clang-cl or MSVC). GCC/clang option syntax is different, so the options should be added with the compiler/platform-independent cmake directive `target_compile_definitions` or `add_compile_definitions` instead.

[2020-08-10 15:42] pps83 commented on #367
So, projects that do not use (or do not want to use) Bazel/CMake should avoid abseil?
Can you please add a cmake option to build "amalgamagted" libabsl.a for those who prefer "inefficient" way instead of relying on manual dependency specification on abseil sub-components.

[2020-08-10 16:42] gysevvlad opened #762 "abseil takes entry point from my program on windows"
I use abseil as shared library on windows.  (-DBUILD_SHARED_LIBS=ON)

Abseil takes entry point from gtest_main on windows sometimes. It looks like:
[code]

After some investigation, I found:
[code]

In bazel the file used only in binary target, but it was included in AbseilDll.cmake.
Without `random/internal/gaussian_distribution_gentables.cc` in `AbseilDll.cmake` all works fine.

[2020-08-10 17:48] derekmauro commented on #762
That is a bad-looking bug. I'll send out a fix.

[2020-08-10 17:54] derekmauro commented on #762
Actually, @asoffer, could you looking to this one?

[2020-08-10 18:05] derekmauro commented on #760
I think it would be bad form to override `__tsan_default_options()` in code. The only thing we can do is hope https://github.com/google/sanitizers/issues/953 gets fixed.

[2020-08-10 18:05] #760 closed, assigned to nobody

[2020-08-10 18:20] laramiel commented on #762
gaussian_distribution_gentables generates code for absl/random; it shouldn't be linked into the library.

[2020-08-10 19:56] ezbr commented on #755
Yes, I will work on enabling mutable keys in node handles when compiling with C++17.

[That change](https://github.com/ddcc/abseil-cpp/commit/66b31a3087b71edf5b3bc835cd91034dcab7ef29) has undefined behavior when the members aren't standard layout types. From https://en.cppreference.com/w/cpp/language/union:
"It's undefined behavior to read from the member of the union that wasn't most recently wri

[2020-08-10 21:07] ddcc commented on #755
Thanks! Yeha, it's just hack to get my application working.

[2020-08-11 04:08] BillBai opened #763 "Feature Request: unique_function"
In absl, we already have `absl::bind_front`, which can bind move only objects (`std::unique_ptr` ... ) as parameters, but the `std::function` is limited to be only copy constructable, and thus we can't cast the result of `absl::bind_front(xxx, std::move(some_unique_ptr))` to it.

A move-only function (let's call it `unique_function`) may solve this.

Something like `fu2::unique_function` (https://

[2020-08-11 09:50] ojura opened #764 "flat_hash_map with std::pmr::polymorphic_allocator cannot be assigned"
Tested with current master (ce4bc92). Example code:

[code]

Compiler error (MSVC 2019):

<details><summary>Click to expand</summary>
<p>

[code]

</p>
</details>

This compiles with `std::pmr::unordered_map`. Abseil's container is not respecting the allocator traits properly here because it tries to instantiate `std::swap` of `std::pmr::polymorphic_allocator` at `container/internal/raw_hash_set.h

[2020-08-11 10:20] ojura commented on #764
Note: since move and copy construction work, we can hack around not having `operator=` with placement new:

[code]

[2020-08-11 13:18] tituswinters commented on #763
There is a type progressing through C++ standardization (it *just* missed
the C++20 cutoff) called `any_invocable` (in that it type-erases anything
that matches the Invocable concept). We're reasonably likely to include
something like that before long (there's one internally, we're still
kicking the tires on it).

Note: `unique_ptr` is unique because out of all unique_ptrs anywhere in
your program

[2020-08-11 15:02] rogeeff commented on #625
I am not able to reproduce this here. I observe the the file where this variable is defined among the list of DLL sources. This is private static member of the class and as long as DLL builds it should not be visible or accessed from outside. If you still observe this error at HEAD please re-open this issue.

[2020-08-11 15:02] #625 closed, assigned to asoffer

[2020-08-12 06:56] BillBai commented on #763
Awesome!
I'm looking forward to it!

[2020-08-12 15:58] Leedehai opened #765 "Relationship with GoogleTest in the long run"
The build instruction (either Bazel or CMake) said at Abseil unit tests need GoogleTest. However, GoogleTest [said in README.md](https://github.com/google/googletest#coming-soon) that it _will_ (though not yet) depend on Abseil.

So my question is.. in the long run, who is depending on whom? Thx.

[2020-08-12 16:06] tituswinters commented on #765
Cyclic dependencies at the *project* level aren't inherently a problem. As
you said: only the Abseil *tests* need GoogleTest, and GoogleTest isn't
going to depend upon Abseil's *tests*.

On Wed, Aug 12, 2020 at 11:59 AM Leedehai <notifications@github.com> wrote:

--
*If you get an email from me outside of the 9-5 it is *not* because I'm
always on or expect an immediate response from you; it is bec

[2020-08-12 16:55] Leedehai commented on #765
I see, thanks.

[2020-08-12 16:55] #765 closed, assigned to nobody

[2020-08-13 07:42] #761 closed, assigned to nobody

[2020-08-15 03:30] dev-solo-game opened #766 "Undefined symbols Android NDK On Unbuntu"
[ 74%] Linking CXX shared library libabsl_flags_internal.so
CMakeFiles/flags_internal.dir/internal/flag.cc.o:flag.cc:vtable for absl::flags_internal::FlagImpl: error: undefined reference to 'absl::CommandLineFlag::IsRetired() const'
CMakeFiles/flags_internal.dir/internal/flag.cc.o:flag.cc:typeinfo for absl::flags_internal::FlagImpl: error: undefined reference to 'typeinfo for absl::CommandLineFlag

[2020-08-16 23:50] SahibYar opened #767 "JSON / XML parser"
Does Abseil authors have any plan for handling JSON and/or xml as an extended datatypes for all of Abseil containers.
Also it would be great if Abseil can provide a fast Json / XML parser to general public.

[2020-08-17 13:34] derekmauro commented on #767
Abseil has no plans for this. My favorite way to parse JSON in C++ is to [parse it to a Protocol Buffer](https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/util/json_util.h).

[2020-08-17 13:34] #767 closed, assigned to nobody

[2020-08-17 15:25] ghost opened #768 "Remove"
**Describe the bug**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including your `BUILD`/`CMakeLists.txt` file and build comman

[2020-08-17 16:34] rogeeff commented on #764
I'm looking into this.

[2020-08-17 16:35] rogeeff commented on #768
Remove, what?

[2020-08-17 16:35] #768 closed, assigned to nobody

[2020-08-17 16:37] rogeeff commented on #766
Are you building with or without RTTI?

[2020-08-17 18:28] shahms opened #769 "absl::FailureSignalHandler does not produce useful results on assert() failures"
**Describe the bug**

After setting up symbolization and installing a failure signal handler, a failing `assert()` with glibc does not produce a useful stack trace, consisting entirely of:
[code]

Calling std::abort directly or CHECK-failing produces a useful stack trace:
[code]

**Steps to reproduce the bug**

[code]

**What version of Abseil are you using?**
0033c9ea91a52ade7c6b725aa2ef3cbe15463

[2020-08-17 21:39] derekmauro commented on #769
What is happening here is that you are trying to unwind though glibc, which is compiled with optimization and without `-fno-omit-frame-pointer`. Without a frame pointer, you can't walk the stack any further.

There is a workaround that we use in our production logging library. In glibc, `__assert_fail()` is a weak function that you can replace with your own function, which you can build with frame

[2020-08-17 22:53] shahms commented on #769
After a fair amount of hunting around I found the internal workaround and added it myself, but some documentation would definitely have helped.  I was hopeful that a more principled replacement might be possible based on detected libc version, but it's definitely not critical.  Thanks!

[2020-08-18 08:16] unocideflr opened #770 "Afd"
Add-on Bell wireless with a **green fibre optic hot wires of green**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including you

[2020-08-18 12:09] asoffer commented on #762
This has been fixed in the most recent release. Thanks @rogeeff for covering this while I was out.

[2020-08-18 12:09] #762 closed, assigned to asoffer, rogeeff

[2020-08-18 12:11] #770 closed, assigned to nobody

[2020-08-18 15:27] ezbr commented on #755
As of https://github.com/abseil/abseil-cpp/commit/c6b3f2cf583d8fec124f9d70a172b513363506fe, we now have mutable access to keys in node handles when compiled with C++17 or later.

[2020-08-18 15:54] #755 closed, assigned to nobody

[2020-08-18 16:41] ddcc commented on #755
Thanks for landing this support!

[2020-08-18 20:40] gysevvlad commented on #762
Thanks a lot!

[2020-08-20 13:10] faceprint opened #771 "signed/unsigned compare in btree.h"
**Describe the bug**

Since the enum containing kNodeValues was changed to be explicitly uint32_t, there is now a signed/unsigned comparison:

external/abseil/absl/container/internal/btree.h:2439:19: error: comparison of integer expressions of different signedness: 'int' and 'unsigned int' [-Werror=sign-compare]
 2439 |     if (max_count < kNodeValues) {
      |         ~~~~~~~~~~^~~~~~~~~~~~~

**

[2020-08-20 16:48] bianpengyuan commented on #693
This is done I believe: https://github.com/abseil/abseil-cpp/blob/f66bc749282dd7cffc68b641f527740e95e90cfa/absl/BUILD.bazel#L63

[2020-08-20 16:48] #693 closed, assigned to nobody

[2020-08-20 20:05] rogeeff commented on #764
This is fixed

[2020-08-20 20:05] #764 closed, assigned to rogeeff

[2020-08-21 19:43] asraa commented on #771
I also ran into this problem building Abseil from HEAD and using clang-12

[2020-08-23 13:39] ojura commented on #764
Thanks! About swapping/move assigning containers which have the same allocator (i.e. allocators of two containers compare equal), is it done without copying?

[2020-08-23 14:19] benstadin commented on #329
Same here (OS X 10.15) with current master branch (as of August 23).

[2020-08-24 14:04] derekmauro commented on #329
The environment variable `TZDIR` needs to be set to the location of https://github.com/abseil/abseil-cpp/tree/master/absl/time/internal/cctz/testdata/zoneinfo.

Can someone look into automatically setting this in our CMake configuration? https://stackoverflow.com/questions/59690736/how-to-get-a-relative-path-for-cmake-unit-tests may be useful.

[2020-08-25 06:17] rogeeff commented on #764
I do not believe this change directly affected this semantic. pmr allocations are not being swapped at all (per their traits)

[2020-08-25 08:55] ojura commented on #764
PMR allocator-aware objects should be able to do a cheap move/move assignment/swap if they realize that the object being moved into/move assigned to/swapped with is using the same allocator (ie. `operator==` is true). Are `flat_hash_map/set` such containers? I do understand that this is not directly related to this change (which just made the assignment operator compile),  I meant it as a general

[2020-08-25 21:10] derekmauro commented on #652
For a cross-reference, we have an internal request for this filed as well (b/166312078). I believe we should do this.

[2020-08-26 18:24] benstadin commented on #329
Thanks, I'll give it a try. Though why is that directory hardcoded here:

https://github.com/abseil/abseil-cpp/blob/dea76486cb76c7e1032a5efc15b43538b7c5ce50/absl/time/internal/cctz/src/time_zone_info.cc#L630

[2020-08-27 00:57] derekmauro commented on #329
If the `TZDIR` environment variable isn't set, it falls back to that hardcoded value. That is where the system data is commonly located in many Linux distributions.

You should prefer to use the system data in your application, which is usually kept up to date by the package manager/update process of your OS.

On the other hand, for our tests, they should use the provided test data. This is for th

[2020-08-27 01:15] benstadin commented on #329
Thank you for the explanation, that makes sense.

I've tried compiling with setting cmake option -DTZDIR=absolute/path/to/absl/time/internal/cctz/testdata/zoneinfo. But the absl_time_test still gets aborted.

[2020-08-27 03:21] derekmauro commented on #329
`TZDIR` is an [environment variable](https://en.wikipedia.org/wiki/Environment_variable), not something that can be set at compile time.

[2020-08-27 15:51] derekmauro commented on #771
A fix for this should be exported to GitHub today.

[2020-08-28 12:35] faceprint commented on #771
Unfortunately, there are more issues, my build system just stopped after the first failure:

[code]

I attempted to fix so I could provide all the spots that need fixing, but the int here is set from iterator->position, which is purposefully signed, as it uses -1 as a special value for invalid positions:

[code]

I'm not sure what your preferred solution here would be.

[2020-08-29 20:51] termizil commented on #771
Open

[2020-08-29 20:51] termizil commented on #771
Signed

[2020-08-29 20:52] termizil commented on #771
#[https://github.com/abseil/abseil-cpp/issues/771#issue-682705311]()

[2020-09-02 00:10] cite-reader opened #774 "Abseil 2d2a8ae and later does not build against glibc 2.32 and later"
**Describe the bug**

Compiling Abseil as a whole, or a target which transitively depends on the `absl::base_internal::StrError`, fails with the following report:

[code]

**Steps to reproduce the bug**

In the abseil source directory, with a system glibc of 2.32 or later:

[code]

**What version of Abseil are you using?**
Any including commit `2d2a8aea291c4877e75c7991a61e57d7e12b5373`

**What ope

[2020-09-02 15:59] sbenzaquen commented on #722
This warning should go away after c03c18e7fef8d06eb6c445f5607af533e69cadfe.

[2020-09-02 19:20] XenHat commented on #774
I was actually in the process of preparing a patch for this, I fell asleep before pressing "send" on the bug report yesterday.
I'll still finish what I was writing, and prepare a repo.

[2020-09-02 20:25] derekmauro commented on #774
A fix is submitted. It will be pushed to GitHub tomorrow hopefully.

[2020-09-02 20:28] sj5505 commented on #774
sj
________________________________
من: Xenhat <notifications@github.com>
تاريخ الإرسال: الأربعاء, سبتمبر 2, 2020 10:21 م
إلى: abseil/abseil-cpp
نسخة: Subscribed
الموضوع: Re: [abseil/abseil-cpp] Abseil 2d2a8ae and later does not build against glibc 2.32 and later (#774)

I was actually in the process of preparing a patch for this, you've beat me to it haha!

—
You are receiving this because you ar

[2020-09-03 14:16] pps83 opened #775 "Abseil should have proper commit history"
**Describe the bug**

We use absl in our project but we use specific version (because absl's version that we use is pulled by another 3rd party project that requires specific absl version).
For various reason we made some changes here and there, but then we discovered a bug related to clumsy attempt to force define `_HAS_EXCEPTIONS=1` on windows that actually ended up force undefining it. I checke

[2020-09-04 08:11] XenHat commented on #774
I've tested my own patches and they work. I'll be using them until an official fix is pushed as it blocks our development cycle.

[2020-09-04 11:53] udi-barzilai opened #776 "InlinedVector::clear() should lazily avoid deallocating out-of-line memory"
abseil-cpp/absl/container/inlined_vector.h

**Describe the bug**

`InlinedVector::clear()` method should lazily avoid deallocating out-of-line memory, if already allocated.
This would be in line with the behavior of `std::vector`, for which it is designed to be a drop-in replacement.
Deallocation on `clear()` means that if any number of elements beyond the inline capacity are re-pushed into the co

[2020-09-04 17:59] derekmauro commented on #774
This is fixed.

[2020-09-04 17:59] #774 closed, assigned to derekmauro

[2020-09-07 23:35] sj5505 opened #777 "tt"
**Describe the bug**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including your `BUILD`/`CMakeLists.txt` file and build comman

[2020-09-07 23:35] #777 closed, assigned to nobody

[2020-09-08 00:31] mohammed755 commented on #777
نعم

في الثلاثاء، ٨ سبتمبر، ٢٠٢٠ ٢:٣٦ ص sj5505 <notifications@github.com> كتب:

[2020-09-08 13:54] derekmauro commented on #776
@CJ-Johnson looked into making this change a year ago, but found it broke a lot of code and was unable to make the change.

@CJ-Johnson, are you willing to take another shot at this?

[2020-09-08 14:42] derekmauro commented on #775
This is on our long TODO list.

[2020-09-09 11:04] pps83 commented on #775
By the way, you might consider even force pushing proper history, or provide alternative master2 branch that has proper history

[2020-09-10 22:13] Hoss41 opened #778 "Ceranwrap"

[2020-09-10 22:15] Hoss41 commented on #778
I dont know where to start but I dont want to be turned to the darkside when I posses this power

[2020-09-11 01:23] #778 closed, assigned to nobody

[2020-09-11 21:03] yzhao1012 opened #779 "Status::Update()'s intended use cases might need more explanation"
It appears that Status::Update() means to keep the first countered error, of multiple sequential operations that have to happen regardless of the errors in the previous operation(s). For example:

[code]

TBH, I never wrote code like these. And I always wanted to have early termination on the first error.

In that case, Status::Update() is not useful at all.

Are my understandings correct?

[2020-09-11 21:53] linLIn143 commented on #779
Yes I think so, thank you so much

On Fri, Sep 11, 2020 at 5:04 PM yzhao <notifications@github.com> wrote:

[2020-09-12 01:14] derekmauro commented on #779
I agree that it is hard to imagine when I would use this method (and I've never used the method myself). One possible use I can think of is an operation that has multiple sub-operations happening in parallel, possibly in different threads. I can imagine in that case early termination might be complicated.

[2020-09-20 04:29] thooria commented on #779
-

[2020-09-20 15:09] #779 closed, assigned to nobody

[2020-09-21 19:23] camapantap opened #786 "Ok"
**Describe the bug**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including your `BUILD`/`CMakeLists.txt` file and build comman

[2020-09-21 19:34] #786 closed, assigned to nobody

[2020-09-22 17:32] rebello95 opened #787 "errors when building with -Wrange-loop-analysis option"
**Describe the bug**

When building with `-Wrange-loop-analysis`, abseil compilation fails with a few errors, for example:

[code]

This is currently being tracked in https://github.com/envoyproxy/envoy/issues/13154 in Envoy.

**Steps to reproduce the bug**

- Enable `-Wrange-loop-analysis` build option (enabled with Xcode 12)
- Build
- We are experiencing this issue when building Envoy (https://g

[2020-09-22 19:26] sfc-gh-ebrossard opened #788 "Cut a new LTS release with absl::StatusOr"
Not a bug report, per se, but the current LTS release is from about seven months ago, and has `absl::Status` but not `absl::StatusOr`. It would be great if you could cut a new release that includes it.

The guidance in https://abseil.io/about/releases says:

Thank a lot!
-Elliott

[2020-09-24 03:29] Heresh83 opened #789 "Hh"
**Describe the bug**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including your `BUILD`/`CMakeLists.txt` file and build comman

[2020-09-24 13:09] #789 closed, assigned to nobody

[2020-09-24 16:39] derekmauro commented on #788
We've been working on this, expect it soon.

[2020-09-24 17:34] linLIn143 commented on #788
Do you think I was hacked?

On Tue, Sep 22, 2020 at 3:27 PM Elliott Brossard <notifications@github.com>
wrote:

[2020-09-24 17:59] derekmauro commented on #787
A fix for this has been submitted and will be on GitHub within a day or so.

For what it's worth, these warnings are likely incorrect for small POD objects, and clang fixed this with https://reviews.llvm.org/D72212, but Xcode 12 enabled this buggy warning by default.

As a reminder, [we still recommend passing string_view by value for function parameters](https://abseil.io/tips/1) as it generates

[2020-09-24 18:32] rebello95 commented on #787
Perfect, thank you @derekmauro!

[2020-09-24 19:15] derekmauro commented on #788
https://github.com/abseil/abseil-cpp/releases/tag/20200923

[2020-09-24 19:15] #788 closed, assigned to nobody

[2020-09-25 11:16] simonkampe opened #791 "String comparisons in CMake failing"
When building abseil-cpp with CMake > 3.1 the string comparisons will fail if there exists a variable with the same name as the actual string.

Discovered when compiling abseil as part of a larger project, we had an option called shared in another subrepos CMake-files, and this collided with the check in AbseilHelpers.cpp causing it to hit this else() clause:

https://github.com/abseil/abseil-cpp/

[2020-09-25 15:11] #787 closed, assigned to derekmauro

[2020-09-25 18:45] BenFrantzDale commented on #771
I'm seeing the same thing. It goes on to complain about similar things:
[code]
where `kNodeValues` is an `enum`, `to_move` is `int` and so an int. I think it should just be `static_cast<int>(kNodeValues)` in place of `kNodeValues`.

[2020-09-25 21:08] cadenzasong opened #792 "absl/base/internal/unaligned_access.h"
Hi there,

In absl/base/internal/unaligned_access.h:
aren't the __sanitizer_unaligned* functions msan specific?

If so, should the beginning:
[code]
become only:
[code]

Thanks.

[2020-09-25 21:20] derekmauro commented on #792
That doesn't appear to be the case: https://github.com/llvm/llvm-project/blob/14948a08f31b6e3b555f73339504efd867835d27/compiler-rt/include/sanitizer/common_interface_defs.h#L57-L61

Is there some problem you are trying to solve?

[2020-09-26 01:04] cadenzasong commented on #792
Thanks for the pointer.

I was trying to do an asan-only build (sorry if this is too vague, not sure what's the disclosure policy from the company, but I'm sure people here do plenty of asan builds in general) and hit a linker issue with undefined symbol for "__sanitizer_unaligned_load32" etc.

[2020-09-26 02:16] derekmauro commented on #792
Just a guess: Did you remember to pass `-fsanitize=address` to the linker? It looks like we all pass `-fsanitize-link-c++-runtime`, but I can't remember if we need that for ASAN or UBSAN. Actually, `-fsanitize-link-c++-runtime` might be necessary if you build C++ code with `clang` instead of `clang++`.

Have a look at the script we use for these builds, maybe you can find a hint: https://github.co

[2020-09-26 17:37] almostheaven197610 opened #793 "cannot create a feature branch in my app"
**Describe the bug**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including your `BUILD`/`CMakeLists.txt` file and build comman

[2020-09-26 17:43] almostheaven197610 opened #794 "Need to create a feature branch so I can fork my work"
In my git hub app on my iPhone I'm not seeing the option to create a feature branch. All I see is the master.please help

[2020-09-26 20:52] #793 closed, assigned to nobody

[2020-09-26 20:52] #794 closed, assigned to nobody

[2020-09-28 09:20] theunwisewolf opened #795 "Build failing with GCC 4.8.4 Ubuntu"
**Describe the bug**

marshalling.cc fails to compile with the following error:
[code]

**Steps to reproduce the bug**

Just compile abseil using GCC 4.8.2

**What version of Abseil are you using?**

`Each of my builds use the lastest clone from github.`

**What operating system and version are you using**

`Ubuntu 14.04.5 LTS`

**What compiler and version are you using?**

`gcc (Ubuntu 4.8.4-2ubu

[2020-09-28 13:36] derekmauro commented on #795
https://abseil.io/docs/cpp/platforms/platforms: GCC 4.8 isn't supported.

[2020-09-28 13:36] #795 closed, assigned to nobody

[2020-09-29 02:51] ulinzeng opened #796 "abseil-cpp\CMake\AbseilHelpers.cmake"
**Describe the bug**

When I use Abseil as a third-party library with source code integration, I want to compile a dynamic library under Windows. At this time, the problem arises. The target in abseil will also be compiled as dll_dep, and I have set BUILD_SHARED_LIBS=ON. Through debugging, I found that it turned out to be the reason for the setting of _NAME. When abseil is used as a third-party li

[2020-09-29 05:03] ulinzeng commented on #796
## log

The following is the log when compiled as a third-party library

[code]

The following is the log when abseil is compiled as the main project

[code]

[2020-09-29 05:03] ulinzeng commented on #796
#797

[2020-09-29 19:07] derekmauro commented on #792
I don't think there is anything actionable on our end here.

[2020-09-29 19:07] #792 closed, assigned to nobody

[2020-09-29 20:17] RBEGamer commented on #662
`/home/marcel/Desktop/atc_buildroot/src/src_buildroot/buildroot/output/host/lib/gcc/arm-buildroot-linux-gnueabihf/9.3.0/include/arm_neon.h: In function ‘Vector128 {anonymous}::AesRound(const Vector128&, const Vector128&)’:
/home/marcel/Desktop/atc_buildroot/src/src_buildroot/buildroot/output/host/lib/gcc/arm-buildroot-linux-gnueabihf/9.3.0/include/arm_neon.h:16925:1: error: inlining failed in call

[2020-10-05 02:51] romange opened #805 "failure handler crashes on aarch64"
**Describe the bug**
When running `absl_failure_signal_handler_test` in debug mode on aarch64 it fails at assertion:
[code]

**Steps to reproduce the bug**

1.
[code]
2. `ninja absl_failure_signal_handler_test`
3.  `./bin/absl_failure_signal_handler_test` gets stuck at `FailureSignalHandlerDeathTest.AbslFailureSignal` in a infinite loop. But in gdb one can see the aforementioned assertion.

**What

[2020-10-05 02:57] romange commented on #763
@tituswinters  the name `any_XXX` is because of the type erasure and not because of the move-only semantics, right?

[2020-10-05 03:05] romange commented on #763
Ok, found this document. http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p1737r0.pdf

What's the point of having a committee if they come up with worst namings?

[2020-10-05 11:50] tituswinters commented on #763
Don't be rude - you can disagree while still being polite.

That said, I was in the room when that pattern was established - I thought
it was too clever to be a good idea at first, but over time it's really
stuck for me. A type-erased wrapper like this, especially one that is
wrapping a C++20 concept, is literally the library representation of "any
$FOO".  "This function accepts any invocable." "T

[2020-10-05 18:27] romange commented on #763
Sorry, did not mean to be rude. I understand how from implementors point of view `any` concept  is dominant here. However,  most folks already perceive `invocable` and `function` as type erasured creatures. So `any` does not bring new information here.

Anyway, I am not arguing since it has already been decided.

[2020-10-06 05:16] jjpepper commented on #649
Is there a plan to actually fix this?

[2020-10-07 06:16] rigtorp opened #808 "Using size feedback in the Allocator interface for flat_hash_map"
Consider implementing [P0401R3 Providing size feedback in the Allocator interface](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2020/p0401r3.html) for `flat_hash_map` and friends. I've been using `flat_hash_map` with huge pages and P0401R3 can prevent wasting memory. I added support to my own library SPSCQueue and it can be done unobtrusively in C++17: https://github.com/rigtorp/SPSCQueue/bl

[2020-10-07 10:08] Antezedens opened #809 "Does not compile using powerpc32 bit"
**Describe the bug**

when trying to compile absl using a powerpc 32-bit compiler i get the following error:
In file included from /home/fuchs/Downloads/abseil-cpp-20200923/absl/debugging/stacktrace.cc:46:
/home/fuchs/Downloads/abseil-cpp-20200923/absl/debugging/internal/stacktrace_powerpc-inl.inc: In function 'void** NextStackFrame(void**, const void*)':
/home/fuchs/Downloads/abseil-cpp-20200923/

[2020-10-09 21:14] yasushi-saito opened #814 "absl/types/internal/variant.h(48): warning: integer conversion resulted in a change of sign"
Use of `absl::variant` always causes the warning described in the title.

Version: e63a5a61045e516b7b3dbca090e2b9ff1d057e46
Compiler: clang 10, libstdc++
OS: Ubuntu 20.04
Build system: bazel 3.5

Changing variant.h:48 to

[code]
causes the warning to disappear.

[2020-10-12 19:08] #814 closed, assigned to derekmauro

[2020-10-13 21:43] essandess opened #816 "Undefined symbols on macOS with -DBUILD_SHARED_LIBS"
**Describe the bug**

I'm trying to write a MacPorts port of `abseil` with a `cmake` build that includes shared libraries.

When I pass `-DBUILD_SHARED_LIBS` to `cmake`, I hit this error:
[code]

**Steps to reproduce the bug**

[code]

**What version of Abseil are you using?**

Release 20200923.1

**What operating system and version are you using**

macOS 10.15.7

**What compiler and version are y

[2020-10-14 11:54] akien-mga opened #817 "Underlinking issues when linking with -Wl,--no-undefined"
**Describe the bug**

With the current LTS version (20200923.1) and latest master branch (f3f785ab59478dd0312bf1b5df65d380650bf0dc), I run into issues when compiling Abseil with the `-Wl,--no-undefined` linker flag:

[code]

This is the first error, but there seems to be more further on:
[code]

**Steps to reproduce the bug**

[code]

**What version of Abseil are you using?**
LTS version (20200923

[2020-10-14 12:19] essandess commented on #816
This issue is also observed when building `grpc`:
* https://github.com/grpc/grpc/issues/24412

[2020-10-14 15:45] derekmauro commented on #816
Thanks for the report. I'm doing to close this as a duplicate of #817. It should be fixed shortly.

[2020-10-14 15:45] #816 closed, assigned to nobody

[2020-10-14 15:46] derekmauro commented on #817
Thanks for the report. This should be fixed shortly. Also, thank you for teaching me about `-Wl,--no-undefined`. I'm going to add it to our test configuration as it seems very useful for avoiding these issues in the future.

[2020-10-15 01:23] perphyguo opened #818 "'Duration': undeclared identifier in com_google_absl\absl/time/clock.h(70)"
Hi,

I meet a problem when I am build tensorflow wheel.

`cl : Command line warning D9002 : ignoring unknown option '--no-cuda-include-ptx=all'
cl : Command line warning D9002 : ignoring unknown option '--cuda-include-ptx=sm_61'
cl : Command line warning D9002 : ignoring unknown option '--cuda-gpu-arch=sm_61'
external/com_google_absl\absl/time/clock.h(70): error C2065: 'Duration': undeclared ident

[2020-10-15 17:47] derekmauro commented on #818
I think passing a C++ object (`absl::Duration`) though an `extern "C"` function is probably implementation defined behavior. I think it probably doesn't work with your (cuda?) compiler? We might be able to work around this by passing a pointer through the interface.

[2020-10-15 18:27] yurivict opened #819 "Missing -std=c++17 causes dependent project failures"
For example, Google's ```or-tools``` fails to compile when ```abseil``` is built without ```-std=c++17```.

See https://github.com/google/or-tools/issues/2196

[2020-10-15 18:59] derekmauro commented on #819
It looks like you've solved the problem. See https://github.com/abseil/abseil-cpp/blob/master/FAQ.md#how-to-i-set-the-c-dialect-used-to-build-abseil.

[2020-10-15 18:59] #819 closed, assigned to nobody

[2020-10-15 19:37] yurivict opened #820 "The value of CMAKE_CXX_STANDARD should be encoded in installed file names to allow packaging for users requiring different -std=c++NN"
Since different depending projects require different -std=c++NN settings in abseil, it should be possible to have abseil simultaneously installed with different -std=c++NN settings.

Google's or-tools require ```-std=c++17```, while others require ```-std=c++11``` and fail to build otherwise.

Please change the installed file paths to reflect ```-std=c++NN``` set through ```CMAKE_CXX_STANDARD```.

[2020-10-16 19:14] perphyguo commented on #818
Thanks Derek:

I am using cuda 10.0, visual studio 2017, msvc++ 2017.

What can I do now?

Thanks

[2020-10-17 08:40] kohei306 opened #821 "inline_variable Note. identity_t for correct const name order."
Regarding the below note in https://github.com/abseil/abseil-cpp/blob/master/absl/base/internal/inline_variable.h.
// Note:
//   identity_t is used here so that the const and name are in the
//   appropriate place for pointer types, reference types, function pointer
//   types, etc..

Is this behavior (using identity_t solves the correct order of const and name) guaranteed in standard? If so where

[2020-10-17 19:38] shivaji17 commented on #662
Is there any work around for this?

[2020-10-19 13:19] #817 closed, assigned to derekmauro

[2020-10-19 15:10] jdmairs opened #822 "cmake install installs debug and release builds into same folder with same name"
**Describe the bug**
debug build and install overwrites release install or vice versa (which ever is last wins)
VS2017 results in link error LNK2038 (ITERATOR_DEBUG_LEVEL) when linking a debug against release build of abseil or vice versa

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug

[2020-10-19 15:12] jdmairs commented on #822
My work around is to commit the VS2017 build folders and link to those folders which use debug/release in folder names to differentiate.  I would prefer to use cmake install process like I do with google protobuf.

[2020-10-19 20:31] rogeeff commented on #818
Did you try passing duration as const absl::Duration*?

[2020-10-19 20:33] vslashg commented on #821
One section of the spec that goes into the details here is [dcl.type], and especially [dcl.type.cv], but I don't think diving into the spec is helpful or necessary here.

What this code is doing is using a simple wrapper so that the declaration has the correct type, despite the limits of C macros and the peculiarities of declaration syntax in C++.

If the macro were simply
[code]
then the macro
`A

[2020-10-19 20:33] #821 closed, assigned to nobody

[2020-10-19 20:40] kohei306 commented on #821
Thanks for the detail explanation.

On Mon, Oct 19, 2020 at 10:34 PM vslashg <notifications@github.com> wrote:

[2020-10-19 21:18] perphyguo commented on #818
What I am doing is just using bazel to build tensorflow wheel and abseil is
on github.
Is there anyway I can change the source code on github?

Thanks,

On Mon, Oct 19, 2020 at 4:31 PM Gennadiy Rozental <notifications@github.com>
wrote:

--
Pengfei (Perphy) Guo
Cell: (213)-453-0681

[2020-10-19 21:51] rogeeff commented on #818
You can fork the repository you want to change and make the changes there. Build against it and if it works, you can try sending a pull request to make the change in the original repo.

[2020-10-19 22:04] sbenzaquen commented on #808
It is unlikely that `flat_hash_map` can take advantage of this API effectively.
It does not have much flexibility in allocation sizes, like you would for a vector/queue. It has very specific sizes it can use derived from power-of-two requirements on the number of slots.
If the allocator gives us a little bit more than what we ask for it would be ignored. It would have to give us enough for double

[2020-10-19 22:36] CJ-Johnson commented on #776
I don't have the cycles at the moment, but it is on my list!

For tracking purposes, the corresponding bug ID is 138307414

[2020-10-19 22:41] rogeeff commented on #805
Can you send us a pull request with this change? This way we can see if it passes test on all platforms.

[2020-10-20 02:15] rigtorp commented on #808
I agree using default heap allocator it's unlikely to help. It becomes useful when you are using a custom allocator that returns huge pages. Quite nice when you want to place a huge hash table on a 1GiB page. Of course you can reach inside the implementation and calculate the appropriate argument to reserve(). Keep it in mind and let me know if you end up implementing it. Any industry use helps it

[2020-10-20 19:40] sbenzaquen commented on #808
I see. It is a special allocator that will give very large allocations to begin with. I agree that it makes a lot of sense in that case. We can jump directly to a large capacity to use the huge page that the allocator gave us.

[2020-10-22 12:37] jjpepper opened #824 "ABSL_INTERNAL_ATOMIC_HOOK_ATTRIBUTES causes error in clang"
**Describe the bug**

including flat_hash_map in the latest vcpkg build of abseil causes this error.

[code]

**Steps to reproduce the bug**

Simply clone the trivial git@github.com:jjpepper/vcpkg-absl-clang-problem.git and build it with clang-cl, against the latest vcpkg version of abseil.

**What version of Abseil are you using?**
2020-03-03#8

**What operating system and version are you using**

[2020-10-22 12:51] steveire opened #825 "std::cmp_less and friends"
**Describe the bug**

Please provide a backported version of `std::cmp_less` and friends: https://en.cppreference.com/w/cpp/utility/intcmp

[2020-10-22 12:56] steveire opened #826 "std::ranges::iota_view"
**Describe the bug**

For many projects, range-based for loops can mostly be used, with the exception of the need to use APIs which require API calls with lookups. Eg:
[code]
This of course creates problems/warnings when `container.size()` returns anything other than an `int`. Additionally, it has all of the downsides which led to creation of C++ range-based for loops in the first place.

C++20 pr

[2020-10-22 16:21] romange commented on #805
@rogeeff  Sent https://github.com/abseil/abseil-cpp/pull/827

[2020-10-23 02:05] ckennelly commented on #808
I'm one of the authors of P0401.  When drafting this (and P0901), I had primarily anticipated a use case for types like `std::vector`, `std::string`, etc.--basically, array-like types.

So that I can better understand the use case:   If you were to call `reserve()` with a size that'd be 2.1MBs (ordinarily), just over a single x86_64 huge page, would you anticipate your allocator to return 1GB of m

[2020-10-23 06:16] JackBoosY opened #829 "Build failed on 32-bit arm platform"
**Describe the bug**

A few months ago, I received an issue, that is, Abseil cannot be built on the 32-bit arm platform using vcpkg (https://github.com/microsoft/vcpkg/issues/11820), so I submitted a PR (https://github.com/microsoft/vcpkg/pull/11827) to fix this issue.
Unfortunately, this PR broke the build of the 64-bit arm platform.
After communicating with the cctz official (https://github.com/

[2020-10-23 06:26] theunwisewolf opened #830 "Abseil add_subdirectory fails with weird pkg_config errors"
**Describe the bug**

I use Travis CI to build a test suite that uses Abseil. It was working fine before with just doing git clone on the abseil repo and then using it in the project with add_subdirectory and linking the required absl libraries. Recently, a weird issue came up and the travis builds started failing with these errors:
CMake Error: Cannot open file for write: /usr/local/lib/pkgconfig

[2020-10-23 17:51] rogeeff commented on #826
Abseil is not really a place for new experimental interfaces. We only expose APIs which are battle tested within Google. That being said, we might have something which pre-adopts ranges at some point, but I can't say for sure when it is going to happen.

[2020-10-23 17:51] #826 closed, assigned to nobody

[2020-10-23 18:27] rigtorp commented on #808
@ckennelly I think it's a great proposal. I believe there are additional more niche use cases. I spoke to Jonathan Wakely about how I use it for concurrent ring buffers (https://github.com/rigtorp/SPSCQueue/blob/master/include/rigtorp/SPSCQueue.h#L37).

Yes exactly. In my specific real time type workload I would also have further allocations fail and handle it as a failed `insert()` instead (not s

[2020-10-23 18:40] suertreus commented on #652
Fixed by eb317a701b83bf9a4f2a035d75747a3d76a48324

[2020-10-23 18:40] #652 closed, assigned to EricWF, suertreus

[2020-10-23 19:51] znkr commented on #830
Same problem on Windows:
CMake Error: Cannot open file for write: C:/Program Files (x86)/sndbx/lib/pkgconfig/absl_absl_log_severity.pc.tmp
CMake Error: : System Error: No such file or directory

[2020-10-23 21:55] rogeeff commented on #825
Abseil does not have any immediate or intermediate plans to backport these APIs. Maybe we will have something at some point, which also covers min/max, but this just not a priority.

[2020-10-23 21:55] #825 closed, assigned to nobody

[2020-10-23 22:04] EmployedRussian commented on #805
Roman Gershman,

There appears to be something wrong with your kernel build if your `__kernel_rt_sigreturn` has `STT_NOTYPE`.
What is the provenance of your kernel?

Here is what I see in our `3.18.21` kernel:

[code]

Now, it might be reasonable to accept _either_ `STT_NOTYPE` _or_ `STT_FUNC`, but your change "as-is" is not correct.

[2020-10-23 22:26] EmployedRussian commented on #805
Same result for 4.19 kernel as well:
[code]

[2020-10-24 01:22] romange commented on #805
I've used any recent ubuntu-built kernel from here: https://kernel.ubuntu.com/~kernel-ppa/mainline/

For example, I verified with https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.9.1/ that when I install it over 18.04,
the symbols above are present with `STT_NOTYPE`. I confirm that vanilla 18.04 has  `STT_FUNC` symbols.

Will you agree to accept the fix that checks for both options?

[2020-10-24 02:55] EmployedRussian commented on #805
That sounds reasonable to me.

[2020-10-24 07:32] pacom12 commented on #830
Ok

[2020-10-24 09:11] romange commented on #830
The workaround is to use `-DCMAKE_INSTALL_PREFIX=.` when running cmake

[2020-10-24 09:12] romange commented on #805
PR updated.

[2020-10-25 12:07] Shakihassan opened #831 "Buffer Overflow"
The function ShiftLeft() in charconv_bigint.h writes outside the bounds of words_ on line 113, which could corrupt data, cause the program to crash, or lead to the execution of malicious code.The program writes outside the bounds of allocated memory, which could corrupt data, crash the program, or lead to the execution of malicious code.

[2020-10-26 03:44] derekmauro commented on #831
Line 113 doesn't write anything at all:
https://github.com/abseil/abseil-cpp/blob/1e3d25b2657228bd691ee938cfd37d487f48054b/absl/strings/internal/charconv_bigint.h#L113

I took a look at the function and couldn't figure out where the out-of-bounds write you are talking about is. Can you please share a test case that causes an out-of-bounds write?

@vslashg

[2020-10-26 13:24] derekmauro commented on #830
We have a pending fix from an internal contributor. Thanks for reporting.

[2020-10-26 17:20] theunwisewolf commented on #830
Thanks for the update @derekmauro :)

[2020-10-27 07:48] JackBoosY commented on #829
I've revert my changes about the arm32 build.
Can anyone fix this issue here?

[2020-10-27 17:39] vslashg commented on #831
I'm assuming this might be the copy_backwards on line 112.  I'm digging into it and seeing if I can spot the problem.

If you have any reproduction steps, that would be appreciated.

[2020-10-27 22:36] vslashg commented on #831
I added some more unit tests for ShiftLeft(), hoping to reproduce the out-of-bounds access, but the test is still passing under ASAN for me.

I don't doubt that you may have found something, as all of this code is rather young, but I don't have any ideas how to proceed.  Any details as to what you've found would be greatly appreciated.

[2020-10-29 17:46] #732 closed, assigned to derekmauro

[2020-10-29 21:12] 0x8000-0000 opened #832 "#include <limits> is missing from 20200923.2"
https://github.com/abseil/abseil-cpp/blob/e9b9e38f67a008d66133535a72ada843bd66013f/absl/synchronization/internal/graphcycles.cc#L40

This causes it to fail to compile with GCC11 (prerelease)

[2020-10-31 14:54] piyushk opened #834 "absl::flat_hash_map - unexpected key lookup failures in runtime loaded library."
I'm seeing key lookup failures while adapting code from Google Deepmind's [Reverb](https://github.com/deepmind/reverb) project which I don't fully understand.

### Normal work flow (works as expected):
1) A Reverb server runs a Reverb [table](https://github.com/deepmind/reverb/blob/master/reverb/cc/table.h) that receives data from distributed workers via grpc, stores it in an `absl::flat_hash_map`

[2020-10-31 15:50] derekmauro commented on #834
We mention at https://abseil.io/about/compatibility that dynamic loading is asking for trouble. From the symptoms you describe, I would guess that you are running into the randomization of `absl::Hash`. It sounds like the loaded libraries have different hash seeds, which is probably why you can find objects by iteration, but not by lookup.

[2020-10-31 16:21] piyushk commented on #834
Thanks! That makes a lot of sense. I'll test this out on Monday and update/close this thread.

[2020-11-02 14:42] piyushk commented on #834
I've verified that using `std::hash` with `absl::flat_hash_map` (which doesn't do randomization) works as expected, and the `absl::hash` for the same key was different in the both loaded libraries.

Switching to `absl::flat_hash_map` with `std::hash` provides a 10% boost over `std::unordered_map`. The key was a `uint64_t` generated via `absl::Uniform<uint64_t>` and should be sufficiently randomize

[2020-11-02 14:42] #834 closed, assigned to nobody

[2020-11-02 21:45] 0x8000-0000 opened #835 "20200923.2 fails to build on Windows using Clang10 in C++20 mode: no type named 'result_of' in namespace 'std'"
**Describe the bug**

20200923.2 fails to build on Windows using Clang10 in C++20 mode: no type named 'result_of' in namespace 'std'.
std::result_of has been deprecated in C++17 and removed in C++20.

**Steps to reproduce the bug**

(I'm building the Conan package, but I suppose the same problem can be found with a simple test case.)

**What version of Abseil are you using?**

20200923.2

**What o

[2020-11-02 21:50] derekmauro commented on #835
Duplicate of #649

[2020-11-02 21:50] #835 closed, assigned to nobody

[2020-11-02 21:51] derekmauro commented on #649
There is a pending internal change (cl/337927702) to fix this issue.

[2020-11-03 01:29] bbarenblat opened #836 "Some libraries need -latomic on GCC ARM32"
When compiling some of Abseil’s libraries on 32-bit ARM, GCC emits calls to functions contained in libatomic rather than in the compiler runtime. However, Abseil’s CMake build scripts do not set `-latomic` when building shared libraries (or when building against static ones). This results in link failures in reverse dependencies:

[code]

A similar failure occurs when taking an Abseil dependency v

[2020-11-03 03:48] hcoona opened #837 "[Question] Why iterate the payloads in reverse?"
https://github.com/abseil/abseil-cpp/blob/b8e890f951178876c4f6a370ee7025f838430f07/absl/status/status.cc#L167

Here's a variable indicating whether to iterate the payloads in reverse. It's a little confusing to me, both because it introduced 2 magic values (13 & 6), and because it iterate in reverse. Would you help to give a explain on it?

[2020-11-03 10:44] AziAli181 opened #838 "Hi"
**Describe the bug**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including your `BUILD`/`CMakeLists.txt` file and build comman

[2020-11-03 13:27] tituswinters commented on #837
It's doing a weak/cheap randomization of the order that payloads are
iterated through - this is a mitigation against Hyrums Law
<http://hyrumslaw.com> that gives us more freedom to change the storage and
iteration order for payloads if that becomes useful as an optimization in
the future.

On Mon, Nov 2, 2020 at 10:49 PM Shuai Zhang <notifications@github.com>
wrote:

--
*If you get an email from m

[2020-11-03 14:13] #838 closed, assigned to nobody

[2020-11-04 04:36] doggzkie opened #839 "abseil-cpp"
**Describe the bug**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including your `BUILD`/`CMakeLists.txt` file and build comman

[2020-11-04 14:20] #839 closed, assigned to nobody

[2020-11-04 15:11] derekmauro commented on #830
This should be fixed by e9b9e38f67a008d66133535a72ada843bd66013f. Let us know if this isn't working for you.

[2020-11-04 15:11] #830 closed, assigned to suertreus

[2020-11-05 19:14] #805 closed, assigned to nobody

[2020-11-10 12:50] JakeInit opened #840 "Is Abseil Ready to be used outside of being a submodule in a cmake project?"
I have done the following:

`git clone https://github.com/abseil/abseil-cpp.git
cd abseil-cpp
mkdir build && cd build
cmake -G Ninja \
  -DCMAKE_BUILD_TYPE=Release \
  -DCMAKE_POSITION_INDEPENDENT_CODE=ON \
  -DCMAKE_INSTALL_PREFIX=/usr/local/stow/absl \
  ..
ninja
sudo ninja install
cd /usr/local/stow
sudo stow absl`

In my cmake project I should only have to do:

"find_package(absl REQUIRED)"

c

[2020-11-10 14:36] JakeInit commented on #840
This appears to work without any issue.

[2020-11-10 14:36] #840 closed, assigned to nobody

[2020-11-10 18:04] #837 closed, assigned to nobody

[2020-11-11 15:29] rojkov opened #841 "linking fails when compiled with clang and -fsanitize=undefined"
The int128 support in SimpleAtoi introduced in abseil/abseil-cpp@4b915e7 triggers this bug in Clang: [__int128_t multiply with -fsanitize=undefined fails to link (undefined reference to __muloti4)](https://bugs.llvm.org/show_bug.cgi?id=16404)

[code]

**Steps to reproduce the bug**

I stumble upon this issue when running Envoy's unit tests:
1. git clone https://github.com/envoyproxy/envoy.git && c

[2020-11-13 12:37] AziAli181 opened #843 "D"
**Describe the bug**

Include a clear and concise description of what the problem is, including what
you expected to happen, and what actually happened.

**Steps to reproduce the bug**

It's important that we are able to reproduce the problem that you are
experiencing. Please provide all code and relevant steps to reproduce the
problem, including your `BUILD`/`CMakeLists.txt` file and build comman

[2020-11-13 12:38] AziAli181 commented on #843
Azo

[2020-11-13 12:39] AziAli181 commented on #840
Ok

[2020-11-13 15:26] #843 closed, assigned to nobody

[2020-11-15 00:17] brenoguim opened #844 "Should be using memmove instead of memcpy?"
The function `CUnescapeInternal` claims that the source/destination pointers may point to the same buffer: https://github.com/abseil/abseil-cpp/blob/0bbebc85cd8dbd382b10698b3cefe9a01e88e76f/absl/strings/escaping.cc#L79

However it uses `memcpy` in some situations:
https://github.com/abseil/abseil-cpp/blob/0bbebc85cd8dbd382b10698b3cefe9a01e88e76f/absl/strings/escaping.cc#L140
https://github.com/abs

[2020-11-15 14:25] 0x8000-0000 opened #845 "Tautological compare in absl/time/internal/cctz/src/time_zone_libc.cc (on 20200923.2 release)"
**Describe the bug**

Building abseil 20200923.2 with Clang12.0 and GCC10.2 library in C++20 mode produces this warning:

     source_subfolder/absl/time/internal/cctz/src/time_zone_libc.cc:193:9: warning: result of comparison 'const std::int_fast64_t' (aka 'const long') < -9223372036854775808 is always false [-Wtautological-type-limit-compare]
      if (s < std::numeric_limits<std::time_t>::min()

[2020-11-15 20:28] derekmauro commented on #845
I think this has already been fixed in the latest version. Please re-open if it is not.

[2020-11-15 20:28] #845 closed, assigned to nobody

[2020-11-16 03:55] 0x8000-0000 commented on #845
It might have been fixed on HEAD, but it was not backported to the [lts_2020_09_23](/abseil/abseil-cpp/tree/lts_2020_09_23) branch; the problem is present in tag [20200923.2](/abseil/abseil-cpp/releases/tag/20200923.2).

[2020-11-16 13:32] 0x8000-0000 commented on #845
@derekmauro - I'm not a collaborator in this project and you closed this issue so I can't reopen it.

[2020-11-16 13:50] derekmauro commented on #845
Fixes for compile warnings don't get backported. Just turn off the warning with `-Wno-tautological-type-limit-compare`.

[2020-11-16 14:56] derekmauro commented on #844
It looks like this function is never called with `leave_nulls_escaped=true`, so it is impossible to trigger this behavior.

(We have unreleased code that does call the function with `leave_nulls_escaped=true`, so I'm patching this for this case, but OSS users are unaffected.)

[2020-11-16 15:23] derekmauro commented on #841
I think we also ran into this problem. I think the better solution is to simply have Envoy build with `-fsanitize-link-c++-runtime` (`--copt=-fsanitize-link-c++-runtime --linkopt=-fsanitize-link-c++-runtime`) when using sanitizers.

[2020-11-16 15:37] #796 closed, assigned to nobody

[2020-11-16 16:49] 0x8000-0000 commented on #845
That warning caught bugs in our internal code, it is valuable. I will find the patch myself and cherry-pick it then.

[2020-11-16 23:48] #844 closed, assigned to derekmauro

[2020-11-17 16:24] versatran01 opened #846 "usage of ternary operator vs if else statement"
I saw in a few places in `time.h` where ternary operators are used on return.
This looks fine for short statements, but obscure logic with longer ones like this.
https://github.com/abseil/abseil-cpp/blob/1b465af3bf865f588251470ea0dec60851a24041/absl/time/time.h#L1495

Not that the clients need to understand the logic, but I'm just wondering if there's a reason for doing this vs just using if-else

[2020-11-17 16:38] derekmauro commented on #846
The former function is constexpr. The latter is not. At least in C++11, a series of if-statements isn't constexpr.

[2020-11-17 16:38] #846 closed, assigned to nobody

[2020-11-17 16:49] versatran01 commented on #846
I see, thanks!

[2020-11-19 12:05] okrasniuk opened #847 "Compatibility with c++20 standard"
**Describe the bug**

error C2039: 'result_of': is not a member of 'std'
std::result_of is removed in c++20
You are using it in <absl/meta/type_traits.h>
And it is imposible to use absl with c++20 compiler option.

**Steps to reproduce the bug**

just try compile any cpp and include for example:
#include <absl/container/btree_set.h>

**What version of Abseil are you using?**

master

**What operat

[2020-11-19 14:37] derekmauro commented on #847
This is a duplicate of #649, which there is a pending fix for. Let me see if I can push that along.

[2020-11-19 14:37] #847 closed, assigned to nobody

[2020-11-20 00:25] yesudeep opened #848 "ld: illegal thread local variable reference to regular symbol __ZN4absl13base_internal19thread_identity_ptrE for architecture x86_64 [macOS Big Sur]"
**Describe the bug**

[code]

**Steps to reproduce the bug**

Checkout abseil at any commit after:

[code]

Just ran a test that includes `flat_hash_map.h`

**What version of Abseil are you using?**

Git head

**What operating system and version are you using**

macOS Big Sur

[code]

**What compiler and version are you using?**

[code]

**What build system are you using?**

[code]

**Additional c

[2020-11-20 18:56] #649 closed, assigned to vslashg

[2020-11-20 21:27] #831 closed, assigned to vslashg

[2020-11-22 16:13] Yongyut12 commented on #831
372081

[2020-11-24 02:02] Arnoldgenes opened #849 "?"
What exactly is this for?

[2020-11-24 04:21] #849 closed, assigned to nobody

[2020-11-24 04:25] derekmauro commented on #848
I can't reproduce this from your instructions. You say

Does that mean that `@com_google_absl//absl/container:flat_hash_map_test` doesn't build for you? The output you show is building `//codelab/cc/containers:map_test`. Is it possible to share this code?

[2020-11-24 05:31] versatran01 opened #850 "Specialize numeric_limits for absl::Duration?"
I was using `absl::Duration` with `boost::accumlator` to compute statistics on time,
which requires specialization of `std::numeric_limits<absl::Duration>`.
Would this be a good thing to have within the header?

[2020-11-24 07:00] yesudeep commented on #848
You can check out this [sample repository](https://github.com/yesudeep/frooty) that contains some test code. Here's my output:

[code]

[2020-11-25 13:34] Mizux commented on #297
Why closing this issue since logging is still not available in abseil-cpp and AFAIK we may expect it ?

note: you should rename this double issues too...

[2020-11-25 14:11] cblichmann commented on #297
They likely closed it because there exists an internal tracking bug for this and there will probably be some blog post announcing it when it becomes available.

(Note the use of "likely" and "probably", I can only guess how the Abseil team will actually release logging when it's finally ready)

[2020-11-26 00:58] derekmauro commented on #841
The fix went into Envoy.

[2020-11-26 00:58] #841 closed, assigned to nobody

[2020-11-26 13:35] gjasny opened #851 "LTS symbols leaking into root namespace"
Hi,

(this is a follow-up to #657)

The [Abseil Release Management](https://abseil.io/about/releases) page states:

However the recent the September 2020 LTS release still leaks several symbols.

**The first class of problems are the weakly defined symbols** like `AbslInternalSleepFor` and `AbslInternalMutexYield`. I managed to prefix those with the LTS branch name on my local branch: https://gith

[2020-11-27 19:34] gonzojive opened #852 "Feature request for specifying "std=c++17" in BUILD or WORKSPACE files"
The [official directions for specifying the C++ dialect](https://chromium.googlesource.com/external/github.com/abseil/abseil-cpp/+/930fbec75b452af8bb8c796f5bb754e953e29cf5/FAQ.md#how-to-i-set-the-c_dialect-used-to-build-abseil) make it sound impossible to specify the necessary C++ compilation options using only BUILD/WORKSPACE file.

While a [workspace-specific .bazelrc](https://docs.bazel.build/v

[2020-11-30 13:45] derekmauro commented on #852
The answer to the next question [What is ABI and why don't you recommend using a pre-compiled version of Abseil?](https://github.com/abseil/abseil-cpp/blob/master/FAQ.md#what-is-abi-and-why-dont-you-recommend-using-a-pre-compiled-version-of-abseil) explains that this is necessary for correctness. Abseil may be fairly unique in that the C++ dialect affects its ABI. If you have a program that mixes

[2020-11-30 21:48] kyessenov opened #853 "Expose hex parsing routines"
It would be nice if the functions in `numbers_internal` to parse hex string would be publicly exposed.
Is there a reason why they are kept hidden? For example, `absl::numbers_internal::safe_strto64_base(a, b, 16)` is not declared public.

[2020-12-01 13:55] horenmar commented on #666
So, to increment the count of people requesting natvis, should I open a new issue? 😃

[2020-12-01 19:15] cpsusie commented on #363
@jorgbrown

Did you ever get around to have std::string -> uint128 parsing supported by SimpleAtoi?

[2020-12-03 00:04] gonzojive commented on #852
I have a workspace with multiple C++ dialects, and passing different flags to bazel depending on the target is a burden.

[2020-12-03 14:18] derekmauro commented on #852
I don't think this is feasible on our end, for the reasons explained above.

[2020-12-03 14:18] #852 closed, assigned to nobody

[2020-12-03 14:27] derekmauro commented on #853
I think we've felt that `safe_strto64_base` isn't the right API, but we have talked about releasing something in this area before. I'll see if we can get the discussion restarted.

[2020-12-03 18:56] gonzojive commented on #852
Thanks. For the rules_cc discussion, see https://groups.google.com/g/cc-bazel-discuss/c/Wa6zBw2F3Ys/m/x3-HgR1dAgAJ

[2020-12-04 10:51] Yanpas opened #854 "Feature: string trim"
Such a basic building block that is required in a lot of projects. Abseil already has all useful string functions, trimming whitespace is the last piece.

[2020-12-04 13:09] derekmauro commented on #854
Is this what you are looking for?
https://github.com/abseil/abseil-cpp/blob/acf3390ca28edf1438fa896602ffede2a7dff103/absl/strings/ascii.h#L195-L237

[2020-12-07 08:04] Colibrow opened #857 "why GetKernelRtSigreturnAddress always return 0 in my arm64 android application"
Hi, I notice that there is a way to get __kernel_rt_sigreturn besides the practice in https://cs.android.com/android/platform/superproject/+/master:system/unwinding/libunwindstack/RegsArm64.cpp;l=143;bpv=0;bpt=1 but GetKernelRtSigreturnAddress() always return 0 when I call this method in signalHandler

[2020-12-07 23:45] Yanpas commented on #854
Exactly! thx

[2020-12-07 23:45] #854 closed, assigned to nobody

[2020-12-08 06:38] guozhongqiu opened #858 "Build failed with cmake on CentOS 7.6"
**Describe the bug**

When building abseil-cpp with cmake on CentOS 7.6, failed with errors below:

[code]

It is expected that build should succeed, but got errors above.

**Steps to reproduce the bug**

1. `git clone https://github.com/abseil/abseil-cpp.git`
2. `cd abseil-cpp`
3. `mkdir build && cd build`
4. `cmake3 .. -DABSL_RUN_TESTS=OFF -DABSL_USE_GOOGLETEST_HEAD=OFF -DCMAKE_CXX_STANDARD=11`

[2020-12-08 14:05] derekmauro commented on #858
[GCC 4.8 is unsupported](https://abseil.io/docs/cpp/platforms/platforms). We recommend updating your compiler.

[2020-12-08 14:05] #858 closed, assigned to nobody

[2020-12-08 14:32] guozhongqiu commented on #858
Thanks for your reply.

[2020-12-08 17:56] veblush commented on #848
@yesudeep Thank you for the good case of reproduction but I wasn't able to reproduce it on my Catalina Macbook.

Run:
[code]

Environments:
[code]

[2020-12-09 04:49] yesudeep commented on #848
@veblush Ah. That makes me think that this probably has to do with macOS Big Sur/clang 12.0.0+. I can reproduce this on 2 machines running Big Sur and the latest Xcode.

[2020-12-09 15:27] Arnoldgenes opened #859 "Closer"
I feel it

[2020-12-11 09:52] mag122edd opened #860 "Hi"

[2020-12-11 18:27] #860 closed, assigned to nobody

[2020-12-12 17:24] yurivict opened #862 "libabsl_flags_usage.so does not have a SONAME"
**Describe the bug**

libabsl_flags_usage.so lacks SONAME.

**Steps to reproduce the bug**

The toolchain complains while building or-tools:

**What version of Abseil are you using?**
20200923.2

**What operating system and version are you using**

FreeBSD 12.2

**What compiler and version are you using?**

clang-10

**What build system are you using?**

cmake

[2020-12-16 21:18] #859 closed, assigned to nobody

[2020-12-18 02:59] Spidy104 opened #864 "Submit an open source Library"
Hello, I had a few questions I have worked upon an open-source lib hence want to contribute that Library to abseil, How shall I do that?

[2020-12-18 15:02] tadzys opened #865 "How to disable Special Usage flags in flags library"
Hi,

there are bunch of special usage flags defined in flags, and for example running your app with --helpfull

prints all kind of flags from parse.cc or usage.cc wich I don't want to see.

I thought running it like this:
  absl::FlagsUsageConfig config;
  config.version_string  = [version]() { return "1"; };
  config.contains_helppackage_flags = [](absl::string_view){ return false; };
  config.co

[2020-12-18 16:02] derekmauro commented on #864
You can let us know when you want to contribute, but just be warned, it is very unlikely that we would accept it. See https://github.com/abseil/abseil-cpp/blob/master/FAQ.md#is-abseil-the-right-home-for-my-utility-library

[2020-12-20 21:14] alexa508 opened #867 "Aleyto90@gmail.com"

[2020-12-20 21:54] #867 closed, assigned to nobody

[2020-12-21 15:41] derekmauro commented on #865
Did you try running your program with `--help` instead of `--helpfull`?

[2020-12-22 00:04] rgs1 opened #869 "absl::FormatTime(): %E produces different results in OS X vs Linux"
Given:

[code]

In OS X the output is:

[code]

Whereas in Linux it is:

[code]

Is this expected?

I started looking into this in the context of a test in Envoy that behaves differently across platforms when calling `absl::FormatTime("%E4n")`, see:

https://github.com/envoyproxy/envoy/pull/14494

[2020-12-22 00:06] rgs1 commented on #869
Sorry, the label should have been "question" -- this is probably not a bug. I just want to understand (and possibly document) why this is so.

[2020-12-22 15:00] derekmauro commented on #869
Abseil gets this directly from https://github.com/google/cctz. I've copied your question to https://github.com/google/cctz/issues/180, feel free to subscribe to that issue. I'll leave this issue open so we can update our documentation when we figure out what is going on.