[2018-10-12 21:26] Alfus opened #189 "OrderedCode library"
Have you guys looked at open sourcing OrderedCode? Looks like there are several versions of it out there, including: https://github.com/google/orderedcode
https://github.com/him-28/TensorFlow/tree/master/tensorflow/core/lib/strings

[2018-10-12 22:47] mbxx commented on #186
Ugh, macros.

Thanks for pointing this out.  The fix seems clear, though I don't have a great way of testing it internally.  If you don't mind, I'll release it and then ask you to verify if it worked for you.

[2018-10-12 22:48] mbxx commented on #171
This is now released: https://github.com/abseil/abseil-cpp/blob/a00bdd176d66ef0b417d9576052a19091fbdf891/absl/strings/match.h#L73

[2018-10-12 22:48] #171 closed, assigned to mbxx

[2018-10-15 09:06] Mizux commented on #183
Should be done once #136  is merged.
I also spot few others, like `absl::hash` depending on itself (which can lead to issue too)
https://github.com/abseil/abseil-cpp/blob/a00bdd176d66ef0b417d9576052a19091fbdf891/absl/hash/CMakeLists.txt#L34

also if we look at a container header (e.g. `absl/container/fixed_array.h`)
https://github.com/abseil/abseil-cpp/blob/a00bdd176d66ef0b417d9576052a19091fbdf891

[2018-10-15 12:55] alexweej opened #190 "Consider separating std backports from other Abseil functionality"
This might make the "live at head" philosophy a bit politically easier to introduce into organizations that may have their own solutions to many of the problems addressed by the non-backports part of this library. Basically anything with a capital letter should be in a separate library to the std backports I think.

I realise that bureaucratically this causes complications, but I thought it was wo

[2018-10-16 18:00] jfroy opened #191 "implicit_cast should be constexpr"
implicit_cast should be perfectly usable in constexpr contexts.

[2018-10-17 08:08] Mizux opened #192 "absl::Container compilation issue with Visual Studio 2017 (VS v15.8)"
EDIT: abseil-cpp HEAD *may* already contains a fix for this (we still have issue #193 on HEAD -> difficult to reproduce without abseil-cpp source code hack -> unreliable)

When trying to compile on windows the project google/or-tools#871 (abseil branch) which depends on abseil-cpp (commit 45221ccc4ed643e4209b0cc5798e97203f108fa8) headers, we are facing some issues with Appveyor CI.

(compiler file

[2018-10-17 10:38] sneves commented on #192
I have also run into this issue. It only happens when in "permissive" mode, i.e., without the `/permissive-` flag.

I worked around this with the following tweak:
[code]

[2018-10-17 13:26] rongjiecomputer commented on #192
@Mizux Have you submitted a report to https://developercommunity.visualstudio.com?

[2018-10-17 13:31] Mizux opened #193 "absl::meta Alignment test, CMake-based build compilation issue with Visual Studio 2017 (>= v15.8)"
# Description
With Visual Studio 2017 >= 15.8, there is a (breaking ABI) change on extended alignment.

# Protocol
This error `C2338`, can be easily reproduce with Appveyor CI jobs or as follow

[code]

Got error:
[code]
src: https://ci.appveyor.com/project/Mizux/abseil-cpp/builds/19577145/job/xfqk597tlgih3uj1#L353

[2018-10-17 13:35] Mizux commented on #192
@rongjiecomputer nop but the link provided in the description is on it and it seems to have been fixed in `16.0` :disappointed:

-> so if I had a 16.0 I could test if it solve also abseil-cpp...

BTW I like the sneves patch which "just" fix the 15.8 compilation and consequently any Appveyor CI script...

[2018-10-17 13:56] Mizux opened #195 "Failed test on OSX using the CMake based build"
When I added Travis-CI osx CMake-based job

Travis env:
[code]
and script:
[code]

I got error with the test  `raw_hash_set_test.cc:409`
[code]
complete log https://travis-ci.org/Mizux/abseil-cpp/jobs/442688267

[2018-10-18 20:15] zhangxy988 commented on #190
I don't quite understand your request. Are you suggesting that Abseil put optional.h, variant.h, etc. into a separate git repo?

[2018-10-18 20:20] zhangxy988 commented on #189
Thanks for the request. We also received the same request internally from Google. We are still evaluating and prioritizing. Will keep this thread posted..

[2018-10-18 20:23] zhangxy988 commented on #188
@mbxx Is this something we are already tracking or working on?

[2018-10-18 20:28] zhangxy988 commented on #187
Abseil has LTS branch which might be suitable for distribution in Conan since it's meant for projects who want to cut stable releases. We have one LTS branch so far https://github.com/abseil/abseil-cpp/tree/lts_2018_06_20.
Since I know no one on Abseil know how to write Conan recipe, it'd be great if you could help us on it.

[2018-10-18 20:43] zhangxy988 commented on #184
`string_view` is a const view of the underlying string, which means it doesn't allow you to modify the underlying string. So I am not sure your requested function would work.

I am not sure about your use case, but if you just want a string_view until the delimiter, you can write:
[code]
For more information, please check out our contribution guidelines: https://github.com/abseil/abseil-cpp/blob/m

[2018-10-18 20:49] uilianries commented on #187
Sure! We could open a PR with the Conan recipe.

Regards!

[2018-10-19 00:56] mbxx commented on #188
This is the first time we've had a feature request for this, so it's not currently on our roadmap.  I'll add it to our list of feature requests.

[2018-10-19 00:59] mbxx commented on #189
We've looked at in the past, but haven't had any requests for it so it's not on our roadmap right now.  I'll add this to our list of feature requests.

[2018-10-19 07:01] OlafvdSpek commented on #184
Hint: remove_prefix().

[2018-10-19 09:01] Mizux opened #198 "types\optional_test.cc compilation issue with Visual Studio 2017 (v15.8)"
# Description
When trying to do a CMake-based build with test of abseil-cpp, I got an compile error on
types\optional_test.cc

note: I've applied the PR #194 (absl::container similar issue?) and #196 (alignment conformance) and PR #197 (CI cmake jobs)

[code]
Full Appveyor-CI log line 708:
https://ci.appveyor.com/project/Mizux/abseil-cpp/builds/19632736/job/thal0yvy6dacd9e0

The code optional_test

[2018-10-19 09:36] Mizux commented on #157
side note: for googlecartographer/cartographer why not simply replacing the `INTERFACE_INCLUDE_DIRECTORIES` by `INTERFACE_SYSTEM_INCLUDE_DIRECTORIES` ?

i.e.:
[code]
src: https://github.com/googlecartographer/cartographer/blob/master/cmake/modules/FindAbseil.cmake#L75

[2018-10-19 09:55] ojura commented on #157
@Mizux, this problem is not exhibited in Cartographer master. Cartographer master uses `ExternalProject_add` to build Abseil. `standalone_absl` is a single imported target. Imported targets' include directories are marked as `SYSTEM` by default.

The problem is exhibited in my PR https://github.com/googlecartographer/cartographer/pull/1387, where I fetch abseil during configuring, and build it lat

[2018-10-19 15:05] zhangxy988 commented on #184
I think I misunderstood what you mean by "removes that part (including separator) from the input (in-place)", so you actually mean "move the start of view to past the separator".

So just let me confirm you want something like:
[code]

Is this what you want?

[2018-10-19 15:56] OlafvdSpek commented on #184
Yes, as the view is the input.

Just `find(sep)` should do, though this is an interesting variant.

Yes

[2018-10-19 16:08] zhangxy988 commented on #184
OK. Thanks for clarification. We will evaluate this feature request and get back to you.
As per our [contribution guideline](https://github.com/abseil/abseil-cpp/blob/master/CONTRIBUTING.md#priorities), it'd be better if you could prove that this function would meet one or more criteria.

[2018-10-19 16:21] mbxx commented on #187
Conan support sounds like a nice thing to have, but I'm vaguely worried about the additional maintenance  that comes from adding support for more build systems.  (Not necessarily from adding support for Conan specifically, but I don't think this will be the last system that we're asked to support.)  Is there a link I can read to get a sense of what supporting Conan would entail?

[2018-10-19 16:55] uilianries commented on #187
I could support you when necessary, no problem.

As we are trying to keep both Conan recipe and your project on same repository, our strategy is [here](https://docs.conan.io/en/latest/creating_packages/package_repo.html)

And there are real life examples:

https://github.com/taocpp/PEGTL/blob/master/conanfile.py
https://github.com/google/flatbuffers/blob/master/conanfile.py

[2018-10-19 18:42] derekmauro commented on #191
Done in 45221ccc4ed643e4209b0cc5798e97203f108fa8.

[2018-10-19 18:42] #191 closed, assigned to derekmauro

[2018-10-20 02:07] solvingj commented on #187
Thanks very much to both of you for being open to the discussion.

Our team has been maintaining the Abseil Conan package since Abseil was released last year.  It's been popular, and becoming moreso lately.

https://bintray.com/bincrafters/public-conan/abseil%3Abincrafters

As for the prospect of getting involved in packaging, your concerns are common and justified. There are quite a few distribut

[2018-10-22 18:34] mbxx commented on #190
I suspect creating a separate repo is what's being requested here.  This is closely related to https://github.com/abseil/abseil-cpp/issues/180

[2018-10-22 18:42] mbxx commented on #184
If I understand correctly, I'd implement this using StrSplit and MaxSplits.  Does this do what's desired?

[code]

[2018-10-22 18:54] OlafvdSpek commented on #184
Does that work if sep isn't found?
I'd use the code from https://github.com/abseil/abseil-cpp/issues/184#issuecomment-431394539 as it doesn't require the vector.

Right, I didn't understand it was about that section. Let's see what I can find.

[2018-10-22 19:12] mbxx commented on #184
You're right, if `sep` isn't found the vector would have a size of 1.  You could either check the size and handle that case explicitly or split into a `std::pair`, which would work as expected (https://github.com/abseil/abseil-cpp/blob/master/absl/strings/str_split.h#L452).

[2018-10-22 19:15] OlafvdSpek commented on #184
It wouldn't, as `The remaining split substrings are discarded.`

I think `StrReadUntil` is a faster `StrSplit` for a subset of scenarios, as it doesn't have to allocate the vector and it doesn't do all input at once.

[2018-10-22 20:50] mbxx commented on #184
There wouldn't be any remaining substrings if you specify `absl::MaxSplits(sep, 1)`, though.  Using `std::pair` with `absl::MaxSplits(sep, 1)` doesn't allocate a vector and doesn't process the full input.

[2018-10-23 04:11] rockwotj commented on #116
Is there a "hello abseil" example for bazel? One that documents how to setup the correct copts and configuration setting from abseil?

[2018-10-23 11:45] OlafvdSpek commented on #184
Then it sounds good.

[2018-10-23 12:53] ahedberg commented on #116
Hi @rockwotj - are you looking for something different from https://abseil.io/docs/cpp/quickstart? Abseil aims to be zero-config (https://abseil.io/blog/20170926-welcome-to-abseil).

[2018-10-23 15:22] derekmauro commented on #116
@rockwotj - there is https://github.com/fowles/absl-hello

[2018-10-24 17:57] manshreck commented on #185
So, we use "" quotes for a variety of reasons:

1) We use quotes internally
2) We didn't necessarily want to force people to treat Abseil as "system" libraries. They can, but they can also use it however they like.
3) <> sometimes implies (to me, at least) a "pre-compiled library" and we want people to live at head and treat the code as source. This is more a convention than anything else.
4) (In

[2018-10-24 18:05] manshreck commented on #185
Note that from the OP, these paths are not necessarily resolved from the current directory. We also resolve them from the bazel WORKSPACE file, as pointed out in the quickstart:

  # NOTE: Bazel paths must be absolute paths. E.g., you can't use ~/Source
  path = "/PATH_TO_SOURCE/Source/abseil-cpp",

IMO, I'd prefer "" here and reserve <> for compile-time linking in of external libraries (e.g. out

[2018-10-24 18:17] ahedberg commented on #187
It looks like the linked Conan file tracks our LTS branch, which feels sensible. I'm not sure what the version field would look like for a live-at-head project like Abseil, which doesn't put out versioned releases. Any thoughts on this?

[2018-10-24 18:18] OlafvdSpek commented on #185
Where does <> -> system come from?

AFAIK (usually) the only difference between "" and <> is that directory of the current file, so if you don't need that part.. there's no reason to use #include "".

[2018-10-25 14:26] solvingj commented on #187
I almost included an explanation of this, but I cut it out because my response was already too long :)

We have a general post about it here, skip to "Packages without official releases", and the two sections after that:
https://bincrafters.github.io/2017/06/06/using-bincrafters-conan-repository/

And a specific post about Abseil here which also talks about it:
https://bincrafters.github.io/2017/1

[2018-10-26 09:44] Mizux commented on #195
According to [CI log](https://travis-ci.org/Mizux/abseil-cpp/builds/446593408) provided by #197 (which has been rebased on master HEAD (c476da141c)), the problem has gone...

[2018-10-26 09:44] #195 closed, assigned to nobody

[2018-10-26 22:26] tido64 opened #204 "CMake: Undefined symbol absl::container_internal::ShouldInsertBackwards"
It looks like #173 was accidentally reverted with c16d5557, removing `internal/raw_hash_set.cc` from `absl_container`. Can you fix this upstream so that it doesn't happen again?

[2018-10-27 15:52] backerman opened #205 "raw_hash_set_test occasionally fails (Linux)"
Floating-point comparison tolerance needs to be bumped up a touch? Rerunning the test resulted in success.

Compiler: gcc 8.2.1+20180831-1
Kernel: 4.18.16-arch1-1-ARCH
Architecture: x86_64
Distribution: Arch
Abseil pulled @ f86f9413856b65afdd61fea938d684b8ab73115a

[test.log](https://github.com/abseil/abseil-cpp/files/2521953/test.log)

[2018-10-29 04:57] teki opened #207 "Xcode 10 libc++ and backwards compatiblity"
Environment:
OS: macOS 10.13.6
Compiler: Xcode 10, clang-1000.11.45.2
Relevant compiler flag: `-std=c++1z`

Got this error
[code]
I guess the checks in `config.h` are not strict enough for this combination.
The type of `payload_` is:
[code]

[2018-10-30 05:02] ChewyGumball opened #208 "flat_hash_map fails to compile when 'Warnings as Errors' is turned on in VS2017"
When I include `absl/container/flat_hash_set.h` or `absl/container/flat_hash_map.h` I get the following warnings:

[code]

Looking at the TrailingZeros and LeadingZeros functions we see:
[code]

The warning is spurious because the `base_internal` call that won't lose data will be used, but the other is still compiled, and thus warned about.

In my case, I have turned on 'Warnings as Errors', so I

[2018-10-30 15:31] #193 closed, assigned to nobody

[2018-10-30 15:59] mbxx commented on #186
The last release added parens to all of the uses of numeric_limits<>::min and numeric_limits<>::max in header files:

https://github.com/abseil/abseil-cpp/blob/a4c3ffff11eec0ee45742f915c255e9f870b7e0f/absl/strings/string_view.h#L493

Does this fix the problem for you?

[2018-10-30 21:31] bocon13 opened #209 "Swiss table containers fail tests with unsigned characters on GCC"
When Abseil is built with `-funsigned-char` on GCC, containers like `flat_hash_map` return non-deterministic results when attempting to find or iterate over all elements that have been emplaced. Sometimes elements that have just been added cannot be found; frequently the iterator skips all or most elements.

Environment:
Ubuntu 16.04.5 (xenial)
Kernel: 4.4.0-137-generic
Compiler: gcc version 5.4.0

[2018-10-31 09:35] OlafvdSpek commented on #186
Think so, thanks!

[2018-10-31 09:35] #186 closed, assigned to mbxx

[2018-10-31 14:34] #192 closed, assigned to nobody

[2018-10-31 14:58] fowles commented on #209
in debug builds swisstable has extra asserts that will help track this down

[2018-10-31 15:05] derekmauro commented on #209
The tests pass with `bazel test --cxxopt='-funsigned-char' --copt=-DSWISSTABLE_HAVE_SSE2=0 --copt=-DSWISSTABLE_HAVE_SSSE3=0 absl/container/...` so I suspect the issue is in the use of SSE instructions.

[2018-10-31 17:14] derekmauro commented on #209
I *think* this is a GCC bug.

The implementation using SSE2 relies on `_mm_cmpgt_epi8` in some places, for example:
https://github.com/abseil/abseil-cpp/blob/cc8dcd307b76a575d2e3e0958a4fe4c7193c2f68/absl/container/internal/raw_hash_set.h#L375

GCC's implementation of `_mm_cmpgt_epi8`:
https://github.com/gcc-mirror/gcc/blob/913b81c4d40ca6e1b157ea5785376d8de58b42fc/gcc/config/i386/emmintrin.h#L1331-

[2018-10-31 17:39] mbxx commented on #204
Sorry about that :(  As you may have guessed, resolving a merge conflict went badly on our end.  This is now fixed both on GitHub and upstream.

[2018-10-31 17:39] #204 closed, assigned to nobody

[2018-10-31 17:42] mbxx commented on #184
I'm going to close this issue since absl::StrSplit covers this speciic use case, but please let us know if you feel there are other cases that it doesn't.

[2018-10-31 17:42] #184 closed, assigned to nobody

[2018-10-31 18:11] OlafvdSpek commented on #184
StrSplit can be used to implement this but it provides an entirely different interface..

[2018-10-31 20:33] tido64 commented on #204
Many thanks, @mbxx 👍

[2018-11-01 15:10] derekmauro commented on #209
I've reported this to GCC: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=87853

[2018-11-02 15:24] mbxx commented on #184
I understand, but Abseil's goal is to provide a small set of very broadly useful APIs.  Inside of Google, we've had situations where we end up with a proliferation of similar but slightly different APIs.  Compared to having one broadly useful, canonical API, we've found that having a proliferation of APIs is more confusing for users (who now need to figure out which variant is the right one for th

[2018-11-02 15:41] OlafvdSpek commented on #184
https://github.com/llvm-mirror/clang-tools-extra/blob/master/clang-tidy/abseil/AbseilMatcher.h is probably a very bad example, but let's have a look:

[code]
can be replaced by:
[code]

It's not the canonical example and is probably too clever but it does show how it could simplify existing code. I don't think StrSplit would improve this case.

[2018-11-02 19:24] mbxx commented on #184
Ah, that's a common enough case that we have an API for it: `absl::ConsumePrefix` in https://github.com/abseil/abseil-cpp/blob/master/absl/strings/strip.h.

I apologize if I'm being pedantic, but that code snippet also returns if the prefix isn't found.  So the full replacement using `StrReadUntil` would be:

[code]

The equivalent code with `absl::ConsumePrefix` is very similar:

[code]

[2018-11-02 19:50] derekmauro commented on #209
f95179062eb65ce40895cc76f1398cce25394369 contains a workaround for this. It should be working now, but you will be sacrificing some performance if you use GCC with -funsigned-char. I'm not sure if there is anything else we can do besides maybe working around the GCC bug by writing some assembly.

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=87853 already has a proposed patch for the GCC bug, but y

[2018-11-02 20:42] OlafvdSpek commented on #184
But the original code (and `StrReadUntil`) don't require Path to start with `"absl/"`..
I think the original code would allow `"notabsl/"` too, would that be a bug? ;)

It does, but that's not necessary with `StrReadUntil` as `Path` will be empty when `"absl/"` isn't found and the following `std::any_of()` will return false.

BTW, `StrReadUntil` returns the part before the separator, so it wouldn'

[2018-11-03 01:02] sneves commented on #209
Instead of reverting to the generic implementation, you may also consider using an alternative signed comparison implementation that avoids the offending instruction:

[code]

[2018-11-03 03:19] sneves opened #210 "flat_hash_map: Visual Studio never uses SSE2"
The use of SSE2 / SSSE3 in the hash tables is controlled by the `SWISSTABLE_HAVE_SSE2` and `SWISSTABLE_HAVE_SSSE3` macros. If they are not explicitly defined by the user, there is some autodetection in place that will enable them if `__SSE2__` is set:

[code]

However, Visual Studio has no concept of `__SSE2__`, and as such SSE2 will never be autodetected. Furthermore, even if one sets this flag m

[2018-11-06 17:43] liamuk opened #211 "Can't link library using absl::string_view in api compiled with c++11 against program using this api compiled with c++17"
I'm trying to link a program compiled with c++17 against a library compiled with c++11 that has absl::string_view in its api. Because my program gets std::string_view and the library has absl::string_view, they are binary incompatible and this can't be done.

It would be nice if I could specify using absl::string_view over std::string_view even when std::string_view is available so I can use both

[2018-11-06 18:05] ahedberg commented on #211
If I understand what you're trying to do correctly, we don't support depending on a compiled representation of Abseil. From https://abseil.io/about/compatibility:

"""
Do not depend on a compiled representation of Abseil. We do not promise any ABI compatibility — we intend for Abseil to be built from source, hopefully from head. The internal layout of our types may change at any point, without not

[2018-11-06 18:25] liamuk commented on #211
Ah I see.

I can't do that because recompiling the third-party library (tensorflow) is infeasible.

The workaround I'm using currently is to do:
[code]
before including the tensorflow headers, which is not great.

Feel free to close this issue.

[2018-11-06 21:30] shaindelschwartz commented on #205
The latest push, [7990fd4](https://github.com/abseil/abseil-cpp/commit/7990fd459e9339467814ddb95000c87cb1e4d945), includes a change to use multiple trials in CollectPerfectRatios. This should smooth out any outliers and reduce the flakiness of the test.

[2018-11-06 21:30] #205 closed, assigned to nobody

[2018-11-06 21:39] derekmauro commented on #210
This is done in 7990fd459e9339467814ddb95000c87cb1e4d945.

[2018-11-06 21:39] #210 closed, assigned to derekmauro

[2018-11-06 21:40] derekmauro commented on #209
@sneves Thank you for the suggestion. This is done in 7990fd459e9339467814ddb95000c87cb1e4d945.

[2018-11-07 09:59] bocon13 commented on #209
Thanks, @derekmauro, for the fixes and upstream report, and @sneves, for the suggestions on maintaining performance on GCC by continuing to use the SSE instruction albeit correctly! :)

I've confirmed that this issue is resolved in my environment on 7990fd459e9339467814ddb95000c87cb1e4d945, so I'm closing this issue.

[2018-11-07 09:59] #209 closed, assigned to derekmauro

[2018-11-07 15:05] rjammala commented on #5
ping. Any chance of just open sourcing the Linux version at least?

[2018-11-07 23:29] derekmauro commented on #208
I wasn't able to reproduce this (maybe I have a different version of MSVC?), but I added some casts that should fix this for you. Let us know if it doesn't.

[2018-11-07 23:29] #208 closed, assigned to derekmauro

[2018-11-08 00:03] wjywbs opened #212 "Print functions without format"
Is there any print function without formatting string, like StrCat but outputting to stdout?

[2018-11-08 09:03] Bu11etmagnet commented on #208
This should be a compile-time decision, not a run-time decision, e.g. `if constexpr (...)`.
Is there a `constexpr ?  :` yet?

[2018-11-08 14:37] derekmauro commented on #208
Since we are supporting C++11, we can't use `if constexpr`, but I'm pretty sure all modern compilers are smart enough to optimize away the constant branch in this case.

[2018-11-08 22:33] wjywbs opened #214 "Allow AlphaNum(char)?"
This will be useful for StrCat one char in a char array.

https://github.com/abseil/abseil-cpp/blob/070f6e47b33a2909d039e620c873204f78809492/absl/strings/str_cat.h#L245-L246

[2018-11-09 00:04] derekmauro commented on #214
It's been proposed a number of times. Reasons why we've rejected it include the fact that wanting to print a single char from an array is actually very rare, and that it invites `char` vs `char*` errors. Do you have a compelling use case, or is this a speculative improvement?

I'd recommend `absl::StrCat(absl::string_view(&c[n], 1))` if you want to StrCat one char from an array.

[2018-11-09 00:36] JonathanDCohen commented on #212
We will be releasing a logging library soon, hopefully by the end of Q4 this year.

Is there a reason why any of the format string APIs or `std::cout << StrCat(a, b, c)` don't work?  As in something like

`std::cout << absl::StreamFormat("%s", MyStringThing());`

[2018-11-09 00:38] JonathanDCohen commented on #207
Sorry it took so long to get to this.  It seems like you're using -std=c++1z but std::get isn't available anyways.  Let me try to reproduce this on our end and fiddle with our config settings to see if I can't get a workaround for you.

[2018-11-09 00:40] JonathanDCohen commented on #198
I'm currently working through all of our MSVC bugs.  I'll add this to the list :)

[2018-11-09 00:47] wjywbs commented on #212
I'm using `std::cout << StrCat(a, b, c)` now, but I was trying to avoid allocating a string and output to stdout piecewise, like PrintF.

[2018-11-09 01:01] wjywbs commented on #214
This use case does happen very rarely and I will use the string_view workaround. Thanks.

I found that `absl::strings_internal::AlphaNumBuffer<1>` was also an option.

[2018-11-09 03:22] tituswinters commented on #214
Don't (ever) use something out of another library's internal namespace.
Arbitrary changes happen to those interfaces and your code will break
without notice.

See the compatibility guidelines on abseil.io

On Thu, Nov 8, 2018, 5:01 PM wjywbs <notifications@github.com wrote:

[2018-11-09 14:59] #214 closed, assigned to nobody

[2018-11-09 21:48] mbxx commented on #212
We don't have a StrCat that writes to stdout, and we don't have any plans to offer something like that, unfortunately.

I'm probably missing something really obvious, but I naively would have thought that anything you could pass into StrCat you could also pass directly to std::cout.  Are you using StrCat for hex formatting?

Personally, I wouldn't worry too much about a string allocation when writ

[2018-11-10 21:54] Alfus commented on #189
BTW, we implemented a arbitrary precision floating point OrderedCode style encoder for Google Cloud Firestore:
https://github.com/firebase/firebase-android-sdk/blob/master/firebase-firestore/src/main/java/com/google/cloud/datastore/core/number/NumberIndexEncoder.java
Which proved pretty efficient and useful. Would be nice to move it into an OrderedCode-sytle library.

[2018-11-11 10:24] kirakira opened #215 "absl conflicts with tcmalloc"
My project depends on [gperftools](https://github.com/gperftools/gperftools) and absl. When I updated absl library past https://github.com/abseil/abseil-cpp/commit/bd5a2bba8f4238db2e06c99ac808fc8327dec2a0 I'm getting ODR errors:
[code]

The dependency chain is

absl::Mutex -> absl/debugging:symbolize -> absl/base:malloc_internal -> absl/base:dynamic_annotations -> absl/base/dynamic_annotations.cc

[2018-11-12 03:09] derekmauro commented on #215
Duplicate of #122

[2018-11-13 18:44] mbxx commented on #5
The Linux-only Fibers require deep modifications to the Linux kernel that as far as I've heard wouldn't be accepted upstream, so it's not clear how we could release it in a way that folks could use.

As for the broader picture of concurrency primitives, we're still working on it but it's hard and we're still in the planing stages.  I wish I had better news.

[2018-11-13 18:49] rjammala commented on #5
Thanks for the update @mbxx

[2018-11-13 19:09] kzhdev opened #216 "bazel test failed on Windows"
Run: bazel test //absl/...

ERROR: C:/dev/slick/core/cpp/third_party/abseil-cpp/absl/types/BUILD.bazel:266:1: C++ compilation of rule '//absl/types:variant_benchmark' failed (Exit 2)
C:\users\owner\_bazel_owner\jddod2b6\execroot\com_google_absl\absl/types/internal/variant.h(246): error C3528: 'BoundIndices': the number of elements in this pack expansion does not match the number of elements in 'En

[2018-11-13 19:30] tituswinters commented on #5
For comparison, the C++ Standard isn't running a whole lot faster on
concurrency primitives and such (executors, futures, etc).  It is indeed a
*very* hard space to get "right", especially in a language like C++ that is
all about performance.

On Tue, Nov 13, 2018 at 1:49 PM Rajanikanth Jammalamadaka <
notifications@github.com> wrote:

[2018-11-14 00:35] AspirinSJL opened #217 "bazel tsan failure when running grpc test"
Hi, we are seeing a data race in our test https://github.com/grpc/grpc/issues/17175. And it seems an issue in absl.

Below is the tsan log.

It's a conflict between the [memset](https://github.com/abseil/abseil-cpp/blob/070f6e47b33a2909d039e620c873204f78809492/absl/synchronization/internal/create_thread_identity.cc#L93) to the whole `ThreadIdentity` in `NewThreadIdentity()` and the [write](https:/

[2018-11-14 00:47] derekmauro commented on #217
Known issue, we think this is a false positive. See https://github.com/google/sanitizers/issues/953.

[2018-11-14 01:18] chenxiaolong opened #218 "[GCC 8.2.1, CMake] absl::ByChar::Find link error when absl::string_view is std::string_view"
It seems that when `absl::string_view` is `std::string_view` (i.e. targeting C++17), then `absl::ByChar::Find` fails to link properly.

[code]

If I target C++14 instead, which causes abseil's own string_view implementation to be used, then everything links just fine. I'm using GCC 8.2.1 on Fedora 29 and building with CMake.

---

I created a very simple project to reproduce this: https://github.c

[2018-11-14 01:18] AspirinSJL commented on #217
Thanks for the pointer!

[2018-11-14 01:18] #217 closed, assigned to nobody

[2018-11-15 04:11] wjywbs commented on #212
I will use the WriteToStdout example above when necessary. Thanks.

[2018-11-15 04:11] #212 closed, assigned to nobody

[2018-11-15 17:11] amerry opened #219 "CMake: ABSL_USE_GOOGLETEST_HEAD doesn't work when including as a subdirectory"
When building with CMake, if you define `ABSL_USE_GOOGLETEST_HEAD=1` and use `add_subdirectory` to add abseil-cpp (in a `third_party/abseil-cpp` directory, say), the build will fail complaining about "file not found".

The issue is that `CMake/DownloadGTest.cmake` is not using the `${CMAKE_BINARY_DIR}/` prefix with `configure_file`, but is using it with all the other commands. This means that the

[2018-11-15 19:59] JonathanDCohen commented on #219
I'll take a look.  Thanks for the report!

[2018-11-15 20:00] JonathanDCohen commented on #218
Thanks for the report!  We're currently migrating all of our cmakelists to use absl_cC_library and ape our bazel targets, so we'll get this when we get to strings/

[2018-11-15 20:01] JonathanDCohen commented on #216
Do you know which MSVC version you are using?

[2018-11-15 20:01] #215 closed, assigned to nobody

[2018-11-15 20:02] JonathanDCohen commented on #207
Interestingly it looks as though this is not in compliance with Apple's release notes which say that <any>, <optional> and <variant> should be supported in xcode 10 period.  I'm still trying to find how to detect macOS version computationally

[2018-11-15 20:27] kzhdev commented on #216
I'm using Visual Studio Community 2017.

[2018-11-16 21:56] JonathanDCohen commented on #219
There should be fixed with today's release.  I'm closing this issue, please feel free to re-open if the problem is still there.

[2018-11-16 21:56] #219 closed, assigned to JonathanDCohen

[2018-11-16 21:56] #207 closed, assigned to JonathanDCohen

[2018-11-16 22:00] JonathanDCohen commented on #216
cool.  I'll take a look at this next week.

[2018-11-17 21:56] leventov opened #220 "The choice of in-place cleanup threshold in raw_hash_set"
I wonder what is the reasoning behind calling `drop_deletes_without_resize()` only if the efficient load factor is below 0.4375:
https://github.com/abseil/abseil-cpp/blob/f6ae816808cd913e0e2b3e2af14f328fa1071af0/absl/container/internal/raw_hash_set.h#L1700-L1709

It means that with the hash table usage pattern "insertions and deletions occur over time, but the size stays approximately the same" th

[2018-11-18 18:46] marvinparedes29 commented on #220
Fix my issue.

[2018-11-19 16:42] fowles commented on #220
The current invariant for `rehash_and_grow_if_necessary()` is that after growth load factor will be `<= max/2`.  This ensure that the squash case fits the same invariant.

That said, this was chosen somewhat arbitrarily a compelling argument for changing it would be considered.  Compelling arguments for this must be tied to real prod systems not micro benchmarks as a micro benchmark is trivially g

[2018-11-19 23:04] mbxx commented on #211
I think I might call this a bug in TensorFlow.  Binary distributions that include Abseil should either use an LTS branch of Abseil, in which case the inline namespaces that we include would prevent these ODR violations, or they should hide all Abseil symbols from the linker.  Either way, TensorFlow could package their library in such a way that this wouldn't be a problem.

[2018-11-20 08:54] vehystrix opened #221 "Abseil fails to build since commit f6ae816 (Nov 16, 2018)"
Since commit f6ae816, abseil fails to build.

I suspect the following internal commit may be at the source of the issue:

Attached is the output for a build starting in an empty folder, with no extra options passed to CMake.
[abseil_build_output.txt](https://github.com/abseil/abseil-cpp/files/2598864/abseil_build_output.txt)
The problem reproduces in Visual Studio 2017 as well

[2018-11-20 13:04] OlafvdSpek commented on #155
Hi darix

Shouldn't it be `/usr/include/absl`?

[2018-11-20 14:59] darix commented on #155
I have no preference regarding the path. I will just query it via the pkg-config file and be done with it.

[2018-11-20 16:18] LebedevRI commented on #155
It is generally a good idea to put them so that they are **NOT** picked by default unless you actually specify their path via `-I`/`-isystem`.

[2018-11-20 16:48] derekmauro commented on #221
@JonathanDCohen @Mizux Is there a way to exclude absl/base/spinlock_test_common from being built when testing isn't requested? It's really a test only library that depends on gtest.

[2018-11-20 17:05] OlafvdSpek commented on #155
@LebedevRI Why?

I think cmake has defaults for this.

[2018-11-20 17:10] LebedevRI commented on #155
Same reason why some buildsystems have airgapped mode, with all the explicitly specified dependencies being copied into special 'chroot' to ensure that all the deps are explicitly specified,
and nothing not specified is not being used. (the strictness may wary)

[2018-11-20 17:12] OlafvdSpek commented on #155
If you don't want the standard include path, specify another include path...
Installing stuff in non-standard locations doesn't seem like the right approach.

[2018-11-20 21:18] bstaletic opened #223 "[Benchmark] flat_hash_map considerably slower than std::unordered_map"
This is not a bug report, more of an interesting data point.
In the past week I've been trying out `absl::flat_hash_map` and `google::dense_hash_map` (and sets) and comparing performance to STL counterparts.

The following gist contains benchmarks for STL (Master), abseil and dense_hash_map:
https://gist.github.com/bstaletic/7d3e31db7fc8d40a12787fab09ff092f

The project whose benchmark results you

[2018-11-20 21:58] derekmauro commented on #223
Obviously we'd like more information on what's going in including compilers, build commands, etc, so we can reproduce this ourselves.

However, regardless of which container you are using, one thing I'd like to point out in the IdentifierDatabase::ResultsForQueryAndType() code you linked to:
[code]
The code above does redundant lookups (it does the same lookup twice - once on find, and once on ins

[2018-11-20 22:08] sbenzaquen commented on #223
Can you share a PR where `absl::flat_hash_map` is being used?
One thing to note is that `absl::flat_hash_map` is much more sensitive to the quality of the hash function than `std::unordered_map`. The default (`absl::Hash`) should be a good one. Manually specifying one that does not provide good bit mixing can lead to bad performance.

As for microbenchmarks, they might be misleading depending on t

[2018-11-20 22:15] bstaletic commented on #223
There's no PR, but here's a link to the branch in my fork:
https://github.com/bstaletic/ycmd/commit/c7c47175fd7bb19e4b448b34c15bdaf7b86d5e4b

That's the only one used throughout the code in my branch.

[2018-11-20 22:22] sbenzaquen commented on #223
Maybe this is related to the performance problem:
The code is iterating all maps/sets. Iteration on absl's tables is O(capacity), not O(size).
In particular, when you call `ClearCandidatesStoredForFile` and clear an innermost set, iterating that set is still going to be O(capacity) even though it is empty.
`.clear()` balances this problem by releasing the memory if capacity > 127, but for smaller

[2018-11-20 22:44] bstaletic commented on #223
@derekmauro

Apologies, I didn't see your reply somehow.
I tried clang and gcc. The repository has a `benchmark.py` script that will compile and run the benchmarks with the correct flags.
The dependencies are python headers/libpython and cmake.

Thanks for pointing that out. With your proposed change abseil got much closer to STL, but still is slower. I've updated the gist above.

@sbenzaquen
If I

[2018-11-21 16:11] sbenzaquen commented on #223
afaik, `dense_hash_*` will also release the allocation unless you requested it explicitly.

It is a tradeoff. `std::unordered_*` has O(size) iteration, but they pay for it with extra memory usage (1 extra pointer per element) and less memory locality.
It all depends on your use case.
Note that `unordered_*` will also pay for memory allocations for every element because it is node based.

I am not

[2018-11-22 18:10] bstaletic commented on #223
This was a step back as far as benchmarks go.

Here's the commit reverting all but one `flat_hash_set` to `unordered_set`.
https://github.com/bstaletic/ycmd/commit/f28127d635ac426b88a7884539fa83cc17d6f447

It made the `abseil` branch catch up to `dense_hash_map` branch. In benchmarks where all results are kept `abseil` is a bit ahead of `dense_hash_*`, but in wasteful scenario, where only the top

[2018-11-23 15:44] uilianries opened #224 "Buill Abseil on CI service"
Hi!

It would be nice if it were possible to build Abseil for each new push to be sure of his integrity and reliability .

There are a wide variety of free services for open source projects, which cover most market platforms:

- [Travis CI](https://travis-ci.org/)
- [Appveyor](https://appveyor.com/)
- [Circle CI](https://circleci.com/)
- [Azure DevOps](https://azure.microsoft.com/en-us/services/de

[2018-11-24 10:56] bstaletic opened #225 "Cmake links all abseil components and results in a link time error"
No matter what I try, cmake builds the whole abseil and then links everything into my shared library. I could reproduce this with a minimal cmake example:
[code]
`main.cpp` contains only the following:
[code]

For an actual project where I'm trying to use abseil, I get a linker error in debug mode that says the following:
[code]
The project in question is [here](https://github.com/bstaletic/ycmd/t

[2018-11-26 07:22] Mizux commented on #221
Hi,
 sorry for the delay
simply repace `PUBLIC` by `TESTONLY` here (at bottom line 266)
https://github.com/abseil/abseil-cpp/blob/3088e76c597e068479e82508b1770a7ad0c806b6/absl/base/CMakeLists.txt#L253-L267

note: This target is only used for testing purpose for absl or as helper for your own test that 's why it has been set PUBLIC but since it depends on GoogleTest it should be PUBLIC only if Targ

[2018-11-26 11:06] pifon2a commented on #111
@Mizux, are you planning to submit your CMake Install rules?

[2018-11-26 15:55] Mizux commented on #111
@pifon2a The current plan is to push internally one by one all the #199 commits, then maybe revamp (i.e. rebase/rework) my `Add CMake Install rules (abseil#111)` on top of it...

We will remove `absl_test()`, `absl_library()`, `absl_headeronly_library()` and `absl_test()` so we will "just" have to add install rules on `absl_cc_library()` and `absl_cc_test()`...

[2018-11-26 16:38] sbenzaquen commented on #223
How many elements are on those candidate sets on average?
For tiny sets of trivial types like this a sorted (or even unsorted) vector tends to be faster than all the other alternatives.
`flat_hash_*` is optimized for find/insert and iteration is not the fastest around.

Currently you insert all possible results into the vector (lets call that M), and then take the top N.
If you keep only the top N

[2018-11-26 19:27] JonathanDCohen commented on #224
This is already happening in an internal change.  We will be turning on Travis and Appveyor soon, we're just making sure that we have a coherent plan for CI moving forwards and making sure we do all our due diligence to not leak internal stuff.

[2018-11-26 19:43] uilianries commented on #224
Thanks for your answer :+1:

[2018-11-26 20:22] bstaletic commented on #225
Also, my Appveyor and Travis build fail with nonsense errors.

Appveyor: https://ci.appveyor.com/project/bstaletic/ycmd-noh9b/builds/20561052/job/y64dyb0cytehw06t
Travis: https://travis-ci.org/bstaletic/ycmd/builds/459085385

They are both mentioning (conflicting) redeclarations/redefinitions. This doesn't happen when I build on my own computer.

[2018-11-26 22:13] JonathanDCohen commented on #225
I'll look at the CI errors.  Could you try your example but with absl::core_headers instead of container and hash?  those two probably pull in a huge chunk of abseil between the two of them, whereas core_headers is the lowest-level target we have.

[2018-11-26 22:53] bstaletic commented on #225
So, actual lists of pulled in dependencies:

- `absl::hash` and `absl::container`
  - `libabsl_dynamic_annotations.a`
  - `libabsl_internal_spinlock_wait.a`
  - `libabsl_int128.a`
  - `libabsl_numeric.a`
  - `libabsl_container.a`
  - `libabsl_base.a`
  - `libabsl_utility.a`
  - `libabsl_span.a`
  - `libabsl_internal_throw_delegate.a`
  - `libabsl_strings.a`
  - `libstr_format_extension_internal.a`

[2018-11-27 13:57] apmanol opened #227 "Build abseil without exceptions"
Hello all,

just a minor question since, it's not clear from the documentation. How can you build the libraries without exceptions, preferably with the use of cmake.
Something like:
[code]
will do the trick?

Thanks for any clarifications!

[2018-11-27 17:21] bstaletic commented on #223
Hard to tell. It depends on the users workflow. Basically, the project scans files that user has opened in his editor and populates the cadidates list by extracting all valid identifiers in those files, separated by filetype.

`flat_hash_*` is optimized for find/insert and iteration is not the fastest around.

I'll keep that in mind.

If you keep only the top N, you save the copies for those M ele

[2018-11-28 15:41] #221 closed, assigned to JonathanDCohen

[2018-11-29 05:45] DarkDimius opened #228 "absl::flat_hash_set fails UBSan on clang 7"
[code]
compiled with http://releases.llvm.org/7.0.0/clang+llvm-7.0.0-x86_64-apple-darwin.tar.xz
[code]

fails with the following backtrace

[code]

last executed C++ code is

[code]

[2018-11-29 05:52] DarkDimius commented on #228
adding `-DADDRESS_SANITIZER` to build fixes it. Should it be auto-detected via `__has_feature(address_sanitizer)`?

[2018-11-29 22:24] no-more-secrets opened #229 "#include <atomic> in raw_hash_set.cc"
I am running into a compiler error when compiling raw_hash_set.cc on OSX with a gcc8 build that apparently does not have `cxx_thread_local` feature which causes `ABSL_HAVE_THREAD_LOCAL` to be undefined.  This would not be a problem, but then in this situation the preprocessor logic in raw_hash_set.cc will reference std::atomic without `#include <atomic>`.  If I insert:

`#include <atomic>`

at the

[2018-11-30 15:18] derekmauro commented on #229
Thanks for the report. A fix will be pushed soon.

[2018-12-04 21:35] derekmauro commented on #229
The fix for this is in 44b0fafc62d9b8f192e8180cbe9c4b806b339d57.

[2018-12-04 21:35] #229 closed, assigned to derekmauro

[2018-12-05 15:30] vehystrix opened #232 "CMake generate fails for MSVC since commit 44b0faf"
The following internal change causes CMake to no longer generate for MSVC since commit 44b0faf:

The culprit seems to be lines 180-191 in absl/debugging/CMakeLists.txt

[code]

Which causes the leak_check library to be added with no sources if the compiler is MSVC

Below is the CMake output:
(clean checkout of the latest commit, and generating/building to an empty folder)
[code]

[2018-12-05 15:43] derekmauro commented on #232
Thanks for the report. I'll take a look.

[2018-12-05 20:46] #232 closed, assigned to derekmauro

[2018-12-06 18:07] JonathanDCohen commented on #225
Getting back around to this.  We've been doing a lot of overhaul of our CMakeLists.txt files.  Is this still an issue?

[2018-12-06 18:08] JonathanDCohen commented on #228
I'll inspect this locally.  Looks like we may just need the define but I want to check with the swisstable authors to make sure this isn't more serious

[2018-12-06 18:09] JonathanDCohen commented on #227
you should be able to set -fno-exceptions.  We don't set our exceptions flags either way except for specific targets like exception-safety tests which don't make sense without them.

[2018-12-06 18:10] JonathanDCohen commented on #216
Hey there.  We've recently pushed out a number of MSVC fixes.  Is this a problem for you still?

[2018-12-06 18:39] bstaletic commented on #225
The CI errors are different, and it definitely looks like an improvement.

- Python 3.4 also has a `dynamic_annotations.h` header in which it defines `AnnotateBenignRaceSized`, though signatures don't match and it's causing Travis to fail.
- On python2, however, travis reports the same linker error that I see.
- MSVC 2015 and 2017 report the following error:
  - In `int128.h` lines 134 and 137 con

[2018-12-06 19:10] JonathanDCohen commented on #225
Thanks for the update.

I'm a little confused, how is python being used here?

[2018-12-06 19:15] bstaletic commented on #225
Our project links against `libpython.so` to expose some C++ classes/functions to python. That means there's `#include <Python.h>` in some place, that pulls in python's `dynamic_annotations.h`.

For the MSVC failures, if you think that is an okay solution, I can submit a PR that wraps the overloads in `#ifdef _MSVC` (or whatever the macro is).

[2018-12-06 21:05] JonathanDCohen commented on #225
*cries*.  We probably should have prepended AbslInternal to our names, and ABSL_ to the macros.  This will require some substantial migrations to fix as far as I can see.  Or Python could take an Abseil dep :P

For the MSVC that might work, but we would need to also release a migration tool for that as well, since that would be an api-breaking change.

[2018-12-06 21:06] JonathanDCohen commented on #225
Adding Alex who has more insight both on int128 and also the migration tools required for these bugfixes

[2018-12-06 21:16] JonathanDCohen commented on #228
Just checking, this is Apple Clang?  Could you let us know the platform?  Looks like we're doing an unaligned load which may be UB on certain platforms.

[2018-12-06 21:32] bstaletic commented on #225
I took a quick look at `dynamic_annotations.h` and had a similar reaction when I saw that those things aren't namespaced.

According to [compiler explorer](https://godbolt.org/z/Njw_4O) `wchar_t` and `unsigned short` aren't the same and all trivial cases that I've tried on there actually allowed overloads on `wchar_t`/`unsigned short`. Still, Appveyor failed with the above mentioned error: https:/

[2018-12-06 22:22] EricWF commented on #228
Whats the actual failure, not just the backtrace?

On Thu., Dec. 6, 2018, 4:16 p.m. Jonathan Cohen <notifications@github.com
wrote:

[2018-12-07 16:03] vslashg commented on #34
While this doesn't address the `struct timeval` issue, I'm happy to report that Abseil should no longer call functions named `max` or `min` inside header files without wrapping those names in parenthesis to thwart the preprocessor.  The vcpkg patch should no longer be necessary.

[2018-12-07 19:15] JonathanDCohen commented on #225
For the MSVC bug, https://docs.microsoft.com/en-us/previous-versions/dh8che7s(v=vs.140) looks promising

[2018-12-07 20:14] apmanol commented on #227
ok, thanks a lot for the tip!

[2018-12-07 20:14] #227 closed, assigned to nobody

[2018-12-07 23:37] bstaletic commented on #225
Wow, thanks for that! Turns out, on MSVC, our project was explicitly using `/Zc:wchar_t-`. Though `git blame` wasn't useful to find out why as that flag was there since before the git repository was created, some... at least 5 years ago.
Anyway, Appveyor is healed.

That leaves us with the linker error and the conflict with the CPython function.

For the linker error, every search I've been able t

[2018-12-10 11:38] bstaletic commented on #225
For the linker error, this is what I'm currently doing:
[code]
And this solved the linker error. I am fine with this, since `-fPIC` isn't global.

[2018-12-10 17:57] JonathanDCohen commented on #225
Let me check in to that.  I'm pretty sure we build with PIC internally, I'm surprised we don't externally.  I'm not sure if I missed it somewhere but can you detail the platform and toolchain you're using?

As for the MSVC bug, that's awesome!  I also wrote a change today to wrap the wchar_t typedefs so we're always picking up __wchar_t on MSVC.  So if for whatever reason you actually need that /Z

[2018-12-10 19:22] bstaletic commented on #225
I'm able to reproduce the linker error on three completely different systems, all of which end up compiling without `-fPIC`.

- My local - GCC 8.2.1, linux x86_64 or Clang 7.0.0
- Travis - Ubuntu 14.04 GCC 4.9/Clang 3.4
- CircleCI - macOS AppleClang 9.0.0.9000038

With `-fPIC` and no `/Zc:wchar_t-`, "all" that's left is the conflicting `dynamic_annotations.h`, which is actually the same as the abs

[2018-12-11 22:41] wjywbs opened #233 "Allow custom base in SimpleAtoi?"
The SimpleAtoi function always parses the string in base 10. Can an optional base argument be added?

https://github.com/abseil/abseil-cpp/blob/master/absl/strings/numbers.h#L179

[2018-12-12 13:45] shardator commented on #111
is it now even possible to build Google Cartographer without internet access or a fake github repo?

[2018-12-12 13:48] pifon2a commented on #111
Unfortunately, not yet. After abseil has proper support for  `make install`, it will be possible.

[2018-12-14 04:26] g-easy opened #234 "Non-internal version of HexStringToBytesInternal"
Please consider making HexStringToBytesInternal and BytesToHexStringInternal not internal. It would be good to have a non-allocating alternative to absl::HexStringToBytes, for performance.

[2018-12-18 19:35] mbxx commented on #233
The short answer is maybe eventually, but not soon.

Our goal for SimpleAtoi is to keep it as simple as possible, but it's clear that it doesn't handle all of the number parsing needs that someone may have.  As you point out, it doesn't allow alternate bases to be specified.  It also won't detect the base for strings like "0xabc".  Another common case is parsing a leading number from a string, and

[2018-12-18 23:38] mbxx commented on #141
Apologies for the long silence.  We talked about this and seem to generally agree that we should add an overload that has error reporting along these lines:

[code]

`HexStringToBytes` is called in an awful lot of places inside of Google, and some of them are undoubtedly (though likely inadvertently) relying on the current strange behavior.  This would make changing `HexStringToBytes` very challen

[2018-12-20 12:44] Mizux opened #235 "absl/base/dynamic_annotations.h conflict with Python3.4 Python.h header"
When building google/or-tools python package (using SWIG and abseil-cpp as deps) for Python 3.4
it can't compile since `absl/base/dynamic_annotations.h` conflict with Python 3.4 symbols:

https://github.com/abseil/abseil-cpp/blob/111ca7060a6ff50115ca85b59f6b5d8c8c5e9105/absl/base/dynamic_annotations.h#L253-L256

CPython 3.4: Python/dynamic_annotations.c:
[code]
src: https://github.com/python/cpyth

[2018-12-20 12:53] Mizux commented on #225
for `-fPIC` we should add
[code]
just here:
https://github.com/abseil/abseil-cpp/blob/111ca7060a6ff50115ca85b59f6b5d8c8c5e9105/CMake/AbseilHelpers.cmake#L168-L170

src: https://cmake.org/cmake/help/latest/prop_tgt/POSITION_INDEPENDENT_CODE.html

[2018-12-20 15:04] bstaletic commented on #235
It might be worth pointing out that [Python3.4 will reach its end of life in 2019-03-16](https://devguide.python.org/#status-of-python-branches).

[2018-12-20 15:16] Mizux commented on #235
And Ubuntu 14.04.5 LTS which is based on, [end of life in April 2019](https://wiki.ubuntu.com/Releases)

[2018-12-20 15:24] mbxx commented on #234
I suspect this is something that we're going to want to keep internal, but it might help to know a little more about your situation.  Did you run into a specific situation in which the extra allocations from `absl::HexStringToBytes` are causing a problem?  Or are you requesting a non-allocating alternative for API completeness?

When we first released Abseil, we considered open sourcing a non-allo

[2018-12-20 16:18] mbxx commented on #235
This issue is also essentially a duplicate of https://github.com/abseil/abseil-cpp/issues/122.

Am I correct in inferring that this is only an issue in Python 3.4 and not an issue in later versions?

[2018-12-20 17:42] bstaletic commented on #235
Unfortunately no. I've just finished bisecting the CPython history. The patch that allows abseil and CPython to cooperate wasn't present until Python 3.5.1rc1.

The specific CPython commit that allowed everything to work is https://github.com/python/cpython/commit/6df29ada02d22c43a8d439a70b820cb1ceacca42 and is referring to a seemingly unrelated [bug](https://bugs.python.org/issue25150).

[2018-12-20 18:44] JonathanDCohen commented on #225
Do we want to do that ourselves? Wouldn't that cause issues if our users didn't compile with PIC on?  Seems like we need to inherit that somehow from our users

[2018-12-20 20:36] #187 closed, assigned to nobody

[2018-12-21 08:37] Mizux commented on #235
I would say yes, since the current official Python 3.5 is 3.5.6
see https://docs.python.org/3.5/whatsnew/changelog.html#python-3-5-6

Also using the "official" manylinux docker image, I manage to compile against the python `cp35-cp35m` provided.
side note: it was the manylinux2010 proposal docker image based on [manylinux PR \#252](https://github.com/pypa/manylinux/pull/252) since manylinux1 is ba

[2018-12-21 10:04] bstaletic commented on #235
So the only way for someone to get 3.5.0 is to use [pyenv](https://github.com/pyenv/pyenv) and specifically request for either `3.5` or `3.5.0` in the newly created virtual environment.

For our project, we did have a user who requested `2.7` only to find out there's a bug in CPython that prevents 2.7.0 to work with our project, so we had to increase the minimum required Python version to 2.7.1. N

[2018-12-21 16:37] vigna opened #236 "raw_hash_set documentation does not appear to match its implementation"
The documentation of raw_hash_set (in particular, the ASCII-art drawing) clearly show that slots are divided into groups and groups are handled individually, i.e., when probing the structures the probe sequence is a sequence of groups. However, the implementation appears to use unaligned access and handles groups starting at any offset in the slot array (i.e., for every offset in the slot array th

[2018-12-21 19:38] bstaletic commented on #225
I've tried it out on our project. Usually, compiling our benchmark looks like this:

- Compile Boost.Filesystem and Boost.Regex into `libBoostParts.a` (static library with `-fPIC`)
- Compile `ycm_core.so`, which is the C++ part of the project (dynamic  library with `-fPIC`)
- Compile `libbenchmark.a` - the google benchmark library.
- Link everything into a `ycm_core_benchmarks` executable.

I chan

[2018-12-26 23:22] StephanDollberg opened #239 "raw_hash_set: slots_ array not being prefaulted on reserve/rehash"
Hello,

I am seeing a performance issue in `flat_hash_map` and friends where we are getting pagefaults on the `slots_` array on first inserts or finds into the map.

It's the common scenario of having an initial setup phase with a rough idea of how big the hashmap will be and `reserve()`ing the expected size and then on the hot path elements are inserted and looked up. In the current implementatio

[2018-12-28 21:50] tkoeppe opened #240 "Recent linking breakage due to missing `-pthread`?"
Our project https://github.com/deepmind/lab has a tip-of-trunk dependency on Abseil. Everything was green as of our latest commit, but a fresh build today,

    bazel build //:game

results in the following linker errors:

[code]

As a workaround, I can add `--linkopt=-pthread`, but could you perhaps find out if a dependency went missing somewhere recently?

[2018-12-28 22:49] tkoeppe commented on #240
This _might_ also be a Bazel regression from 0.21 vs 0.20?

[2019-01-01 14:30] jdmairs opened #241 "please support cmake install target like protobuf does"
I'm building my project and dependencies with Visual Studio 2017.  With protobuf I build first with cmake and then run make install and it installs all the headers and libs in a nice consistent way so that I can easily find/link into it from vs2017.

With abseil, afaik, I have to hand copy the headers and libs to lets say c:\program files\abseil-cpp\.  To make things easier/safer I move the entire

[2019-01-01 14:48] jdmairs commented on #241
I see this should be closed in favor of #111

[2019-01-01 14:48] #241 closed, assigned to nobody

[2019-01-02 15:19] behroozmrd47 commented on #240
Thanks for your response. I did include the mentioned quick fix but it did not worked and I get the same error. To be concise, I entered the following command "~/lab$ bazel run :game -- -l tests/empty_room_test -s logToStdErr=true --linkopt=-pthread" and got the exact same error. Any ideas why?

Thankfully,

[2019-01-02 16:23] fowles commented on #239
- std::memset is an expensive way to do a prefetch, you should issue a prefetch directly for a case like this
- this code could be a slow down in production scenarios as it drags the entire slot array through cache immediately (thus increasing cache pressure).

We would have to do some internal testing on it before we would accept a change like this, but it is worth considering

[2019-01-02 16:34] fowles commented on #236
The documentation does need to be fixed.  We originally had groupings but later moved to floating windows.

[2019-01-02 16:38] sbenzaquen commented on #239
When you say "page fault", do you actually mean page faults or Ln cache misses?
As in, are you faulting on the pages from the virtual address space not being in real memory pages?
Or are you suffering from CPU cache misses from the cache lines missing from the cache?
These problems are different and would require different solutions.

[2019-01-02 18:36] tkoeppe commented on #240
@behroozmrd47: the flag needs to go before the `--` flag separator, otherwise it doesn't get passed to bazel (but rather to the program that's being run).

[2019-01-02 22:11] StephanDollberg commented on #239
Thanks guys,

@sbenzaquen Yes, I am talking about pagefaults and not cache misses

@fowles

 - Yeah, the memset simply did the job for me and given that it's not on the hot path I didn't care too much. Though, are you talking about doing `__builtin_prefetch` or something else? That would also pull the memory into cache, no? I guess something like a mlock followed by a munlock would work but that c

[2019-01-02 22:30] fowles commented on #239
http://go/gh/abseil/abseil-cpp/blob/master/absl/container/internal/raw_hash_set.h#L1378 might be sufficient for you

[2019-01-02 22:33] fowles commented on #239
rehash might touch as little as 50% of the memory.  If you have objects of cacheline size and are close to various load factors.  But you are probably correct that the reserve + immediately fill will hit most of the memory anyway.  But if you reserve is >L3 cache size, you will flush everything else out of your caches which will be problematic when you next try to do work

[2019-01-02 22:45] sbenzaquen commented on #239
If it is page faults what you are talking about, then I am not sure that benchmark is representative. Those pages will already be faulted in after the first iteration of the benchmark.
(assuming the memory allocator reuses the blocks that were just released in the previous iteration, but that should be a good assumption)

[2019-01-03 08:24] StephanDollberg commented on #239
@fowles Unfortunately, `prefetch()` doesn't work for me because it would require knowing all keys in advance.

@sbenzaquen That's a good point, so you think the speed up actually comes from something else? However, I don't think that's the case. If you perf trace the benchmark, you see page_faults coming from `fill_map` till the very end. Also you see the page faults very clearly in a profile and

[2019-01-03 12:37] Mizux commented on #224
seems related to #109 and PR #197 ...

[2019-01-03 15:18] Mizux opened #244 "CMake: AppleClang does not provide Leak Sanitizer -> compilation failure when test enabled"
When I tried to add Travis-CI `xcode10.1` jobs, I found a compilation issue when enabling tests...
[code]
job ref: https://travis-ci.org/Mizux/abseil-cpp/jobs/474846599#L1164

According to the Apple developer documention Leak Sanitizer does not seem available...
ref: https://developer.apple.com/documentation/code_diagnostics

Code to change:
https://github.com/abseil/abseil-cpp/blob/7ffbe09f3d8550

[2019-01-03 15:20] Mizux commented on #244
note: since I set `CMP0025` to `NEW` in a previous CL it should be easy for Abseil-Team to fix it..

https://github.com/abseil/abseil-cpp/blob/7ffbe09f3d85504bd018783bbe1e2c12992fe47c/CMakeLists.txt#L21-L24

[2019-01-04 10:09] Mizux commented on #244
note: in https://github.com/abseil/abseil.github.io/blob/master/docs/cpp/platforms/platforms.md#linux

| Operating System/Architecture | Compilers | Standard Libraries |
|---|---|---|
| Linux, little-endian, 64-bit | gcc 4.8+<br/>clang 3.3+ | libstdc++<br/>libcxx |

**BUT** Leak Sanitizer seems to come starting to clang 3.5
ref: http://releases.llvm.org/3.5.0/tools/clang/docs/LeakSanitizer.html

-

[2019-01-06 09:13] lauralann6 commented on #241
😋

[2019-01-07 14:29] OlafvdSpek commented on #235
Shouldn't `3.5` cause the latest `3.5` release to be chosen rather than the first?

[2019-01-07 21:22] bstaletic commented on #235
Whether it should is one thing, but what actually happens is that asking `pyenv` to creat a virtual environment of version X.Y, creates an `X.Y.0` environment. That's how ycmd realized `2.7.0` does not actually work.

[2019-01-08 03:44] benjaminp opened #246 "export commits individually"
Each internal export of Abseil appears to make just one commit in the git repository. For example, 44b0fafc62d9b8f192e8180cbe9c4b806b339d57 aggregates some 19 separate commits. While it's usually possible to match up the code change to commit message, it would be better for git repository usability if individual Piper changes became individual git commits.

[2019-01-08 18:06] #240 closed, assigned to derekmauro

[2019-01-09 12:34] OlafvdSpek commented on #116
Hi @JonathanDCohen,

What's the status of this (and cmake support in general)?

[2019-01-09 20:22] rjpower opened #247 "absl::Hash specialization fails for std::pair in TensorFlow Windows build"
When attempting to use absl::flat_hash_map for some graph partitioning code in TensorFlow, we found an issue with the template specialization logic for absl::Hash on MSVC.

This change:

https://github.com/tensorflow/tensorflow/commit/67a7f04d010c50fb3d6d1bde7793d3f8d350decf

introduced the use of absl::flat_hash_map for the MemoryTypeMap type.  This compiles successfully on all TF build targets e

[2019-01-09 21:10] SlavaMelanko commented on #218
Hi @JonathanDCohen
Do you have any updates?

[2019-01-10 16:53] sbenzaquen commented on #247
Thanks for the report.
I can reproduce this problem.
We had a similar problem with probing `std::tuple` and we just disabled probing for MSVC, but just for `std::tuple`. It seems that `std::pair` has a similar problem.
Seems like I have to refactor the probing code once more to deal with this problem.
For now, you could workaround the problem by removing the enable_if in the `AbslHashValue` overlo

[2019-01-11 15:33] #223 closed, assigned to nobody

[2019-01-11 15:46] derekmauro commented on #246
I agree it would be better if this were the case.

If you are wondering why we do it this way, it has to do with how we develop code internally. The code you see in our git repository isn't exactly the same as the code we use and develop everyday internally. We use a tool called [Copybara](https://github.com/google/copybara) to transform the internal version of the code to what you see on GitHub.

[2019-01-11 16:30] derekmauro commented on #218
The problem here is that you are building the Abseil submodule in C++14 mode and your own project in C++17.  Put `set(CMAKE_CXX_STANDARD 17)` in your `CMakeLists.txt` to build all code in C++17 mode and this will work.

[2019-01-11 16:30] #218 closed, assigned to JonathanDCohen

[2019-01-11 20:59] micahcc opened #248 ""Status" class similar to tensorflow::Status"
I've found that tensorflow::Status that is either ok or contains an error is really nice. Documentation:

https://www.tensorflow.org/api_docs/cc/class/tensorflow/status

Something similar would be really great. Could also add [[nodiscard]] to prevent users from ignoring the returned status.

[2019-01-11 21:28] derekmauro commented on #248
This is something we've been working on for a while now. The thing that is taking the most time is unifying all of the forks of `Status`, including the one in TensorFlow. We are hoping to release this in a few months.

[2019-01-12 16:14] sbenzaquen commented on #239
If it is really page faults you could try something else.
Instead of memset the whole thing, just write one byte per page.
That would not flush the L1 cache as much but should cause the pages to be paged in.
But I don't think this is something that can be easily tested in a microbenchmark unless you use a different allocator.

[2019-01-13 09:44] unrstuart opened #249 "VerifyTypeImplementsAbslHashCorrectly fails with g++"
Example (stripped down version, apologies for typos or errors-by-omission):

[code]

[2019-01-14 19:57] sbenzaquen commented on #249
Can you provide more info about the compiler? Which version of g++ is this?

[2019-01-15 04:55] benjaminp commented on #246
Why would your workflow have to be redesigned from scratch? It seems to me reviewing a batch of commits once and exporting them individually should be technically feasible.

[2019-01-15 05:43] unrstuart commented on #249
Yep, sorry about that. It's the default version that comes with RPi (specifically when one runs sudo apt-get install gcc).

pi@raspi2:~ $ gcc --version
gcc (Raspbian 6.3.0-18+rpi1+deb9u1) 6.3.0 20170516
Copyright (C) 2016 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPO

[2019-01-16 21:55] SlavaMelanko opened #250 "Undefined reference to ThrowStdOutOfRange and RawLog"
I am trying to build a simple example using `GNU 7.3.0`

[code]

And get linker errors

[code]

Whereas on `Apple LLVM version 10.0.0 (clang-1000.11.45.5)` everything is ok

Even the whole list of libraries does not help

[code]

How do you think where an issue is?

[2019-01-17 15:03] derekmauro commented on #250
This doesn't reproduce for me. Can you provide an exact sequence of commands for me to reproduce it? What OS?

[2019-01-18 20:12] SlavaMelanko commented on #250
Hi @derekmauro,

The thing is that we are trying to build a Conan package with the latest stable version (20181200) and got [GCC errors](https://github.com/bincrafters/conan-abseil/pull/11/checks?check_run_id=49876179).

Library is build ok whereas [test package](https://github.com/bincrafters/conan-abseil/tree/testing/20181200/test_package) is not.

It would be great if you had a time to check it

[2019-01-18 21:38] ahedberg commented on #250
We don't use Conan ourselves (support was contributed by @uilianries), so we're not well-equipped to debug this without an exact sequence of commands to reproduce this on a particular operating system. Would you be able to show us the command line you used that resulted in this failure?

[2019-01-18 21:44] uilianries commented on #250
Hi everyone! I'm here to help you!

@SMelanko which platform are you using? Linux? And Arch? Is there a build on Travis or a project where we can read all those steps?

[2019-01-19 21:57] SlavaMelanko commented on #250
Hi @uilianries,

Here is a [branch](https://github.com/bincrafters/conan-abseil/pull/11) where you suggested changing the libraries order.
I tried it with simple Dockerfile:

[code]

The result - problem was reproduced and no more for now.

[2019-01-19 22:49] matthewgingell opened #251 "Undefined symbol absl::container_internal::UnsampleSlow"
I'm seeing an unresolved reference to absl::container_internal::UnsampleSlow when I depend on absl::container in a CMake build, eg:

add_executable(t t.cc)
target_link_libraries(t absl::container absl::hash)

Undefined symbols for architecture x86_64:
  "absl::container_internal::UnsampleSlow(absl::container_internal::HashtablezInfo*)", referenced from:
      absl::container_internal::HashtablezIn

[2019-01-20 02:24] EricWF commented on #250
I managed to reproduce using the docker instructions.

Here's what's happening: The test program tries to link against every absl library *in the order as the `conanfile.py`*. Here's a copy of that list:

[code]

Notice that `absl_strings` comes after `absl_base` and `absl_internal_throw_delegate` despite depending on both libraries. When using static libraries, if `libA` depends on `libB` then `l

[2019-01-20 11:02] bstaletic opened #253 "Linker error since commit 968a34ffdaadd7db062a9621dfbdf8b2d16e05af"
Hello, I'm using CMake for my project and last night I tried to update abseil, but was greeted with linking failures.
The errors can be found here: https://gist.github.com/bstaletic/aac910aca122ca5a226c3f1f59bba2f9

What my `CMakeLists.txt` is doing is:

[code]

Unfortunately, I couldn't provide a minimal reproducible test case, but the steps to reproduce with my project are as follows:

- `git cl

[2019-01-20 16:17] derekmauro commented on #253
https://github.com/abseil/abseil-cpp/blob/master/absl/container/CMakeLists.txt#L17-L24

Don't depend on the `absl::container` target anymore, it is deprecated and going away. Depend on the thing you are actually using instead. Sorry about this.

[2019-01-20 16:17] #253 closed, assigned to nobody

[2019-01-20 16:17] derekmauro commented on #251
https://github.com/abseil/abseil-cpp/blob/master/absl/container/CMakeLists.txt#L17-L24

Don't depend on the `absl::container` target anymore, it is deprecated and going away. Depend on the thing you are actually using instead. Sorry about this.

[2019-01-20 16:17] #251 closed, assigned to nobody

[2019-01-21 13:37] uilianries commented on #250
@SMelanko bincrafters/abseil and abseil/abseil-cpp are different things.

The Bincrafters' Abseil package was created before to support Abseil project and it should be deprecated after having the official package from Abseil team available in Conan Center.

If you have a problem related to Bincrafter's package, please, open an issue to https://github.com/bincrafters/community/issues/

Of course, w

[2019-01-25 12:40] OlafvdSpek opened #258 "absl::StrFormat() docs"
Could the `#include` be included? ;)

Why is `std::` used inconsistently?

https://abseil.io/docs/cpp/guides/format#abslstrformat

[2019-01-25 13:06] OlafvdSpek commented on #116
@derekmauro ^

[2019-01-25 13:37] OlafvdSpek opened #260 "No CMAKE_CXX_STANDARD set, assuming 11"
The default since GCC 6 (2016) is 14, IIRC.
Is assuming 11 a good idea?

Living @ head, aren't we?

[2019-01-25 15:33] mbxx commented on #260
Abseil promises 5 years of support for the compilers that we support (https://abseil.io/about/compatibility).  I believe MSVC2015 is the long pole here, so we'll be assuming a baseline of C++11 for a few more years.

[2019-01-25 15:33] #260 closed, assigned to nobody

[2019-01-25 15:38] derekmauro commented on #258
It's probably a copy-paste error in the documentation. At Google, for historical reasons `string` is not the same type as `std::string`. https://www.youtube.com/watch?v=NzaYUlAw93k tells the story if you are interested. I'll get the docs fixed.

[2019-01-25 15:50] derekmauro commented on #116
@JonathanDCohen has something in the works, but he's on vacation. He will give an update when he gets back.

[2019-01-25 16:28] grazingiiyama commented on #239
@StephanDollberg Have you tried using a custom allocator which wraps std::allocator<T>, changing allocate to call std::allocator<T>::allocate and then pre-fault the raw memory before returning?

[2019-01-26 09:39] StephanDollberg commented on #239
Well that obviously works. I just don't think that's best user experience.

[2019-01-28 18:06] #250 closed, assigned to nobody

[2019-01-28 19:17] JonathanDCohen commented on #244
Hey there, Mizux.  I'm going through and triaging our CMake issues now that I'm back from vacation.

It looks here like we just want to add -fsanitize=leak only on clang 3.5 and greater?

We could also provide a ctest script instead of invoking ctest directly in our test scripts.  This would let us use [ctest_memcheck()](https://cmake.org/cmake/help/v3.11/manual/ctest.1.html#id30) to enable whatev

[2019-01-28 19:22] JonathanDCohen commented on #235
Hey there everyone!  Sorry for the delay, I've been on vacation and nobody else has picked this up.  Question about the end of life dates -- are these deadlines for us to push a fix or dates after which we shouldn't care about this bug?  Or maybe both?  I'm unfamiliar with the Ubuntu and Python support policies, but a quick look through suggests that this is an end-of-support date for Python 3.4.

[2019-01-28 19:26] JonathanDCohen commented on #225
Hey there!  I'm just now getting back from vacation, sorry I didn't say anything on this thread.  Is there any update on your end?  I can talk with the team about turning on PIC.  It doesn't seem super controversial, although I think we should try to figure out why we aren't linking on some systems without PIC, as there are other systems where we build and link just fine.

[2019-01-28 19:27] JonathanDCohen commented on #183
Hey there!  We've done some significant work to our CMake files.  Is this still an issue?

[2019-01-28 19:31] JonathanDCohen commented on #211
Seeing no more discussion on this issue and that it seems to be a Tensorflow issue, I'm going to close this.  Please feel free to reopen.

[2019-01-28 19:31] #211 closed, assigned to nobody

[2019-01-28 20:06] ilyapopov commented on #183
No, this is not fixed. It actually has been made worse.

With current master:

    target_link_libraries(... absl::container)

does not work, with error messages:

[code]

so it obviously still does not automatically link to `absl::hash`. So I have to explicitly link to it:

    target_link_libraries(... absl::container absl::hash)

This was working before (on branch lts_2018_12_18), but with curr

[2019-01-28 20:12] ilyapopov commented on #183
It looks like `absl::container` is just a dummy target that does nothing:

https://github.com/abseil/abseil-cpp/blob/89ea0c5ff34aaa5855cfc7aa41f323b8a0ef0ede/absl/container/CMakeLists.txt#L20-L24

Shall I link directly to `absl::flat_hash_map` instead?

[2019-01-28 20:12] derekmauro commented on #183
This has been reported multiple times. The `absl::container` target was unfortunately deprecated. Please depend on the library you are actually using instead. Sorry about this.

https://github.com/abseil/abseil-cpp/blob/master/absl/container/CMakeLists.txt#L17-L24

[2019-01-28 20:14] ilyapopov commented on #183
Unfortunately, linking directly to `absl::flat_hash_map` does not work either.

It still misses dependency on pthread.

[code]

[2019-01-28 20:18] derekmauro commented on #183
Fair enough.

@JonathanDCohen: The cmake targets that correspond to https://github.com/abseil/abseil-cpp/search?q=%22-pthread%22 should link `-pthread`.

[2019-01-28 21:08] bstaletic commented on #225
No real news. I've been following Abseil's master and everything works as long as I add`-fPIC` and avoid Python 3.4.

[2019-01-28 21:12] bstaletic commented on #235
The dates, 2019-03-16 for Python and 2019-04-XX for Ubuntu 14.04, is when they reach end of life. Ubuntu 14.04 is relevant, because it's the Ubuntu long term support with Python 3.4 as default Python 3. After Python 3.4 reaches end of life, the only stable version of Python affected will be 3.5.0, as 3.5.1 already has a patch that solves this problem.

[2019-01-29 08:37] Mizux commented on #183
my 2 cents:
@derekmauro I hope you don't mean hard coding a `-pthread` in cmake targets ?

The correct way (IMHO)
1. first fix the `find_package` for Thread.
    https://github.com/abseil/abseil-cpp/blob/540e2537b92cd4abfae6ceddfe24304345461f32/CMakeLists.txt#L58-L59
    should be change to:
[code]
    ref: https://cmake.org/cmake/help/v3.1/module/FindThreads.html

2. then, in few cmake targets wh

[2019-01-29 08:55] Mizux commented on #244
@JonathanDCohen never play with ctest scripts so I don't have any strong opinion...

But first things first, *we* should at least update the CMakeLists.txt of debugging because currently MacOS users can't compile with tests enabled...
Then, we can figure out (with a pet project first IMHO) if we want to place our bet on the ctest "advanced" framework...

[2019-01-31 14:38] OlafvdSpek opened #261 "time_zone_info.cc warnings"
[code]

[2019-01-31 14:38] OlafvdSpek commented on #261
Oops, fixed already

[2019-01-31 14:38] #261 closed, assigned to nobody

[2019-01-31 21:30] JonathanDCohen commented on #225
Quick question.  I just reread teh comments and looked more closely into `-fvisibility=hidden`.  It seems to only really affect DSOs.  Are you compiling Abseil into a DSO?  This may cause some issues, but I'm not up to date on all of them.

I have a guess.  From https://gcc.gnu.org/wiki/Visibility

I wonder if there aren't linker collisions in symbols which are elided when PIC is turned on?  I'm g

[2019-02-01 01:33] bstaletic commented on #225
Yes, `-fvisibility=hidden` affects DSOs only. I am compiling Abseil into a DSO, otherwise relocation `R_X86_64_TPOFF32` wouldn't be forbidden. `-fvisibility=hidden` made the DSO significantly smaller and even boosted performance a bit.

I've tried `nm --dynamic ycm_core.so | grep absl` which resulted in 0 symbols. `nm ycm_core.so | grep absl` however has shown 5252 symbols. So whatever links again

[2019-02-01 11:22] bstaletic commented on #225
I managed to create a minimal example that  shows the issue with missing `-fPIC`!

CMakeLists.txt:
[code]
foo.cpp:
[code]

Generate `Makefile` with `cmake -DCMAKE_BUILD_TYPE=Debug` and compile with `make my_lib`.

The linker error:
[code]

[2019-02-01 21:12] JonathanDCohen commented on #225
I reproduced your error, and it looks like it's the rng in GetGeometricVariable.  However changing the rng to a static instead of thread_local reveals similar issues in the standard library.

Also, I tried building my_lib as a static library and everything worked perfectly.  I think the moral of the story here is you just have to use -fPIC for shared libraries.  Are there any objections to closing

[2019-02-01 21:42] bstaletic commented on #225
I don't mind closing the issue, but I've got a question. Currently I'm using `list( APPEND LLVM_FLAGS "-fPIC" )` to insert `-fPIC` into abseil's flags. It feels like a hack to poke around, what I assumed are, abseil internals. Should I keep using `LLVM_FLAGS` or keep watching abseil development for a different, supported, way to insert necessary flags?

[2019-02-01 21:58] JonathanDCohen commented on #225
Looks like you want to use [CMAKE_POSITION_INDEPENDENT_CODE](https://cmake.org/cmake/help/latest/prop_tgt/POSITION_INDEPENDENT_CODE.html) as suggested by @Mizux earlier.

I added set(CMAKE_POSITION_INDEPENDENT_CODE TRUE) to your CMakeLists.txt file from above and confirmed everything built and linked.

I'm closing this, please feel free to reopen

[2019-02-01 21:58] #225 closed, assigned to JonathanDCohen, astrelni

[2019-02-01 22:04] bstaletic commented on #225
Great, that worked! Thanks for helping out.

[2019-02-02 02:00] progsource opened #263 "Update minimum required cmake version"
Because abseil is using `list(FILTER ...` in its cmake files, the minimum required cmake version is actually **3.6** and not 3.1.

See
* https://cmake.org/cmake/help/v3.5/command/list.html
* https://cmake.org/cmake/help/v3.6/command/list.html
* https://github.com/abseil/abseil-cpp/blob/master/CMakeLists.txt#L19
* https://github.com/abseil/abseil-cpp/blob/master/CMake/AbseilHelpers.cmake#L94

[2019-02-02 07:20] bstaletic commented on #34
I've been having troubles with `Windows.h` leaking macros. Specifically `max` macro caused a compilation error in one place, which I did work around with `/DNOMINMAX`, but also `ERROR` gets defined as `constant`, which actually breaks [an enum](https://github.com/Valloric/ycmd/blob/master/cpp/ycm/ClangCompleter/Diagnostic.h#L25-L29) that is part of the public interface. Granted, I could probably c

[2019-02-02 08:29] ojura commented on #34
I fixed a similar issue by UNDEFing the offending macro after including Abseil.

[2019-02-02 08:35] bstaletic commented on #34
I've tried `#undef`-ing `ERROR` right before using my `DiagnosticKind::ERROR` because that's easier than `#undef`-ing right after including abseil. The build bots are still running, but it seems to work. Still, it would be nice to not have to work around things like this.

[2019-02-02 11:33] rongjiecomputer commented on #34
`synchronization/internal/waiter.h` is not transitively included by any public header files, so it should not cause any issue to Abseil consumer. I think you are getting `windows.h` because `winsock2.h` included by `absl/time/time.h` (and other header files that include `absl/time/time.h`) will include `windows.h`.

[2019-02-02 11:51] bstaletic commented on #34
That makes sense. I definitely have `absl/time/time.h` transitively included and when I tried to trace how `waiter.h` got included I couldn't figure it out, so it makes sense that it's `winsock2.h` that's causing me troubles. Still 968a34f is the commit hash where the problem got introduced.

For the record, `#undef`-ing `ERROR` did work.

[2019-02-02 12:49] bstaletic commented on #34
Is there a reason that I'm missing for including `winsock2.h` in `time.h`? The only thing in that header that is also guarded by `_MSC_VER` is:
[code]

And nothing in that snippet depends on windows API.

[2019-02-02 13:21] rongjiecomputer commented on #34
`absl/time/time.h` needs the definition of `struct timeval`. Most OS put the definition in `sys/time.h`, but Microsoft put it in `winsock2.h`.

I filed https://developercommunity.visualstudio.com/content/problem/291705/move-timeval-struct-out-of-winsock2h.html awhile ago, MSVC team said they forwarded the request to Windows SDK team, but no update since then.

[2019-02-02 14:08] bstaletic commented on #34
That sounds familiar, but I won't rant about MSVC now.

How about creating a wrapper for `struct timeval`, so that `sys/time.h` and `winsock2.h` can be "hidden" in the `absl/time/time.cc`? Granted, pImpl idiom does introduce an extra indirection and a function call and thus a theoretical performance hit.

[2019-02-02 14:16] rongjiecomputer commented on #34
That would be an API breaking change as timeval is part of function signature of public APIs. Those functions are probably used by many people now, I doubt Abseil team will consider breaking API for MSVC.

[code]

[2019-02-02 14:25] bstaletic commented on #34
Right, didn't think about that. Nevermind that idea, I guess I'll have to deal with `/DNOMINMAX` and `#undef ERROR`.

[2019-02-06 16:10] despair86 commented on #207
~~currently working on a codebase that switched to abseil 12-12-18 LTS.~~

~~the current macintosh version macros effectively disable support for *all other platforms* that otherwise have C++17.~~

~~tested: G++ 7.3, for `i686-w64-mingw32` in `-std=c++1[z7]` mode~~

i'm an idiot: the GNU tools are not officially supported for abseil (even with `clang-cl(1)` in UNIX mode) 🤦🏻‍♂️, but my projects mov

[2019-02-07 23:17] teki commented on #207
There are some macros in libcxx to handle this: https://github.com/llvm-mirror/libcxx/blob/2ae08ad852f35bfff251e4332a122a07013c8bed/include/__config#L1322
Not sure if they can help with detection.

[2019-02-08 20:18] ceztko opened #264 "Add an option to not alias C++17 types"
I'm indirectly using abseil-cpp in MSVC 2017 because of Native webrtc[1]. Native webrtc is currently not supporting C++17 compilation itself[2] and it's using abseil-cpp for types like `absl::optional`. This is an issue since since abseil types are used outside of webrtc compilation boundaries in its public API: as soon as one will use webrtc API in a C++17 compiled program it will cause stack cor

[2019-02-08 20:53] ceztko commented on #264
An ugly workaround to avoid mismatches between different modules is by including `absl/base/config.h`, undefine alias enabling macros, and finally including the types requested. This can be put in a precompiled header. Unsure it's really safe in all circumstances, though. A supported switch, or better (I repeat) no alias at all by default, would be much more appreciated.

[code]

[2019-02-09 22:53] derekmauro commented on #264
https://abseil.io/about/compatibility
https://abseil.io/about/design/dropin-types

This is something we are unlikely to do. Depending on a compiled representation of code or supporting mixed compilation modes is problematic and does not scale.

The suggested compile switches just result in a combinatorial expulsion of configurations to test. Again, this doesn't scale.

I suggest building in C++14

[2019-02-10 01:17] ceztko commented on #264
This is a shame. You introduce support libraries for code bases not ready to switch to c++17 and, as a result, you force other code bases to stick to c++14. Before Webrtc adoption of abseil there were no issue in using it in c++17 compiled programs and, and there shouldn't be as long as there not exist any c++17 language feature that may cause ABI issue with code compiled with C++14 configured com

[2019-02-10 01:37] ceztko commented on #264
Sorry if I insist, but I don't understand why you don't immediately see how big the problem is with abseil. It would be very similar as if Microsoft tomorrow comes with an update for for Visual Studio 2015 stating in the release note: "We introduced a change in toolset v140 that will make it incompatibile with v141: your VS2015 code won't be compatible with VS2017 compiled code anymore". This is r

[2019-02-10 01:52] ceztko commented on #264
In a nutshell: just using abseil may make code forward incompatible with c++17. This is unbelievable, especially considering the purpose of some types in the library, but it's a fact.

[2019-02-11 13:34] tituswinters commented on #264
One of the biggest problems we've encountered is dealing with secondary
support for types. You do *not* want to work in a codebase that has both
std::optional and absl::optional (the two don't interconvert) and that has
some template specializations or overload set support for one or the other.
Abseil's design choice is very intentionally pushing away from that, more
details here:
https://abseil.i

[2019-02-11 14:06] ceztko commented on #264
Well, I hope you see the contradiction of sponsoring move to C++17 enabled compiler in a way and forcing people to stick to C++14 in another, as it is happening now in this case. While it's true that `absl::optional` and `std::optional` don't interconvert, it's not that much needed for the purpose of `std::optional` itself. Anyway, you can convince me it's good to favor people to move to C++17 by

[2019-02-11 15:09] tituswinters commented on #264
It isn't *us* forcing people to stick to C++14, it's your other
dependencies. It's perfectly safe/fine to consistently use absl::optional
(and other C++17 types) consistently until all of your deps have updated.
In fact, given the changes between language versions, that's probably the
*wise* choice.

If that and the other arguments don't seem sufficiently presented in that
design note I linked to

[2019-02-11 16:04] ceztko commented on #264
There are very good reasons to a library to stick the build with C++14 compiler, for example to track supported compilers and prevent developers to use C++17 features or library changes that will create ABI  backward incompatible libs.

I'm sorry to say that the harm here is created by abseil creating unpredictable behavior and not offering a way to control it among code created with different lan

[2019-02-11 21:12] tituswinters commented on #264
At the core, Abseil is *only* prioritizing "everything in your build is
built from source, with the same compiler flags." There is insufficient
understanding of ABI and ODR in the broad C++ community to promise anything
else without also accidentally promising things we can't/won't support.

I'm sorry you have a different set of priorities - that doesn't make either
of us wrong.

On Mon, Feb 11, 2

[2019-02-12 11:11] OlafvdSpek opened #265 "Https Everywhere"
There are a lot of `http:` links in the Abseil files.. shouldn't these be `https:`?

[2019-02-12 12:58] jcageman opened #266 "flat_hash_set iterator --operator"
absl::flat_hash_set::iterator (and const) doesn't support the --operator.

I already noticed this seems to be a difference between clang and msvc for std::unordered_set. The absl implementation seems to follow clang here.

The following code compiles for msvc (get iterator to the last element):
[code]

See comparison of compilers and std::unordered_set vs absl::flat_hash_set below:

https://godbol

[2019-02-12 16:44] sbenzaquen commented on #266
Yes. Our iterators are only "forward iterators", not "bidirectional iterators".
Note that he spec for `std::unordered_*` only requires forward iterators.

In general, since the order is unspecified (and unstable for `flat_hash_*`), iterating "backwards" doesn't really have meaning. Providing bidirectional iterators has a cost (memory+cpu+code complexity) we are not willing to pay for the little be

[2019-02-12 18:33] vslashg commented on #266
Working as intended.

[2019-02-12 18:33] #266 closed, assigned to nobody

[2019-02-13 14:13] jcageman commented on #232
This actually still breaks CMake on the latest release of abseil on windows. Quite annoying to apply these kind of fixes myself before i could get the make working. Anything that can be done about it? For clarity: i only needed the fix in absl/debugging/CMakeLists.txt to get it working.

See build command and output below:
[code]

[2019-02-13 14:52] derekmauro commented on #232
Can you please paste the command you ran and the output?

[2019-02-20 16:29] jdmairs commented on #244
Still an issue when cloning the head as of 2/20/2019
clang: error: unsupported option '-fsanitize=leak' for target 'x86_64-apple-darwin18.2.0'

[2019-02-20 21:59] JonathanDCohen commented on #265
This is low priority but would be nice for a good first issue.  We want to make sure all the links can actually support https.

[2019-02-20 22:32] JonathanDCohen commented on #264
Ping on this issue.  If there is nothing more to discuss for now, we can close this and reopen if it continues to cause problems.  @ceztko sound okay to you?

[2019-02-20 22:35] JonathanDCohen commented on #263
Sorry to just see this.  I would be hesitant to upgrade to cmake 3.6 given that, for example, Ubuntu 14.04 LTS still ships cmake 3.5 (https://packages.ubuntu.com/trusty/cmake3).  We can try toa ccomplish the same thing without using list(FILTER) though.  Thanks for the heads up!

[2019-02-20 23:08] #244 closed, assigned to JonathanDCohen

[2019-02-21 02:02] greg7mdp opened #267 "internal raw_hash_set key access"
This is not really an issue, but maybe you can help me understand something. I'm working on a change which requires me to have access to the key in the insert function, but when I add the two lines shown below, the absl_flat_hash_set_test does not build anymore.

I'd be super grateful if someone could tell me what mistake I am making.

![image](https://user-images.githubusercontent.com/1496907/531

[2019-02-21 02:12] joneepenk commented on #47
any progress pls? @mbxx

[2019-02-21 02:29] greg7mdp commented on #267
Never mind, I think I found a way to do what I needed to do, using `value_type &v = node.value();`.
Thanks!

[2019-02-21 14:56] ahedberg commented on #47
Releasing our filesystem library is blocked on some dependencies (such as Status) that haven't been released yet.

[2019-02-22 16:02] ceztko commented on #264
No problem. I tried to my best to change your mind on the severity of the issue, but it's debatable topic and at some point one just live with issues and find an alternative solution.

[2019-02-25 17:03] JonathanDCohen commented on #263
update: there is an internal fix for this out for review . Should be public in day or two at worst

[2019-02-26 17:31] JonathanDCohen commented on #267
Hey there greg.  Is this still an issue or would you like to re close this?

[2019-02-26 17:37] JonathanDCohen commented on #258
Didn't realize this would be closed from the comment.  I'll close once that PR is accepted

[2019-02-26 18:31] greg7mdp commented on #267
No, I'm all good, forgot I had reopened it, thanks Jonathan!
I'm really impressed with the implementation, some of the best code I've seen, love how absl::raw_hash_map contains all the functionality.

[2019-02-26 18:31] #267 closed, assigned to nobody

[2019-02-26 19:29] JonathanDCohen commented on #249
Hey there.  Are you still experiencing this issue?

[2019-02-26 19:30] JonathanDCohen commented on #248
I'm going to close this since we're not actively updating the... status... of this issue.  More information will be available the closer we get to releasing `Status`.  Please feel free to re-open if there are any other questions.

[2019-02-26 19:43] JonathanDCohen commented on #246
As of now we aren't actively working on batching our commit messages.  I'm going to assign this to myself because I'm curious if we could do this without affecting the time of the release process too much, but as a low priority project.  If I take a look and it looks like it will take too much time compared to the benefit, then I'll close the issue until we find the time to take another look.

[2019-02-26 19:48] JonathanDCohen commented on #247
@EricWF has pushed a patch for this.  Can you check to see if the error isn't happening?

[2019-02-26 20:04] JonathanDCohen commented on #239
While that's not a great user experience for you unfortunately, we're going to set this to wontfix since it's pretty much a one line workaround to the problem.  Please feel free to re-open if you feel like your point hasn't been heard of you have more to say.

[2019-02-26 20:04] #239 closed, assigned to nobody

[2019-02-26 20:06] #264 closed, assigned to nobody

[2019-02-26 20:09] JonathanDCohen commented on #236
Ping on this.  Has the documentation been fixed?

[2019-02-26 21:16] JonathanDCohen commented on #234
Closing due to long dormancy . Please feel free to re-open.

[2019-02-26 21:16] #234 closed, assigned to nobody

[2019-02-26 21:17] JonathanDCohen commented on #233
Closing as wontfix since we aren't actively working on this.  Please feel free to re-open :)

[2019-02-26 21:17] #233 closed, assigned to nobody

[2019-02-26 21:23] JonathanDCohen commented on #228
Closing due to lack of activity.  Please feel free to re-open :)

[2019-02-26 21:25] JonathanDCohen commented on #220
Closed due to inactivity.  Please feel free to re-open :)

[2019-02-26 21:25] #220 closed, assigned to nobody

[2019-02-26 21:26] JonathanDCohen commented on #216
Closed due to inactivity.  Please feel free to re-open if the problem is still around :)

[2019-02-26 21:26] #216 closed, assigned to JonathanDCohen

[2019-02-26 21:31] JonathanDCohen commented on #190
Thank you for the idea.  At this time we have no plans to separate out Abseil into separate repos, although the above mentioned request for up-to-date documentation on backports is a good idea.  For now though, I'm going to close this issue as wontfix.  Please feel free to re-open :)

[2019-02-26 21:31] #190 closed, assigned to alexweej

[2019-02-26 21:39] JonathanDCohen commented on #189
We never got back to this, but we had this added to our internal roadmap when it was requested.  Sorry for the lack of transparency.

This will be closed very soon via a daily release.

[2019-02-26 21:41] JonathanDCohen commented on #188
This was added at the time of request to our internal feature request list.  At this time we aren't planning on releasing anything Base64 related, but that could change in the future.  I'm going to close this for now, but please feel free to re-open if you feel you have a good argument for inclusion in Abseil :)

[2019-02-26 21:41] #188 closed, assigned to mbxx

[2019-02-26 21:44] JonathanDCohen commented on #185
and to quote Titus

From the cmake perspective, Abseil uses the typical out-or-source build directory, but that's not the case with our Bazel builds.  Either way, this conversation is a bike shed, doesn't really affect Abseil's usability, and has also gone cold.  I'm going to close this as wontfix for now, but please feel free to re-open if you feel that there's more discussion to be had :)

[2019-02-26 21:44] #185 closed, assigned to manshreck

[2019-02-26 21:46] JonathanDCohen commented on #183
We're still getting a few weird linker errors relating to threads.  This has proven annoying to track down, but I'm circling back around to this.  Sorry this is taking forever.

[2019-02-26 23:03] #263 closed, assigned to JonathanDCohen

[2019-02-26 23:05] JonathanDCohen commented on #180
Putting this up as a good first issue.  We aren't actively working on documenting and maintaining the list of backports we offer but it's a definite nice-to-have

[2019-02-26 23:09] JonathanDCohen commented on #176
Hey there.  Sorry this fell off the map. I'm not sure what the issue was here, but absl::Time is supposed to export all sorts of non-function symbols (eg absl::Time, absl::Duration...).  Do you remember what the problem was?

[2019-02-26 23:22] JonathanDCohen commented on #164
We now have quickstart documentation in https://github.com/abseil/abseil-hello.  installation of headers and static libs is basically only waiting on debugging some linking issues and then will also be added to the hello abseil.

I'm going to close this as fixed, please feel free to reopen :)

[2019-02-26 23:22] #164 closed, assigned to nobody

[2019-02-26 23:23] JonathanDCohen commented on #158
Closing this issue since it's been added to feature requests.  Please feel free to re-open :)

[2019-02-26 23:23] #158 closed, assigned to mbxx

[2019-02-26 23:27] JonathanDCohen commented on #155
Circling back after a while, https://github.com/abseil/abseil-hello has the supported way to use abseil with cmake.  This is also a duplicate of #111, so I will close it and direct everyone there.

[2019-02-26 23:27] #155 closed, assigned to JonathanDCohen, mbxx

[2019-02-26 23:30] JonathanDCohen commented on #154
THis has been out a long time, but I just successfully built and ran the test on my MacOs 10.13.6 laptop with a pass result.  I will close this as can't reproduce, but please feel free to re-open if the issue is persisting :)

[2019-02-26 23:30] #154 closed, assigned to astrelni

[2019-02-26 23:40] #189 closed, assigned to gennadiycivil, mbxx

[2019-02-27 00:11] kkiningh commented on #154
I reran the test and it now passes. Thanks for looking into it!

[2019-02-27 00:19] kkiningh opened #268 "Test container:hashtablez_force_sampling_test fails on OSX 10.14.2"
Test command:

[code]

Log:

[code]

Mac version:

[code]

abseil commit:

[code]

[2019-02-27 00:30] kkiningh commented on #268
I see this [test is tagged no_test_darwin_x86_64](https://github.com/abseil/abseil-cpp/blob/2901ec32a919311384d6ad4194e2d927c06831f7/absl/container/BUILD.bazel#L491), but it still runs when I run all tests as recommended in the quickstart guide (`bazel test //absel/...`).

[2019-02-27 01:46] derekmauro commented on #268
Thanks for the report. This test should probably never have been released and the failures should be safe to ignore. I'll look into having it removed.

[2019-02-27 02:47] Alfus commented on #188
Base64 encoding is already exposed by Abseil. This feature request is to just expose the currently internal functions that allow you to specify which base64 'alphabet' to use. Specifically these two functions:

https://github.com/abseil/abseil-cpp/blob/b312c3cb53a0aad75a85ac2bf57c4a614fbd48d4/absl/strings/escaping.cc#L943
https://github.com/abseil/abseil-cpp/blob/b312c3cb53a0aad75a85ac2bf57c4a614f

[2019-02-27 04:28] EricWF commented on #247
Confirmed this is fixed in upstream.

[2019-02-27 07:24] OlafvdSpek commented on #258
@JonathanDCohen Note the `#include` request as well. ;)

[2019-02-27 07:29] OlafvdSpek commented on #185
How is that relevant?
I think I'm missing a link somewhere..

[2019-02-27 20:01] #258 closed, assigned to manshreck

[2019-02-27 20:05] OlafvdSpek commented on #258
@manshreck What about the `#include`?

[2019-02-27 20:39] JonathanDCohen commented on #268
That's expected behavior.  Those tags are only functional for our own CI scripts, which are unfortunately internal only.  You do something like  `bazel test --build_tag_filters=-no_test_darwin_x86_64 blahblahblah`[(relevant documentation)](https://docs.bazel.build/versions/master/command-line-reference.html#flag--build_tag_filters) in order to skip all the tests which aren't supported on macos.

[2019-02-27 20:48] derekmauro commented on #268
Actually it's not the expected behavior. Everything we release is supposed to be portable. The library in question is an internal hack that wasn't supposed to be released. I'm removing all the `no_test_*` filters from our CI scripts. We only use those tags for internal tests.

[2019-02-27 20:51] JonathanDCohen commented on #165
Sorry for the long turnaround time.  We are working on adding the relevant documentation to abseil.io and it should be in fairly soon.

[2019-02-28 00:26] manshreck commented on #165
The doc is now published at https://abseil.io/about/design/charconv

The next code push should update the comments in charconv.h to point to that file.

[2019-02-28 00:29] manshreck commented on #236
Note that this is documentation within an implementation file, not in the API. Yes, it should be fixed. But it should not be depended on, in any case.

[2019-02-28 00:35] manshreck commented on #180
Some of our backports may be more drop-in that others. And we may add drop-ins dynamically, so I'd worry a list would get out of date. I would like to know *why* you need a list of drop-in replacements other than just curiosity :)

We do mention the philosophy behind this in https://abseil.io/about/design/dropin-types, and as Derek mentioned, we primarily rely on documentation within the header fi

[2019-02-28 09:00] unrstuart commented on #249
I commented out the breakage and haven't tried it out recently. It might be
several more weeks until I get to the point where I can try it again. Has
something changed in absl to address this?

On Tue, Feb 26, 2019 at 8:29 PM Jonathan Cohen <notifications@github.com>
wrote:

[2019-02-28 16:29] romange opened #269 "unaligned access with address sanitizer"
When calling `absl::Hash` with address sanitizer, I get:

`../abseil-cpp/absl/hash/internal/city.cc:44:10: runtime error: load of misaligned address 0x6210000100f9 for type 'const uint64_t', which requires 8 byte alignment`

`ABSL_INTERNAL_UNALIGNED_LOAD16` define has the following code:

[code]
which is plain wrong with standard c++ and modern compilers. gcc compilers with `-O3` can apply simd op

[2019-02-28 16:32] romange commented on #269
The correct way to solve it for c++17 or below is to use functions like
[code]
unconditionally. The compiler is usually smart enough to eliminate memcpy completely.

[2019-03-01 20:09] JonathanDCohen commented on #269
Thanks for the report.

Yeah, we're definitely cheating here.  You're right that these days we probably don't need this hack.  Let me run some internal benchmarks for this to make sure that unconditionally doing the memcpy won't be a serious regression.

[2019-03-01 20:34] romange commented on #269
Sure. Also please see https://godbolt.org/z/vRR_i5  which confirms memcpy elimination.

[2019-03-02 05:14] SuchismitaDhal commented on #265
Hello @JonathanDCohen,
I am new to open source and would like to contribute to the project by making minor fixes. I have gone through the codebase. Can you help me with how to begin with this issue?

[2019-03-03 22:34] sbenzaquen commented on #249
Yes.
This particular change should have fixed it:
https://github.com/abseil/abseil-cpp/commit/a4cb1c8ba61531a63f9d309eea01ac1d43d8371d#diff-2bbfb2d97aced4953dfd4b2f6d819c15

[2019-03-04 15:54] EricWF commented on #247
I mistakenly closed this bug when I meant to close #249.

Reopening.

[2019-03-04 15:56] EricWF commented on #249
I've confirmed the fix on godbolt. https://godbolt.org/z/Db82lY

Closing as FIXED.

[2019-03-04 15:56] #249 closed, assigned to nobody

[2019-03-04 16:49] #165 closed, assigned to manshreck

[2019-03-04 16:49] #268 closed, assigned to derekmauro

[2019-03-04 18:39] derekmauro commented on #265
@SuchismitaDhal This issue is about as straightforward as it gets. Find all the non-HTTPS links in the codebase. Check to see if the site supports HTTPS, and if it does, replace the HTTP link with an HTTPS link.

[2019-03-05 08:41] OlafvdSpek commented on #269
Perhaps Abseil could provide functions like read/write (algined) be/le/native 8/16/32/64/128. Others would benefit too.

[2019-03-05 14:29] OlafvdSpek commented on #258
@JonathanDCohen What about the `#include`?

[2019-03-06 04:57] fcharlie opened #271 "Clang-8.0 (C++ 17 standard) compile StrFormat failed"
When I build some program which depend with absl str_format use Clang-8.0 (C++ 17 standard ). The compiler report:

      constexpr.

**OS:**
[code]

**Linux Kernel:**

[code]

**Clang Is 8.0 RC3, Version Details:**
[code]

**Code:**

[code]

**cmake**
[code]

**Output:**

[code]

[2019-03-06 05:14] EricWF commented on #271
Thanks for the report. This appears to be a regression in the upcoming Clang release. We may have caught it in time to fix.

Here's a reproducer on godbolt: https://godbolt.org/z/k5RlV9

I'll do more investigation in the morning.

[2019-03-06 05:58] fcharlie commented on #271
Then this problem should be independent of Absl, GCC-8.0 Clang-7.0 C++17/C++14 did not find this error.

[2019-03-06 20:18] EricWF commented on #271
Here's the fully reduced bug: https://godbolt.org/z/ksAjmq
Here's the Clang fix: https://reviews.llvm.org/D59038

I'll close this once I know if the fix will make it into Clang 8.

[2019-03-07 00:49] girtsf opened #272 "absl::Span::first, absl::Span::last"
C++20 has `std::span::first` and `std::span::last`:
* https://en.cppreference.com/w/cpp/container/span/first
* https://en.cppreference.com/w/cpp/container/span/last

I've had couple cases already where those would have come in handy.

Would a PR that added those be welcome?

[2019-03-07 01:23] fcharlie commented on #271
@EricWF Thanks.

[2019-03-07 17:54] derekmauro commented on #272
Hi - Yes we would welcome such a PR.

[2019-03-08 15:28] #265 closed, assigned to nobody

[2019-03-08 20:05] #272 closed, assigned to nobody

[2019-03-08 22:43] sbenzaquen commented on #247
This should be fixed by https://github.com/abseil/abseil-cpp/commit/88a152ae747c3c42dc9167d46c590929b048d436#diff-c284d6f2ba08418ca6ecf7467069442b.
Please confirm.

[2019-03-10 21:54] greg7mdp commented on #223
Should absl::flat_hash_map really be slower for iteration though? I agree with the O(size) vs O(capacity) comment, but still iterating over a contiguous array even 43% to 87% full should be faster that following pointers (unless maybe the values inserted are very large).

[2019-03-10 22:10] bstaletic commented on #223
What kills performance is using (a pointer to) `absl::flat_hash_set` instead of `std::unordered_set` as the inner map's `Value`. This is the case with every implementation of hash tables I have found.

[2019-03-10 22:29] greg7mdp commented on #223
You are using (a pointer to) absl::flat_hash_set instead of  (a pointer to)  std::unordered_set, right? Otherwise it would not be a fair comparison.

[2019-03-10 22:37] bstaletic commented on #223
That's right. The objects are large, so you can fit more pointers to objects in the same space than you can fit objects themselves.

Apart from that, the objects themselves are stored in the `candidate_reporitory_` member object, which is a wrapper around `absl::flat_hash_map<std::string, std::unique_ptr< Candidate>>`.

[2019-03-10 22:48] greg7mdp commented on #223
OK, I still don't understand why iteration should be slower with absl::flat_hash_map, I would expect it to be faster indeed, unless the map grew to a large size, but then elements were removed and it is now mostly empty.

[2019-03-11 16:13] sbenzaquen commented on #223
It is not always slower, it just has different performance characteristics.
For tables with organic growth, most of the table will be full and `flat_hash_map` iteration will be just fine. But if capacity is much greater than size (for example, after many erases or a large `reserve()` call) then `flat_hash_map`'s iteration can be significantly slower.
Trivial example:

[code]
In this case the itera

[2019-03-11 17:33] greg7mdp commented on #223
thanks, @sbenzaquen this makes perfect sense.

There could be other solutions than having an extra per-node pointer, like for example a separate bitset marking occupied slots... could even use SSE instructions to look for the next busy slot. But granted iteration of a sparse table is not common enough to warrant the added complexity and cost.

[2019-03-11 17:47] sbenzaquen commented on #223
That is what we already do.
We have a "bitset" marking occupied slots. That is done with the high bits of the control bytes.
And we use SSE instructions to look for the next full slot.
See https://github.com/abseil/abseil-cpp/blob/88a152ae747c3c42dc9167d46c590929b048d436/absl/container/internal/raw_hash_set.h#L653
But this is O(capacity)

[2019-03-11 18:00] greg7mdp commented on #223
Oh yes, I had forgotten, I thought that the control byte was interleaved with the values (something like 16 bytes for every 16 values). Indeed, since they are all together, it less memory to go through to skip over many empty slots. Thanks!

[2019-03-11 18:58] sbenzaquen commented on #223
We have not measured the thresholds here, but we know about the pathological cases.
This is one reason why `.clear()` will release the memory if capacity is too large. We don't want to spend time iterating an empty container.

[2019-03-11 19:28] greg7mdp commented on #223
In the old google sparsehash (and in the dense_hash_map too), there was some code that checked (when inserting an item) whether to shrink the table:
[code]

[2019-03-12 23:47] libbooze opened #277 "MSVC lnk4221 with string_view.cc"
I do not have minimal self contained example so you will have to take my word for it.
string_view.cc has [#ifdef ](https://github.com/abseil/abseil-cpp/blob/256be563447a315f2a7993ec669460ba475fa86a/absl/strings/string_view.cc#L17)that basically deletes entire source file when std::string_view is available.
This triggers stupid VC++ linker to issue warning since file is empty.
There are workarounds

[2019-03-13 05:43] despair86 commented on #12
tell me about it. spent the last week and a half poring over the codebase, looks like a pretty tall order from what i can tell. Merely importing `absl::Mutex` makes too many assumptions specific to the Microsoft C++ environment.

Over here, C++11 synchronisation is implemented through a POSIX thread wrapper shim, for example, which breaks any and all assumptions that abseil makes about synchronisa

[2019-03-13 06:36] fcharlie commented on #271
Rebuild clang and use it. This issue has been fixed. Thanks @EricWF
[code]

[2019-03-13 06:36] #271 closed, assigned to EricWF

[2019-03-13 21:15] JonathanDCohen commented on #277
We used to do cmake magic like this for header-only libraries, but that's neither here nor there since string_view has a source file.  I would assume we need a solution for Bazel as well, you don't happen to be able to try that are you?

For the second request, check out absl/copts/copts.py.  It's the source of truth for our compile options and will show you all the warnings and such we're current

[2019-03-14 13:37] EricWF commented on #271
Thanks for confirming the fix.

I can confirm the fix will be a part of Clang 8.0 :-)

[2019-03-14 19:01] libbooze commented on #277
Thank you for the reply.

I do not have access to basel, but my guess it would be same since it related to linker, so any build with that warning enabled and C++17 language option set should trigger this.

As for the second request:
I think the core problem is that abseil does not work nicely as subdirectory that inherits compile options from "above", in other words I do not know of any CMAKE way

[2019-03-15 01:38] rongjiecomputer commented on #277
Bazel build does not have that linker warning because `-ignore:4221` is added in CROSSTOOL by default.

https://github.com/bazelbuild/bazel/blob/5da1098f9a5c1f7f29922bce093b66c33cccd74b/tools/cpp/cc_toolchain_config.bzl.tpl#L708

LNK4221 warning is quite useless IMO. Many open source projects use this technique to choose implementation inside source files without having to if-else source files in

[2019-03-15 22:23] libbooze commented on #277
@rongjiecomputer I do not know, my CMAKE skills are very modest, but if you want you can tell me that the patch would be and I can do it myself and see if it removes 4221(after I remove dummy function in string_view.cc).

Also do you want me to make an issue about deprecation warning MSVC gives(you can see the macro to disable it in screenshot) or not?
I am personally on a fence: it is irritating

[2019-03-19 11:30] zhaojunmin387162 opened #282 "how to write a format "char * systle string" function"
Now I would like to use abseil string-function to write a format char * systle string:
Any suggest:

void Example::AbortV(const char* char, const char* fmt, va_list ap) {
  std::string msg;
  ....
  abort(msg.c_str());
}

From //copy from absl/strings/internal/str_format/convert_test.cc

void StrAppend(std::string *dst, const char *format, va_list ap) {
  // First try with a small fixed size buffe

[2019-03-19 12:28] Mizux opened #283 "Abseil-cpp broken on MacOS since cctz update"
since commit: https://github.com/abseil/abseil-cpp/commit/256be563447a315f2a7993ec669460ba475fa86a
(related to https://github.com/google/cctz/issues/96)

You added this implicit dependency ;)
https://github.com/abseil/abseil-cpp/blob/7c7754fb3ed9ffb57d35fe8658f3ba4d73a31e72/absl/time/internal/cctz/src/time_zone_lookup.cc#L24-L26
note: seems to come from https://github.com/opensource-apple/CF (no C

[2019-03-19 13:57] derekmauro commented on #283
It looks like we got a PR for CMake https://github.com/abseil/abseil-cpp/pull/280 that I'm going to accept.

@shaindelschwartz - Can you look into whether the BUILD.bazel files need the same fix, and whether the fix belongs here or in google/cctz?

[2019-03-19 14:08] derekmauro commented on #282
The function that uses stdarg-style variadic arguments is intentionally not part of our API. I'm not sure what you are trying to do, but I recommend looking at https://abseil.io/docs/cpp/guides/format.

[2019-03-19 14:33] Mizux commented on #283
My problem is we will have a libabsl_time_zone.a depending on a shared library (libCoreFoundation.dylib ?).
So my native python package now depends on libCoreFoundation.dylib which means our python user using our provided pipy package must install it (by installing xcode ?)...

[2019-03-19 14:34] Mizux commented on #283
your fix should belonfg to cctz then abseil-cpp should bump to this version IMHO.

Note: you should also have CI to detect this issue in CCTZ and Abseil-cpp

[2019-03-19 14:45] derekmauro commented on #283
It's not so simple, Abseil imports CCTZ but may have seperate BUILD files for various reasons.

Are you saying the CCTZ change that introduced libCoreFoundation.dylib is problematic? If so we need to start that conversation with CCTZ now.

[2019-03-19 15:06] Mizux commented on #283
It may, but to check I would need:
* a fresh MacOS install without any xcode installed, as a user who just want to do some python dev **ONLY**.

Currently, I only have my gMac to build some release and Travis-CI but we use the cpp image with xcode installed since we start from C++ to generate the python package with SWIG.

I'll come back to this thread once I'll have further news...

[2019-03-19 15:42] devjgm commented on #283
I was just looking into this issue w/ cctz. We're happy to fix this in whatever way you see fit. I'm happy even to revert this commit from cctz until we can figure out the right solution.

[2019-03-19 16:41] Mizux commented on #283
FYI:
[code]
 So I guess CoreFoundation should be widely available...

[2019-03-19 19:24] #283 closed, assigned to shaindelschwartz

[2019-03-19 19:24] #38 closed, assigned to nobody

[2019-03-19 19:24] #80 closed, assigned to JonathanDCohen

[2019-03-20 09:25] lilianmoraru commented on #38
Finally. I can attempt now to push Abseil at work :)

[2019-03-25 17:24] JonathanDCohen commented on #277
I can write an internal patch for this, but Cmake skills aren't that relevant here.  To change abseil compile options, you need to edit absl/copts/copts.py.  We also will need to change AbseilConfigureCopts.cmake and configure_copts.bzl to except the new options, since we don't currently configure link options with this tooling.

[2019-03-26 03:50] fcharlie opened #287 "Absl Target/Headers is installed when Absl is introduced as a subdirectory"
One of the contents of commit [bf29470384a101b307873b26d358433138c857fc](https://github.com/abseil/abseil-cpp/commit/bf29470384a101b307873b26d358433138c857fc) is: Add install rules for Abseil CMake.

In this commit, the developer provides installation rules support for Absl and introduces the variable `ABSL_ENABLE_INSTALL`, but `ABSL_ENABLE_INSTALL` is used, which means that either Absl is built a

[2019-03-26 17:16] JonathanDCohen commented on #287
I think you mean ABSL_ENABLE_INSTALL *isn't* used

Thankfully this doesn't actually install Abseil, it just makes the install rule available, so we aren't doing anything wrong unless the user asks for it.  I've written an internal patch to fix, thank you for the report :)

[2019-03-27 12:35] bstaletic commented on #287
I'm not sure if I should report a separate issue, but I'm using Abseil with `add_subdirectory()` and as of the commit mentioned above I get the following warning:

[code]

Yet I don't want to "install" either abseil or my project. I just need it compiled.

[2019-03-27 16:58] #277 closed, assigned to JonathanDCohen

[2019-03-27 16:58] #287 closed, assigned to nobody

[2019-03-28 01:43] fcharlie commented on #287
@bstaletic This is the same problem.

@JonathanDCohen Currently Absl is compiled as a statically linked library, but when people run make install, libabsl_*.a will still be installed anyway.

see: [https://github.com/abseil/abseil-cpp/blob/5b65c4af5107176555b23a638e5947686410ac1f/CMake/AbseilHelpers.cmake#L158-L165](https://github.com/abseil/abseil-cpp/blob/5b65c4af5107176555b23a638e5947686410ac1f

[2019-03-28 15:37] Mrpisut commented on #269
Could

[2019-03-30 07:49] Mrpisut commented on #269
https://github.com/abseil/abseil-cpp/issues/269#issuecomment-477649109

[2019-03-30 15:18] greg7mdp opened #289 "Incorrect max_load_factor() in raw_hash_set"
This returns a constant 1.0.
`float max_load_factor() const { return 1.0f; }`
Shouldn't it be 0.875?

[2019-03-30 15:21] greg7mdp opened #290 "Useless checks in raw_hash_set_test.cc"
Why all these setting and checking the max_load_factor() in raw_hash_set_test.cc, when the set function is a no-op and the get function returns a constant?

[code]

and the implementation is:

[code]

[2019-04-01 03:29] robertnishihara opened #291 "Symbol not found: _CFTimeZoneCopyDefault for simple example on MacOS."
Hi! I'm running into the following issue with abseil on MacOS. Please let me know if you have suggestions for things to try.

### Environment

- MacOS 10.13.6
- **bazel version**
[code]
- `g++ --version`
[code]
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

### Code for Reproducing

I can reproduce this with the following three files.

The `hello_world.cc` file:
[code]
The `WORKSPACE`

[2019-04-01 03:47] robertnishihara commented on #291
This may be related to #283 because the example above is broken by commit 256be563447a315f2a7993ec669460ba475fa86a (it works on the prior commit).

[2019-04-01 13:43] derekmauro commented on #291
I don't recommend using master.zip to implement living at head. Bazel is going to cache some arbitrary commit and then not update. You also aren't going to know what commit you are using. Can you update to the latest version and let us know if this is still an issue?

[2019-04-01 13:45] derekmauro commented on #291
@shaindelschwartz - I think we need the same fix in Bazel that we used for CMake in #283.

[2019-04-01 19:09] sbenzaquen commented on #289
There are cases where `load_factor` is `1`.
In particular, if you do `absl::flat_hash_set<int>{0}` you get a table with one element and one slot, so the load factor there is `1`.

[2019-04-01 19:38] greg7mdp commented on #289
Seriously? that is seriously misleading. `max_load_factor()` is meant to be informative, and should not be obfuscated by corner cases.

The standard says: `Manages the maximum load factor (number of elements per bucket). The container automatically increases the number of buckets if the load factor exceeds this threshold.`.

With that understanding, max_load_factor() returning 1 would mean that th

[2019-04-01 19:52] sbenzaquen commented on #289
The standard says:

This is still true for us.
But in general load factor is not something we can mimic exactly. For example, we can't let the user provide a max load factor. The standard assumes a closed addressing implementation, which allows for max load factors greater than `1`. That doesn't work for open addressing.

[2019-04-01 19:59] greg7mdp commented on #289
Yes, but this is not what the container actually does. For the cases that matter (i.e. when the container has more than a couple elements), the flat_hash_set increases the number of buckets if the load factor exceeds 0.875, not 1.  Returning 1 because it happens to be true for sets with 1 or 3 elements is misleading. Note that the standard never says that the load factor is never allowed to exceed

[2019-04-01 20:29] sbenzaquen commented on #289
Which still satisfies the spec. It doesn't say that it has to do it exactly when you are about to go above max load factor. It says that load factor will never be above max load factor.
I guess you can argue that is following the letter of the rule, and not the spirit.

According to our experiments, that is not the case. Decreasing the max load factor actually caused the code to be slower, due to

[2019-04-01 20:36] greg7mdp commented on #289
where does it say that?

OK, that makes sense

[2019-04-02 19:14] JonathanDCohen commented on #116
https://github.com/abseil/abseil-hello/tree/master/cmake-hello

[2019-04-02 19:14] #116 closed, assigned to JonathanDCohen

[2019-04-02 19:14] #110 closed, assigned to JonathanDCohen

[2019-04-02 19:14] #111 closed, assigned to JonathanDCohen

[2019-04-02 19:15] JonathanDCohen commented on #111
This is finally live!  Thanks everyone for all the patience :)

[2019-04-02 19:16] JonathanDCohen commented on #115
I misunderstood when I wrote this issue.  There are hooks for ctest dashboard scripts, which we have no intention of writing at this time.

[2019-04-02 19:16] #115 closed, assigned to JonathanDCohen

[2019-04-02 20:50] JonathanDCohen commented on #291
This has to do with cctz not lining "-framework Foundation".  It wasn't fixed in Bazel before because it looked like the default CROSSTOOL defines this already, but taht may only be in certain versions of Bazel.  This change has to go through cctz, so I will open a corresponding pull request there.

A problem is that this doesn't reproduce, at least on my laptop which is running bazel 0.23 instead

[2019-04-02 20:57] robertnishihara commented on #291
@JonathanDCohen, if you have patches that might fix it, I can give them a try. I've also had trouble reproducing it on other people's laptops.

[2019-04-02 21:46] JonathanDCohen commented on #291
@robertnishihara please check my patch to cctz.

[2019-04-03 07:06] robertnishihara commented on #291
@JonathanDCohen I suspect I'm doing something wrong, I tried the following.

1. Clone **abseil** and switch the `WORKSPACE` file in my example above to use

[code]

    instead of `http_archive`. This compiles and reproduces the original error.

2. Apply your patch to `cctz/BUILD` to `abseil-cpp/absl/time/internal/cctz/BUILD.bazel`.
3. Attempt to recompile my minimal example. This step failed with

[2019-04-03 21:38] JonathanDCohen commented on #291
We unfortunately use our own fork of cctz internally so you would have to manually put that patch in (absl/time/cctz)

However https://github.com/google/cctz/pull/102 fixes the problem and has been merged, and there should be a new cctz release and subsequent abseil daily release soon.  So you should get the patch in reasonably soon once we do our next daily release.

[2019-04-04 09:30] Mizux commented on #224
I guess
https://github.com/abseil/abseil-cpp/blob/93dfcf74cb5fccae3da07897d8613ae6cab958a0/absl/copts/GENERATED_AbseilCopts.cmake#L206-L208
just break windows build :fireworks:
https://ci.appveyor.com/project/Mizux/cmake-abseil/builds/23528461/job/jrp21qm2jcemx1bf#L185
note: take a look at https://github.com/Mizux/cmake-abseil/tree/install to see how abseil-cpp could be tested against numerous lin

[2019-04-04 10:59] zhaojunmin387162 commented on #282
Hi derekmauro:
Thanks for your reply!
Now we use abseil in a product. The existing code have some stdarg-style variadic argument.

[2019-04-04 10:59] #282 closed, assigned to nobody

[2019-04-04 11:01] zhaojunmin387162 opened #292 "How to check a thread own a mutex?"
Now we are using absel Mutex in our project.  I need to check if a thread own the mutex.
How to implement the functions? any suggestion?

Thanks very much

[2019-04-04 11:26] Mizux opened #293 "[CMAKE] windows integration failure"
# Description
Since commit on
https://github.com/abseil/abseil-cpp/blob/93dfcf74cb5fccae3da07897d8613ae6cab958a0/absl/copts/GENERATED_AbseilCopts.cmake#L206-L208
it just break my windows test ingration build on appveyor
project src: https://github.com/Mizux/cmake-abseil/tree/install

[code]
src: https://ci.appveyor.com/project/Mizux/cmake-abseil/builds/23528461/job/jrp21qm2jcemx1bf#L185

Please no

[2019-04-04 13:27] derekmauro commented on #292
We don't provide a way to do this and I'm not aware of a good reason to need to do it. What are you really trying to do?

[2019-04-04 17:30] wesleygriffin commented on #293
I can confirm this. This appears to be related to #277

Here is an MWE: https://github.com/wesleygriffin/absl-msvc-link-flags

Basically, the /ignore:4221 gets added to the build.ninja file as a dependency which then causes ninja to fail:
[code]

[2019-04-04 17:32] wesleygriffin commented on #293
Here's a build.ninja snippet:
[code]

[2019-04-04 20:02] JonathanDCohen commented on #293
If we use "-ignore" instead of "/ignore" does it work?

[2019-04-04 20:31] JonathanDCohen commented on #291
Update:  We're having issues bring the change to cctz back into our internal code base, so I'm trying to find a workaround for it.  @robertnishihara have you been able to confirm the change made to cctz works?

[2019-04-04 20:59] Mizux commented on #293
@JonathanDCohen it may according to https://github.com/conan-io/conan/issues/861#issuecomment-277640034 not tested personally...

[2019-04-05 00:09] wesleygriffin commented on #293
Yes that does fix the issue.

I cloned abseil, edited absl/copts/GENERATED_AbseilCopts.cmake and then pointed the MWE linked above to use that directory instead of fetching from github.

The MWE compiles completely and the build.ninja has "-ignore:4221" in it.

Thanks,
Wes

[2019-04-05 13:52] fcharlie commented on #293
@JonathanDCohen  '-ignore' test OK. (Ninja OK, NMake OK)

[2019-04-05 14:19] amirhoseeinkish commented on #293
در تاریخ جمعه ۵ آوریل ۲۰۱۹،‏ ۴:۳۹ Wesley Griffin <notifications@github.com>
نوشت:

[2019-04-05 16:10] #293 closed, assigned to JonathanDCohen

[2019-04-05 16:12] JonathanDCohen commented on #293
The fix should have been merged.  Can everyone please verify?  Our internal windows presubmits are undergoing reworking and I didn't want to wait on them to fix us at HEAD

[2019-04-05 18:14] Mizux commented on #293
currently testing it through https://ci.appveyor.com/project/Mizux/cmake-abseil/builds/23633723/job/r3a67utj1y8weuvk

[2019-04-08 10:09] zhaojunmin387162 commented on #292
Hi derekmauro:
We need to check if the thread own the mutex to avoid the deadlock. if the thread have own the mutex, we won't will call some function.

Thanks!

[2019-04-08 13:48] derekmauro commented on #292
I understand that sometimes people think they need to do that, but that pattern is usually a sign of a problematic design, so I need more details to understand or give advice. Recall that the primary purpose of a mutex is to guard an invariant. If the flow of your program is written in such a way that at some point you don't know if the mutex is already held in the current thread, I'd question whe

[2019-04-08 17:08] shaindelschwartz commented on #290
This seems like a legacy thing from when load_factor could actually be set. We probably could remove them.

[2019-04-11 08:17] romange commented on #269
@JonathanDCohen how do we proceed?  Can I send the fix or you prefer fixing it on your side?

[2019-04-11 15:59] zhangxy988 commented on #269
@romange I will start working on fixing this on our side. I will try to consolidate all special stuff into only `memcpy`. However, for such a low level change, I need to make sure there isn't any negative impact on performance and doesn't break (unexpectedly) any other valid use cases.

[2019-04-11 16:07] EricWF commented on #269
I would not be surprised if the memcpy is faster. Unaligned loads are slow
and compilers are amazing at lowering memcpy.

On Thu., Apr. 11, 2019, 11:59 a.m. Xiaoyi Zhang, <notifications@github.com>
wrote:

[2019-04-11 18:59] #290 closed, assigned to shaindelschwartz

[2019-04-11 19:58] deryck1031 opened #295 "benchmark test not getting build with cmake"
benchmark test cases arent getting build for cmake.  They are only part of the bazel build.  For example: mutex_benchmark is in BUILD.bazel, but not in CMakeLists.txt.  Can we please add them to cmake?

[2019-04-12 13:55] derekmauro commented on #295
I don't think this is a request that we are going to prioritize at the moment for a couple reasons.

First, we use bazel for development so we already have a way to run these when we need to. We rarely run the benchmarks are part of our testing procedure anyway. We can usually judge when a change might have a performance impact and run it in those situations.

Second, while micro-benchmarks are us

[2019-04-13 08:09] OlafvdSpek opened #296 "Read / write int 8 / 16 / 32 / 64 / 128 functions"
In low-level code one sometimes has to read or write integers that may be unaligned, may be big endian, little endian or native. Could functions for this be provided? The non-native ones  are non-trivial.

IMO the language itself should provide these as intrinsics but until then..

A reinterpret_cast isn't sufficient: https://github.com/abseil/abseil-cpp/issues/269

[2019-04-13 14:59] EricWF commented on #296
What's wrong with memcpy?

[2019-04-13 15:19] OlafvdSpek commented on #296
Doesn't support big-endian (or little-endian) and has the wrong API.

The requested function should return the int.

[2019-04-15 00:25] derekmauro commented on #296
This has been on our TODO list for a while. Some of it can be found in https://github.com/abseil/abseil-cpp/blob/master/absl/base/internal/endian.h in an internal namespace. We'd like to do an API review and then officially release this.

[2019-04-15 08:27] OlafvdSpek commented on #296
I think `absl/base/internal/endian.h` is missing a lot of stuff, is the proposed API viewable somewhere already?

[2019-04-15 13:37] derekmauro commented on #296
`absl/base/internal/endian.h` only contains stuff needed by Abseil currently. Whatever we release will likely be more complete.

[2019-04-17 02:15] lucasjinreal opened #297 "logging and flags support"
abseil-py supports logging and flags, but why not support in cpp? Does it already supported? I can not found where to using it.

[2019-04-17 14:01] derekmauro commented on #297
Flags and logging are not supported yet, but both are actively being worked on.

[2019-04-17 14:41] zhangxy988 commented on #269
d902eb8 changed the implementation to use memcpy.

[2019-04-17 14:41] #269 closed, assigned to JonathanDCohen

[2019-04-18 01:56] lucasjinreal commented on #297
@derekmauro Thanks for your reply, I am happy hoping for that. So that we can integrate all useful tools into one single lib.

[2019-04-22 14:07] #292 closed, assigned to nobody

[2019-04-23 20:34] #291 closed, assigned to shaindelschwartz

[2019-04-29 16:47] taekahn opened #299 "TSsan error when using AwaitWithTimeout with multiple waiters"
# Summary
Creating two threads, both calling `AwaitWithTimeout` with a Condition, and then setting the condition to true produces a TSan error

Per https://github.com/abseil/abseil-cpp/issues/217 and the linked issue https://github.com/google/sanitizers/issues/953 I tried running with `report_atomic_races=0`, but still see the error.
## Code to reproduce
[code]
## Error produced (shortened)
[code]

[2019-05-05 14:52] derekmauro commented on #299
I didn't try your example, but I looked into building Abseil with TSAN correctly and here is what I've determined:

- Abseil+TSAN probably isn't going to work with GCC at all. `absl::Mutex` relies on https://github.com/abseil/abseil-cpp/blob/master/absl/base/internal/tsan_mutex_interface.h to tell TSAN about its internals, and according to my testing only Clang seems to have `<sanitizer/tsan_inter

[2019-05-06 11:01] miscco opened #300 "Usage of special member functions"
Generally it is considered best practise to not declare special member functions needlessly but rather default them, e.g. the trivial default constructor

[code]
would be better declared

[code]

The same applies for the other special member functions, Greg Falcon even mentions it in his talk at CppCon2018 [https://www.youtube.com/watch?v=6ZOygaUjzjQ]. Nevertheless these special member functions a

[2019-05-08 16:44] GregBowyer commented on #299
For what it is worth Gcc 8.3 & 9.1 for me does include the tsan interface file, so it might be worth making sure this doesnt get broken for newer versions of GCC?

[2019-05-09 10:24] cblichmann commented on #297
Flags are now released: https://abseil.io/blog/20190509-flags

[2019-05-09 12:22] lucasjinreal commented on #297
@cblichmann  What about logging? Any schedual?

[2019-05-09 14:51] cblichmann commented on #297
I'm not on the Abseil team, I just linked the blog post :)
@derekmauro, do you have some schedule you can share wrt logging?

[2019-05-09 14:59] tituswinters commented on #297
Schedules are *really* hard in this space, because we're not just
developing a logging API, we're taking the thing that's used internally
*everywhere*, cleaning it up (any changes are going to be a lot harder once
its externalized), moving it into our internal copy of Abseil, fixing all
internal references to point to that ... and doing that without breaking
the internal Google developers. Seems l

[2019-05-10 15:35] photex opened #304 "Flags parse does not appear to work as is documented"
Howdy!

Was excited to try out the flags library. But I'm met rather quickly with confusion:

[code]

I just cloned this repo and tried to build this example using MSVC (Cmake). But so far, no flags appear to get defined:

[code]

I've been reading the blog post and the guide but I don't understand what I've done incorrectly.

[2019-05-10 16:54] photex commented on #304
Just checked that it works on Linux but not on Windows.

[2019-05-12 18:45] Chucky122 opened #305 "Root my Samsung Galaxy SJ3"
Please 😭

[2019-05-12 18:45] Chucky122 opened #306 "Root my Samsung Galaxy sj3"
Please 😭

[2019-05-12 18:51] Chucky122 opened #307 "Charles Morin"

[2019-05-13 14:09] derekmauro commented on #304
I tested this on a Windows machine and it worked for me. Can you post a complete example, including your Cmake file? A link to a repo I can clone would be best.

[2019-05-14 08:32] photex commented on #304
Thanks for looking into it @derekmauro. I've created a repo that replicates the issue: https://github.com/photex/abseil-flags-broken-example

[2019-05-14 17:22] derekmauro commented on #304
Thanks, I've reproduced this issue.

The root cause is that [MSVC's implementation of `constexpr` is broken in Debug mode](https://developercommunity.visualstudio.com/content/problem/262083/compiler-emits-dynamic-initializer-for-variable-wi.html). If you test this in release mode, you will see that it works.

A patch is coming for this specific issue in the next release, but we are probably going

[2019-05-14 17:24] photex commented on #304
Cool, thanks for looking into it! Glad I could assist.

[2019-05-14 18:18] asoffer commented on #300
With `= default`, the constructor will not be `constexpr`.

[2019-05-14 18:40] miscco commented on #300
According to [cppreference ](https://en.cppreference.com/w/cpp/language/default_constructor) this is not the case since C++11. In fact, the current C++ standard draft reads in Chapter 15.1 [class.ctor] §7:

Similarly a implicitely defined default constructor also inherits the exception specification that follow from the class-members

[2019-05-14 19:30] #304 closed, assigned to derekmauro

[2019-05-15 05:14] rongjiecomputer commented on #114
I believe this is done with `absl_cc_{library,test}` now. Time to close this issue?

[2019-05-15 05:16] rongjiecomputer commented on #112
All CMake tests use `absl_cc_test` which does not add suffix to the name. Time to close this issue?

[2019-05-15 05:17] rongjiecomputer commented on #113
The number of global variables has been reduced to just a few that has `ABSL_` prefix, so this should not cause any trouble to CMake users. Time to close this issue?

[2019-05-15 14:23] #112 closed, assigned to JonathanDCohen

[2019-05-15 14:24] #113 closed, assigned to JonathanDCohen

[2019-05-15 14:24] #114 closed, assigned to JonathanDCohen

[2019-05-15 19:54] DarkDimius opened #308 "Fails compilation with emscripten if host platfrom is Mac"
In ca3f87560a0eef716195cadf66dc6b938a579ec6 the following lines were added
https://github.com/abseil/abseil-cpp/blob/master/absl/time/internal/cctz/BUILD.bazel#L80-L82

This causes emscripten builds that execute on Mac as host platform to fail with
[code]
This makes sense, as emscripten does not have OSX Foundation libraries.

To the best of my knowledge CROSSTOOL in bazel, while allowing to chang

[2019-05-15 20:04] DarkDimius commented on #308
Defining `cc_target_os` in the CROSSTOOL doesn't fix the issue.

[2019-05-16 01:14] sergeysablin opened #310 "badly constructed ABSL_ADDRESS_SANITIZER_REDZONE macro"
Hi guys, this macro requires semicolon after itself, and code path without sanitization has empty definition, which in the next code translates to compilation warning and with -Werror + -Wextra-semi throws an error:

[code]

[2019-05-17 13:24] murillo128 opened #312 "variant fails to compile under msvc 17"
Followed the instructions here https://github.com/abseil/abseil-cpp/blob/master/CMake/README.md to create a MSVC project files.

When I try to compile the variant tests on MSVC 17 (15.6.3) - Windows 10 it fails. Here is the full build log:

https://gist.github.com/murillo128/601ecefd29c3f70cea625c6f35d5f30b

[2019-05-17 19:04] murillo128 commented on #312
updated msvc to 15.9.12 and it compiles correctly, so closing the issue.

[2019-05-17 19:04] #312 closed, assigned to nobody

[2019-05-20 19:28] stryku opened #314 "Typo in adding the leak_check_test test"
Well, I'm not sure whether that's a real issue. I saw this while implementing cmakesl scripts for this repo.

While adding the `leak_check_test` test ([here](https://github.com/abseil/abseil-cpp/blob/master/absl/debugging/CMakeLists.txt#L238)) `ABSL_DEFAULT_COPTS` is passed. Shouldn't it be `ABSL_TEST_COPTS`, like in other tests?

[2019-05-20 22:36] philsc commented on #122
Any thoughts from the Abseil team on this?

tensorflow appears to pull this in. That means it clashes with gperftools which also provides the same symbols.

[2019-05-21 06:16] romange opened #315 "passing empty string_view to StrCat results in run-time error with ubsan enabled"
The failure is here (str_cat.cc:92):
[code]
apparently we can not pass null with zero size to memcpy and friends - it's UB.
memcpy's declaration:
`extern void *memcpy (void *__restrict __dest, const void *__restrict __src,
		     size_t __n) __THROW __nonnull ((1, 2));`

See here for more info:
https://www.imperialviolet.org/2016/06/26/nonnull.html

[2019-05-21 20:37] miscco opened #317 "Internal Compiler error MSVC 16.1.0"
Using Visual Studio 2019 Professional 16.1.0 I get an internal compiler error in the following test

[code]

More specifically the offending line is:
[code]

The link I got from Visual Studio wanted to sell me some support plan so I am kind of unwilling to spend much more time registering it with them.

[2019-05-22 20:59] skgbanga opened #318 "absl is leaking symbols into global namespace"
Consider the following code:

[code]

This code compiles, and produces `1` as the output due to `abs` in C not having a double overload: https://en.cppreference.com/w/c/numeric/math/abs

However, consider the following code now:

[code]

The only difference is addition of include line. This code produces the output as `1.5` because it finds C++ `std::abs` now.  https://en.cppreference.com/w/cpp/nu

[2019-05-23 00:00] EricWF commented on #318
C++ does have a `::abs(double)` overload. C++ STL adds additional overloads for math functions at the global scope as well as in namespace `std`. In your case, which appears to use libstdc++, the `::abs(double)` overload is defined in `<stdlib.h>`.

The C++ standard library is also allowed to include `<stdlib.h>` from `<cmath>` or any other header it chooses. Meaning the original code is allowed t

[2019-05-23 03:03] #315 closed, assigned to nobody

[2019-05-23 03:06] #318 closed, assigned to nobody

[2019-05-23 13:03] skgbanga commented on #318
Thanks @EricWF for the answer!  like you said, this can be easily reproduced with `stdlib.h` only.

[code]

[2019-05-23 14:01] derekmauro commented on #122
@MirkoBonadei is working on renaming the symbols in thread_annotations.h, I don't know if he is also planning on working on renaming the symbols in dynamic_annotations.h. I wouldn't count on an immediate fix in any case.

The symbols in gperftools don't appear to be part of the public API of gperftools (they are part of Abseil's public API). In that case renaming them in gperftools might be an eas

[2019-05-24 04:09] EricWF commented on #317
Could you please post the full output produced by the compiler (ideally the verbose output).

[2019-05-24 04:11] EricWF commented on #314
Did you just notice the inconsistency or did it cause a problem?

I suspect you're right about it being an oversight.

[2019-05-24 04:27] EricWF commented on #176
Why is this a bug? Variables with external linkage are going to be exported.

Was there some TLS of function-local static that was particularly surprising or troublesome?

[2019-05-24 06:44] EricWF commented on #181
SIGBUS suggests the compiler is generating an aligned access for unaligned memory. Why do you think Abseil is at fault here?

[2019-05-24 06:48] nunojpg commented on #181
I don't understand what you mean. You believe it's a compiler bug or that my code is illegal?

[2019-05-24 07:07] EricWF commented on #181
The data is misaligned. The error is caused by having misaligned data. The compiler misaligned the data for you. I'm not looking to assign blame.

I don't understand how the bug could be in Abseil.
Without a complete reproducer I can't debug this any further.

[2019-05-24 07:11] nunojpg commented on #181
I will look for it, for now I close the issue. Thanks,

[2019-05-24 07:11] #181 closed, assigned to mattcalabrese-google

[2019-05-24 18:39] miscco commented on #317
Dear @EricWF sorry for the terse issue. I went to bed and didnt find time until now. So the First thing to note is that I build in `Debug-x64`.

Before I came to the test I had to add `/bigobj` to `/absl/container/CMakeLists.txt` and `absl/hash/CMakeLists.txt` for the tests `flat_hash_map_test.cc` and `hash_test.cc`. I dont know whether this is with respect to Debug mode or not but yeah.

The actu

[2019-05-24 20:24] stryku commented on #314
No problems, I just noticed it.

[2019-05-24 20:34] JonathanDCohen commented on #176
I don't remember at all why this was an issue.  I think it might date back to the time when cctz wasn't yet a subproject of abseil?

[2019-05-25 01:21] philsc commented on #122
Thanks @derekmauro. I renamed the gperftools symbols and it appears to work fine now.

[2019-05-29 06:18] EricWF commented on #157
I think Abseil's documentation here is wrong. `ExternalProject_add` seems like the correct way to include `abseil` despite what the documentation say.s

[2019-05-29 15:19] JonathanDCohen commented on #157
As a historical note, the reason we avoided recommending ExternalProject_Add officially was that there was a lot of push back against requiring downloading abseil at build time.  If you're using ExternalProject_Add and you have at least CMake 3.11, it may be worthwhile to consider using [FetchContent](https://cmake.org/cmake/help/v3.14/module/FetchContent.html?highlight=externalproject) instead

[2019-05-29 17:17] ojura commented on #157
@JonathanDCohen and if you are using `add_subdirectory()` to build Abseil after fetching it with FetchContent, you can still run into this. #160 is a proposed mitigation

[2019-05-31 09:33] bstaletic commented on #235
For the record, it's May 2019. Python 3.4 reached end of life as well as Ubuntu 14.04. The only way for someone to hit this problem is if that someone installs 3.5.0 explicitly.

[2019-06-07 19:47] zhangxy988 commented on #300
Note that the proposed change does change traits behavior, e.g. https://gcc.godbolt.org/z/ek-8XZ.
I am not sure why the constructors were written in the form `constexpr T() {}` instead of `T() = default`. For that we need to check with the original author.
Do you have a specific concern on this other than "it looks better"?

[2019-06-07 20:25] miscco commented on #300
Yes the implicitely defaulted constructor indeed may change the type traits of the class. However please note that they are strictly more correct.

In you example there is no reason why `Bar ` should not be trivially constructible. Even worse the fourth assert is an actual bug. `Bar<NoDefaultCtor>` should *not* be marked as default constructible

[2019-06-09 12:44] ojura opened #322 "Intel Compiler 2019 crash and build problems"
I have stumbled upon a bug with the Intel compiler, edition 2019 (Windows) and Abseil. The compiler fails with the following when attempting to instantiate a `flat_hash_map` or a `flat_hash_set`:

`assertion failed at: "shared/cfe/edgcpfe/lower_init.c", line 7013

This is

There are also static asserts failures related to `std::is_trivially_assignable`/`copyable`. Would appreciate a bringup (espec

[2019-06-09 14:10] ojura commented on #322
Here is a snippet of the failed static assert:
`...build_intel\_deps\abseil-src\absl/meta/type_traits.h(441): error : static assertion failed with "Not compliant with std::is_trivially_copy_assignable; Standard: true, Implementation: false"
34>    static_assert(compliant || !std::is_trivially_copy_assignable<T>::value,
34>    ^
34>          detected during:
34>            instantiation of class "a

[2019-06-10 17:03] derekmauro commented on #322
https://abseil.io/docs/cpp/platforms/platforms

We don't support the Intel compiler. Sorry about this.

[2019-06-10 17:03] #322 closed, assigned to nobody

[2019-06-10 17:16] brenoguim commented on #300
Having correct traits behavior is kind of important. Several containers optimize based on traits. Not sure its relevant in this case, but in general it's kind of important.

[2019-06-12 05:23] miscco opened #325 "Missing exception specification"
The move assignment operator of InlinedVector is missing an exception specification. As far as I know move operator/assignment are one of the places where it actually matters

https://github.com/abseil/abseil-cpp/blob/b1dd425423380126f6441ce4fbb6f8f6c75b793a/absl/container/inlined_vector.h#L495

Generally the exception specification should be equivalent to that of the move constructor, e.g
[code]

[2019-06-12 21:35] goaway opened #326 "Foundation framework link option leaking into Android builds"
We have a project that builds a native library for Android that depends on Abseil. With this change:
https://github.com/abseil/abseil-cpp/commit/ca3f87560a0eef716195cadf66dc6b938a579ec6#diff-020a0864e5179d94daa487a30519b6acR79
our builds broke when performed on MacOS with the following error:
[code]
We suspect we may somehow be specifying crosstool options or the target platform incorrectly, but w

[2019-06-13 14:24] CJ-Johnson commented on #325
Thanks for assigning @derekmauro

@miscco Thanks for bringing this up! I agree that the state of the noexcept specifiers is not where it should be in InlinedVector. Auditing them and fixing them is on my TODO list.

Specifically for the move constructor, I believe you are correct. I noticed it recently as well and thought that it should be `&&` instead of `||` but I just hadn't gotten around to re

[2019-06-13 21:54] lafh opened #327 "Fail to build absl on Debian with bazel 0.26.1"
On a fresh Debian VM, I failed to build asbl following the instructions on https://abseil.io/docs/cpp/quickstart#getting-the-abseil-code

command:
[code]
stdout:
[code]

[2019-06-14 15:38] derekmauro commented on #327
This looks like a bug in the version of gcc that you are using and the offending line of code is in a different project
https://github.com/google/benchmark/blob/f92903cc5338daed898242f22015d8426c065770/include/benchmark/benchmark.h#L314

This bug only affects compiling our benchmarks and shouldn't prevent you from using Abseil as a library.

[2019-06-14 15:38] #327 closed, assigned to nobody

[2019-06-15 02:20] libaineu2004 opened #328 "I recommend adding a Future/Promise C++ library"
I recommend adding a Future/Promise C++ library, similar to the scala programming language for future and promise implementations.

Future/Promise
There are already a lot of implementations of Future mechanism in C++:
std::future - no API at all, except very basic operations like retrieve value and wait for it. There is a Concurrency TS with .then, but it is still not in the standard.
boost::futur

[2019-06-15 07:27] yaojingguo opened #329 "ctest failed when doing "C++ Quickstart With CMake""
I performed the steps as specified https://abseil.io/docs/cpp/quickstart-cmake. But when I executed `ctest`, there was the following error:

[code]
Here is my environment:
[code]

[2019-06-15 12:45] tituswinters commented on #328
Future *in particular* is a fraught thing to design in C++, for two big
reasons:
1. C++ is the language about minimal overhead. That often leaves less room
for early mistakes in api design.
2. The question of "how do we represent execution (on a
thread/cpu/gpu/etc)" is an open question and a moving target.

Some of Eric Niebler / Kirk Shoop's work at FB (probably starting with
http://wg21.link/p10

[2019-06-16 11:47] libaineu2004 commented on #328
ok

[2019-06-17 15:47] Wartortle commented on #34
Adding more to this.  There's no direct requirement I can see other than the declaration of timeval and pulling in Winsock2.h (or Windows.h) into this drags in a whole heap of other nastiness like min/max macros and heaven knows what else.

Whilst it's not considered a valid change, perhaps something like this instead that allows some degree of coexistence within a code base that needs to control

[2019-06-18 00:00] rongjiecomputer commented on #34
That fix will prevent user from including `winsock2.h` *after* including Abseil's header files. This will probably break some existing code.

[2019-06-18 03:08] dandrino opened #332 "CMake/README.md should suggest using CMAKE_CXX_STANDARD instead of CMAKE_CXX_FLAGS to set the C++ version"
In `CMake/README.md`, there is this line in the sample `CMakeLists.txt` file:

[code]

The implication here is that if I want to compile with c++17, all I need to do is replace `-std=c++11` with `-std=c++17`. This will successfully compile your binary w/ c++17 (`source.cpp` in the example), but it will still compile `abseil-cpp` with c++11 (or whatever cmake defaults to). The end result is that `a

[2019-06-18 03:36] goaway commented on #326
Based on discussion we've had with @jin and other helpful Bazel experts, it sounds like this is an issue with the current native Android build rules not supporting platform toolchains correctly. We're working around this locally by patching out the Foundation dependency in Abseil, since we currently don't rely on cctz.

[2019-06-18 22:52] Wartortle commented on #34
Yeah, well, including Winsock2.h breaks a number of things for our code and the solution from here on in can be addressed entirely in client code by including Windows or Winsock _before_ Abseil so IMHO that's a better compromise.

Admittedly, it's rubbish either way but them's the cards we've got, I suppose.

[2019-06-19 00:57] EricWF commented on #34
There are changes upcoming that remove the winsock2.h includes. This will require users on Windows to include the header themselves if they want to use parts of absl/time/time.h, but it will prevent the inclusion of windows.h by default.

[2019-06-19 03:48] benjaminp opened #333 "cord"
absl::Cord is occasionally useful, particularly with protobuf. Are there any plans to open source it?

[2019-06-19 09:02] Wartortle commented on #34
Excellent, thanks @EricWF !

[2019-06-19 10:43] tituswinters commented on #333
Yes.

On Tue, Jun 18, 2019 at 11:48 PM Benjamin Peterson <notifications@github.com>
wrote:

[2019-06-19 12:49] oferim opened #334 "Error in reset_ctrl ?"
https://github.com/abseil/abseil-cpp/blob/43ef2148c0936ebf7cb4be6b19927a9d9d145b8f/absl/container/internal/raw_hash_set.h#L1717

The length of ctrl_ is capacity + width + 1, and your comment says set it all to empty, except the last element, to sentinel.
You are setting it all to empty, except the last element,  but instead of setting the last element to sentinel, you are ignoring width.
So:
ctrl_

[2019-06-19 17:47] fowles commented on #334
The sentinel doesn't go on the last element of the metadata array, it goes on the last capacity_ element.  The reason is that we replicate the early bytes past the end two allow for circular scans to work out.

https://github.com/abseil/abseil-cpp/blob/43ef2148c0936ebf7cb4be6b19927a9d9d145b8f/absl/container/internal/raw_hash_set.h#L1738

is the code that will replicate the early ctrl_ with the one

[2019-06-19 19:05] oferim commented on #334
In that case, isn't the last (ctrl_t) byte of the controls left uninitialized?
Here     https://github.com/abseil/abseil-cpp/blob/43ef2148c0936ebf7cb4be6b19927a9d9d145b8f/absl/container/internal/raw_hash_set.h#L557 you allocate capacity + width + 1.
But here: https://github.com/abseil/abseil-cpp/blob/43ef2148c0936ebf7cb4be6b19927a9d9d145b8f/absl/container/internal/raw_hash_set.h#L1718
you initiali

[2019-06-19 19:12] fowles commented on #334
Interesting, I am going to have to think on this one for a bit.  My tentative read is "maybe" but I am shocked we would not have found this in our tests with sanitizers...

[2019-06-19 20:00] #328 closed, assigned to nobody

[2019-06-19 20:00] #333 closed, assigned to nobody

[2019-06-24 03:55] DarkDimius opened #337 "UBSan violation in InlineVector when NDEBUG isn't defined"
[code]

leads to
[code]

More specifically,
https://github.com/abseil/abseil-cpp/blob/e9324d926a9189e222741fce6e676f0944661a72/absl/container/internal/inlined_vector.h#L47
gets called with
[code]

leading to call to memset with `nullptr` as starting address in

https://github.com/abseil/abseil-cpp/blob/e9324d926a9189e222741fce6e676f0944661a72/absl/container/internal/inlined_vector.h#L61

[2019-06-24 03:57] DarkDimius commented on #228
this is clang published by http://releases.llvm.org/

[2019-06-24 03:57] DarkDimius commented on #228
@JonathanDCohen , feel free to reopen, I've defined that constant in our build and this fixed the problem for us.

[2019-06-24 04:06] DarkDimius commented on #326
Note that this is very similar to #308 that also affected us on webasm, we had to build a workaround into our toolchain https://github.com/sorbet/sorbet/pull/516

[2019-06-24 14:26] rongjiecomputer commented on #34
@EricWF Your change at https://github.com/abseil/abseil-cpp/blob/master/absl/time/time.h#L68 is brilliant! I don't need to include `winsock2.h` as long as I don't use `timeval` related Abseil functions (a), and when I need it, including `winsock2.h` before or after `absl/time/time.h` are both OK.

Why forward declaration is enough to compile in (a) when `timeval` is used as return type and paramet

[2019-06-24 18:01] EricWF commented on #34
I was a bit concerned using a forward declaration as well. I thought the incomplete type might break overload resolution whenever it participated, but that's not the case.

The compiler doesn't care about the completeness of the return type until you attempt to actually use the function.

It's similar for the parameter type when passed by value. The compiler will effectively ignore the overload ta

[2019-06-24 18:03] #34 closed, assigned to EricWF, zhangxy988

[2019-06-24 20:00] CJ-Johnson commented on #337
Thank you so much for the bug report!

I just made a change to address this and you should see it upstreamed to public Abseil shortly.

[2019-06-24 20:00] #337 closed, assigned to nobody

[2019-06-25 02:42] EricWF commented on #228
I'm working on this. It should be fixed and on github by the end of the week.

[2019-06-25 04:07] tolikzinovyev opened #339 "Determinism in hash tables"
Hello. I really like absl hash tables but non-determinism in the iteration order is not desirable for my purpose: simulations. Would you accept a patch that disables non-determinism with a compiler flag? I can imagine, it will also be useful for debugging a program.

[2019-06-26 06:24] Bak-Jin-Hyeong opened #343 "Conflicted definitions of ABSL_ATTRIBUTE_ALWAYS_INLINE"
In MSVC,
The `ABSL_ATTRIBUTE_ALWAYS_INLINE` defined in the `absl/base/attributes.h` file is different from that defined in the `absl/random/internal.h`

When `absl/random/internal/randen.cc` is compiled, the definition of `absl/base/attributes.h` is used since the include directive of `absl/base/internal/raw_logging.h`

Is this intended?
I found this at https://github.com/abseil/abseil-cpp/commit/

[2019-06-26 15:26] derekmauro commented on #339
This isn't something we'd accept.

Part of Abseil's philosophy is engineering at scale. In addition to making it harder to execute a hash flooding attack, another reason we randomize iteration order is that is makes it easier for use to change the underlying implementation if we need to. When we wanted to change our hash function (for example), we found thousands of unit tests that depended on ite

[2019-06-26 16:26] derekmauro commented on #343
It looks like an error to me. I think what happened was that someone realized that the definition in `absl/base/attributes.h` is hard to change because MSVC is pickier about the placement of `__forceinline` than GCC/LLVM are about their equivalent attribute. It would have required fixing many users of `ABSL_ATTRIBUTE_ALWAYS_INLINE`. As a workaround we can rename the copy of the macro in the `rando

[2019-06-26 18:14] tolikzinovyev commented on #339
Makes sense, thank you. I have another proposal then.
We could make a boolean constant in a separate file that when flipped would disable non-determinism. So, when a user needs to debug their program, they would still need to change the absl code but only one line.

[2019-06-26 19:57] jmarantz opened #344 "API request: an equivalent of boost::intrusive_ptr supported in absl"
I have a data structure with a high cardinality. and I want to be able to keep it weakly in a set, returning ref-counted pointers to it to callers. When all the callers drop their refs, I need to remove it from the set. I can easily accomplish this with std::shared_ptr and std::weak_ptr, or using std::enable_shared_from_this. However those options consume excess memory.

https://www.boost.org/doc/

[2019-06-27 13:48] derekmauro commented on #339
I think that is a better suggestion, but there are costs to keeping superfluous code around, so we generally don't do it.

[2019-06-27 16:34] tolikzinovyev commented on #339
I understand.

[2019-06-27 16:34] #339 closed, assigned to nobody

[2019-06-27 18:02] CJ-Johnson commented on #325
@miscco Upon closer inspection, I believe the existing specifiers are correct. Check the code comments above them.

As for move-assignment, it isn't important to mark noexcept.

Thanks for the report and happy Abseiling 😄

[2019-06-27 18:02] #325 closed, assigned to CJ-Johnson

[2019-06-28 03:25] tangjie77wd opened #345 "class absl::string_view {aka class absl::string_view}’ has no member named ‘ToString’"
Here is my few code:

`
tensorflow::StringPiece data;

  TF_RETURN_IF_ERROR(file->Read(0, file_size, &data, &(contents)[0]));

  if (data.size() != file_size) {

    return tensorflow::errors::DataLoss("Truncated read of '", filename,

                                        "' expected ", file_size, " got ",

                                        data.size());

  }

  output->scalar<string>()()

[2019-06-28 13:25] derekmauro commented on #345
https://github.com/abseil/abseil-cpp/blob/72e09a54d993b192db32be14c65adf7e9bd08c31/absl/strings/string_view.h#L336-L341

This means that the following code can convert from `absl::string_view` to `std::string`:
[code]

[2019-06-28 13:25] #345 closed, assigned to nobody

[2019-06-28 13:51] derekmauro commented on #344
I will sum up my response to the internal request here.

We think this is a reasonable request, and internally we have a couple candidate APIs that implement intrusive reference counting. However, we think we need to do some design work and a full API review to come up with an API that we are happy releasing, since we don't think any of the candidates we have are ideal. Then we need to do the clea

[2019-06-28 14:02] derekmauro commented on #332
Agreed. I will make this change.

[2019-06-28 16:08] shaindelschwartz commented on #343
The latest push should address this.

[2019-06-28 16:08] #343 closed, assigned to asoffer

[2019-06-29 01:46] tangjie77wd commented on #345
Yes，I have solved this issue yesterday by replacing 'tensorflow::StringPiece data;  ... output->scalar<string>()() = data.ToString(); ' with 'tensorflow::StringPiece data;  ... output->scalar<string>()() = string(data); ' .

[2019-07-02 22:10] #332 closed, assigned to derekmauro

[2019-07-05 02:08] DenisYaroshevskiy opened #346 "Performance of flat_hash_set copy constructor"
Hi!

I have been running some measurements for flat_hash_set and I stumbled on the fact that coping takes some unreasonable time.
[code]

Looking through the code, found that you rehash on copy.
https://github.com/abseil/abseil-cpp/blob/74d91756c11bc22f9b0108b94da9326f7f9e376f/absl/container/internal/raw_hash_set.h#L817
Is this intended behaviour?
If it is - can it be commented out explicitly mayb

[2019-07-07 03:30] derekmauro commented on #346
Yes, this behavior is intentional.

Not only do we randomize `absl::Hash` per-process, but each table object adds its own entropy hash function. There are various reasons to do this, for example, it is an anti-[Hyrum's Law](http://www.hyrumslaw.com/) technique, and it helps expose latent bugs caused by assuming iteration order. (I recently gave a similar answer to #339.)

From the above, it follow

[2019-07-09 17:30] oferim commented on #334
From looking here: https://github.com/abseil/abseil-cpp/blob/43ef2148c0936ebf7cb4be6b19927a9d9d145b8f/absl/container/internal/raw_hash_set.h#L467
we can see that you do use capacity + kWidth + 1 bytes for the controls. Still unclear why you do not initialize the last byte.

[2019-07-10 11:22] DenisYaroshevskiy commented on #346
I see - as long as this is intentional.
It's in a conflict (for my money) with principle of providing effective basis (every operation should be doable in the most efficient way from the public interface - and it is possible to copy faster.

Do you think that if there was a standard container, similar to flat_has_set, it would be good for it to rehash on copy too?

[2019-07-10 13:59] derekmauro commented on #346
`absl::flat_hash_set` is not a Standard container, nor is it a drop in replacement for one. It has very different design priorities than a Standard container. Standard containers have a don't pay for what you don't use philosophy, so it is hard to imagine they would choose this design. `absl::flat_hash_set` is designed for compatibility over time in a large codebase, while being fast in what our e

[2019-07-10 13:59] #346 closed, assigned to nobody

[2019-07-19 18:46] yzhao1012 opened #349 "Can absl::StrJoin() be augmented to accept a container without second argument to concatenate all items?"
It's basically a default argument for absl::StrJoin() to make the below works:
std::vector<std::string> strs = {...};
std::string text = absl::StrJoin(strs);
// Now I have to write std::string text = absl::StrJoin(strs, "");
// Which seems annoying.

[2019-07-19 20:21] derekmauro commented on #349
It might work on the overload that takes a range as the only other parameter, but I suspect it would break the overload resolution if we tried to add overloads of some of the other `absl::StrJoin` variants. From a quick search I did, it also actually seems pretty rare to use the empty string as the separator. I've never heard anyone else complain that the extra parameter is annoying either. For th

[2019-07-19 20:21] #349 closed, assigned to nobody

[2019-07-22 09:30] rockspring opened #350 "centos6 g++4.9.2 cmake 3.15 failed"
[code]

tools installed
[code]

[2019-07-22 10:59] derekmauro commented on #350
This doesn't appear to have anything to do with Abseil, but you haven't provided the steps to reproduce your problem.

[2019-07-22 11:32] rockspring commented on #350
ENV：centos6 cmake3 gcc4.9.2

Just execute the follow command。Thank you for help！

[code]

[2019-07-22 22:39] derekmauro commented on #350
What I mean when I say you didn't include the steps to reproduce the problem is that CentOS 6 does not come with gcc-4.9.2 or cmake3 according to distrowatch. You didn't give any information to explain how you installed them on CentOS 6.

Since I don't have a CentOS 6 machine, I don't think we can help you with this problem.

The part that says
[code]
suggests something is wrong with your system c

[2019-07-22 22:39] #350 closed, assigned to nobody

[2019-07-26 14:39] wrowe opened #352 "Windows MSVC compilation error of constexpr absl::string_view asv{"literal"}"
We are encountering issues compiling building envoy with the following output;
[code]
The offending line is simply;
[code]

Our initial ticket was filed on the Envoy project;
https://github.com/envoyproxy/envoy/issues/7357

The environment consists of Visual Studio 2017, at MSBuild rev 15.9, using the ucrt rev 10.0.17134.0 compiling with MSVC cl.exe rev 19.16.27031.1 in debug mode, using the abesi

[2019-07-27 11:27] kosuke55 opened #353 "question about http_archive"
Hi, I am troubled not knowing how to use http_archive.
How can I get urls, strip_prefix, sha256 ?
[code]

[2019-07-27 23:57] mark65536 opened #354 "std::ios::hex not always an enumerated type of fmtflags"
When compiling abseil for VxWorks 7, I run into a compilation error about `std::ios::hex` (and `::oct`) not being enumerated types.

The line in question is here: https://github.com/abseil/abseil-cpp/blob/36d37ab992038f52276ca66b9da80c1cf0f57dc2/absl/numeric/int128.cc#L184

While this works on most platforms, it relies on implementation details, specifically that the underlying type for `fmtflags`

[2019-07-28 04:09] EricWF commented on #354
Before continuing I must point out Abseil does not support your compiler or standard library. Wa cannot ensure compatibility. That said, I'm happy to fix conformance issues in abseil. And indeed switching on `std::ios::hex` may be one.

On one hand the standard allows `std::ios:fmtflags` to be a instance of `std::bitset`. And you can't switch on `std::bitset`.

* http://eel.is/c++draft/bitmask.typ

[2019-07-28 04:09] #354 closed, assigned to nobody

[2019-07-29 18:40] derekmauro commented on #353
The Bazel documentation is here: https://docs.bazel.build/versions/master/repo/http.html#http_archive

If you still have questions, please ask on a Bazel-specific forum.

[2019-07-29 18:40] #353 closed, assigned to nobody

[2019-07-29 20:25] derekmauro commented on #352
I *think* it should be possible to fix this on our side for MSVC 2017 or higher by implementing our own constexpr `strlen()` that the `string_view` constructor can use.

[2019-07-30 14:27] achasveachas commented on #352
Awesome! We'll be looking out for it!

[2019-07-30 18:50] adamlsd opened #355 "Abseil's `node_hash_set` must throw when `at` doesn't find a key."
https://github.com/abseil/abseil-cpp/blob/master/absl/container/internal/raw_hash_map.h#L136-L148

These implementations of `at` will call `std::abort` instead of throwing `std::out_of_range`.

[2019-07-30 18:51] adamlsd commented on #355
Stable code link:

https://github.com/abseil/abseil-cpp/blob/36d37ab992038f52276ca66b9da80c1cf0f57dc2/absl/container/internal/raw_hash_map.h#L136-L148

[2019-07-31 04:24] HenryRLee opened #356 "Compilation failed using CMake and C++17 standard"
This is what I did after pulling the latest code
[code]

And the error log is:
[code]

My g++ version is:
[code]

[2019-07-31 20:49] #352 closed, assigned to derekmauro

[2019-07-31 20:49] #355 closed, assigned to derekmauro

[2019-08-01 14:05] acmorrow commented on #355
@derekmauro - Thank you very much for the quick fix. I do have one small comment on how the commit was landed. Because it was fused with another commit, we can't cherry-pick just the fix for the `at` issue into our vendored abseil copy without picking up an unrelated change to `string_view`.

[2019-08-01 16:15] acmorrow commented on #246
I'd also like to see this fixed. While the fix for #355 was much appreciated, it comes along with another change that we don't need. It leaves us in a position where we can't easily cherry-pick the fixing commit into our currently vendored copy of abseil without dragging in the other work.

[2019-08-01 16:37] derekmauro commented on #246
I don't think this is going to be fixed.

Abseil's source of truth is our internal code repo, we just export the code here as a squash commit. Some transforms do happen when the code is released. A human has to review the squash commit to ensure we aren't leaking any info that we shouldn't be leaking. If there is anything that shouldn't be released, we fix that by submitting another change to the

[2019-08-01 18:00] wesleygriffin opened #357 "MSVC 16.2, C++17, and /permissive- fails to build"
Here is a minimal repro: https://github.com/wesleygriffin/absl-msvc-16-2

I don't see any duplicate issues opened or closed., although perhaps #356 looks related?

I compile with `/permissive-` to put MSVC into standards compliance mode: https://docs.microsoft.com/en-us/cpp/build/reference/permissive-standards-conformance?view=vs-2019 as my main project is cross-platform.

The failure I'm getting

[2019-08-01 19:16] refi64 opened #358 "Flags should support main.cc as a main filename"
Right now in order for help to display correctly, the filename must be named `<program>.cc`, `<program>_main.cc`, or `<program>-main.cc`. However, simply `main.cc` is not supported. Could this be added?

[2019-08-01 20:20] derekmauro commented on #358
This is configurable. It's an advanced feature, but see https://github.com/abseil/abseil-cpp/blob/master/absl/flags/usage_config.h.

[2019-08-01 23:00] refi64 commented on #358
Ah sorry, didn't realize that, IMO main.cc would still be a nice default but this works too.

[2019-08-01 23:00] #358 closed, assigned to nobody

[2019-08-01 23:28] HenryRLee commented on #356
Bisecting the history, I found that is this commit is the cause of this issue.
5b65c4af5107176555b23a638e5947686410ac1f

But since it's a squashed merge, it's still hard to identify which particular change broke it.

[2019-08-02 03:42] tolikzinovyev opened #359 "flags: linking fails with C++17"
Hello. I tried compiling the flags example from the blog post with c++17 enabled and I get a linking error.
[code]
Here is my repository: https://github.com/aszinovyev/absl_flags_example.
Please help.

[2019-08-02 04:08] derekmauro commented on #359
The `copts = ["-std=c++17"],` in your `BUILD` file on an individual target is going to compile that specific target in C++17 mode, but it isn't going to compile Abseil with C++17, since the Abseil library is a different target. The result is that in your library, `std::string_view` == `absl::string_view`, but in the Abseil library, it uses its own implementation of `absl::string_view`. You get a t

[2019-08-02 04:08] #359 closed, assigned to nobody

[2019-08-02 04:51] tolikzinovyev commented on #359
Thank you!

[2019-08-02 11:29] HenryRLee commented on #356
It appears to be that in the commit 5b65c4af5107176555b23a638e5947686410ac1f, the test case `variant_exception_safety_test` is added to not only GNU C++ >= 4.9, but also all Clang compilers. That is defined in the file `absl/types/CMakeLists.txt`.
But for some reason, the Clang in MacOS also fails to compile.

[2019-08-02 20:41] BillyDonahue opened #361 "git commit messages missing a blank line after line 1."
When the Copybara (I guess?) batch updates are pushed, the commit messages are missing a blank line after the summary line.

[code]

This should just be "Export of internal Abseil changes."
The extra `-- 8f68565... by Derek Mauro <dmauro@google.com>:` was accidental. It partially describes the first of two subsumed internal patches in the commit.

This is much worse with the LTS branches, which pr

[2019-08-02 21:02] BillyDonahue opened #362 "`string_view::copy` should throw `std::out_of_range`"
In the spirit of #355, `absl::string_view::copy` should also throw `std::out_of_range` when `pos > size()`.

https://en.cppreference.com/w/cpp/string/basic_string_view/copy

vs

https://github.com/abseil/abseil-cpp/blob/14550beb3b/absl/strings/string_view.cc#L83

[code]

[2019-08-03 10:57] Milerius opened #363 "[Question] how can we convert an uint128_t to a string an an string to a uint128_t"
Hello after reading: https://github.com/abseil/abseil-cpp/blob/master/absl/strings/numbers.h

I think i misunderstood how can i convert an uint128_t to a string like `std::stoull` will do

[2019-08-03 11:24] Milerius commented on #363
For example i have this snippet of code for the moment:

[code]

and the equivalent of:

[code]

[2019-08-05 06:09] miscco commented on #300
THere was a internal discussion and the corresponding PRs were closed. Insofar this issue should be closed too

[2019-08-05 06:09] #300 closed, assigned to nobody

[2019-08-05 15:56] jdduke commented on #326
This is also impacting TensorFlow builds (see https://github.com/tensorflow/tensorflow/issues/31190).

[2019-08-05 19:37] derekmauro commented on #363
I looked and I don't think we provide a simple way to convert between `std::string` and `absl::uint128`. I might be missing it too if it is there.

I do see two ways to convert from `absl::uint128` to `std::string`, but neither is terribly nice:

[code]

I don't see any way to convert from `std::string` to `absl::uint128` at all (without rolling it yourself).

@mbxx - Can you check why `absl/strin

[2019-08-05 19:40] Milerius commented on #363
I manage to do it already :

[code]

And for converting 2ints 64 i use:

[code]
 I dont have  a better idea for a string to uint128_t in my case

[2019-08-05 19:40] Milerius commented on #363
is StrFormat better than my trick ?

[2019-08-05 19:44] Milerius commented on #363
Otherwise it"s a really nice library with great cmake integration and target, not intruisive and friendly, thank's a lot

[2019-08-05 21:00] derekmauro commented on #361
Should be fixed for new commits.

[2019-08-05 21:00] #361 closed, assigned to derekmauro

[2019-08-06 18:48] #362 closed, assigned to derekmauro

[2019-08-07 21:35] mbxx commented on #363
@derekmauro: There are routines for converting back and forth between absl::uint128 and hex strings that got dropped from the release.  Nothing for decimal strings.  This is definitely not ideal.  We should consider adding absl::uint128 support to StrCat and SimpleAtoi. I haven't thought it through deeply, but I don't see any problems with that.

@Milerius: Thank you for the kind words!

StrFormat

[2019-08-07 21:37] Milerius commented on #363
@mbxx Oh i see, we can probably write an efficient function `absl::stouint128(std::string)` no ?

[2019-08-07 21:41] Milerius commented on #363
The writing of financial software requires us to pass floating numbers so often we use strings that represents huge floating numbers by converting them to very large integer, that's why I needed uint128_t of absl

[2019-08-08 13:03] vehystrix opened #364 "Compilation fails in MSVC debug mode because of incompatible compiler options since commit c5c4db4"
Since commit c5c4db4f5191fe5e76cbf68dcc71fb28702f7d2b compilation with visual studio fails in the debug configuration with the following errors:

[code]

Building in the release configuration succeeds but gives the following warnings:
[code]

The issue looks related to the changes to absl/copts/AbseilConfigureCopts.cmake and the following internal commit:

[2019-08-12 15:23] lilianmoraru opened #365 "Abseil fails to compile on ARM with CMake, because it forces x86_64 flags"
`absl/copts/AbseilConfigureCopts.cmake` checks for GCC `"${CMAKE_CXX_COMPILER_ID}" STREQUAL "GNU"` and then forcibly adds `msse`: `set(ABSL_RANDOM_RANDEN_COPTS "${ABSL_RANDOM_HWAES_X64_FLAGS}")`, even though it does not compile on x86_64.
That last line adds this:
[code]

Note that the ARM flags(from the generated file with compiler flags) also makes some assumptions.
`-mfpu=neon` is buggy with th

[2019-08-12 20:59] mbxx commented on #363
@Milerius: In the longer term, Abseil will add some functions to handle this efficiently.  In the short term, I'm afraid you'd have to write your own function.

I should point out that if you don't need your code to be portable and you're using Clang or GCC as your compiler, both of those compilers have 128 bit integer types as extensions.  You may be able to use one of those.

[2019-08-12 21:11] Milerius commented on #363
@mbxx Thank's but unfortunately i need to be portable !

[2019-08-13 19:57] mbxx commented on #363
@Milerius: I was afraid you'd say that.

Adding support for converting uint128 to and from strings is definitely something we need to do.  It may take us a little while to get to it, since we're stretched a bit thin, and I apologize for that.  I'll keep this issue open to track the feature request.

[2019-08-15 15:59] ptrmtrx commented on #329
I have the same problem. Something with timezones is broken on mac.
If I run the test directly (absl_time_test) I get following:
[ RUN      ] TimeZone.LocalTimeZone
[test_util.cc : 113] RAW: Unexpected time zone "Europe/Prague" in test
Abort trap: 6

Note: I am in Prague timezone.

[2019-08-15 21:14] zifeitong opened #367 "Provide a libabsl.a combining all installed static libraries"
It's very difficult now to use `absl` without `Bazel` or `CMake`. I had to link all the standalone static libraries in order to compile a simple program with Flags. It will make the process much easier by providing a `libabsl.a` combining all the individual libraries.

The quickstart can then be super easy.

- Build
[code]

- Run
[code]

[code]

[2019-08-16 19:57] christinaa commented on #367
Though I'm sure its modularity is intentional you can in fact combine all objects to form a static archive that consists of all built objects. I think gn does something similar automatically (through `llvm-ar`) and merges the output objects when explicitly requested. In the case below with `use_complete_absl_lib = true`, all source sets are merged into one output library, although in this instance

[2019-08-17 08:39] Milerius opened #368 "[Question]: About some alerts in code"
Hello, after reading the code through tooling there is some alerts that i want to share (maybe some are relevant):

(/absl/base/internal/spinlock.h line 231)
<img width="1157" alt="Capture d’écran 2019-08-17 à 10 37 38" src="https://user-images.githubusercontent.com/21139416/63208958-2bfecb00-c0db-11e9-8858-b2510e640dbd.png">

same here (absl/flags/internal/commandlineflag.cc line 467):

<img wi

[2019-08-20 09:57] pizzard commented on #365
Same issue here.
The build system just checks fur GCC and then immediately assumes it is and X64 arch. But that itself is never checked, there is plenty of gcc usage on ARM.

The CMAKE crosscompile flags should be checked and if there is crosscompile setup, it is not safe to assume its x64.

[2019-08-20 14:46] zhangxy988 commented on #368
Thank you for your report!
The empty block warning seems valid to me. We will work on removing them.
The warnings in cctz might be valid, but you will need to report them to https://github.com/google/cctz. Abseil doesn't own cctz - it only holds a copy of it.
The other warnings look less straight-forward, so I will leave them for people who are more familiar with the code to comment.

[2019-08-20 14:48] zhangxy988 commented on #368
@vslashg Could you please look at the other overflow warnings? Thx.

[2019-08-20 23:06] HenryRLee commented on #356
Fixed in f0afae0

[2019-08-20 23:06] #356 closed, assigned to nobody

[2019-08-20 23:12] HenryRLee commented on #246
@derekmauro Actually that can be prevented by interactive rebase (`git rebase -i`). But still that is additional burden to the maintainers.

[2019-08-21 07:34] vehystrix commented on #368
Using clang scan-build the following warnings show up, perhaps they could be looked at as well:

[code]

[2019-08-23 02:25] curoky opened #373 "target_include_directories `ABSL_COMMON_INCLUDE_DIRS ` need in in quotes"
https://github.com/abseil/abseil-cpp/blob/262d74ba81b1fc4d71f459555cde8ecb39786d68/CMake/AbseilHelpers.cmake#L146-L150

should putting `$<BUILD_INTERFACE:${ABSL_COMMON_INCLUDE_DIRS}>` in quotes.

The reason is that `ABSL_COMMON_INCLUDE_DIRS` is a list here, and thus maybe contains a ;.
For more details look https://stackoverflow.com/questions/44425257/how-to-properly-use-target-include-directories

[2019-08-23 15:23] bluescarni commented on #364
Is the fix to this problem going to be in the recent LTS release/branch? This and #357 are making it really hard to use abseil on Windows at the moment.

[2019-08-23 20:31] #373 closed, assigned to nobody

[2019-08-29 14:48] kkinnunen opened #374 "StrAppend dereferences invalid iterators (std::string::end())"
StrAppend dereferences invalid iterators (std::string::end()) when using pattern &*str.begin() if the str is empty.
Affects webrtc in https://webrtc.googlesource.com/src/+/refs/heads/master/pc/rtc_stats_collector_unittest.cc#156

Can be caught when compiling with MS c++ stdlib and iterator debugging enabled.

[2019-08-29 23:02] EricWF commented on #374
you're allowed to dereference the end iterator for std::string. it points to the terminating null character.

[2019-08-30 00:39] derekmauro commented on #374
@EricWF I'm not so sure. Are you sure you aren't thinking of `s[s.size()]`, which I think is legal in C++11.

http://www.cplusplus.com/reference/string/string/end/

I verified that the MSVC debug STL doesn't like this either.

[2019-08-31 06:09] EricWF commented on #374
The standard is a lot less clear. I asked the GNU and MSVC standard library implementors and got different answers; making this a standards bug too.

Abseils behavior isn't inherently dangerous, and we should stop short of jumping through hoops to remove it. But a simple fix it would be preferable to waiting for the standard.

[2019-09-02 02:39] henryly94 opened #375 "Build error using CMake at macOS Sierra"
Here's the build log:

[code]

Saw similar issue elsewhere: https://github.com/tensorflow/tensorflow/issues/13220

[2019-09-03 09:45] rogeeff commented on #375
We'll try to reproduce, but the build log as well as the issue you are referencing makes me doubt this is an issue with Abseil code. Maybe we can work around it. Do you have any suggestions?

[2019-09-03 13:35] henryly94 commented on #375
I tried the same process on macOS High Sierra and the build success. I suspect it is something related to Sierra. The link here(https://github.com/tensorflow/tensorflow/issues/13220) suggest a workaround that defining some macros in certain file.

Add this macro:
[code]

to the beginning of this header file:
absl/time/internal/cctz/include/cctz/civil_time_detail.h

[2019-09-03 21:08] #374 closed, assigned to derekmauro

[2019-09-04 06:14] kkinnunen commented on #374
Nice, thanks

[2019-09-09 19:17] #307 closed, assigned to nobody

[2019-09-09 19:17] #306 closed, assigned to nobody

[2019-09-09 19:18] #305 closed, assigned to nobody

[2019-09-10 14:46] asoffer commented on #364
Apologies for the delay,
The fix for this is in https://github.com/abseil/abseil-cpp/commit/1948f6f967e34db9793cfa8b4bcbaf370d039fd8

This change is not in the most recent LTS.

[2019-09-10 14:46] #364 closed, assigned to asoffer

[2019-09-11 02:22] runminlook opened #377 "StrCat name collision with StrCat in shlwapi.h"
https://docs.microsoft.com/en-us/windows/win32/api/shlwapi/nf-shlwapi-strcatw
The problem is:
shlwapi define StrCat to StrCatW

[2019-09-11 17:36] asoffer commented on #365
Thanks for the report, and sorry for the delayed response.
Could you explain further how -mfpu=neon is buggy? That is, on which platforms does this not suffice, and how should they be detected with CMAKE_SYSTEM_PROCESSOR?

[2019-09-11 18:18] mbxx commented on #377
This has come up a few times across various Google open source projects (e.g., https://github.com/google/benchmark/issues/545).  We're in a bit of a bad spot because the `StrCat` in `shlwapi.h` is a macro, so even properly namespaced uses of `absl::StrCat` conflict, and `absl::StrCat` is so pervasive in Google's codebase and so idiomatic in the minds of Google's engineers that it's not something w

[2019-09-14 11:13] lilianmoraru commented on #365
@asoffer I've found it to be buggy on GCC 6.1 and older. It works most of the times but we had some issues with the `rapidjson` library. I added this check(it was a quick fix, would not recommend it for anybody else) in the toolchain file:
[code]

Inside QEMU, it worked fine. It(`rapidjson`) was crashing(SIGBUS) on `Qualcomm Snapdragon X5 LTE modem(9x28)` and `Qualcomm Snapdragon X12 LTE modem(9x4

[2019-09-16 09:28] lilianmoraru commented on #365
If you want, I could work on this but I will do it when I find some free time(most probably this weekend).
I did not touch the files since it seems that most of the configs are generated from Blaze.

[2019-09-19 15:27] bruxisma opened #378 "Add an abseil::abseil target to CMake"
Hello!

When using abseil in an `add_subdirectory` form, it would be nice if there was some way to have a catch-all `INTERFACE` which all targets are linked to, specifically

[code]

This would let me just use all of abseil for my project instead of having to specify each and every library, especially since all of them are built regardless of whether I use them or not.

[2019-09-19 15:27] theunwisewolf opened #379 ""roundup" function conflict with macro in "sys/param.h""
Hello,

In file low_level_alloc.cc, there is a declaration: `const size_t roundup;`
roundup is defined as a macro on unix-like systems in file sys/param.h which in-turn creates conflicts.

Please fix this issue ^^

I apologise if I broke your convention of reporting issues, but this issue is very straight forward and doesn't need much clarification.

Thank you.

[2019-09-19 15:31] tituswinters commented on #378
I suspect we may soon have individual targets that require C++17, even if
most of the project supports C++11. Would that be an issue for this
proposal?

On Thu, Sep 19, 2019, 9:27 AM Isabella Muerte <notifications@github.com>
wrote:

[2019-09-19 15:40] bruxisma commented on #378
If `target_compile_features` is used to set the C++17 requirement, I *believe* that transitive linking in CMake will set that same requirement on whoever uses it. That said, there is some trickery that could be done via the `$<LINK_ONLY:...>` generator expression to make sure that these requirements aren't put onto every library that uses abseil (though I'm unsure when that was added to CMake...).

[2019-09-20 05:29] mzhaom opened #381 "Any plan to revamp tcmalloc since a lot of stuff from abseil is in a better shape?"
A lot of  base stuff in google-perftools in kinda of deprecated since absl came with better version for them, I wonder whether there is any plan to revamp gperftools especially tcmalloc since it has not been officially updated for a long time..

[2019-09-20 16:38] tituswinters commented on #381
Yes, this was actually announced at Cppcon this week. We don't have a firm
date for it, but "soon" (ideally within a month).

On Thu, Sep 19, 2019, 11:29 PM Ming Zhao <notifications@github.com> wrote:

[2019-09-21 13:57] bluescarni commented on #375
We are seeing the same issue when building abesil-cpp with clang 4 on OSX. Building with clang 8 does not exhibit the problem. The patch proposed by @henryly94 does fix the build in our case.

[2019-09-22 23:53] mzhaom opened #382 "Can Symbolizer be made to report line number?"
I currently use the following code to setup Symbolizer and failure handler:

[code]

After an abort call, I got the following stack trace:

[code]

I wonder whether I should build with any special setting to have a stacktrace with line number. I have tried `bazel build -c dbg`.

Thanks!

[2019-09-22 23:56] mzhaom opened #383 "Is there any plan to let glog use absl flag or provide LOG functionality through absl?"
I'm planning to switch my project from gflags to absl flags since the absl flags API seems to be better and support more types. But I also uses glog which relies on gflags to setup its behavior.

I wonder whether there is any plan to address such an issue so I can have both absl and glog.

Thanks.

[2019-09-23 12:24] derekmauro commented on #382
There is no way to do this at this time, and it isn't currently planned.

[2019-09-23 12:24] #382 closed, assigned to nobody

[2019-09-23 12:27] derekmauro commented on #383
Abseil is going to be releasing the logging library. It is actively being worked on. We don't have a release date to share.

[2019-09-23 12:27] #383 closed, assigned to nobody

[2019-09-24 21:17] yyoon commented on #326
Also reported at tensorflow/tensorflow#29731, which is temporarily fixed by applying a local patch as a workaround (tensorflow/tensorflow@04e169a).

[2019-10-03 15:34] ptrmtrx opened #385 "CMakeLists.txt and intrinsics in int128.h"
Are these two files still useful?
 - "absl/numeric/int128_have_intrinsic.inc"
 - "absl/numeric/int128_no_intrinsic.inc"

They are empty (except licence), but included by int128.h header. The files are not marked as public headers in CMakeLists.txt but they are in sources, but included from public header:

[code]

It seems like a bug to me. They should be in public headers section in CMakeLists.txt

[2019-10-04 08:51] rongjiecomputer commented on #385
~~Putting `*.inc` in `SRCS` means that user should never directly include `*.inc` themselves, they should use `int128.h` to do the job instead. This is the semantic borrowed from Bazel.~~

Ah nevermind, I just noticed the line "They are empty (except licence)".

[2019-10-04 14:24] vdanilo87 opened #386 "Lock is not released in Flag::GetImpl()"
It looks like that global construction lock should be released before return statement in flag.h, line 106:
[code]

Cheers!

[2019-10-04 18:16] zhangxy988 commented on #317
This should be fixed in https://github.com/abseil/abseil-cpp/commit/502efe6d7841bff82b1aeef5500491fe9a48c635.

[2019-10-04 18:16] #317 closed, assigned to nobody

[2019-10-07 03:51] powderluv commented on #365
Same issue. According to AbseilConfigureCopts.cmake it is because of this section that assumes if you are using a GNU toolchain you are on x86_64

if("${CMAKE_CXX_COMPILER_ID}" STREQUAL "GNU")
  set(ABSL_DEFAULT_COPTS "${ABSL_GCC_FLAGS}")
  set(ABSL_TEST_COPTS "${ABSL_GCC_FLAGS};${ABSL_GCC_TEST_FLAGS}")
  set(ABSL_RANDOM_RANDEN_COPTS "${ABSL_RANDOM_HWAES_X64_FLAGS}")
elseif("${CMAKE_CXX_COMPILER_I

[2019-10-07 22:14] bluescarni opened #388 "flat_hash_map::try_emplace() is not exception safe"
The current ``try_emplace()`` implementation in ``raw_hash_map.h`` reads:

[code]

In case the key of the value being emplaced is not already in the table, ``find_or_prepare_insert()`` will prepare the table metadata for insertion before constructing in-place the value from the supplied arugments via ``emplace_at()``.

The problem is that if the construction of the value in ``emplace_at()`` throws

[2019-10-08 18:43] fowles commented on #388
While this will work for flat_hash_map, it will leak memory for node_hash_map.

[2019-10-12 20:08] Jc692488 opened #389 "Beta"

[2019-10-12 20:09] Jc692488 opened #390 "Beta"

[2019-10-12 21:36] #390 closed, assigned to nobody

[2019-10-12 21:45] #389 closed, assigned to nobody

[2019-10-14 14:43] #377 closed, assigned to nobody

[2019-10-15 21:29] asoffer commented on #385
Thanks for noticing this. Indeed these files are not useful in their current public state. We have an implementation that's not quite ready for release and so it strips out the entirety of the files. These should be coming soon. In the meantime, they're definitely weird, but likely not worth cleaning up in the short term.

[2019-10-15 21:29] #385 closed, assigned to asoffer

[2019-10-16 07:07] ptrmtrx commented on #385
Ok, it makes sense.
Furthermore, I noticed yesterday that a bug is in my script as the *.inc files are installed by cmake even if they are in source files and not headers.

[2019-10-16 15:32] #386 closed, assigned to rogeeff

[2019-10-16 15:46] #314 closed, assigned to asoffer

[2019-10-17 20:53] #379 closed, assigned to asoffer

[2019-10-18 04:22] wolfviking0 opened #392 "Issue building on OSX 10.13"
Hi,

I am trying to build tensor flow 1.14 on my OSX 10.13.6, but each time the compile stop during the build of abseil :

[code]

I already submit an issue on tensorflow [#33489](https://github.com/tensorflow/tensorflow/issues/33489).

If someone has an idea why I have this issue it will be nice.

Thanks

[2019-10-18 18:31] lilianmoraru commented on #365
Sorry, I am not able to work on this, completely overflowed with work on weekends...

[2019-10-18 19:15] asoffer commented on #392
This is strange, can you verify if adding `template` after `std::move(*this).` works on your platform? I think this is a compiler bug we'd be happy to work around, but we do not have any testing that catches this issue.

[2019-10-18 21:54] wolfviking0 commented on #392
Hi @asoffer, I may be just find a workaround, not sure if it's correct but I was able to build TF with this fix.

I replace the two function using the template syntax

[code]

with

[code]

[2019-10-21 15:34] asoffer commented on #392
Glad you got something working. We'd welcome a pull-request so you don't need to carry a local patch.

[2019-10-21 15:34] #392 closed, assigned to asoffer

[2019-10-21 16:23] smahapatra1 commented on #383
In the meanwhile, is it better to use gflags with glog and later switch both to use Abseil? This is in order to control the output directory, verbose level etc.

[2019-10-21 17:43] derekmauro commented on #383
We aren't going to be changing gflags or glog, they will remain in separate repositories. If you need both flags and logging, I'd probably wait until the new logging library is released.

[2019-10-21 19:29] smahapatra1 commented on #381
I don't want to start a religious war, but if jemalloc is actually better than tcmalloc to avoid fragmentation, should Abseil adopt jemalloc?

[2019-10-21 20:20] derekmauro commented on #381
TCMalloc is going to be released as a separate project. You will be able to use Abseil with any malloc you want.

[2019-10-25 03:02] zh794390558 opened #394 "compile error with avx"
[code]

[2019-10-25 15:35] amrox commented on #365
This is working for me as of https://github.com/abseil/abseil-cpp/commit/078b89b3c046d230ef3ad39494e5852184eb528b 🎉

[2019-10-26 01:25] mpalczew opened #395 "Won't build for ios."
bazel build --apple_platform_type=ios ...

ERROR: /Users/michalpalczewski/src/abseil-cpp/absl/debugging/BUILD.bazel:226:1: C++ compilation of rule '//absl/debugging:leak_check_api_enabled_for_testing' failed (Exit 1) wrapped_clang failed: error executing command external/local_config_cc/wrapped_clang '-D_FORTIFY_SOURCE=1' -fstack-protector -fcolor-diagnostics -Wall -Wthread-safety -Wself-assign -f